<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Reports</a>
              </li>
              <li class="active">Pending DC Report</li>
            </ol>
            <h4 class="page-title">Pending DC Report</h4>
          </div>
        </div>
      </div>
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <!--p-date-invoice-->
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from"
                            name="from" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Part No
                        </label>
                        <div class="left box-wid">
                          <ng2-completer [openOnClick]="true" [(ngModel)]="filter.item" name="item" [datasource]="activeitems"
                            [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="getdcreportList()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-body mar-btm">
        <div class="ocn-section ocn-section-wid">
          <div class="table-responsive ">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
              <thead>
                <tr>
                  <th rowspan="2">S.NO</th>
                  <th rowspan="2">DC No</th>
                  <th rowspan="2">DC Date</th>
                  <th rowspan="2">Sub Contract</th>
                  <th rowspan="2">Part No</th>
                  <th rowspan="2">Part</th>
                  <th rowspan="2">Part Desc</th>
                  <th colspan="3" style="text-align: center;">Qty</th>
                  <th rowspan="2">Pending Value</th>
                  <th rowspan="2">Delay (days)</th>
                </tr>
                <tr class="sub-head">
                  <th>Ordered</th>
                  <th>Received</th>
                  <th>Pending</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of persons; let row_no = index">
                  <td>
                    {{ row_no + 1 }}
                  </td>
                  <td class="text-left">
                    {{ person.dc_no }}
                  </td>
                  <td class="text-left">
                    {{ person.dc_date }}
                  </td>
                  <td class="text-right">{{ person.supplier }}</td>
                  <td>{{ person.item_no }}</td>
                  <td>{{ person.part }}</td>
                  <td class="text-right view-center">
                    {{person.item_desc}}
                  </td>
                  <td style="text-align : center !important">
                    {{person.order_qty}}
                  </td>
                  <td style="text-align : center !important">
                    <a (click)="viewdetail(person)"> {{person.rec_qty}}</a>
                  </td>
                  <td style="text-align : center !important">
                    {{person.pen_qty}}
                  </td>
                  <td style="text-align : center !important">
                    {{person.pending_dc_value | number }}
                  </td>
                  <td style="text-align : center !important">
                    {{person.delay_days}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-slip-popup [(visible)]="showDialog">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 ocn-section">
        <h3 class="text-center">GRN Details</h3>
        <div class="table-responsive clearfix">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th width="2%">S.No</th>
                <th width="3%">GRN No</th>
                <th width="4%">GRN Date</th>
                <th width="3%">Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!grndetails ?.length">
                <td colspan="5">No data</td>
              </tr>
              <tr *ngFor="let itemrow of grndetails; let i=index">
                <td>{{i+1}}</td>
                <td>{{itemrow.grn_no}}</td>
                <td>{{itemrow.grn_date}}</td>
                <td>{{itemrow.quantity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
          <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="close()">
            <i class="fa fa-check"></i> OK</button>
        </div>
      </div>
    </div>
  </div>
</app-slip-popup>