<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <!-- <img src="assets/images/gifs/loader.gif" style="margin:2% 21%" /> -->
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Admin</a>
              </li>
              <li class="active">HSN </li>
            </ol>
            <h4 class="page-title">HSN
            </h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <form [formGroup]="hsnform" (ngSubmit)="addedithsn(hsnform.value)">
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn">
                          <label for="exampleInputEmail1">Effective from
                            <span class="red">*</span>
                          </label>
                          <div class="input-group wid-52">
                            <input class="form-control full-width" ngx-mydatepicker [options]="myOptions" #po="ngx-mydatepicker"
                              [readonly]="true" formControlName="edate" [(ngModel)]="hsn.edate" name="edate" />
                            <span class="input-group-addon bg-primary b-0 text-white" (click)="po.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn">
                          <label for="exampleInputEmail1">HSN Code
                            <span class="red">*</span>
                          </label>
                          <input name="id" type="hidden" class="form-control" value="" formControlName="id" [(ngModel)]="hsn.id">
                          <input name="hsncode" type="text" class="form-control" value="" formControlName="hsncode" [(ngModel)]="hsn.hsncode" pKeyFilter="int"
                            (keypress)="restricthypens($event)">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn">
                          <label for="exampleInputEmail1">Prod Description
                            <span class="red">*</span>
                          </label>
                          <input name="proddesc" type="text" class="form-control" value="" formControlName="proddesc" [(ngModel)]="hsn.proddesc">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn">
                          <label for="exampleInputEmail1">Tax Rate
                            <span class="red">*</span>
                          </label>
                          <input name="taxrate" type="text" class="form-control" value="" formControlName="taxrate" [(ngModel)]="hsn.taxrate" pKeyFilter="num"
                            (keypress)="decimalnumber($event)">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn">
                          <label for="exampleInputEmail1">SGST(%)
                            <span class="red">*</span>
                          </label>
                          <input name="sgstpercentage" type="text" class="form-control" value="" formControlName="sgstpercentage" [(ngModel)]="hsn.sgstpercentage"
                            pKeyFilter="num" (keypress)="decimalnumber($event)" (keyup)="limit(hsn.sgstpercentage,'sgstpercentage')">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn">
                          <label for="exampleInputEmail1">CGST(%)
                            <span class="red">*</span>
                          </label>
                          <input name="cgstpercentage" type="text" class="form-control" value="" formControlName="cgstpercentage" [(ngModel)]="hsn.cgstpercentage"
                            pKeyFilter="num" (keypress)="decimalnumber($event)" (keyup)="limit(hsn.cgstpercentage,'cgstpercentage')">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn">
                          <label for="exampleInputEmail1">Rev Charge
                            <span class="red">*</span>
                          </label>
                          <select class="form-control" name="revcharge" formControlName="revcharge" [(ngModel)]="hsn.revcharge">
                            <!-- <option [ngValue]="0" disabled selected>Select status</option> -->
                            <option *ngFor="let stat of yesorno" [ngValue]="stat.value">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn">
                          <label for="exampleInputEmail1">SGST
                            <span class="red">*</span>
                          </label>
                          <input name="sgstval" type="text" class="form-control" value="" formControlName="sgstval" [(ngModel)]="hsn.sgstval" pKeyFilter="num"
                            (keypress)="decimalnumber($event)" (keyup)="limit(hsn.sgstval,'sgstval')">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn">
                          <label for="exampleInputEmail1">CGST
                            <span class="red">*</span>
                          </label>
                          <input name="cgstval" type="text" class="form-control" value="" formControlName="cgstval" [(ngModel)]="hsn.cgstval" pKeyFilter="num"
                            (keypress)="decimalnumber($event)" (keyup)="limit(hsn.cgstval,'cgstval')">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn">
                          <label for="exampleInputEmail1">IGST
                            <span class="red">*</span>
                          </label>
                          <input name="igstval" type="text" class="form-control" value="" formControlName="igstval" [(ngModel)]="hsn.igstval" pKeyFilter="num"
                            (keypress)="decimalnumber($event)" (keyup)="limit(hsn.igstval,'igstval')">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                      <button type="submit" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Save">
                        <i class="fa fa-check"></i>{{buttonname}}</button>
                      <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Cancel">
                        <i class="fa fa-ban"></i> Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="col-lg-12" style="padding:0">
        <div class="nav-tabs-custom">
          <div class="box-body mar-btm">
            <div class="ocn-section">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered text-center">
                  <thead>
                    <tr>
                      <th>S.NO</th>
                      <th>HSN Code</th>
                      <th>Prod Desc</th>
                      <th>Effective From</th>
                      <th>Tax Rate</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let person of persons; let row_no = index">
                      <td>{{ row_no + 1 }}</td>
                      <td>{{ person.hsn_code }}</td>
                      <td>{{ person.prod_description }}</td>
                      <td>{{ person.effective_from }}</td>
                      <td>{{ person.tax_rate }}%</td>
                      <td>
                        <span>
                          <i class="md md-create" (click)="updateHsn(person)"></i>
                        </span>
                        <span>
                          <i class="md md-delete" (click)="deleteHsn(person.id)"></i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>