<!-- ============================================================== -->
<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container trims-plan">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Sales</a>
                            </li>
                            <li class="active">Sales Generation</li>
                        </ol>
                        <h4 class="page-title">Sales Generation</h4>
                    </div>
                </div>
            </div>
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-left trims">
                    <li class="active dis">
                        <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
                    </li>
                    <!-- *ngIf="showtab" -->
                    <li class="dis" *ngIf="showtab">
                        <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
                    </li>
                    <!--<span class="trim-count"><strong>Trims Count:</strong> <span class="h-lit">40</span></span>-->
                </ul>

                <div class="tab-content no-padding padding-pad ">
                    <div class="chart tab-pane active" id="tplan">
                        <div class="nav-tabs-custom">
                            <div class="box-body mar-btm">
                                <div class="ocn-section">
                                    <div class="table-responsive">
                                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.NO</th>
                                                    <th>SC No</th>
                                                    <th>Customer name</th>
                                                    <th>Po No</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let person of persons; let row_no = index">
                                                    <td>
                                                        {{ row_no + 1 }}
                                                    </td>
                                                    <td class="text-left">
                                                        {{ person.sc_no }}
                                                    </td>
                                                    <td class="text-left">
                                                        {{ person.supplier.supplier_name }}
                                                    </td>
                                                    <td class="text-left">{{ person.po_no }}</td>
                                                    <td class="text-right view-center">
                                                        <button class="btn btn-xs btn-default" (click)="getorderdetails(person.id)">
                                                            <i class="fa fa-eye"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart tab-pane" id="trim-vs-articles">
                        <div class="col-sm-12 p-b-20">
                            <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right "
                                (click)="cancel()">
                                <i class="fa fa-times"></i>
                            </button>
                            <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
                                (click)="printpos()">
                                <i class="fa fa-print"></i>
                            </button>
                            <!-- <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
                                (click)="printPdf()">
                                <i class="fa fa-file-pdf-o"></i>
                            </button> -->
                        </div>

                        <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>

                        <div class="ocn-section ocn-section-tbl" *ngIf="salesorder && address">
                            <div class="table-responsive table-resp-pad">
                                <div id="printsections">
                                    <div class="col-sm-12 col-xs-12">
                                        <h4 class="text-center">Order Confirmation</h4>
                                    </div>
                                    <table class="table table-striped table-bordered report-container print-view" id="ordertable">
                                        <thead class="report-header">
                                            <!-- <tr>
                                                <td colspan="2" style="text-align:center">
                                                    <img src="assets/images/favicon - Copy.png" />
                                                </td>
                                                <td colspan="6" style="text-align:center">
                                                    <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
                                                    <p class="caps-pad m-b-0" style="text-transform : capitalize">
                                                        <span>Idigarai Road, NGGO Colony</span>
                                                    </p>
                                                    <p class="caps-pad m-b-0" style="text-transform : capitalize">
                                                        <span>Coimbatore-641022, Tamil nadu, India</span>
                                                    </p>
                                                    <p class="caps-pad m-b-0" style="text-transform : capitalize">Telephone:
                                                        <span>91 422 2642224</span>, Email:
                                                        <span style="text-transform : lowercase !important">info@saapl.net</span>
                                                    </p>
                                                    <p class="caps-pad m-b-0" style="text-transform : capitalize">
                                                        <span>GSTIN Number:</span>
                                                        <span>33AABCB0064H1Z9</span> ,
                                                        <span>PAN Number:</span>
                                                        <span>AABCB0064H</span>
                                                </td>
                                                <td style="text-align:center">
                                                    <p>SLV/08/01/20.01.2017</p>
                                                </td>
                                            </tr> -->
                                            <tr>
                                                <td colspan="3">
                                                    Ref :
                                                </td>
                                                <td colspan="3">
                                                    {{salesorder.sc_no}}
                                                </td>
                                                <td colspan="2">
                                                    Date :
                                                </td>
                                                <td colspan="1">{{salesorder.sc_date}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    Ship Mode :
                                                </td>
                                                <td colspan="3">
                                                    {{salesorder.shipment_mode}}
                                                </td>
                                                <td colspan="2">
                                                    Payment Term :
                                                </td>
                                                <td colspan="1">
                                                    {{salesorder.payment_term_id}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="6">
                                                    <div class="text-left bold od-date date-nw">To :</div>
                                                    <div class="address-widt">
                                                        <span>{{supplierdetails.display_cmpy_name}},</span>
                                                        <span class="clearfix">{{supplierdetails.address_line1}},</span>
                                                        <span>{{supplierdetails.address_city.city_name}},{{supplierdetails.address_state.state_name}},</span>
                                                        <span>{{supplierdetails.address_country.country_name}},
                                                            {{supplierdetails.address_pincode}}</span>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    Delivery Term :
                                                </td>
                                                <td>
                                                    {{salesorder.delivery_inco_term}}
                                                </td>
                                            </tr>
                                            <tr class="cs" style="text-align:center !important">
                                                <td width="1%">S.No</td>
                                                <td width="2%">Line</td>
                                                <td width="4%">Part No</td>
                                                <td width="3%">Part</td>
                                                <td width="5%">Part Desc</td>
                                                <td width="3%">Qty</td>
                                                <td width="3%">Value</td>
                                                <td width="4%">Customer Requested date</td>
                                                <td width="4%">Commited date</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of salesorderdetails; let i=index">
                                                <td>{{i+1}}</td>
                                                <td>
                                                    {{data.line_no}}
                                                </td>
                                                <td>
                                                    {{data.part_no}}
                                                </td>
                                                <td>
                                                    {{data.component}}
                                                </td>
                                                <td>
                                                    {{data.component_desc}}
                                                </td>
                                                <td style="text-align:center !important">
                                                    {{data.quantity}}
                                                </td>
                                                <td style="text-align:right !important">
                                                    {{data.quantity * data.price}}
                                                </td>
                                                <td style="text-align:center !important">
                                                    {{data.shipment_date}}
                                                </td>
                                                <td style="text-align:center !important">
                                                    {{data.pconfirm_date}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5" class="cs" style="text-align:right">TOTAL</td>
                                                <td class="cs" style="text-align:center !important">{{calcqty()}}</td>
                                                <td class="cs" style="text-align:right !important">{{calcval()}} </td>
                                                <td colspan="2" class="cs">{{salesorder.currency_id.short_name}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="report-footer">
                                            <tr>
                                                <td colspan="9">
                                                    <span class="bold">For Shakthi Auto Ancillary
                                                        pvt.ltd</span>
                                                    <div class="m-t-70">
                                                        <span class="bold">(Authorized Signatory)</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ============================================================== -->
<!-- End Right content here -->