<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/deliverychallan']">DC List</a>
              </li>
              <li class="active">Delivery Challan</li>
            </ol>
            <h4 class="page-title">Delivery Challan</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group field-pad madeups ocn ">
                        <label for="exampleInputEmail1" class="lbl-wid">Supplier
                          <span class="red">*</span>
                        </label>
                        <div class="grey-lfts left box-wid">
                          <ng2-completer [openOnClick]="true" [(ngModel)]="dc.supplier" name="supplier"
                            (selected)="selectsupplier('')" [datasource]="alldcsuppliers" [minSearchLength]="0"
                            [attr.title]="dc.supplier"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn">
                        <label for="exampleInputEmail1">DC Type
                          <span class="red">*</span>
                        </label>
                        <select class="form-control" name="type" [(ngModel)]="dc.type" (change)="selectsupplier('')"
                          [attr.title]="dc.type">
                          <option *ngFor="let stat of dctype" [ngValue]="stat.name">{{stat.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn p-date-invoice">
                        <label for="exampleInputEmail1" class="extra-wid">DC Date
                          <span class="red">*</span>
                        </label>
                        <div class="input-group" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()" ngx-mydatepicker
                            name="startDate" [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true"
                            [(ngModel)]="dc.dcdate" name="to" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1" class="extra-wid">Vehicle No
                          <span class="red">*</span>
                        </label>
                        <input type="text" class="form-control width-100" [(ngModel)]="dc.vehicle_no" name="vehicle_no"
                          [attr.title]="dc.vehicle_no">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 form-buttons">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="nav-tabs-custom">
          <div class="nav-tabs-custom">
            <div class="box-body mar-btm">
              <div class="ocn-section ocn-section-wid">
                <div class="table-responsive">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="row-border hover table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th width="5%"></th>
                        <th>S.NO</th>
                        <th>Part No</th>
                        <th>Part</th>
                        <th>Part Desc</th>
                        <th>Part Type</th>
                        <th>Supplier</th>
                        <th>Qty</th>
                        <th>Delivery Date</th>
                        <th>Next Stage Part No</th>
                        <th>Type</th>
                        <th>Bom </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let person of persons; let row_no = index">
                        <td>
                          <input name="checkauthorize" type="checkbox" class="form-control" value=""
                            [(ngModel)]="person.checkauthorize" *ngIf="person.is_dc_enabled == 1"
                            (change)="checkauthorized(person.checkauthorize,person,row_no)">
                        </td>
                        <td class="text-center">
                          {{ row_no + 1 }}
                        </td>
                        <td class="text-left">
                          {{ person.item_no }}
                        </td>
                        <td>{{person.part}}</td>
                        <td class="text-left">
                          {{ person.item_desc }}
                        </td>
                        <td class="text-left">
                          {{ person.part_type }}
                        </td>
                        <td class="text-left">{{ person.supplier }}</td>
                        <td class="text-center">{{ person.supplier_qty || person.qty}}</td>
                        <td class="text-center">{{ person.delivery_date || '-'}}</td>
                        <td class="text-right view-center">
                          {{person.next_stage_part_no}}
                        </td>
                        <td>
                          <span *ngIf="person.in_status == 3">Re-Work</span>
                          <span *ngIf="person.in_status == 4">Reject</span>
                          <span *ngIf="person.in_status != 4 && person.in_status != 3">-</span>
                        </td>
                        <td class="text-center">
                          <button class="btn btn-xs btn-primary" (click)="showpop(row_no)"
                            *ngIf="person.part_type =='Sub-Assembly';else dash">
                            <i class="fa fa-eye"></i>
                          </button>
                        </td>
                      </tr>
                      <tr *ngIf="!persons?.length">
                        <td colspan="12">No Data</td>
                      </tr>
                    </tbody>
                    <ng-template #dash>-</ng-template>
                  </table>
                </div>
                <div class="col-md-12 m-b-20">
                  <button [routerLink]="['/deliverychallan']"
                    class="btn btn-warning btn-custom waves-effect waves-light pull-right" data-toggle="tooltip"
                    data-placement="top" title="" data-original-title="Authorise">
                    <i class="fa fa-close m-r-5"></i>Cancel</button>
                  <button (click)="createdc()"
                    class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" data-toggle="tooltip"
                    data-placement="top" title="" data-original-title="Authorise">
                    <i class="fa fa-check m-r-5"></i>Create</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-slip-popup [(visible)]="showDialog" *ngIf="showDialog">
  <div class="col-sm-12">
    <div class="row" *ngIf="loclist">
      <div class="col-sm-12 ocn-section">
        <h3 class="text-center">BOM Details</h3>
        <span class="bold col-sm-6 col-md-4 col-lg-4 col-xs-12">Item Code : {{persons[index].item_no || '-'}}</span>
        <span class="bold col-sm-6 col-md-4 col-lg-4 col-xs-12">Item Desc : {{persons[index].item_desc || '-'}}</span>
        <span class="bold col-sm-6 col-md-4 col-lg-4 col-xs-12">Res Qty : {{persons[index].supplier_qty}}</span>
        <div class="table-responsive clearfix">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th width="2%">S.No</th>
                <th width="4%">Part No</th>
                <th width="4%">Part</th>
                <th width="4%">Part Desc</th>
                <th width="3%">Qty</th>
                <th width="3%">Stock Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!loclist ?.length">
                <td colspan="5">No data</td>
              </tr>
              <tr *ngFor="let itemrow of loclist; let i=index">
                <td>{{i+1}}</td>
                <td>{{itemrow.part_no}}</td>
                <td>{{itemrow.part}}</td>
                <td>{{itemrow.part_desc}}</td>
                <td>{{itemrow.qty}}</td>
                <td>{{itemrow.stock_qty}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
          <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="close(index)">
            <i class="fa fa-check"></i> OK</button>
        </div>
      </div>
    </div>
  </div>
</app-slip-popup>