<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Stores</a>
              </li>
              <li class="active">Packing Slip</li>
            </ol>
            <h4 class="page-title">Packing Slip
            </h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <button [routerLink]="['/slip']" class="btn btn-primary btn-custom waves-effect waves-light pull-right m-b-10">
                    <i class="fa fa-plus m-r-5"></i>Packing Slip</button>
                </div>
              </div>
              <!-- text-->
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
      <!--tab-->
      <section class="col-lg-12" style="padding:0">
        <div class="nav-tabs-custom">
          <div class="box-body mar-btm">
            <div class="ocn-section">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>S.NO</th>
                      <th>Slip No</th>
                      <th>Slip Date</th>
                      <th>Customer</th>
                      <th>Status</th>
                      <th>Location</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let person of persons; let row_no = index">
                      <td>{{ row_no + 1 }}</td>
                      <td>
                        <a [routerLink]="['/packingslipview',person.id]">{{ person.slip_no }}</a>
                      </td>
                      <td class="text-center">{{ person.slip_date }}</td>
                      <td>{{person.contact}}</td>
                      <td *ngIf="person.is_invoice == 1" class="text-left">
                        <span>
                          <i class="fa fa-check" aria-hidden="true" style="color:green"></i> Invoiced</span>
                      </td>
                      <td *ngIf="person.is_invoice == 0" class="text-left">
                        <span>
                          <i class="fa fa-times" aria-hidden="true" style="color:red"></i> Non-Invoiced</span>
                      </td>
                      <td style="text-align:center !important">
                        <button class="btn btn-xs btn-success" (click)="viewlocation(person)"><i class="fa fa-map-marker"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->

<app-slip-popup [(visible)]="showDialog">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 ocn-section">
        <h3 class="text-center">Location Details</h3>
        <div class="table-responsive clearfix page-height-40">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th width="2%">S.No</th>
                <th width="3%">Location</th>
                <th width="4%">Rack</th>
                <th width="4%">Bin</th>
                <th width="5%">Part No</th>
                <th width="5%">Part Desc</th>
                <th width="3%">Reserved Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!locations ?.length">
                <td colspan="5">No data</td>
              </tr>
              <tr *ngFor="let itemrow of locations; let i=index">
                <td>{{i+1}}</td>
                <td>{{itemrow.location_name}}</td>
                <td>{{itemrow.rack_name}}</td>
                <td>{{itemrow.bin_name}}</td>
                <td>{{itemrow.part_no}}</td>
                <td>{{itemrow.component_desc}}</td>
                <td>{{itemrow.loc_qty}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
          <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="close()">
            <i class="fa fa-check"></i> OK</button>
        </div>
      </div>
    </div>
  </div>
</app-slip-popup>