<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container trims-plan trim-alloct trim-item">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Master</a>
                            </li>
                            <li class="active">Item Master</li>
                        </ol>
                        <h4 class="page-title">Item Master</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 left">
                <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-b-10" *ngIf="cancelclick"
                    [routerLink]="['/multipleitem']">
                    <i class="fa fa-plus m-r-5"></i>Multiple Item</button>

                <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-b-10  m-r-5" (click)="showform()"
                    *ngIf="cancelclick">
                    <i class="fa fa-plus m-r-5"></i>Item</button>

                <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-b-10" (click)="resetform()"
                    *ngIf="!cancelclick">
                    <i class="fa fa-chevron-left m-r-5"></i>Back</button>
            </div>

            <div class="col-sm-12 left padding-0" id="itemform" style="display:none">
                <form [formGroup]="itemForm">
                    <section class="col-lg-12" style="padding:0">
                        <div class="col-sm-12 gray-box text-center trims-allot">
                            <div class="border-line">
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group madeups ocn field-pad">
                                            <label for="exampleInputEmail1" class="lbl-wid">Part No
                                                <span class="red">*</span>
                                            </label>
                                            <div class="box-wid left">
                                                <input name="itemid" type="hidden" class="form-control" value=""
                                                    [(ngModel)]="itemid" formControlName="itemid">
                                                <input name="partno" type="text" class="form-control" value=""
                                                    [(ngModel)]="partno" formControlName="partno">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group madeups ocn field-pad">
                                            <label for="exampleInputEmail1" class="lbl-wid">Part
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left box-wid">
                                                <ng2-completer textNoResults="" formControlName="component"
                                                    [datasource]="allcomp" name="valve" [(ngModel)]="component"
                                                    [minSearchLength]="0"></ng2-completer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group madeups ocn field-pad">
                                            <label for="exampleInputEmail1" class="lbl-wid">Part Desc
                                                <span class="red">*</span>
                                            </label>
                                            <input name="compdesc" type="text" class="form-control box-wid" value=""
                                                [(ngModel)]="compdesc" formControlName="compdesc">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group madeups ocn field-pad">
                                            <label for="exampleInputEmail1" class="lbl-wid">Part No Rev
                                                <span class="red">*</span>
                                            </label>
                                            <input name="partnorev" type="text" class="form-control box-wid" value=""
                                                [(ngModel)]="partnorev" formControlName="partnorev" (keyup)="fixdash()">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group madeups ocn field-pad">
                                            <label for="exampleInputEmail1" class="lbl-wid">Part Type
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left box-wid">
                                                <select class="form-control" name="ptype" formControlName="ptype" name="unit"
                                                    [(ngModel)]="ptype" (change)="onpartypeselect(ptype)">
                                                    <!-- <option [ngValue]="-1" disabled selected>Select parttype</option> -->
                                                    <option *ngFor="let stat of ptypes" [ngValue]="stat.name">{{stat.name}}</option>
                                                </select>
                                            </div>
                                            <!-- <ng-select (selected)="onpartypeselect($event)" [options]="listofPTypes" [(ngModel)]="ptype" formControlName="ptype"></ng-select> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group madeups ocn field-pad">
                                            <label for="exampleInputEmail1" class="lbl-wid">Valve Size
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left box-wid">
                                                <ng-select [options]="listofactivevalves" [(ngModel)]="valvesize"
                                                    formControlName="valvesize"></ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group madeups ocn field-pad">
                                            <label for="exampleInputEmail1" class="lbl-wid">Type
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left box-wid">
                                                <ng-select [options]="listofactiveTypes" [(ngModel)]="itype"
                                                    formControlName="itype"></ng-select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4" *ngIf="prevpart">
                                    <div class="ocn-status">
                                        <div class="form-group madeups ocn ">
                                            <label for="exampleInputEmail1">Prev Part_no
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left">
                                                <input type="hidden" formControlName="previous_id" />
                                                <ng2-completer class="formcontrol" [openOnClick]="true" formControlName="previous"
                                                    (selected)="selectprev($event)" [datasource]="dataService"
                                                    [minSearchLength]="0"></ng2-completer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ocn-section border-line" style="display:none" id="spareform">
                                <div class="col-sm-12">
                                    <h4 class="text-left">Billing of material</h4>
                                    <div class="table-responsive">
                                        <form [formGroup]="spareform" autocomplete="on">
                                            <table class="table table-striped table-bordered" formArrayName="itemRows">
                                                <thead>
                                                    <tr>
                                                        <th width="1%" (click)="addNewRow()">
                                                            <i class="fa fa-plus"></i>
                                                        </th>
                                                        <th width="5%">Spare/Sub-Assembly</th>
                                                        <th width="5%">Part Desc</th>
                                                        <th width="5%">Dwg Line</th>
                                                        <th width="5%">Part Type</th>
                                                        <th width="5%">Qty</th>
                                                        <th width="3%">UOM</th>
                                                        <th width="3%">view spares</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let itemrow of getform(spareform); let i=index"
                                                        [formGroupName]="i">
                                                        <td>
                                                            <i class="md md-close" (click)="deleteRow(i)"></i>
                                                        </td>
                                                        <td>
                                                            <input type="hidden" class="form-control" formControlName="id" />
                                                            <input type="hidden" class="form-control" formControlName="itemid" />
                                                            <input type="hidden" class="form-control" formControlName="partno" />
                                                            <input type="hidden" class="form-control" formControlName="partid" />
                                                            <ng2-completer [openOnClick]="true" formControlName="spare"
                                                                (selected)="selectedspare($event,i)" [datasource]="dataService"
                                                                [minSearchLength]="0"></ng2-completer>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" formControlName="partdesc"
                                                                [readonly]="true" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" formControlName="dwgline"
                                                                [readonly]="true" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" formControlName="parttype"
                                                                [readonly]="true" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" formControlName="qty"
                                                                pKeyFilter="num" (keypress)="decimalnumber($event)"
                                                                *ngIf="allowdecimal" />
                                                            <input type="text" class="form-control" formControlName="qty"
                                                                pKeyFilter="int" (keypress)="restricthypens($event)"
                                                                *ngIf="!allowdecimal" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" formControlName="uom"
                                                                [readonly]="true" />
                                                        </td>
                                                        <td>
                                                            <span *ngIf="spareform.controls.itemRows.value[i].parttype != 'Spare' && spareform.controls.itemRows.value[i].parttype != ''">
                                                                <i class="md-remove-red-eye" style="cursor:pointer"
                                                                    (click)="getsubassdetails(itemrow.value,i)"></i>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="!getform(spareform) ?.length">
                                                        <td colspan="8">No Data</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 gray-box text-center trims-allot">
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">Material
                                            <span class="red">*</span>
                                        </label>
                                        <div class="box-wid left">
                                            <ng-select [options]="activematerials" [(ngModel)]="material"
                                                formControlName="material" (selected)="onmatSelected($event)"></ng-select>
                                            <!-- <input name="material" type="text" class="form-control" value="" [(ngModel)]="material" formControlName="material"> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">MSpec No</label>
                                        <input name="mspecno" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="mspecno" formControlName="mspecno" [readonly]="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">MSpec Rev
                                            <span class="red">*</span>
                                        </label>
                                        <input name="mspecrev" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="mspecrev" formControlName="mspecrev" [readonly]="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">Stage
                                            <span class="red">*</span>
                                        </label>
                                        <div class="box-wid left">
                                            <ng-select [options]="listofactivestages" [(ngModel)]="stage"
                                                formControlName="stage" (selected)="onstageSelected($event)"></ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">Process
                                        </label>
                                        <input name="process" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="process" formControlName="process" [readOnly]="true">
                                        <!-- <ng-select [options]="activeprocess"  [(ngModel)]="process" formControlName="process"></ng-select> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">Process Type
                                        </label>
                                        <input name="processtype" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="processtype" formControlName="processtype" [readOnly]="true">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">Purc ld time(days)
                                        </label>
                                        <input name="purchaselt" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="purchaselt" formControlName="purchaselt" pKeyFilter="int"
                                            (keypress)="restricthypens($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">Proc ld time(days)
                                        </label>
                                        <input name="processlt" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="processlt" formControlName="processlt" pKeyFilter="int"
                                            (keypress)="restricthypens($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">UOM
                                            <span class="red">*</span>
                                        </label>
                                        <div class="box-wid left">
                                            <ng-select [options]="listofactiveuoms" [(ngModel)]="uom" formControlName="uom"></ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">DWG Line</label>
                                        <input name="dwgline" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="dwgline" formControlName="dwgline">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">DWG No</label>
                                        <input name="dwgno" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="dwgno" formControlName="dwgno">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">Rev</label>
                                        <input name="rev" type="text" class="form-control box-wid" value="" [(ngModel)]="rev"
                                            formControlName="rev">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">Weight
                                            <span class="red">*</span>
                                        </label>
                                        <input name="weight" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="weight" formControlName="weight" pKeyFilter="num" (keypress)="decimalnumber($event)">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">Series
                                            <span class="red">*</span>
                                        </label>
                                        <ng-select [options]="activeseries" [(ngModel)]="series" formControlName="series"></ng-select>
                                        <!-- <input name="series" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="series" formControlName="series"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputEmail1" class="lbl-wid">Class
                                            <span class="red">*</span>
                                        </label>
                                        <ng-select [options]="activeclass" [(ngModel)]="class" formControlName="class"></ng-select>
                                        <!-- <input name="class" type="text" class="form-control box-wid" value=""
                                            [(ngModel)]="class" formControlName="class"> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn field-pad">
                                        <label for="exampleInputName2" class="lbl-wid">Status
                                            <span class="red">*</span>
                                        </label>
                                        <div class="box-wid left">
                                            <select class="form-control" name="status" formControlName="status" name="unit"
                                                [(ngModel)]="status">
                                                <!-- <option [ngValue]="-1" disabled selected>Select status</option> -->
                                                <option *ngFor="let stat of statusarray" [ngValue]="stat.value">{{stat.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">

                                <button type="button" (click)="addedititem(itemForm.value,1)" class="btn btn-success btn-custom waves-effect waves-light"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                                    <i class="fa fa-check"></i> {{buttonname}}</button>

                                <button type="button" (click)="addedititem(itemForm.value,0)" class="btn btn-primary btn-custom waves-effect waves-light"
                                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                                    <i class="fa fa-floppy-o"></i> Next stage</button>

                                <button type="button" *ngIf="buttonname != 'Update'" (click)="cancelform(itemForm.value)"
                                    class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="Cancel">
                                    <i class="fa fa-close"></i> Cancel</button>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
            <!--tab-->

            <div class="nav-tabs-custom" id="listtable">
                <div class="box-body mar-btm">
                    <div class="ocn-section">
                        <div class="table-responsive">
                            <!-- <table class="" datatable [dtOptions]="dtOptions" class="row-border hover table table-striped table-bordered"></table> -->

                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="5%">S.NO</th>
                                        <th width="10%">Part No</th>
                                        <th width="10%">Part</th>
                                        <th width="20%">Part Desc</th>
                                        <th width="10%">Part Type</th>
                                        <th width="20%">Material</th>
                                        <th width="10%">Status</th>
                                        <th width="15%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let person of persons; let row_no = index">
                                        <td>{{ row_no + 1 }}</td>
                                        <td>{{ person.part_no }}</td>
                                        <td>{{ person.component }}</td>
                                        <td>{{ person.component_desc }}</td>
                                        <td>{{ person.part_type }}</td>
                                        <td>{{ person.material.material }}</td>
                                        <td *ngIf="(person.active_status == 0)" class="text-center">
                                            <span>
                                                <i class="md md-close close-red"></i>
                                            </span>
                                        </td>
                                        <td *ngIf="(person.active_status == 1)" class="text-center">
                                            <span>
                                                <i class="md md-check-box"></i>
                                            </span>
                                        </td>
                                        <td style="text-align:right !important">
                                            <span *ngIf="person.part_type == 'Product' || person.part_type == 'Sub-Assembly'"
                                                tooltip="Copy" [tooltipDisabled]="false" [tooltipAnimation]="true"
                                                tooltipPlacement="top">
                                                <i class="md-content-copy" (click)="copyitem(person)" *ngIf="role == 'admin'"></i>
                                            </span>
                                            <span *ngIf="person.part_type != 'Spare'" tooltip="View" [tooltipDisabled]="false"
                                                [tooltipAnimation]="true" tooltipPlacement="top">
                                                <i class="md-remove-red-eye" [routerLink]="['/itemview',person.id]"></i>
                                            </span>
                                            <span>
                                                <i class="md md-create" (click)="updateitem(person)" tooltip="Update"
                                                    [tooltipDisabled]="false" [tooltipAnimation]="true"
                                                    tooltipPlacement="top" *ngIf="role == 'admin'"></i>
                                            </span>
                                            <span>
                                                <i class="md md-delete" (click)="deleteitem(person.id)" tooltip="Delete"
                                                    [tooltipDisabled]="false" [tooltipAnimation]="true"
                                                    tooltipPlacement="top" *ngIf="role == 'admin'"></i>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end container -->
    </div>
    <!-- end content -->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->

<!-- =================================================== SUBASSDETAIL POPUP ============================================= -->

<app-sc-detail-popup [(visible)]="showDialog">
    <div class="col-sm-12 bg-white m-t-10 " *ngIf="selecteditemdtl">
        <h4 class="text-left">Item/Product Details</h4>
        <hr class="clearfix">
        <div class="page-height">
            <div class="col-sm-12 m-b-10 ">
                <div class="col-sm-3">
                    <span class="col-sm-12 bold">Part NO </span>
                    <span class="col-sm-12">{{selecteditemdtl.part_no}}</span>
                </div>
                <div class="col-sm-3">
                    <span class="col-sm-12 bold">Part Type </span>
                    <span class="col-sm-12">{{selecteditemdtl.part_type}}</span>
                </div>
                <div class="col-sm-3">
                    <span class="col-sm-12 bold">Component </span>
                    <span class="col-sm-12">{{selecteditemdtl.component}}</span>
                </div>
                <div class="col-sm-3">
                    <span class="col-sm-12 bold">Comp Desc </span>
                    <span class="col-sm-12">{{selecteditemdtl.component_desc || '-'}}</span>
                </div>
            </div>

            <hr class="clearfix">
            <h4 class="text-left">BOM Details</h4>

            <p-treeTable [value]="subassbom">
                <p-column field="part_no" header="Part No"></p-column>
                <p-column field="part_type" header="Part Type" styleClass="text-center"></p-column>
                <p-column field="stage" header="Stage" styleClass="text-center" [style]="{'width':'100px'}"></p-column>
                <p-column field="prod_desc" header="Prod Description" styleClass="text-center" [style]="{'width':'350px'}"></p-column>
                <p-column field="qty" header="Quantity" styleClass="text-center" [style]="{'width':'100px'}"></p-column>
            </p-treeTable>
        </div>

    </div>
</app-sc-detail-popup>
<!-- =================================================== SUBASSDETAIL POPUP END============================================= -->

<!-- =================================================== PRODDETAIL POPUP ============================================= -->

<!-- <app-sc-detail-popup [(visible)]="showProDialog" *ngIf="prodassbom">
    <h4 class="text-center">BOM Details</h4>
    <p-treeTable [value]="prodassbom">
        <p-column field="part_no" header="Part No"></p-column>
        <p-column field="part_type" header="Part Type"></p-column>
        <p-column field="stage" header="Stage"></p-column>
        <p-column field="qty" header="Quantity"></p-column>
    </p-treeTable>

</app-sc-detail-popup> -->

<!-- =================================================== PRODDETAIL POPUP END============================================= -->