<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/posearch']">PO Search</a>
              </li>
              <li class="active">PO Amendment</li>
            </ol>
            <h4 class="page-title">PO Amendment</h4>
          </div>
        </div>
      </div>

      <div class="col-sm-12 box-body mar-btm">
        <div class="ocn-section col-sm-12 padding-10">
          <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="ocn-status">
                <div class="form-group madeups ocn slip p-slip">
                  <label for="exampleInputEmail1" class="extra-wid4">PO No
                    <span class="red">*</span>
                  </label>
                  <div class="left">
                    <ng2-completer [openOnClick]="true" [(ngModel)]="pono" name="pono" (selected)="getpodetails($event)"
                      [datasource]="polist" [minSearchLength]="0"></ng2-completer>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 pull-right m-b-10">
              <button class="btn btn-success btn-small waves-effect waves-light pull-right" (click)="updatepo()">
                <i class="fa fa-check"></i> Update</button>
            </div>
          </div>
        </div>
        <hr class="clearfix">
      </div>


      <div class="box-body mar-btm">
        <div class="ocn-section col-sm-12">
          <div class="row">
            <!-- <div class="col-sm-12 m-b-10">
              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="ocn-status">
                  <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">PO No
                    </label>
                    <input name="pono" type="text" class="form-control" value="" [(ngModel)]="pono" [readOnly]="true">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="ocn-status">
                  <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">Supplier
                    </label>
                    <input name="supplier" type="text" class="form-control" value="" [(ngModel)]="supplier" [readOnly]="true">
                  </div>
                </div>
              </div>
            </div> -->
            <div class="table-responsive">
              <table class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>Part No</th>
                    <th>Part Desc</th>
                    <th>HSN</th>
                    <th>UOM</th>
                    <th>Req Qty</th>
                    <th>Rate/Qty</th>
                    <th>Discount(Rs)</th>
                    <th>P&F(Rs)</th>
                    <!-- <th>CGST</th>
                    <th>SGST</th>
                    <th>IGST</th> -->
                    <th>Item Cost</th>
                    <th>Amount</th>
                    <th>Scheduled Date</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of quotationdetails; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ person.item_code }}</td>
                    <td>{{ person.item_desc }}</td>
                    <td>
                      {{person.hsn}}
                    </td>
                    <td>{{person.uom}}</td>
                    <td style="text-align:center !important">
                      <!-- <input type="text" class="form-control" [(ngModel)]="person.req_qty" /> -->
                      {{person.req_qty}}
                    </td>
                    <td style="text-align:right !important">
                      <input type="text" class="form-control" [(ngModel)]="person.rate"  style="text-align: right"/>
                    </td>
                    <td style="text-align:right !important">
                      {{person.discountval | number}}
                    </td>
                    <td style="text-align:right !important">
                      {{person.pf_value | number}}
                    </td>
                    <!-- <td>{{person.cgst}}</td>
                    <td>{{person.sgst}}</td>
                    <td>{{person.igst}}</td> -->
                    <td style="text-align:right !important">{{calcitemcost(i) | number}}</td>
                    <td style="text-align:right !important">{{calcsubtotal(i) | number}}</td>
                    <td style="text-align: center !important">
                      {{person.schedule_date}}
                    </td>
                    <td>
                      <span *ngIf="person.is_po_authorized == 0" class="po-pending">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Pending</span>
                      <span *ngIf="person.is_po_authorized == 1" class="po-cancelled">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelled</span>
                      <span *ngIf="person.is_po_authorized == 2" class="po-approved">
                        <i class="fa fa-check" aria-hidden="true"></i> Approved</span>
                      <span *ngIf="person.is_po_authorized == 3" class="po-discussion">
                        <i class="fa fa-commenting" aria-hidden="true"></i> Discussion</span>
                    </td>
                    <!-- <td>
                      {{person.special_inst}}
                    </td> -->
                  </tr>
                  <tr *ngIf="!quotationdetails ?.length">
                    <td colspan="17">No Data</td>
                  </tr>
                  <tr *ngIf="quotationdetails ?.length">
                    <td colspan="6">
                      <span class="pull-right bold">TOTAL</span>
                    </td>
                    <td style="text-align:right !important">
                      <b>{{calctrate() | number}}</b>
                    </td>
                    <td style="text-align:right !important">
                      <b>{{calctdisc() | number}}</b>
                    </td>
                    <td style="text-align:right !important">
                      <b>{{calctpf() | number}}</b>
                    </td>
                    <!-- <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td> -->
                    <td>

                    </td>
                    <td style="text-align:right !important">
                      <b>{{calctotal() | number}}</b>
                    </td>
                    <td colspan="3"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>