<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Planning</a>
              </li>
              <li class="active">Plan Cancel</li>
            </ol>
            <h4 class="page-title">Plan Cancel</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">WO No
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <ng2-completer [openOnClick]="true" [(ngModel)]="wono" name="wono" (selected)="getwodetails($event)"
                            [datasource]="wolist" [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
          </li>
          <!-- *ngIf="showtab" -->
          <li class="dis" *ngIf="showtab">
            <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
          </li>
          <!--<span class="trim-count"><strong>Trims Count:</strong> <span class="h-lit">40</span></span>-->
        </ul>
        <div class="tab-content no-padding padding-pad ">
          <div class="chart tab-pane active" id="tplan">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section col-sm-12">
                  <div class="row">
                    <div class="table-responsive">
                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>S.NO</th>
                            <th>Part No</th>
                            <th>Part</th>
                            <th>Part Desc</th>
                            <th>Part Type</th>
                            <th width="10%">Shipment Date</th>
                            <th>Plan No</th>
                            <th>Req Qty</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let person of persons; let row_no = index">
                            <td>
                              {{ row_no + 1 }}
                            </td>
                            <td class="text-left">
                              {{ person.part_no }}
                            </td>
                            <td>{{ person.part }}</td>
                            <td class="text-left">
                              {{ person.part_desc }}
                            </td>
                            <td>{{person.part_type}}</td>
                            <td>{{ person.pconfirm_date }}</td>
                            <td class="text-left">{{ person.plan_no }}</td>
                            <td class="text-center">{{ person.qty }}</td>
                            <td></td>
                            <td class="text-right view-center">
                              <button class="btn btn-xs btn-primary" (click)="showbom(person)">
                                <i class="fa fa-eye"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chart tab-pane" id="trim-vs-articles" *ngIf="showtab">
            <div class="col-sm-12 p-b-20">
              <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="close()">
                <i class="fa fa-times"></i>
              </button>
              <button class="btn btn-small btn-success btn-custom waves-effect waves-light pull-right " (click)="savecancel()">
                <i class="fa fa-check"></i>
              </button>
              <!-- <button class="visible-md visible-lg btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
                (click)="printpos()">
                <i class="fa fa-print"></i>
              </button> -->
            </div>
            <div class="ocn-section ocn-section-tbl page-height" id="printsection">
              <div class="table-responsive table-resp-pad">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th width="3%">Part No</th>
                      <th width="5%">Part Desc</th>
                      <th width="3%">Qty</th>
                      <th width="3%">Status</th>
                      <th width="8%" style="text-align:center;">WIP Purchase Qty</th>
                      <th width="8%" style="text-align:center;">WIP Process Qty</th>
                      <th width="8%" style="text-align:center;">Stock Alloc Qty</th>
                      <th width="8%" style="text-align:center;">Purchase Qty</th>
                      <th width="3%" rowspan="2">Cancel Qty</th>
                      <!--  <th width="3%" rowspan="2">Hold</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let parent of BomParent; let indx = index">
                      <td>{{parent.part_no}}</td>
                      <td>{{parent.part_desc}}</td>
                      <td style="text-align:center !important">{{parent.quantity}}</td>
                      <td>{{parent.status}}</td>
                      <td style="text-align:center !important">
                        {{parent.wip_purchase_qty}}
                      </td>
                      <td style="text-align:center !important">
                        {{parent.wip_process_qty}}
                      </td>
                      <td style="text-align:center !important">
                        {{parent.stk_alloc_qty}}
                      </td>
                      <td style="text-align:center !important">
                        {{parent.purchase_qty}}
                      </td>
                      <td class="text-center">
                        <input class="form-control" type="text" name="cancel_qty" [(ngModel)]="parent.cancel_qty" (keyup)="cancelqty(parent)">
                      </td>
                      <!-- <td class="text-center">
                          <input type="checkbox" name="approve" [(ngModel)]="data.hold" (change)="checkhold(data.hold,data,indx,'parent')">
                        </td> -->
                    </tr>
                    <tr>
                      <td colspan="9">Item Bom</td>
                    </tr>
                    <tr *ngFor="let data of BomList; let indx = index">
                      <td>{{data.part_no}}</td>
                      <td>{{data.part_desc}}</td>
                      <td style="text-align:center !important">{{data.quantity}}</td>
                      <td>{{data.status}}</td>
                      <td style="text-align:center !important">
                        {{data.wip_purchase_qty}}
                      </td>
                      <td style="text-align:center !important">
                        {{data.wip_process_qty}}
                      </td>
                      <td style="text-align:center !important">
                        {{data.stk_alloc_qty}}
                      </td>
                      <td style="text-align:center !important">
                        {{data.purchase_qty}}
                      </td>
                      <td class="text-center">
                        <input class="form-control" type="text" name="cancel_qty" [(ngModel)]="data.cancel_qty" [readOnly]="true">
                      </td>
                      <!-- <td class="text-center">
                      <input type="checkbox" name="approve" [(ngModel)]="data.hold" (change)="checkhold(data.hold,data,indx,'parent')">
                    </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-allocpop [(visible)]="showDialog">

  <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 ocn-section">
    <h4 class="text-center">Item Bom</h4>
    <div class="table-responsive page-height-40" style="height:.01% !important">
      <table class="table table-striped table-bordered text-center" *ngIf="itembom">
        <thead>
          <tr>
            <th width="5%">S.No</th>
            <th width="10%">Part NO</th>
            <th width="10%">Part</th>
            <th width="20%">Part Desc</th>
            <th width="10%">Order Qty</th>
            <th width="10%">Alloc Stck Qty</th>
            <th width="10%">Alloc WIP Qty</th>
            <th width="10%">Prev Req Qty</th>
            <th width="10%">Pending Qty</th>
            <th width="5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemrow of itembom; let i=index">
            <td>{{i+1}}</td>
            <td>{{itemrow.part_no}}</td>
            <td>{{itemrow.part}}</td>
            <td>
              {{itemrow.part_desc}}
            </td>
            <td class="text-center">
              {{itemrow.quantity}}
            </td>
            <td class="text-center">
              {{itemrow.stk_alloc_qty}}
            </td>
            <td class="text-center">{{itemrow.wip_qty}}</td>
            <td class="text-center">{{itemrow.already_issued_qty}}</td>
            <td class="text-center">
              {{calcpendingqty(i)}}
            </td>
            <td>
              <input *ngIf="itemrow.stk_alloc_qty !=0" name="checkauthorize" type="checkbox" class="form-control" value=""
                [(ngModel)]="itemrow.checkauthorize" (change)="checkauthorized(itemrow.checkauthorize,itemrow,i)">
            </td>
          </tr>
          <tr *ngIf="!itembom.length">
            <td colspan="5">No data</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
      <button class="btn btn-success btn-small waves-effect waves-light">
        <i class="fa fa-check"></i> Request</button>
      <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
        <i class="fa fa-times"></i> cancel</button>
    </div>
  </div>
</app-allocpop>