<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <!-- <img src="assets/images/gifs/loader.gif" style="margin:2% 21%" /> -->
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Purchase</a>
              </li>
              <li class="active">Tariff</li>
            </ol>
            <h4 class="page-title">Tariff
            </h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <form [formGroup]="tariffform" (ngSubmit)="addedittariff(tariffform.value)">
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputEmail1" class="lbl-wid">Trim tariff code
                            <span class="red">*</span>
                          </label>
                          <input name="id" type="hidden" class="form-control box-wid" value="" formControlName="id" [(ngModel)]="id">
                          <input name="tariffcode" type="text" class="form-control box-wid" value="" formControlName="tariffcode" [(ngModel)]="tariff.tariffcode">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputEmail1" class="lbl-wid">BCD(%)
                            <span class="red">*</span>
                          </label>
                          <input name="bcd" type="text" class="form-control box-wid" value="" formControlName="bcd" [(ngModel)]="tariff.bcd">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputName2" class="lbl-wid">CVD(%)
                            <span class="red">*</span>
                          </label>
                          <input name="cvd" type="text" class="form-control box-wid" value="" formControlName="cvd" [(ngModel)]="tariff.cvd">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputName2" class="lbl-wid">Edu.cess CVD(%)
                            <span class="red">*</span>
                          </label>
                          <input name="cesscvd" type="text" class="form-control box-wid" value="" formControlName="cesscvd" [(ngModel)]="tariff.cesscvd">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputName2" class="lbl-wid">Sec.High cess CVD(%)
                            <span class="red">*</span>
                          </label>
                          <input name="sechighcvd" type="text" class="form-control box-wid" value="" formControlName="sechighcvd" [(ngModel)]="tariff.sechighcvd">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputName2" class="lbl-wid">Cus edu cess(%)
                            <span class="red">*</span>
                          </label>
                          <input name="cecess" type="text" class="form-control box-wid" value="" formControlName="cecess" [(ngModel)]="tariff.cecess">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputName2" class="lbl-wid">Cus Sec,High Cess(%)
                            <span class="red">*</span>
                          </label>
                          <input name="cusseccess" type="text" class="form-control box-wid" value="" formControlName="cusseccess" [(ngModel)]="tariff.cusseccess">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputName2" class="lbl-wid">Additional Duty(%)
                            <span class="red">*</span>
                          </label>
                          <input name="addduty" type="text" class="form-control box-wid" value="" formControlName="addduty" [(ngModel)]="tariff.addduty">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputName2" class="lbl-wid">EPCG(%)
                            <span class="red">*</span>
                          </label>
                          <input name="epcg" type="text" class="form-control box-wid" value="" formControlName="epcg" [(ngModel)]="tariff.epcg">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputName2" class="lbl-wid">Total(%)
                            <span class="red">*</span>
                          </label>
                          <input name="total" type="text" class="form-control box-wid" value="" formControlName="total" [(ngModel)]="tariff.total">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad tariff-l madeups ocn">
                          <label for="exampleInputName2" class="lbl-wid">Status
                            <span class="red">*</span>
                          </label>
                          <div class="left box-wid">
                            <select class="form-control" name="active_status" formControlName="active_status" name="unit" [(ngModel)]="active_status">
                              <!-- <option [ngValue]="0" disabled selected>Select status</option> -->
                              <option *ngFor="let stat of statusarray" [ngValue]="stat.value">{{stat.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                      <button type="submit" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Save">
                        <i class="fa fa-check"></i> {{buttonname}}</button>
                      <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Cancel">
                        <i class="fa fa-ban"></i> Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
      <!--tab-->
      <section class="col-lg-12" style="padding:0">
        <div class="nav-tabs-custom">
          <div class="box-body mar-btm">
            <div class="ocn-section">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>S.NO</th>
                      <th>Code</th>
                      <th>BCD</th>
                      <th>CVD</th>
                      <th width="8%">Edu.Cess CVD</th>
                      <th width="10%">Sec.High Cess CVD</th>
                      <th width="8%">Cus.Edu Cess</th>
                      <th width="10%">Cus.Sec, High Edu.Cess</th>
                      <th>Addl Duty</th>
                      <th>EPCG</th>
                      <th>Total </th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let person of persons; let row_no = index">
                      <td>{{ row_no + 1 }}</td>
                      <td>{{ person.tt_code }}</td>
                      <td>{{ person.bcd }}</td>
                      <td>{{ person.cvd }}</td>
                      <td>{{ person.edu_cess_cvd }}</td>
                      <td>{{ person.sec_hc_cvd }}</td>
                      <td>{{ person.custom_edu_cess }}</td>
                      <td>{{ person.cs_edu_cess }}</td>
                      <td>{{ person.add_duty }}</td>
                      <td>{{ person.epcg }}</td>
                      <td>{{ person.total }}</td>
                      <td *ngIf="(person.active_status == 0)" class="text-center">
                        <span>
                          <i class="md md-close close-red"></i>
                        </span>
                      </td>
                      <td *ngIf="(person.active_status == 1)" class="text-center">
                        <span>
                          <i class="md md-check-box"></i>
                        </span>
                      </td>
                      <td>
                        <span>
                          <i class="md md-create" (click)="updatetariff(person)"></i>
                        </span>
                        <span>
                          <i class="md md-delete" (click)="deletetariff(person.id)"></i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>