<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Reports</a>
              </li>
              <li class="active">Stock Report</li>
            </ol>
            <h4 class="page-title">Stock Report</h4>
          </div>
        </div>
      </div>
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <!--p-date-invoice -->
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from"
                            name="from" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Part No
                        </label>
                        <div class="left box-wid">
                          <ng2-completer [openOnClick]="true" [(ngModel)]="filter.item" name="item" [datasource]="activeitems"
                            [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Series
                        </label>
                        <div class="left box-wid">
                          <ng2-completer [openOnClick]="true" [(ngModel)]="filter.series" name="item" [datasource]="activeseries"
                            [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="getLedgerList()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-body mar-btm">
        <div class="ocn-section ocn-section-wid">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
              <thead>
                <tr>
                  <th rowspan="2">S.NO</th>
                  <th rowspan="2">Part No</th>
                  <th rowspan="2">Part</th>
                  <th width="15%" rowspan="2">Part Desc</th>
                  <th rowspan="2" width="5%">Series</th>
                  <th rowspan="2" width="5%">Class</th>
                  <th rowspan="2">Rate/Qty</th>
                  <th rowspan="2">Opening Bal</th>
                  <th rowspan="2">Reciepts</th>
                  <th colspan="3">Issues</th>
                  <th rowspan="2">Pending DC Qty</th>
                  <th rowspan="2">Closing Bal</th>
                </tr>
                <tr>
                  <th>DC</th>
                  <th>Assembly</th>
                  <th>Sales DC</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of persons; let row_no = index">
                  <td>
                    {{ row_no + 1 }}
                  </td>
                  <td class="text-left">
                    {{ person.item_no }}
                  </td>
                  <td class="text-left">
                    {{ person.part }}
                  </td>
                  <td class="text-left">
                    {{ person.item_desc }}
                  </td>
                  <td class="text-left">
                    {{ person.series }}
                  </td>
                  <td class="text-left">
                    {{ person.cls }}
                  </td>
                  <td class="text-right">{{ person.rate_per_qty | number }}</td>
                  <td class="text-center">{{ person.opening_balanace }}</td>
                  <td class="text-right view-center">
                    {{person.receipts}}
                  </td>
                  <td class="text-right view-center">
                    {{person.dc_qty}}
                  </td>
                  <td class="text-right view-center">
                    {{person.assembly_qty}}
                  </td>
                  <td class="text-right view-center">
                    {{person.sales_dc_qty}}
                  </td>
                  <td class="text-right view-center">
                    {{person.pending_dc_qty}}
                  </td>
                  <td class="text-right view-center">
                    {{person.closing_balanace}}
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover table table-striped table-bordered"></table> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>