<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Purchase</a>
              </li>
              <li class="active">Purchase Indent</li>
            </ol>
            <h4 class="page-title">Purchase Indent</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-4 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Status
                        </label>
                        <div class="box-wid left">
                          <select class="form-control" class="form-control" [(ngModel)]="filter.status">
                            <option *ngFor="let stat of indentstatus" [ngValue]="stat.value">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-4 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from" name="from"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-4 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad"><!--p-date-invoice-->
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myTabOption" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-4 col-md-3">
                    <button [routerLink]="['/purchaseindent']" class="btn btn-primary btn-custom waves-effect waves-light pull-right " data-toggle="tooltip"
                      data-placement="top" title="" data-original-title="Authorise">
                      <i class="fa fa-plus m-r-5"></i>Indent</button>

                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="searchindent()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
          </li>
          <!-- *ngIf="showtab" -->
          <li class="dis" *ngIf="showtab">
            <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
          </li>
          <!--<span class="trim-count"><strong>Trims Count:</strong> <span class="h-lit">40</span></span>-->
        </ul>

        <div class="tab-content no-padding padding-pad">
          <div class="chart tab-pane active" id="tplan">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section">
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered"
                      *ngIf="persons">
                      <thead>
                        <tr>
                          <th>S.NO</th>
                          <th>Indent No</th>
                          <th>Indent Date</th>
                          <th>Department</th>
                          <th>Attachments</th>
                          <th>view</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of persons; let row_no = index">
                          <td>
                            {{ row_no + 1 }}
                          </td>
                          <td class="text-left">
                            {{ person.indent_no }}
                          </td>
                          <td >
                            {{ person.indent_date }}
                          </td>
                          <td class="text-left">
                            <span *ngIf="person.dept != null"> {{ person.dept.department_name}} </span>
                            <span *ngIf="person.dept == null"> {{ "-"}} </span>
                          </td>
                          <td class="text-right view-center">
                            <button class="btn btn-xs btn-default" (click)="getfiles(person.id)">
                              <i class="fa fa-paperclip" aria-hidden="true"></i>
                            </button>
                          </td>
                          <td class="text-right view-center">
                            <button class="btn btn-xs btn-default" (click)="viewindent(person)">
                              <i class="fa fa-eye"></i>
                              </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chart tab-pane" id="trim-vs-articles" *ngIf="showtab">
            <!-- View-Indent Component-->
            <app-view-indent [purDetailsList]="purDetailsList" (notifycancel)="notifycancel()"></app-view-indent>
            <!-- View-Indent Component-->
          </div>
        </div>
      </div>

    </div>
  </div>

  <app-sc-detail-popup [(visible)]="showDialog" *ngIf="files">
    <h3 class="text-center">Attachments</h3>
    <div class="col-sm-12 ocn-section">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="1%">S.No</th>
              <th width="4%">File name</th>
              <th width="2%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of files; let i=index">
              <td>{{i+1}}</td>
              <td>
                {{data.filename}}
              </td>
              <td class="text-center">
                <i class="fa fa-download" aria-hidden="true" (click)="downloadfile(data)"></i>
              </td>
            </tr>
            <tr *ngIf="nofiles">
              <td colspan="3">No files found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-sc-detail-popup>
</div>