


<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <!-- <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Admin</a>
                            </li>
                            <li class="active">Roles </li>
                        </ol>
                        <h4 class="page-title">Roles
                        </h4>
                    </div> -->
                </div>
            </div>
            <!-- Start row -->
            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body">
                        <div class="portlet-heading">
                            <div class="oc-ftm-container">
                                <div class="col-sm-12 no-b-m">
                                    <div class="hidden-lg visible-sm visible-xs hidden-md">
                                        <h1>Sorry</h1>
                                        <hr style="width:100%">
                                        <h3>
                                          You don't have permission to access this page
                                        </h3>
                                    </div>
                                    <div id="clouds" class="visible-lg hidden-xs hidden-sm visible-md">
                                      <div class="cloud x1"></div>
                                      <div class="cloud x1_5"></div>
                                      <div class="cloud x2"></div>
                                      <div class="cloud x3"></div>
                                      <div class="cloud x4"></div>
                                      <div class="cloud x5"></div>
                                    </div>
                                    <div class='c visible-lg hidden-xs hidden-sm visible-md'>
                                      <div class='_404'>404</div>
                                      <hr>
                                      <div class='_1 m-b-20'>SORRY !</div>
                                      <div class='_2'>YOU DON'T HAVE PERMISSION TO ACCESS THIS PAGE</div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




