<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/stockorder']">Stock Order List</a>
              </li>
              <li class="active">Create Stock Order</li>
            </ol>
            <h4 class="page-title">Create Stock Order</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <form>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputName2" class="extra-wid">SC Order Type
                            <span class="red">*</span>
                          </label>
                          <input type="text" class="form-control" name="scorder" [(ngModel)]="so.scorder" [readOnly]="true" />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputName2">SC No
                            <span class="red">*</span>
                          </label>
                          <input name="scno" type="text" class="form-control"  [(ngModel)]="so.scno">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputName2">Date
                            <span class="red">*</span>
                          </label>
                          <div class="input-group grey-lfts" style="float:left; width:136px;">
                            <input class="form-control full-width" [(ngModel)]="so.salesdate" name="salesdate" [readonly]="true" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <div class="tab-content no-padding padding-pad">
          <div class="nav-tabs-custom">
            <div class="box-body mar-btm">
              <div class="ocn-section">
                <div class="table-responsive">
                  <form [formGroup]="orderForm">
                    <table class="table table-striped table-bordered" formArrayName="itemRows">
                      <thead>
                        <tr>
                          <th width="1%" (click)="addNewRow()">
                            <i class="fa fa-plus"></i>
                          </th>
                          <th width="2%">Line</th>
                          <th width="4%">Part No</th>
                          <th width="3%">Part</th>
                          <th width="3%">Part Desc</th>
                          <th width="3%">Material</th>
                          <th width="1%"> Rev</th>
                          <th width="3%">Drawing</th>
                          <th width="1%"> Rev</th>
                          <th width="2%">UOM</th>
                          <th width="2%">Qty</th>
                          <th width="4%">Ship-date</th>
                          <th width="3%">Remarks</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr [hidden]="nodata">
                          <td colspan="13">No data</td>
                        </tr>
                        <tr *ngFor="let itemrow of getorderform(orderForm); let i=index" [formGroupName]="i">
                          <td>
                            <i class="md md-close" (click)="deleteRow(i)"></i>
                          </td>
                          <td>
                            <input type="hidden" class="form-control" formControlName="id" />
                            <input type="text" class="form-control" formControlName="line" [attr.title]="orderForm.value.itemRows[i].line"/>
                          </td>
                          <td>
                            <ng2-completer [openOnClick]="true" formControlName="part_no" (selected)="selectedline($event,i)" [datasource]="activeitems"
                              [minSearchLength]="0" [attr.title]="orderForm.value.itemRows[i].part_no"></ng2-completer>
                          </td>
                          <td>
                            <input type="hidden" class="form-control" formControlName="partid" />
                            <input type="hidden" class="form-control" formControlName="part_type" />
                            <input type="text" class="form-control" formControlName="part" [readonly]="true" [attr.title]="orderForm.value.itemRows[i].part"/>
                          </td>
                          <td>
                            <input type="text" class="form-control" formControlName="partdesc" [readonly]="true" [attr.title]="orderForm.value.itemRows[i].partdesc"/>
                          </td>
                          <td>
                            <input type="text" class="form-control" formControlName="material" [readonly]="true" [attr.title]="orderForm.value.itemRows[i].material"/>
                          </td>
                          <td>
                            <input type="text" class="form-control" formControlName="materialrev" [readonly]="true" [attr.title]="orderForm.value.itemRows[i].materialrev"/>
                            <input type="hidden" class="form-control" formControlName="component" />
                            <input type="hidden" class="form-control" formControlName="component_desc" />
                            <input type="hidden" class="form-control" formControlName="squantity" />
                          </td>
                          <td>
                            <input type="text" class="form-control" formControlName="drawing" [readonly]="true" [attr.title]="orderForm.value.itemRows[i].drawing"/>
                          </td>
                          <td>
                            <input type="text" class="form-control" formControlName="rev" [readonly]="true" [attr.title]="orderForm.value.itemRows[i].rev"/>
                          </td>
                          <td>
                            <input type="text" class="form-control" formControlName="uom" [readonly]="true" [attr.title]="orderForm.value.itemRows[i].uom"/>
                          </td>
                          <td>
                            <input type="text" class="form-control" formControlName="Qty" pKeyFilter="int" (keypress)="restricthypens($event)" [attr.title]="orderForm.value.itemRows[i].Qty"/>
                          </td>
                          <td>
                            <input (click)="td.toggleCalendar()" class="form-control full-width" formControlName="shipmentDate"
                              ngx-mydatepicker name="shipmentDate" [options]="mydisoptionright" #td="ngx-mydatepicker" [readonly]="true"
                              [attr.title]="orderForm.value.itemRows[i].shipmentDate.formatted"/>
                          </td>
                          <td>
                            <input type="text" class="form-control" formControlName="Remarks" [attr.title]="orderForm.value.itemRows[i].Remarks"/>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </form>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 form-buttons m-b-10">
                  <button *ngIf="url == '/addstockorder'" (click)="saveOrder()" class="btn btn-success btn-custom waves-effect waves-light"
                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Submit">
                    <i class="fa fa-mail-forward"></i> Submit</button>
                  <button *ngIf="url == '/addstockorder'" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light"
                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Submit">
                    <i class="md md-close"></i> Clear</button>
                  <button *ngIf="url != '/addstockorder'" [routerLink]="['/stockorder']" class="btn btn-primary btn-custom waves-effect waves-light"
                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Submit">
                    <i class="fa fa-chevron-left"></i> Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>