<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Admin</a>
              </li>
              <li class="active">Tools </li>
            </ol>
            <h4 class="page-title">Tools
            </h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <form [formGroup]="Toolsform" (ngSubmit)="addeditrole(Toolsform.value)">
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Tool No
                            <span class="red">*</span>
                          </label>
                          <input name="id" type="hidden" class="form-control" value="" formControlName="id" [(ngModel)]="tool.id">
                          <input name="tool_no" type="text" class="form-control" value="" formControlName="tool_no" [(ngModel)]="tool.tool_no">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Tool Name
                            <span class="red">*</span>
                          </label>
                          <input name="tool_name" type="text" class="form-control" value="" formControlName="tool_name" [(ngModel)]="tool.tool_name">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Tool Description
                            <span class="red">*</span>
                          </label>
                          <input name="description" type="text" class="form-control" value="" formControlName="description" [(ngModel)]="tool.description">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Qty
                            <span class="red">*</span>
                          </label>
                          <input name="qty" type="text" class="form-control" value="" formControlName="qty" [(ngModel)]="tool.qty" pKeyFilter="int"
                            (keypress)="restricthypens($event)">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputName2">Core Box
                            <span class="red">*</span>
                          </label>
                          <select class="form-control" name="corebox" formControlName="corebox" name="unit" [(ngModel)]="tool.corebox">
                            <option *ngFor="let stat of coreboxes" [ngValue]="stat.name">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputName2">No Of Cavities
                            <span class="red">*</span>
                          </label>
                          <select class="form-control" name="cavitiescount" formControlName="cavitiescount" name="unit" [(ngModel)]="tool.cavitiescount">
                            <option *ngFor="let stat of cavities" [ngValue]="stat.name">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputName2">Match Plate Type
                            <span class="red">*</span>
                          </label>
                          <select class="form-control" name="matchplate" formControlName="matchplate" name="unit" [(ngModel)]="tool.matchplate">
                            <option *ngFor="let stat of matchplates" [ngValue]="stat.name">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group ocn lbh">
                          <label for="exampleInputName2">Match Plate Size
                            <span class="red">*</span>
                          </label>
                          <input name="length" type="text" class="form-control" placeholder="L" value="" formControlName="length" [(ngModel)]="tool.length">
                          <input name="breath" type="text" class="form-control" placeholder="B" value="" formControlName="breath" [(ngModel)]="tool.breath">
                          <input name="height" type="text" class="form-control" placeholder="H" value="" formControlName="height" [(ngModel)]="tool.height">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputName2">Tool Value
                            <span class="red">*</span>
                          </label>
                          <input name="toolvalue" type="text" class="form-control" value="" formControlName="toolvalue" [(ngModel)]="tool.toolvalue"
                            pKeyFilter="int" (keypress)="restricthypens($event)">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputName2">Status
                            <span class="red">*</span>
                          </label>
                          <select class="form-control" name="active_status" formControlName="active_status" name="unit" [(ngModel)]="tool.active_status">
                            <option *ngFor="let stat of statusarray" [ngValue]="stat.value">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                      <button type="submit" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Save">
                        <i class="fa fa-check"></i> {{buttonname}}</button>
                      <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Cancel">
                        <i class="fa fa-ban"></i> Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- text-->
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
      <!--tab-->
      <section class="col-lg-12" style="padding:0">
        <div class="nav-tabs-custom">
          <div class="box-body mar-btm">
            <div class="ocn-section">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>S.NO</th>
                      <th>Tool No</th>
                      <th>Tool Name</th>
                      <th>Description</th>
                      <th>Qty</th>
                      <th>Tool Value</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let person of persons; let row_no = index">
                      <td>{{ row_no + 1 }}</td>
                      <td>{{ person.tool_no }}</td>
                      <td>{{ person.tool_name }}</td>
                      <td>{{ person.tool_description }}</td>
                      <td>{{ person.quantity }}</td>
                      <td>{{ person.tool_value }}</td>
                      <td *ngIf="(person.active_status == 0)" class="text-center">
                        <span>
                          <i class="md md-close close-red"></i>
                        </span>
                      </td>
                      <td *ngIf="(person.active_status == 1)" class="text-center">
                        <span>
                          <i class="md md-check-box"></i>
                        </span>
                      </td>
                      <td>
                        <span>
                          <i class="md md-create" (click)="updaterole(person)"></i>
                        </span>
                        <span>
                          <i class="md md-delete" (click)="deleterole(person.id)"></i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>