<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Stores</a>
              </li>
              <li class="active">Tool Issue List</li>
            </ol>
            <h4 class="page-title">Tool Issue List</h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <button [routerLink]="['/toolissue']" class="btn btn-primary btn-custom waves-effect waves-light pull-right m-b-10">
                    <i class="fa fa-plus m-r-5"></i>Tool Issue</button>
                </div>
              </div>
              <!-- text-->
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
      <!--tab-->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
          </li>
          <li class="dis" *ngIf="showtab">
            <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
          </li>
        </ul>
        <div class="tab-content no-padding padding-pad ">
          <div class="chart tab-pane active" id="tplan">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section">
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>S.NO</th>
                          <th>Tool DC No</th>
                          <th>Tool DC Date</th>
                          <th>Vehicle No</th>
                          <th>Supplier</th>
                          <th>Return Type</th>
                          <th>View</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of persons; let row_no = index">
                          <td>{{ row_no + 1 }}</td>
                          <td>{{ person.tool_dc_no }}</td>
                          <td>{{ person.tool_dc_date }}</td>
                          <td> {{person.vechile_no}}</td>
                          <td class="text-center">{{person.supplier.supplier_name}}</td>
                          <td class="text-center">{{person.return_type}}</td>
                          <td class="text-right view-center">
                            <button class="btn btn-xs btn-default" (click)="viewindent(person)">
                              <i class="fa fa-eye"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chart tab-pane" id="trim-vs-articles" *ngIf="showtab">
            <div class="col-md-12 overlay" *ngIf="show_loader">
              <div class="loader loaderpos">
                <div class="loader-inner ball-scale-multiple">
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 p-b-20">
              <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="cancel()">
                <i class="fa fa-times"></i>
              </button>
              <button class="visible-md visible-lg btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="printpos()">
                <i class="fa fa-print"></i>
              </button>
            </div>

            <div class="left page-height col-md-12 col-sm-12 col-xs-12 print-pg" id="printsection">
              <div class="col-sm-12 col-md-12 col-xs-12 padding-30">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-12 ocn-section">
                      <div class="table-responsive">
                        <table class="row-border hover table table-striped table-bordered" *ngIf="dcdetails">
                          <thead>
                          </thead>
                          <tbody>
                            <tr>
                              <td colspan="6">
                                <div class="col-sm-12">
                                  <div class="col-md-12 col-sm-12 col-xs-12 m-b-20">
                                    <div class="col-md-4 col-sm-4 col-xs-4 text-left m-t-25">
                                      <img src="assets/images/favicon - Copy.png" style="height: 50px" />
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-8 text-left">
                                      <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
                                      <p class="caps-pad m-b-0" style="text-transform : capitalize">
                                        <span>Idigarai Road, NGGO Colony</span>
                                      </p>
                                      <p class="caps-pad m-b-0" style="text-transform : capitalize">
                                        <span>Coimbatore-641022, Tamil nadu, India</span>
                                      </p>
                                      <p class="caps-pad m-b-0" style="text-transform : capitalize">Telephone:
                                        <span>91 422 2642224</span>, Email:
                                        <span style="text-transform : lowercase !important">info@saapl.net</span>
                                      </p>
                                      <p class="caps-pad m-b-0" style="text-transform : capitalize">
                                        <span>GSTIN Number:</span>
                                        <span>33AABCB0064H1Z9</span> ,
                                        <span>PAN Number:</span>
                                        <span>AABCB0064H</span>
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="3">
                                <span class="col-sm-6 col-md-6 col-xs-6 text-left">Consignee : </span>
                                <span class="col-sm-6 col-md-6 col-xs-6 text-left">Code : </span>
                                <p class="col-sm-12 col-md-12 col-xs-12 text-left m-t-20">
                                  {{dcdetails.supplier.display_cmpy_name}} ,
                                  <br>{{dcdetails.supplier.address_line1}},
                                  <br>{{dcdetails.supplier.address_city.city_name}}, {{dcdetails.supplier.address_state.state_name}},
                                  {{dcdetails.supplier.address_country.country_name}}
                                </p>
                              </td>
                              <td colspan="3" style="vertical-align: text-top;padding: 0 !important">
                                <h4 style="margin: 0;text-align: center;border-bottom: 1px solid #dadada">DELIVERY CHALLAN</h4>
                                <div class="p-l-10" style="float:left">
                                  <span class="text-left clearfix" style="float:left">DC NO : {{dcdetails.tool_dc_no}}</span>
                                  <span class="text-left clearfix" style="float:left">Date : {{dcdetails.tool_dc_date}}</span>
                                  <span class="text-left clearfix" style="float:left">Division : </span>
                                  <span class="text-left clearfix" style="float:left">Customer Code : </span>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="6">
                                <span class="col-sm-12 col-md-12 col-xs-12 text-left m-b-20">Your Order No :</span>
                                <span class="col-sm-4 col-md-4 col-xs-4 text-left">Our Ref : </span>
                                <span class="col-sm-4 col-md-4 col-xs-4 text-left">Date : </span>
                                <span class="col-sm-4 col-md-4 col-xs-4 text-left">Vehicle No : {{dcdetails.vechile_no}}</span>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="6">
                                <p class="text-left m-t-10">Dear Sir,</p>
                                <p class="text-left p-l-10">We have despatched the following goods, kindly return the duplicate copy duly signed acknowledging
                                  the receipt of goods </p>
                              </td>
                            </tr>
                            <tr>
                              <td width="5%">S.NO</td>
                              <td width="5%">Part Code</td>
                              <td width="10%">Description</td>
                              <td width="5%">Quantity</td>
                              <td width="5%">Unit/WT</td>
                              <td width="5%">Total WT</td>
                            </tr>
                            <tr *ngFor="let data of dclinedetails; let i=index">
                              <td>{{i+1}}</td>
                              <td>
                                {{data.tools.tool_no}}
                              </td>
                              <td>
                                {{data.tools.tool_description}}
                              </td>
                              <td>
                                {{data.tools.quantity}}
                              </td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td colspan="3" style="text-align :right !important">
                                <span class="bold">Total</span>
                              </td>
                              <td>
                                <span class="bold">{{calcqty()}}</span>
                              </td>
                              <td>
                              </td>
                              <td>
                              </td>
                            </tr>
                            <tr>
                              <td colspan="3">
                                <span class="text-center m-b-20 width-100" style="float:left">Received the above in good condition</span>
                                <br>
                                <span class="text-center width-100 m-t-20" style="float:left">Signature of Receipient with Date & Seal</span>
                              </td>
                              <td colspan="3">
                                <span class="text-center m-b-20 width-100" style="float:left">For
                                  <b>Sakthi Auto Ancillary Private Limited</b>
                                </span>
                                <span class="text-center width-100 m-t-20" style="float:left">Authorized Signatory</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->