<div class="col-md-12 overlay" *ngIf="show_loader">
  <div class="loader loaderpos">
    <div class="loader-inner ball-scale-multiple">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div class="col-sm-12 p-b-20">
  <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="cancel()">
    <i class="fa fa-times"></i>
  </button>
  <button class="visible-md visible-lg btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
    (click)="printpos()">
    <i class="fa fa-print"></i>
  </button>
</div>

<div class="left col-md-12 col-sm-12 col-xs-12 page-height-40 print-pg">
  <div class="col-sm-12 col-md-12 col-xs-12 padding-30">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 ocn-section">
          <div class="table-responsive">
            <div id="printsection">
              <table class="row-border hover table table-striped table-bordered report-container print-view" style="border:1px solid #333;">
                <thead class="report-header">
                  <tr *ngIf="grnitems">
                    <td colspan="9">
                      <div class="col-sm-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 m-b-20">
                          <div class="col-md-4 col-sm-4 col-xs-4 text-left m-t-25">
                            <img src="assets/images/favicon - Copy.png" style="height: 50px" />
                          </div>
                          <div class="col-md-8 col-sm-8 col-xs-8 text-left">
                            <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
                            <p class="caps-pad m-b-0" style="text-transform : capitalize">
                              <span>Idigarai Road, NGGO Colony</span>
                            </p>
                            <p class="caps-pad m-b-0" style="text-transform : capitalize">
                              <span>Coimbatore-641022, Tamil nadu, India</span>
                            </p>
                            <p class="caps-pad m-b-0" style="text-transform : capitalize">Telephone:
                              <span>91 422 2642224</span>, Email:
                              <span style="text-transform : lowercase !important">info@saapl.net</span>
                            </p>
                            <p class="caps-pad m-b-0" style="text-transform : capitalize">
                              <span>GSTIN Number:</span>
                              <span>33AABCB0064H1Z9</span> ,
                              <span>PAN Number:</span>
                              <span>AABCB0064H</span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="persons">
                    <td colspan="4">
                      <strong class="col-sm-6 col-md-6 col-xs-6 text-left">Order No : {{persons.po_dc_no}}</strong>
                      <strong class="col-sm-6 col-md-6 col-xs-6 text-left">Party Code : {{persons.supplier}}</strong>
                      <strong class="col-sm-6 col-md-6 col-xs-6 text-left clearfix">Party : {{persons.supplier}}</strong>
                      <strong class="col-sm-6 col-md-6 col-xs-6 text-left clearfix">Address : </strong>
                      <strong class="col-sm-12 col-md-12 col-xs-12 text-left m-l-20" *ngIf="supplier">
                        {{supplier.display_cmpy_name}},
                        <br>{{supplier.address_line1}},
                        {{supplier.address_city.city_name}},
                        <br>
                        {{supplier.address_state.state_name}},
                        {{supplier.address_country.country_name}}
                        <br>
                        GSTIN NO : {{supplier.gstin_no}}
                      </strong>
                    </td>
                    <td colspan="5" style="vertical-align: text-top;padding: 0 !important">
                      <h5 class="cs" style="margin: 0;text-align: center;border-bottom: 1px solid #333333;color:#000 !important">MATERIAL
                        INWARD/INSPECTION REPORT</h5>
                      <div class="p-l-10" style="float:left">
                        <strong class="text-left clearfix" style="float:left">No : {{persons.grn_no}}</strong>
                        <strong class="text-left clearfix" style="float:left">Date : {{persons.grn_date}}</strong>
                        <strong class="text-left clearfix" style="float:left">Dc No : {{persons.supplier_dc_no}}</strong>
                        <strong class="text-left clearfix" style="float:left">Dc Date : {{persons.supplier_dc_date}}</strong>
                      </div>
                    </td>
                  </tr>
                  <tr class="cs">
                    <td rowspan="2" width="15%">Item Code</td>
                    <td rowspan="2" width="15%">Item</td>
                    <td rowspan="2" width="15%">Description</td>
                    <td colspan="6" class="text-center">Quantity</td>
                  </tr>
                  <tr class="cs">
                    <td>AS PER DC</td>
                    <td>RECIEVED</td>
                    <td>ACCEPTED</td>
                    <td>REWORK</td>
                    <td>CD. REJ</td>
                    <td>MD. REJ</td>
                  </tr>
                </thead>
                <tfoot class="report-footer">
                  <tr>
                    <td colspan="9">
                      <span class="text-center m-b-20" style="float:left">Remarks</span>
                      <br>
                      <span class="text-center m-t-20 col-md-4 col-sm-4 col-lg-4 col-xs-4" style="float:left">Prepared
                        By</span>
                      <span class="text-center m-t-20 col-md-3 col-sm-3 col-lg-3 col-xs-3" style="float:left">QC</span>
                      <span class="text-center m-t-20 col-md-4 col-sm-4 col-lg-4 col-xs-4" style="float:left">Stores
                        Incharge</span>
                    </td>
                  </tr>
                </tfoot>
                <tbody>
                  <tr *ngFor="let data of grnitems; let i=index">
                    <td>
                      {{data.item_code}}
                    </td>
                    <td>{{data.part}}</td>
                    <td>
                      {{data.item_desc}}
                    </td>
                    <td>
                      {{data.rec_qty}}
                    </td>
                    <td>{{data.rec_qty }}</td>
                    <td>{{data.acc_qty}}</td>
                    <td>{{data.rework_qty}}</td>
                    <td>{{data.rej_qty}}</td>
                    <td>{{data.scrap_qty}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>