<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content" style="height:100% !important">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Logistics</a>
              </li>
              <li class="active">Export Packing List</li>
            </ol>
            <h4 class="page-title">Export Packing List</h4>
          </div>
        </div>
      </div>
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">

            <div class="col-sm-12 p-b-20">
              <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="back()">
                <i class="fa fa-times"></i>
              </button>
              <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="printpos()">
                <i class="fa fa-print"></i>
              </button>
              <!-- <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="printPdf()">
                  <i class="fa fa-file-pdf-o"></i>
                </button> -->
            </div>

            <!-- <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe> -->

            <div class="ocn-section ocn-section-tbl page-height" id="printsection">
              <h4 class="text-center">EXPORT PACKING LIST</h4>
              <div class="table-responsive table-resp-pad">
                <table class="table table-striped table-bordered report-container print-view" style="border:1px solid #333"
                  *ngIf="invLineitems">
                  <thead class="report-header">
                    <tr>
                      <td class="tble-center caps-pad cs" align="center" colspan="7">
                        <strong>Supply Meant for Export Under Letter of undertaking(LUT) without payment of IGST"</strong>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" rowspan="4" style="vertical-align:top">
                        <p class="print-label">Exporter :</p>
                        <!-- <p class="caps-pad">
                          <strong>Sakthi Auto Ancillary Private Limited</strong>
                        </p>
                        <p class="caps-pad">
                          <strong>Idigarai Road, NGGO Colony</strong>
                        </p>
                        <p class="caps-pad">
                          <strong>Coimbatore-641022, Tamil nadu, India</strong>
                        </p>
                        <p>Telephone:
                          <strong>91 422 2642224</strong>, Email:
                          <a href="mailto:info@saapl.net">info@saapl.net</a>
                        </p>
                        <p class="caps-underline">GSTIN Number:
                          <strong>33AABCB0064H1Z9</strong>
                        </p>
                        <p class="caps-underline">PAN Number:
                          <strong>AABCB0064H</strong>
                        </p> -->
                        <app-company-td></app-company-td>
                        <p>IE Code No: 3298001511 dated 19.05.1998</p>
                      </td>
                      <td>Invoice No.</td>
                      <td colspan="2">
                        <strong>{{invoicedetails.invoice_no}}</strong>
                      </td>
                      <td class="print-label">Documents:</td>
                    </tr>
                    <tr>
                      <td class="print-label">Invoice Date</td>
                      <td colspan="2">
                        <strong>{{invoicedetails.invoice_date}}</strong>
                      </td>
                      <td align="center">
                        <strong *ngIf="url == cuscopy">Triplicate</strong>
                        <strong *ngIf="url != cuscopy">Original for Buyer</strong>
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align:top">
                        <p class="print-label">Date & Time of Removal of goods:</p>
                        <p>&nbsp;</p>
                      </td>
                      <td colspan="3" style="height:100px;vertical-align:top" class="print-label">Authenticated By</td>
                    </tr>
                    <tr>
                      <td colspan="4" class="td-size">
                        <p class="print-label">Buyer's Order & Date :</p>
                        <p>
                          <strong>{{invoicedetails.po_nos}}</strong>
                        </p>
                      </td>
                    </tr>
                  </thead>

                  <tfoot class="report-footer">
                    <tr>
                      <td colspan="3">
                        <!-- <span class="wid-from">Name of the Commodity</span> : Check(Non-Return)Valves/Parts of Valves-->
                      </td>
                      <td colspan="4" valign="top">
                        <div>Signature & Date</div>
                        <div class="text-right">For Sakthi Auto Ancillary Pvt Ltd</div>
                        <div style="width: 25%;float: left; margin-top: 100px">
                          <strong>{{invoicedetails.invoice_date}}</strong>
                        </div>
                        <div style="width: 75%;float: left; margin-top: 100px;text-align: right;" colspan="2">(Authorised
                          Signatory)</div>
                      </td>
                    </tr>
                  </tfoot>

                  <tbody>
                    <tr>
                      <td colspan="3" rowspan="4" style="vertical-align:top">
                        <p class="print-label">Consignee :</p>
                        <p>{{invoicedetails.display_cmpy_name}}</p>
                        <span>{{shipaddress[0]}}</span> <br>
                        <span>{{shipaddress[1]}}</span><br>
                        <span>{{shipaddress[2]}},{{shipaddress[3]}}</span>
                      </td>
                      <td colspan="4">
                        <p>Buyer (if other than consignee):</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="td-size">
                        <span class="print-label">Exporter's Ref :</span>
                        <span>{{invoicedetails.sc_nos}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="print-label">Other Reference :
                        <strong>{{invoicedetails.remarks}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="4" class="print-label">Country of Origin
                        <strong>INDIA</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="print-label">Pre Carriage by :</td>
                      <td><strong>{{invoicedetails.pre_carriage_by}}</strong></td>
                      <td class="print-label">Port of Loading:</td>
                      <td colspan="4" class="print-label">Country of Final Destination :
                        <strong>{{invoicedetails.country_of_destination}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="print-label">Pl. of Receipt by Pre Carrier :</td>
                      <td><strong>{{invoicedetails.pre_carriage_place}}</strong></td>
                      <td class="tble-center">
                        <strong>{{invoicedetails.port_of_loading}}</strong>
                      </td>
                      <td colspan="4" class="print-label">Terms of Delivery & Payment</td>
                    </tr>
                    <tr>
                      <td class="print-label">Vessel / Flight No:</td>
                      <td><strong>{{invoicedetails.shipment_mode}}</strong></td>
                      <td class="print-label">Final Destination:</td>
                      <td colspan="4" rowspan="2">
                        <p>
                          <strong>{{invoicedetails.delivery_terms}}</strong>
                        </p>
                        <p>
                          <strong>PAYMENT: {{invoicedetails.payment_terms}}</strong>
                        </p>
                        <p>
                          <strong>Total Boxes: {{invoicedetails.total_box_count}}</strong>
                        </p>
                        <p>
                          <strong>Box Nos: </strong>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td class="print-label">Port of Discharge:</td>
                      <td><strong>{{invoicedetails.port_of_discharge}}</strong></td>
                      <td class="tble-center">
                        <strong>{{invoicedetails.final_destination}}</strong>
                      </td>
                    </tr>
                    <tr class="cs">
                      <td>Box No</td>
                      <td>Hsn Code & Commodity Name</td>
                      <td class="tble-center">Description of goods</td>
                      <td class="tble-center">
                        <p>Quantity</p>
                        <p>
                          <strong>Nos.</strong>
                        </p>
                      </td>
                      <td class="tble-center">
                        <p>Net Weight</p>
                        <p>
                          <strong>(Kgs)</strong>
                        </p>
                      </td>
                      <td class="tble-center">
                        <p>Gross Weight</p>
                        <p>
                          <strong>(Kgs)</strong>
                        </p>
                      </td>
                      <td class="tble-center">
                        <p>Wooden case dimensions</p>
                        <p>
                          <strong>LxBxH (in Inches)</strong>
                        </p>
                      </td>
                    </tr>
                    <ng-container *ngFor="let itemrow of invLineitems; let i=index">
                      <!-- <tr>
                        <td class="bordr-non"></td>
                        <td class="bordr-non"></td>
                        <td class="tble-center caps-underline caps-pad">
                          <strong>{{itemrow.box_part_no}}</strong>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="bordr-non"></td>
                        <td class="bordr-non"></td>
                        <td class="tble-center caps-underline caps-pad">
                          <strong>Box No: {{itemrow.box_no}}</strong>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr> -->

                      <!-- <tr *ngFor="let lineitems of itemrow.postInvoiceList; let i=index">
                        <td style="vertical-align:top" class="bordr-non">
                          <p>{{lineitems.packSlipDetails.box_no}}</p>
                        </td>
                        <td style="vertical-align:top" class="bordr-non">
                          <p>{{lineitems.packSlipDetails.box_type}}</p>
                        </td>
                        <td>
                          <p>
                            <strong>{{lineitems.packSlipDetails.salesOrderDetails.component}},
                              {{lineitems.packSlipDetails.salesOrderDetails.component_desc}},
                              {{lineitems.packSlipDetails.salesOrderDetails.material_spec}},
                              {{lineitems.packSlipDetails.salesOrderDetails.material_spec_rev}},
                            </strong>
                          </p>
                          <p>
                            <strong>PART NO.{{lineitems.packSlipDetails.part_no}}-(PO#{{lineitems.po_no}} - ITEM
                              LINE#{{lineitems.packSlipDetails.line_no}})</strong>
                          </p>
                        </td>
                        <td class="tble-center">{{lineitems.packSlipDetails.slip_quantity}}</td>
                        <td class="tble-center">{{lineitems.packSlipDetails.net_weight}}</td>
                        <td class="tble-center">{{lineitems.packSlipDetails.gross_weight}}</td>
                        <td class="tble-center">{{lineitems.packSlipDetails.wb_length}}" x
                          {{lineitems.packSlipDetails.wb_breath}}" x {{lineitems.packSlipDetails.wb_height}}"</td>
                      </tr> -->

                      <tr *ngFor="let lineitems of itemrow.groupBoxDetails; let i=index">
                        <td class="tble-center" [attr.rowspan]="itemrow.groupBoxDetails.length" *ngIf="i==0">{{itemrow.box_no}}</td>
                        <td style="vertical-align:top;text-align:center" class="bordr-non td-size">
                          <p>{{lineitems.hsnCode}} - {{lineitems.commodityName}}</p>
                        </td>
                        <td class="td-size-lrg">
                          <p>
                            <strong>
                              <!-- {{lineitems.component}}, -->
                              {{lineitems.component_desc}},
                              <!-- {{lineitems.material_spec}},
                              {{lineitems.material_spec_rev}}, -->
                            </strong>
                          </p>
                          <p>
                            <strong>PART NO.{{lineitems.part_no}}-(PO#{{lineitems.po_no}} - ITEM
                              LINE#{{lineitems.line_no}})</strong>
                          </p>
                        </td>
                        <td class="tble-center">{{lineitems.prod_quantity}}</td>
                        <td class="tble-center">{{lineitems.net_weight}}</td>
                        <td class="tble-center" [attr.rowspan]="itemrow.groupBoxDetails.length" *ngIf="i==0">{{itemrow.gross_weight}}</td>
                        <td class="tble-center" [attr.rowspan]="itemrow.groupBoxDetails.length" *ngIf="i==0">{{itemrow.length}}"
                          x
                          {{itemrow.breadth}}" x {{itemrow.height}}"</td>
                      </tr>
                    </ng-container>
                    <tr>
                      <td colspan="3">
                        <p class="tble-center">
                          <strong>F.O.B TUTICORIN,INDIA.</strong>
                        </p>
                        <p *ngIf="url == cuscopy">
                          <strong>"WE INTEND TO CLAIM REWARDS UNDER MERCHANDISE EXPORTS FROM INDIA SCHEME (MEIS)"</strong>
                        </p>
                        <p *ngIf="url == cuscopy">
                          <strong>"THIS EXPORT IS UNDER DRAWBACK SCHEME"</strong>
                        </p>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                      <td class="tble-right cs">Total</td>
                      <td class="tble-right cs" style="text-align:center">{{Totalqty}}</td>
                      <td class="tble-right cs" style="text-align:center">{{netweight}}</td>
                      <td class="tble-right cs" style="text-align:center">{{Grossweight}}</td>
                      <td class="tble-right cs"></td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>