<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Item Master</a>
              </li>
              <li class="active">Item&Suppliers Mapping</li>
            </ol>
            <h4 class="page-title">Item & Suppliers Mapping</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputName2">Type
                          <span class="red">*</span>
                        </label>
                        <select class="form-control" name="type" name="unit" [(ngModel)]="filter.type" (change)="getcontacts(filter.type)">
                          <option *ngFor="let stat of contacttype" [ngValue]="stat.name">{{stat.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Supplier
                          <span class="red">*</span>
                        </label>
                        <ng-select [options]="allcontacts" [(ngModel)]="filter.supplier" (selected)="getitems()"></ng-select>
                        <!-- <ng2-completer [openOnClick]="true"  [(ngModel)]="filter.supplier" name="contact" (selected)="getitems()"
                            [datasource]="allcontacts" [minSearchLength]="0"></ng2-completer> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Part
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="filter.part" />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="getitems()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-body mar-btm">
        <div class="ocn-section">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="3%">S.NO</th>
                  <th width="8%">Part No</th>
                  <th>Part</th>
                  <th>Part Desc</th>
				  <th>Material & Mspec No</th>
                  <th>Dwg No</th>
                  <th>UOM</th>
                  <th width="10%">Value size</th>
                  <th width="10%">Rate</th>
                  <th width="7%">Select</th>
                  <th width="7%">Cancel</th>
                  <th>Prev</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of persons; let row_no = index">
                  <td>
                    {{ row_no + 1 }}
                  </td>
                  <td>{{person.item.part_no}}</td>
                  <td>{{person.item.component}}</td>
                  <td>{{person.item.component_desc}}</td>
				  <td>{{person.item.material.material}} - ({{person.item.material.mspec_no}})</td>
                  <td>{{person.item.dwg_line}}</td>
                  <td>{{person.item.uom.short_name}}</td>
                  <td>{{person.item.valvesize.sizes}}</td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="person.rate" pKeyFilter="num" (keypress)="decimalnumber($event)" />
                  </td>
                  <td>
                    <input name="checkauthorize" type="checkbox" class="form-control" value="" [(ngModel)]="person.checkauthorize"
                      (change)="checkauthorized(person.checkauthorize,person,row_no)">
                  </td>
                  <td>
                    <button class="btn btn-xs btn-danger" (click)="cancelsupplier(person)" *ngIf="person.rate !=0 && person.id">
                      <i class="fa fa-close"></i>
                    </button>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-xs btn-primary" (click)="showprevpop(person.prevoiusRate)" *ngIf="person.prevoiusRate.length">
                      <i class="fa fa-info-circle"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
            <button class="btn btn-warning btn-custom waves-effect waves-light pull-right m-r-5" (click)="uncheckall()">
              <i class="md md-close"></i> Clear All </button>
            <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" (click)="createmapping()">
              <i class="md md-check"></i> Save </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-allocpop [(visible)]="showDialog" *ngIf="showDialog">
  <app-comparision-view [enqid]="enqid" (close)="close()"></app-comparision-view>
</app-allocpop>

<app-slip-popup [(visible)]="showRateDialog">
  <h4 class="text-center">Previous Rates</h4>
  <div class="col-sm-12 ocn-section page-height-40">
    <div class="table-responsive">
      <table class="row-border hover table table-striped table-bordered" *ngIf="rates">
        <thead>
          <tr>
            <th>S.NO</th>
            <th>Updated Date</th>
            <th>Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of rates; let i=index">
            <td>{{i+1}}</td>
            <td>{{data.cdate}}</td>
            <td>{{data.rate}}</td>
          </tr>
          <tr *ngIf="!rates ?.length">
            <td colspan="3">No Data</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 pull-right">
      <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" (click)="close()">
        <i class="md md-check"></i> OK </button>
    </div>
  </div>
</app-slip-popup>