<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Planning</a>
                            </li>
                            <li class="active">Pending Plan</li>
                        </ol>
                        <h4 class="page-title">Pending Plan</h4>
                    </div>
                </div>
            </div>

            <!-- Body Starts Here -->

            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body">
                        <div class="portlet-heading">
                            <div class="oc-ftm-container">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn ">
                                                <label for="exampleInputEmail1" class="lbl-wid">Customer
                                                </label>
                                                <div class="left box-wid">
                                                    <ng2-completer [openOnClick]="true" [(ngModel)]="filter.customer"
                                                        name="contact" [datasource]="allcontacts" [minSearchLength]="0">
                                                    </ng2-completer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn ">
                                                <label for="exampleInputEmail1" class="lbl-wid">SC No
                                                </label>
                                                <input name="compurchase" type="text" class="form-control box-wid"
                                                    value="" [(ngModel)]="filter.scno">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn">
                                                <label for="exampleInputEmail1" class="lbl-wid">From
                                                </label>
                                                <div class="input-group box-wid" style="float:left;">
                                                    <input class="form-control full-width" (click)="fm.toggleCalendar()"
                                                        ngx-mydatepicker name="startDate" [options]="myOptions"
                                                        #fm="ngx-mydatepicker" [readOnly]="true"
                                                        [(ngModel)]="filter.from" name="from" />
                                                    <span class="input-group-addon bg-primary b-0 text-white"
                                                        (click)="fm.clearDate()">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn">
                                                <label for="exampleInputEmail1" class="lbl-wid">To
                                                </label>
                                                <div class="input-group box-wid" style="float:left;">
                                                    <input class="form-control full-width" (click)="to.toggleCalendar()"
                                                        ngx-mydatepicker name="startDate" [options]="myTabOption"
                                                        #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to"
                                                        name="to" />
                                                    <span class="input-group-addon bg-primary b-0 text-white"
                                                        (click)="to.clearDate()">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3 form-buttons">
                                        <button class="btn btn-primary btn-custom waves-effect waves-light pull-right"
                                            (click)="searchsc()">
                                            <i class="md md-search"></i> Search </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nav-tabs-custom">
                <div class="box-body mar-btm">
                    <div class="ocn-section">
                        <section class="col-lg-12" style="padding:0">
                            <div class="col-sm-12 gray-box text-center">
                                <div class="table-responsive">
                                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                        class="row-border hover table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th width="1%">S.No</th>
                                                <th width="3%">SC No</th>
                                                <th width="3%">Customer</th>
                                                <th width="3%">SC Qty</th>
                                                <th width="4%">Prod confirm Date</th>
                                                <th width="3%">View</th>
                                                <th width="3%">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let itemrow of persons; let i=index">
                                                <td>{{i+1}}</td>
                                                <td class="text-center">
                                                    {{itemrow.sc_no}}
                                                </td>
                                                <td>
                                                    {{itemrow.customer}}
                                                </td>
                                                <td>
                                                    {{itemrow.quantity}}
                                                </td>
                                                <td>
                                                    {{itemrow.confirm_date}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-xs btn-default"
                                                        (click)="viewdetails(itemrow,i)">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </td>
                                                <td>
                                                    <input name="checkplan" type="checkbox" class="form-control"
                                                        value="" [(ngModel)]="itemrow.checkplan"
                                                        (change)="checkplan(itemrow.checkplan,itemrow,i)">
                                                </td>
                                            </tr>
                                            <!-- <tr *ngIf="nodata">
                                                <td colspan="10">No data</td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 form-buttons m-b-20">
                                <button class="btn btn-warning btn-custom waves-effect waves-light pull-right"
                                    (click)="clearallsc()">
                                    <i class="fa fa-paint-brush"></i> Clear </button>
                                <button class="btn btn-success btn-custom waves-effect waves-light m-r-5 pull-right"
                                    (click)="showplanpop()">
                                    <i class=" md-check"></i> Plan </button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

            <!-- Body Ends Here -->

        </div>
    </div>
</div>

<app-allocpop [(visible)]="showDialog">

    <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 ocn-section">
        <h4 class="text-center">SC Details</h4>
        <div class="table-responsive page-height" style="height:.01% !important">
            <table class="table table-striped table-bordered text-center" *ngIf="checkeditems">
                <thead>
                    <tr>
                        <th width="5%">
                            <input name="checkauthorize" type="checkbox" class="form-control" value=""
                                [(ngModel)]="checkallpartlist" (change)="checkallpart(checkallpartlist)">
                        </th>
                        <th width="2%">S.No</th>
                        <th width="2%">SC.No</th>
                        <th width="2%">Line No</th>
                        <th width="3%">Part No</th>
                        <th width="3%">Part</th>
                        <th width="4%">Part Desc</th>
                        <th width="2%">Qty</th>
                        <th width="3%">Uom</th>
                        <th width="3%">Prod confirm date</th>
                    </tr>
                </thead>
                <tbody *ngFor="let itemrow of checkeditems; let i=index">
                    <tr>
                        <td colspan="5" style="text-align:left!important">
                            <strong>SC.NO : {{itemrow.sc_no}}</strong>
                        </td>
                    </tr>
                    <tr *ngFor="let data of itemrow.sc_details; let ind=index">
                        <td>
                            <input name="checkauthorize" type="checkbox" class="form-control" value=""
                                [(ngModel)]="data.selectpart" (change)="checkedpart(data.selectpart,data,ind,i)">
                        </td>
                        <td>{{ind+1}}</td>
                        <td>{{data.sc_no}}</td>
                        <td>{{data.sc_line_no}}</td>
                        <td>
                            {{data.part_no}}
                        </td>
                        <td>{{data.part}}</td>
                        <td>
                            {{data.part_desc}}
                        </td>
                        <td>
                            {{data.quantity}}
                        </td>
                        <td>
                            {{data.uom}}
                        </td>
                        <td>
                            {{data.pconfirm_date}}
                        </td>
                    </tr>
                    <tr *ngIf="!checkeditems.length">
                        <td colspan="6">No data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
            <button class="btn btn-success btn-small waves-effect waves-light" (click)="planselectedpart()">
                <i class="fa fa-check"></i> Ok</button>
            <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
                <i class="fa fa-times"></i> cancel</button>
        </div>
    </div>
</app-allocpop>

<app-slip-popup [(visible)]="showViewDialog">

    <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 ocn-section">
        <h4 class="text-center">SC Details</h4>
        <div class="table-responsive page-height" style="height:.01% !important">
            <table class="table table-striped table-bordered text-center">
                <thead>
                    <tr>
                        <th width="2%">S.No</th>
                        <th width="2%">SC.No</th>
                        <th width="2%">Line No</th>
                        <th width="3%">Part No</th>
                        <th width="4%">Part Desc</th>
                        <th width="2%">Qty</th>
                        <th width="3%">Uom</th>
                        <th width="3%">Prod confirm date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of planDetailsList; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{data.sc_no}}</td>
                        <td>{{data.sc_line_no}}</td>
                        <td>
                            {{data.part_no}}
                        </td>
                        <td>
                            {{data.part_desc}}
                        </td>
                        <td>
                            {{data.quantity}}
                        </td>
                        <td>
                            {{data.uom}}
                        </td>
                        <td>
                            {{data.pconfirm_date}}
                        </td>
                    </tr>
                    <tr *ngIf="!planDetailsList">
                        <td colspan="6">No data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
            <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
                <i class="fa fa-times"></i> cancel</button>
        </div>
    </div>
</app-slip-popup>