<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- Start content -->
  <div class="content">
    <div class="container">

      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Admin</a>
              </li>
              <li class="active">Login Creation</li>
            </ol>
            <h4 class="page-title">Login Creation</h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <form [formGroup]="userForm" (ngSubmit)="addedituser(userForm.value)">
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">EmployeeName
                            <span class="red">*</span>
                          </label>
                          <input name="ename" type="text" class="form-control" value="" [(ngModel)]="ename" formControlName="ename">
                          <input name="userid" type="hidden" class="form-control" value="" [(ngModel)]="userid" formControlName="userid">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Roles
                            <span class="red">*</span>
                          </label>
                          <ng-select [options]="rolelists"  formControlName="roles" name="roles" [(ngModel)]="roles"></ng-select>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">User Name
                            <span class="red">*</span>
                          </label>
                          <input name="uname" type="text" class="form-control" value="" [(ngModel)]="uname" formControlName="uname">

                        </div>
                      </div>
                    </div> -->
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Mobile Number
                            <span class="red">*</span>
                          </label>
                          <input pKeyFilter="int" (keypress)="restricthypens($event)" name="mobileno" type="text" class="form-control" value="" [(ngModel)]="mobileno" formControlName="mobileno">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Email
                            <span class="red">*</span>
                          </label>
                          <input name="email" type="email" class="form-control" value="" [(ngModel)]="email" formControlName="email">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Department
                            <span class="red">*</span>
                          </label>
                          <ng-select [options]="departments"  formControlName="dpt" name="dpt" [(ngModel)]="dpt" (selected)="selecteddpt($event)"></ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputName2">Status
                            <span class="red">*</span>
                          </label>
                          <select class="form-control" name="status" formControlName="status" name="unit" [(ngModel)]="status">
                            <option *ngFor="let stat of statusarray" [ngValue]="stat.value">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status multi-sel">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Unit
                            <span class="red">*</span>
                          </label>
                          <ng-select multiple="true" [options]="unitlists"  formControlName="unit" name="unit" [(ngModel)]="unit"></ng-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                      <button class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save"
                        type="submit">
                        <i class="fa fa-check"></i> {{buttonname}}</button>
                      <button type="button" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Cancel" (click)="resetform()">
                        <i class="fa fa-ban"></i> Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive">
              <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover table table-striped table-bordered"></table> -->

              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>Employee Name</th>
                    <th>Role</th>
                    <th>Email Id</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of persons; let row_no = index">
                    <td>{{ row_no + 1 }}</td>
                    <td>{{ person.name }}</td>
                    <td>{{ person.role.role_name }}</td>
                    <td>{{ person.email }}</td>
                    <td *ngIf="(person.active_status == 0)" class="text-center">
                      <span>
                        <i class="md md-close close-red"></i>
                      </span>
                    </td>
                    <td *ngIf="(person.active_status == 1)" class="text-center">
                      <span>
                        <i class="md md-check-box"></i>
                      </span>
                    </td>
                    <td>
                      <span>
                        <i class="md md-create " (click)="updateuser(person)"></i>
                      </span>
                      <span>
                        <i class="md md-delete" (click)="deleteuser(person.id)"></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <!-- end content -->

</div>
<!-- ============================================================== -->
<!-- End Right content here -->
