<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Admin</a>
              </li>
              <li class="active">Item Stage Mapping</li>
            </ol>
            <h4 class="page-title">Item Stage Mapping
            </h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <form>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Casting Part No
                            <span class="red">*</span>
                          </label>
                          <div class="left">
                            <ng2-completer class="formcontrol" [openOnClick]="true" [(ngModel)]="casting_partno" name="casting_partno"
                              (selected)="selectpart($event)" [datasource]="items" [minSearchLength]="0"></ng2-completer>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 pull-right">
                      <button type="button" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip"
                        (click)="mapitem()" data-placement="top" title="" data-original-title="Save">
                        <i class="fa fa-check"></i> Submit</button>
                      <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light"
                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel">
                        <i class="fa fa-ban"></i> Cancel</button>
                    </div>
                  </form>
                </div>
              </div>
              <!-- text-->
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
      <!--tab-->
      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive">
              <form [formGroup]="itemForm">
                <table class="table table-striped table-bordered" formArrayName="itemRows">
                  <thead>
                    <tr>
                      <th width="1%" (click)="addNewRow()">
                        <i class="fa fa-plus"></i>
                      </th>
                      <th width="5%">Part No</th>
                      <th width="5%">Part</th>
                      <th width="5%">Part Desc</th>
                      <th width="5%">Material</th>
                      <th width="5%">Dwg No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let itemrow of getform(itemForm); let i=index" [formGroupName]="i">
                      <td>
                        <i class="md md-close" (click)="deleteRow(i)"></i>
                      </td>
                      <td>
                        <input type="hidden" formControlName="partid">
                        <ng2-completer [openOnClick]="true" formControlName="partno" [datasource]="items" (selected)="selectitems($event,i)"
                          [minSearchLength]="0" [attr.title]="itemForm.value.itemRows[i].partno"></ng2-completer>
                      </td>
                      <td><input type="text" [readOnly]="true" class="form-control" formControlName="part" [attr.title]="itemForm.value.itemRows[i].part" /></td>
                      <td><input type="text" [readOnly]="true" class="form-control" formControlName="partdesc"
                          [attr.title]="itemForm.value.itemRows[i].partdesc" /></td>
                      <td><input type="text" [readOnly]="true" class="form-control" formControlName="material"
                          [attr.title]="itemForm.value.itemRows[i].material" /></td>
                      <td><input type="text" [readOnly]="true" class="form-control" formControlName="dwgno"
                          [attr.title]="itemForm.value.itemRows[i].dwgno" /></td>
                    </tr>
                    <tr *ngIf="!getform(itemForm) ?.length">
                      <td colspan="8">No Data</td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<!-- ============================================================== -->
<!-- End Right content here -->