<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/item']">Item</a>
              </li>
              <li class="active">Multiple Stage Item</li>
            </ol>
            <h4 class="page-title">Multiple Stage Item</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <form [formGroup]="multiitemForm">
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Part
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <ng2-completer textNoResults="" formControlName="part" [datasource]="allcomp" name="valve"
                            [(ngModel)]="multiitem.part" [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Part Type
                          <span class="red">*</span>
                        </label>
                        <input name="ptype" type="text" class="form-control box-wid" value="" [(ngModel)]="multiitem.ptype"
                          formControlName="ptype" [readOnly]="true">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Material
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <ng-select [options]="activematerials" [(ngModel)]="multiitem.material" formControlName="material"
                            (selected)="onmatSelected($event)"></ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">MSpec No</label>
                        <input name="mspecno" type="text" class="form-control box-wid" value="" [(ngModel)]="multiitem.mspecno"
                          formControlName="mspecno" [readonly]="true">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">MSpec Rev
                        </label>
                        <input name="mspecrev" type="text" class="form-control box-wid" value="" [(ngModel)]="multiitem.mspecrev"
                          formControlName="mspecrev" [readonly]="true">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Series
                        </label>
                        <ng-select [options]="activeseries" [(ngModel)]="multiitem.series" formControlName="series"></ng-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputName2" class="lbl-wid">Status
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <select class="form-control" name="status" formControlName="status" [(ngModel)]="multiitem.status">
                            <option *ngFor="let stat of statusarray" [ngValue]="stat.value">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm-12 ocn-section ocn-sec border-line" id="partform">
            <div class="col-sm-12">
              <!-- <h4 class="text-left">Billing of material</h4> -->
              <div class="table-responsive">
                <form [formGroup]="partform" autocomplete="on">
                  <table class="table table-striped table-bordered" formArrayName="itemRows">
                    <thead>
                      <tr>
                        <th width="1%" (click)="addNewRow()">
                          <i class="fa fa-plus"></i>
                        </th>
                        <th width="2%">Part no</th>
                        <th width="3%">Part Desc</th>
                        <th width="1%">Part no rev</th>
                        <th width="2%">Valve</th>
                        <th width="2%">Type</th>
                        <th width="2%">Stage</th>
                        <th width="2%">Process</th>
                        <th width="2%">Purc Lead Time</th>
                        <th width="2%">Proc Lead Time</th>
                        <th width="2%">Uom</th>
                        <th width="2%">Dwg line</th>
                        <th width="2%">Dwg No</th>
                        <th width="2%">Rev</th>
                        <th width="2%">Class</th>
                        <th width="2%">Weight</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itemrow of getpartform(partform); let i=index" [formGroupName]="i">
                        <td>
                          <i class="md md-close" (click)="deleteRow(i)"></i>
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="partno" [attr.title]="partform.value.itemRows[i].partno" />
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="partdesc" [attr.title]="partform.value.itemRows[i].partdesc" />
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="partnorev" [attr.title]="partform.value.itemRows[i].partnorev" />
                        </td>
                        <td>
                          <ng2-completer [openOnClick]="true" formControlName="valve" [datasource]="listofactivevalves"
                            [minSearchLength]="0" [attr.title]="partform.value.itemRows[i].valve"></ng2-completer>
                        </td>
                        <td>
                          <div class="left">
                            <ng2-completer [openOnClick]="true" autoMatch="true" formControlName="type" [datasource]="listofactiveTypes"
                              [minSearchLength]="0" [attr.title]="partform.value.itemRows[i].type"></ng2-completer>
                          </div>
                        </td>
                        <td>
                          <div class="left">
                            <ng2-completer [openOnClick]="true" formControlName="stage" (selected)="stageselected($event,i)"
                              [datasource]="listofactivestages" [minSearchLength]="0" [attr.title]="partform.value.itemRows[i].stage"></ng2-completer>
                          </div>
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="process" [readOnly]="true"
                            [attr.title]="partform.value.itemRows[i].process">
                          <input type="hidden" class="form-control" formControlName="processtype" [readOnly]="true">
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="purcchaselt" [attr.title]="partform.value.itemRows[i].purcchaselt" />
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="processlt" [attr.title]="partform.value.itemRows[i].processlt" />
                        </td>
                        <td>
                          <div class="left">
                            <ng2-completer [openOnClick]="true" autoMatch="true" formControlName="uom" [datasource]="listofactiveuoms"
                              [minSearchLength]="0" [attr.title]="partform.value.itemRows[i].uom"></ng2-completer>
                          </div>
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="dwgline" [attr.title]="partform.value.itemRows[i].dwgline" />
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="dwgno" [attr.title]="partform.value.itemRows[i].dwgno" />
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="rev" [attr.title]="partform.value.itemRows[i].rev" />
                        </td>
                        <td>
                          <ng2-completer [openOnClick]="true" formControlName="class" [datasource]="activeclass"
                            [minSearchLength]="0" [attr.title]="partform.value.itemRows[i].class"></ng2-completer>
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="weight" pKeyFilter="num" (keypress)="decimalnumber($event)"
                            [attr.title]="partform.value.itemRows[i].weight" />
                        </td>
                      </tr>
                      <tr *ngIf="!getpartform(partform)?.length">
                        <td colspan="16">No Data</td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
              <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                <button type="button" (click)="addedititems(multiitem)" class="btn btn-success btn-custom waves-effect waves-light"
                  data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                  <i class="fa fa-check"></i> Save</button>
                <button type="button" (click)="cancelitem()" class="btn btn-warning btn-custom waves-effect waves-light"
                  data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel">
                  <i class="fa fa-ban"></i> Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>