<div>
  <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 ocn-section" id="printsection">
    <h4 class="text-center">Comparision Details</h4>
    <div class="table-responsive clearfix">
      <table class="row-border hover table table-striped table-bordered print-view" *ngIf="quotationdetails">
        <thead>
          <tr class="cs">
            <td>S.No</td>
            <td>Part No</td>
            <td>Part Desc</td>
            <td>UOM</td>
            <td>Req Qty</td>
            <td>Prev Rate</td>
            <td *ngFor="let data of quotationdetails[0].sdview">
              {{data.supplier}}
              <!-- <span class="clear-fix" *ngIf="data.is_lowest == 1 &&  data.selected == false">(Lowest)</span>
              <span class="clear-fix" *ngIf="data.selected == true && data.is_lowest == 0">(Quoted)</span>
              <span class="clear-fix" *ngIf="data.is_lowest == 1 && data.selected == true">(Lowest & Quoted)</span> -->
            </td>
            <!-- <th>Del Date</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let datas of quotationdetails; let i = index">
            <!-- <td>
              <input name="checkauthorize" type="checkbox" class="form-control" value="" [(ngModel)]="datas.check" (change)="checkauthorized(datas.check,datas,i)"
                *ngIf="datas.is_po_created != 1">
            </td> -->
            <td>
              {{i+1}}
            </td>
            <td>
              {{datas.part_no}}
            </td>
            <td>
              {{datas.part_desc}}
            </td>
            <td>
              {{datas.uom}}
            </td>
            <td>
              {{datas.req_qty}}
            </td>
            <td>
              <span>
                <b>Rate :</b> {{datas.psdview[0].prev_rate || "-" }}</span>
              <span class="clearfix">
                <b>LC :</b> {{datas.psdview[0].prev_landing_cost || "-" }}</span>
            </td>
            <td *ngFor="let child of datas.sdview; let ind=index" [ngClass]="{'bg-quoted':child.selected == true, 'bg-pending' : child.is_lowest == 1} ">
              <span>
                <b>Rate :</b>{{child.rate}}</span>
              <span class="clearfix">
                <b>LC :</b> {{child.landing_cost}}</span>
            </td>
            <!-- <td></td> -->
          </tr>
          <tr>
            <!-- <td colspan="7"></td> -->
            <!-- <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td> -->
            <td [colSpan]=" 6 + totals.length"></td>
            <!-- <td></td> -->
          </tr>
          <tr>
            <td></td>
            <td class="bold">
              Rate
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{prevtot.prev_amount || "-" }}</td>
            <td *ngFor="let child of totals">
              {{child.amount || '-'}}
            </td>
            <!-- <td></td> -->
          </tr>
          <tr>
            <td></td>
            <td class="bold">
              Discount
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{prevtot.prev_discount || "-" }}</td>
            <td *ngFor="let child of totals">
              {{child.discount || '-'}}
            </td>
            <!-- <td></td> -->
          </tr>
          <tr>
            <td></td>
            <td class="bold">
              CGST
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{prevtot.prev_cgst || "-" }}</td>
            <td *ngFor="let child of totals">
              {{child.cgst || '-'}}
            </td>
            <!-- <td></td> -->
          </tr>
          <tr>
            <td></td>
            <td class="bold">
              SGST
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{prevtot.prev_sgst || "-" }}</td>
            <td *ngFor="let child of totals">
              {{child.sgst || '-'}}
            </td>
            <!-- <td></td> -->
          </tr>
          <tr>
            <td></td>
            <td class="bold">
              IGST
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{prevtot.prev_igst || "-" }}</td>
            <td *ngFor="let child of totals">
              {{child.igst || '-'}}
            </td>
            <!-- <td></td> -->
          </tr>
          <tr>
            <td></td>
            <td class="bold">
              PF
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{prevtot.prev_pf || "-" }}</td>
            <td *ngFor="let child of totals">
              {{child.pf || '-'}}
            </td>
            <!-- <td></td> -->
          </tr>
          <tr>
            <td></td>
            <td class="bold">
              Landing Cost
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{prevtot.prev_landing_cost || "-" }}</td>
            <td *ngFor="let child of totals">
              {{child.landing_cost || '-'}}
            </td>
            <!-- <td></td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-sm-6 m-b-10">
    <div class="col-sm-3 padding-0">
      <span class="box-selected"></span>
      <span class="m-l-5"> Selected </span>
    </div>
    <div class="col-sm-3 padding-0">
      <span class="box-lowest"></span>
      <span class="m-l-5"> Lowest </span>
    </div>
  </div>
  <div class="col-lg-4 col-sm-4 col-md-4 pull-right">
    <button class="btn btn-danger btn-small waves-effect waves-light pull-right" (click)="back()">
      <i class="fa fa-times"></i> Close</button>
    <button class="btn btn-primary btn-small waves-effect waves-light pull-right m-r-5" (click)="printpos()">
      <i class="fa fa-print"></i> Print</button>
  </div>
</div>