<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Reports</a>
              </li>
              <li class="active">Reject Report</li>
            </ol>
            <h4 class="page-title">Reject Report</h4>
          </div>
        </div>
      </div>
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <!-- p-date-invoice-->
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from"
                            name="from" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Part No
                        </label>
                        <div class="left">
                          <ng2-completer [openOnClick]="true" [(ngModel)]="filter.item" name="item" [datasource]="activeitems" [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="getrejreportList()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-body mar-btm">
        <div class="ocn-section ocn-section-wid">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
              <thead>
                <tr>
                  <th>S.NO</th>
                  <th>GRN No</th>
                  <th>Rej Type</th>
                  <th>Rej Date</th>
                  <th>Supplier</th>
                  <th>Rej Qty</th>
                  <th>Rej Date</th>
                  <th>Part No</th>
                  <th>Part</th>
                  <th>Part Desc</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of persons; let row_no = index">
                  <td>
                    {{ row_no + 1 }}
                  </td>
                  <td class="text-left">
                    {{ person.grn_no }}
                  </td>
                  <td class="text-left">
                    {{ person.rej_type }}
                  </td>
                  <td>
                    {{person.rej_date}}
                  </td>
                  <td class="text-left">
                    {{ person.supplier}}
                  </td>
                  <td class="text-right view-center">
                    {{ person.rej_qty }}
                  </td>
                  <td class="text-left">
                    {{ person.rej_date }}
                  </td>
                  <td>
                    {{ person.part_no }}
                  </td>
                  <td>
                    {{ person.part }}
                  </td>
                  <td>
                    {{ person.part_desc }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>