<div class="col-sm-12 p-b-20">
  <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="cancel()">
    <i class="fa fa-times"></i>
  </button>
  <button class="visible-md visible-lg btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
    (click)="printpos()">
    <i class="fa fa-print"></i>
  </button>
</div>

<div class="left page-height col-md-12 col-sm-12 col-xs-12 print-pg" id="printsection" *ngIf="purDetailslineitems">
  <div class="col-sm-12">
    <div class="col-sm-12 col-xs-12">
      <h4 class="text-center od-confirm">Purchase Indent</h4>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="col-md-3 col-sm-2 col-xs-6 pull-right date-box no-pad">
        <div class="text-left bold od-date date-nw">Date :</div>
        <div class="pull-left text-left 0d-txt datev-nw">
          <span>{{purDetailsList.indent_date}}</span>
        </div>
      </div>

      <div class="col-md-3 col-sm-4 col-xs-6 no-pad">
        <div class="text-left bold  date-nw">Indent No :</div>
        <div class="text-left  datev-nw">
          <span>{{purDetailsList.indent_no}}</span>
        </div>
      </div>

    </div>

    <div class="col-md-12 col-sm-12 col-xs-12">

      <div class="col-md-3 col-sm-2 col-xs-6 pull-right date-box no-pad">
        <div class="text-left bold od-date date-nw">Delivery Date :</div>
        <div class="pull-left text-left 0d-txt datev-nw">
          <span>{{purDetailsList.delivery_date}}</span>
        </div>
      </div>

      <div class="col-md-3 col-sm-2 col-xs-6 no-pad">
        <div class="text-left bold od-date date-nw">Department :</div>
        <div class="pull-left text-left 0d-txt datev-nw">
          <span>{{purDetailsList.dept.department_name}}</span>
        </div>
      </div>

    </div>

    <div class="col-sm-12 col-md-12 col-xs-12">
      <div class="col-sm-12">
        <div class="row">
          <div class="ocn-section">
            <div class="table-responsive">
              <table class="table table-striped table-bordered" id="ordertable">
                <thead>
                  <tr>
                    <th width="1%">S.No</th>
                    <th width="2%">Part No</th>
                    <th width="3%">Part</th>
                    <th width="4%">Part Desc</th>
                    <th width="4%">Material</th>
                    <th width="3%">Qty</th>
                    <th width="5%">UOM</th>
                    <th width="3%">Crct.Price</th>
                    <th width="3%">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of purDetailslineitems; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                      {{data.part_no}}
                    </td>
                    <td>{{data.part}}</td>
                    <td>
                      {{data.part_desc}}
                    </td>
                    <td>{{data.material || '-'}}</td>
                    <td>
                      {{data.quantity}}
                    </td>
                    <td>
                      {{data.uom}}
                    </td>
                    <td>
                      {{data.value}}
                    </td>
                    <td>
                      <span *ngIf="data.authorized_sts == 0">Pending</span>
                      <span *ngIf="data.authorized_sts == 1">Approved</span>
                      <span *ngIf="data.authorized_sts == 2">Rejected</span>
                      <span *ngIf="data.authorized_sts == 3">Discussion</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>