<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Planning</a>
              </li>
              <li class="active">Allocation Cancel</li>
            </ol>
            <h4 class="page-title">Allocation Cancel</h4>
          </div>
        </div>
      </div>

      <!--tab-->

      <div class="nav-tabs-custom">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-12 ocn-section">
              <div class="ocn-form">
                <div class="row">
                  <div class="col-md-12 col-sm-12 form-body">
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="">SC No</label>
                          <div class="left">
                            <ng2-completer [openOnClick]="true"  [(ngModel)]="sc" name="sc" (selected)="selectedsc($event)" [datasource]="sclist"
                              [minSearchLength]="0"></ng2-completer>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 pull-right">
                      <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="close">
                        <i class="fa fa-close"></i>
                      </button>
                      <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Submit">
                        <i class="fa fa-mail-forward"></i> Submit</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th width="3%" rowspan="2">Part No</th>
                      <th width="5%" rowspan="2">Part Desc</th>
                      <th width="3%" rowspan="2">Qty</th>
                      <th width="8%" colspan="2" style="text-align:center;">WIP Purchase</th>
                      <th width="8%" colspan="2" style="text-align:center;">WIP Job Process </th>
                      <th width="8%" colspan="2" style="text-align:center;">Stock</th>
                      <th width="8%" colspan="2" style="text-align:center;">Purchase</th>
                      <!-- <th width="3%" rowspan="2">Cancel</th>
                      <th width="3%" rowspan="2">Hold</th> -->
                    </tr>
                    <tr>
                      <th>Alloc. Qty</th>
                      <th>Cancel Qty</th>

                      <th>Alloc. Qty</th>
                      <th>Cancel Qty</th>

                      <th>Alloc. Qty</th>
                      <th>Cancel Qty</th>

                      <th>Alloc. Qty</th>
                      <th>Cancel Qty</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of parent; let indx = index">
                      <td>{{data.part_no}}</td>
                      <td>{{data.part_desc}}</td>
                      <td>{{data.qty}}</td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data.wip_purchase_alloc_qty" [readOnly]="true">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data.wip_purchase_cancel_qty" (keyup)="cancelalloc(data,'wippurchalloc')">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data.wip_process_alloc_qty" [readOnly]="true">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data.wip_process_cancel_qty" (keyup)="cancelalloc(data,'wipprocalloc')">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data.alloc_qty" [readOnly]="true">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data.stock_cancel_qty" (keyup)="cancelalloc(data,'alloc')" pKeyFilter="int"
                          (keypress)="restricthypens($event)">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data.purchase_qty" [readOnly]="true">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data.purchase_cancel_qty" (keyup)="cancelalloc(data,'purch')" pKeyFilter="int"
                          (keypress)="restricthypens($event)">
                      </td>
                      <!-- <td class="text-center">
                        <input type="checkbox" name="approve" [(ngModel)]="data.cancel" (change)="checkcancel(data.cancel,data,indx,'parent')">
                      </td>
                      <td class="text-center">
                        <input type="checkbox" name="approve" [(ngModel)]="data.hold" (change)="checkhold(data.hold,data,indx,'parent')">
                      </td> -->
                    </tr>
                    <tr>
                      <td colspan="13" class="bold" style="text-align: left !important">Item Bom</td>
                    </tr>
                    <tr *ngFor="let data1 of bomdetails; let i = index">
                      <td>{{data1.part_no}}</td>
                      <td>{{data1.part_desc}}</td>
                      <td>{{data1.qty}}</td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data1.wip_purchase_alloc_qty" [readOnly]="true">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data1.wip_purchase_cancel_qty" (keyup)="cancelalloc(data1,'wippurchalloc')">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data1.wip_process_alloc_qty" [readOnly]="true">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data1.wip_process_cancel_qty" (keyup)="cancelalloc(data1,'wipprocalloc')">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data1.alloc_qty" [readOnly]="true">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data1.cancelallocqty" (keyup)="cancelalloc(data1,'alloc')" pKeyFilter="int"
                          (keypress)="restricthypens($event)">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data1.purchase_qty" [readOnly]="true">
                      </td>
                      <td>
                        <input class="form-control" type="text" [(ngModel)]="data1.cancelpurchcqty" (keyup)="cancelalloc(data1,'purch')" pKeyFilter="int"
                          (keypress)="restricthypens($event)">
                      </td>
                      <td class="text-center">
                        <input type="checkbox" name="approve" [(ngModel)]="data1.cancel" (change)="checkcancel(data1.cancel,data1,i,'bom')">
                      </td>
                      <td class="text-center">
                        <input type="checkbox" name="approve" [(ngModel)]="data1.hold" (change)="checkhold(data1.hold,data1,i,'bom')">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--tab-->
    </div>
    <!-- end container -->
  </div>
  <!-- end content -->
  <footer class="footer text-right">2018 © Sakthi Auto Ancillary Private Limited. All Rights Reserved. </footer>
</div>