<div class="col-md-12 overlay" *ngIf="show_loader">
  <div class="loader loaderpos">
    <div class="loader-inner ball-scale-multiple">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div class="nav-tabs-custom">
  <div class="box-body mar-btm">
    <div class="ocn-section">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
          <thead>
            <tr>
              <th rowspan="2">S.NO</th>
              <th rowspan="2">Part No</th>
              <th rowspan="2">Part</th>
              <th rowspan="2">Part Desc</th>
              <th rowspan="2">Rate</th>
              <th rowspan="2">Opening Balance</th>
              <th rowspan="2">Opening Value</th>
              <th rowspan="2">Receipts Qty</th>
              <th rowspan="2">Receipts Value</th>
              <th colspan="3">Issues</th>
              <th rowspan="2">Issues Value</th>
              <th colspan="2">Pending DC</th>
              <th rowspan="2">Closing Balance</th>
              <th rowspan="2">Closing Value</th>
            </tr>
            <tr>
              <th>DC</th>
              <th>Assembly</th>
              <th>Sales DC</th>
              <th>Qty</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of items; let row_no = index">
              <td>
                {{ row_no + 1 }}
              </td>
              <td class="text-left">
                {{ person.item_no }}
              </td>
              <td class="text-left">
                {{ person.part }}
              </td>
              <td class="text-left">
                {{ person.item_desc }}
              </td>
              <td class="text-left">
                {{ person.rate_per_qty }}
              </td>
              <td style="text-align:center !important">
                {{ person.opening_balanace }}
              </td>
              <td style="text-align:right !important">
                {{ person.opening_balanace_value | number}}
              </td>
              <td style="text-align:center !important">
                <a (click)="viewreceipts(person)">{{ person.receipts }}</a>
              </td>
              <td style="text-align:right !important">
                {{ person.receipts_value | number}}
              </td>
              <td style="text-align:center !important">
                <a (click)="viewissues(person)">{{ person.dc_qty }}</a>
              </td>
              <td style="text-align:center !important">
                {{ person.assembly_qty }}
              </td>
              <td style="text-align:center !important">
                {{ person.sales_dc_qty }}
              </td>
              <td style="text-align:right !important">
                {{ person.issues_value | number}}
              </td>
              <td style="text-align:right !important">
                {{ person.pending_dc_qty}}
              </td>
              <td style="text-align:right !important">
                {{ person.pending_dc_value | number}}
              </td>
              <td style="text-align:center !important">
                {{ person.closing_balanace }}
              </td>
              <td style="text-align:right !important">
                {{ person.closing_balanace_value | number}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-slip-popup [(visible)]="showDialog">
  <div class="col-sm-12">
    <div class="row" *ngIf="receiptdetails">
      <div class="col-sm-12 ocn-section">
        <h3 class="text-center">Receipt Details</h3>
        <div class="table-responsive clearfix">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Grn No</th>
                <th>Grn Date</th>
                <th>Supplier</th>
                <th>quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!receiptdetails ?.length">
                <td colspan="5">No data</td>
              </tr>
              <tr *ngFor="let itemrow of receiptdetails; let i=index">
                <td *ngIf="itemrow.inward_type != 'Excel'">{{i+1}}</td>
                <td *ngIf="itemrow.inward_type != 'Excel'">{{itemrow.grn_no}}</td>
                <td *ngIf="itemrow.inward_type != 'Excel'">{{itemrow.grn_date}}</td>
                <td *ngIf="itemrow.inward_type != 'Excel'">{{itemrow.supplier}}</td>
                <td *ngIf="itemrow.inward_type != 'Excel'">{{itemrow.quantity}}</td>
                <td colspan="5" *ngIf="itemrow.inward_type == 'Excel'">Imported From Excel</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
          <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="close()">
            <i class="fa fa-check"></i> OK</button>
        </div>
      </div>
    </div>
  </div>
</app-slip-popup>

<app-slip-popup [(visible)]="showIssueDialog">
  <div class="col-sm-12">
    <div class="row" *ngIf="issuedetails">
      <div class="col-sm-12 ocn-section">
        <h3 class="text-center">Issue Details</h3>
        <div class="table-responsive clearfix">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>S.No</th>
                <th>DC No</th>
                <th>DC Date</th>
                <th>Supplier</th>
                <th>quantity</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!issuedetails ?.length">
                <td colspan="5">No data</td>
              </tr>
              <tr *ngFor="let itemrow of issuedetails; let i=index">
                <td>{{i+1}}</td>
                <td>{{itemrow.dc_no}}</td>
                <td>{{itemrow.dc_date}}</td>
                <td>{{itemrow.supplier}}</td>
                <td>{{itemrow.quantity}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
          <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="close()">
            <i class="fa fa-check"></i> OK</button>
        </div>
      </div>
    </div>
  </div>
</app-slip-popup>