<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <!-- <img src="assets/images/gifs/loader.gif" style="margin:2% 21%" /> -->
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Logistics</a>
              </li>
              <li class="active">A.R.E</li>
            </ol>
            <h4 class="page-title">A.R.E - 1 Defaults
            </h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <form [formGroup]="areform" (ngSubmit)="addeditare(areform.value)">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn field-pad addr">
                          <label for="exampleInputEmail1" class="lbl-wid">Range
                            <span class="red">*</span>
                          </label>
                          <div class="box-wid left">
                            <input name="id" type="hidden" class="form-control" value="" formControlName="id" [(ngModel)]="Are.id">
                            <input name="are" type="text" class="form-control" value="" formControlName="range" [(ngModel)]="Are.range">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn field-pad addr">
                          <label for="exampleInputEmail1" class="lbl-wid">To
                            <span class="red">*</span>
                          </label>
                          <input name="to" type="text" class="form-control box-wid" value="" formControlName="to" [(ngModel)]="Are.to">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn field-pad addr">
                          <label for="exampleInputEmail1" class="lbl-wid">Central Excise Address
                            <span class="red">*</span>
                          </label>
                          <input name="ceadress" type="text" class="form-control box-wid" value="" formControlName="ceadress" [(ngModel)]="Are.ceadress">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-12 col-sm-12 col-md-12">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn field-pad addr">
                          <label for="exampleInputEmail1" class="lbl-wid">Licence
                            <span class="red">*</span>
                          </label>
                          <input name="licence" type="text" class="form-control box-wid" value="" formControlName="licence" [(ngModel)]="Are.licence">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                      <button type="submit" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                        title="" data-original-title="Save">
                        <i class="fa fa-check"></i> Save</button>
                      <!-- <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Cancel">
                        <i class="fa fa-ban"></i> Cancel</button> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>