<div class="content-page">
    <!-- Start content -->
    <div class="content">
      <div class="container trims-plan">
        <!-- Page-Title -->
        <div class="row">
          <div class="col-sm-12 no-b-m">
            <div class="page-title-box">
              <ol class="breadcrumb pull-right">
                <li>
                  <a [routerLink]="['/dashboard']">Dashboard</a>
                </li>
                <li>
                  <a href="javascript:void(0);">Sales</a>
                </li>
                <li class="active">Cancel Confirmation</li>
              </ol>
              <h4 class="page-title">Cancel Confirmation</h4>
            </div>
          </div>
        </div>
  
        <!--tab-->
        <section class="col-lg-12">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="trimd-right-cnt">
          </div>
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-left trims">
              <li class="active dis">
                <a href="#planwise" data-toggle="tab" aria-expanded="true">List</a>
              </li>
              <li class="dis">
                <a href="#contactwise" data-toggle="tab" aria-expanded="false">Detail</a>
              </li>
            </ul>
  
            <div class="tab-content no-padding padding-pad">
              <div class="chart tab-pane active" id="planwise">
                <div class="row">
                  <div class="box-body">
                    <div class="col-sm-12 ocn-section">
                      <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th width="3%">S.No</th>
                              <th width="3%">SC No</th>
                              <th width="5%">Customer name</th>
                              <th width="8%">PO No</th>
                              <th width="8%">Shipment Date</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>
                                <a href="javascript:void(0);">SC111</a>
                              </td>
                              <td>Mahizhan </td>
                              <td>PO111 </td>
                              <td>10-06-2018</td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>
                                <a href="javascript:void(0);">SC131</a>
                              </td>
                              <td>johm </td>
                              <td>PO123 </td>
                              <td>19-07-2018</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart tab-pane" id="contactwise">
                <div class="box-body">
                  <div class="row">
                    <div class="col-sm-12 ocn-section">
  
                      <div class="table-responsive table-resp-pad grn-table after-div">
                        <table class="table table-striped table-bordered cancel-confirm">
                          <thead>
                            <tr>
                              <th width="3%">S.No</th>
                              <th width="5%">Line</th>
                              <th width="5%">Part No</th>
                              <th width="5%">Part </th>
                              <th width="5%">Part Desc</th>
                              <th width="5%">Material</th>
                              <th width="3%">Rev</th>
                              <th width="5%">Drawing</th>
                              <th width="3%">Rev</th>
                              <th width="5%">UOM</th>
                              <th width="5%">Qty</th>
                              <th width="5%">Cancel
                                <br>Qty</th>
                              <th width="5%">Ship-date</th>
                              <th width="6%">Prod
                                <br>confirm_dt</th>
                              <th width="5%">Approved
                                <br>by</th>
                            </tr>
                          </thead>
                          <tbody>
  
                            <tr>
                              <td>1</td>
                              <td>
                                <input type="text" readonly value="1">
                              </td>
                              <td>
                                <input type="text" readonly value="1048344">
                              </td>
                              <td>
                                <input type="text" readonly value="PLAIN WASHER">
                              </td>
                              <td>
                                <input type="text" readonly value="3/8'">
                              </td>
                              <td>
                                <input type="text" readonly value="Stainless Steel 18-8 (304)">
                              </td>
                              <td>
                                <input type="text" readonly value="-">
                              </td>
                              <td>
                                <input type="text" readonly value="SAAP 250-2-14-56">
                              </td>
                              <td>
                                <input type="text" readonly value="A">
                              </td>
                              <td>
                                <input type="text" readonly value="Nos">
                              </td>
                              <td>
                                <input type="text" readonly value="13">
                              </td>
                              <td>
                                <input type="text" value="0">
                              </td>
                              <td>
                                <input type="text" readonly value="16-07-2018">
                              </td>
                              <td>
                                <input type="text" readonly value="select date">
                              </td>
                              <td class="text-center">
                                <div class="checkbox checkbox-primary checkbox-single">
                                  <input id="checkbox1" type="checkbox" checked="">
                                  <label></label>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>2</td>
                              <td>
                                <input type="text" readonly value="2">
                              </td>
                              <td>
                                <input type="text" readonly value="1267533">
                              </td>
                              <td>
                                <input type="text" readonly value="KUL/KGC-Gland">
                              </td>
                              <td>
                                <input type="text" readonly value="3' CASTING">
                              </td>
                              <td>
                                <input type="text" readonly value="ASTM A351 / CF 8M">
                              </td>
                              <td>
                                <input type="text" readonly value="I">
                              </td>
                              <td>
                                <input type="text" readonly value="A46342">
                              </td>
                              <td>
                                <input type="text" readonly value="A">
                              </td>
                              <td>
                                <input type="text" readonly value="Nos">
                              </td>
                              <td>
                                <input type="text" readonly value="12">
                              </td>
                              <td>
                                <input type="text" value="0">
                              </td>
                              <td>
                                <input type="text" readonly value="20-07-2018">
                              </td>
                              <td>
                                <input type="text" readonly value="select date">
                              </td>
                              <td class="text-center">
                                <div class="checkbox checkbox-primary checkbox-single">
                                  <input id="checkbox1" type="checkbox" checked="">
                                  <label></label>
                                </div>
                              </td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td align="center">
                                <input type="text" readonly value="3">
                              </td>
                              <td>
                                <input type="text" readonly value="1178877">
                              </td>
                              <td>
                                <input type="text" readonly value="PLAIN WASHER">
                              </td>
                              <td>
                                <input type="text" readonly value="1/2">
                              </td>
                              <td>
                                <input type="text" readonly value="Stainless Steel 18-8 (304)">
                              </td>
                              <td>
                                <input type="text" readonly value="-">
                              </td>
                              <td>
                                <input type="text" readonly value="SAAP 250-2-14-56">
                              </td>
                              <td>
                                <input type="text" readonly value="A">
                              </td>
                              <td>
                                <input type="text" readonly value="Nos">
                              </td>
                              <td>
                                <input type="text" readonly value="10">
                              </td>
                              <td>
                                <input type="text" value="0">
                              </td>
                              <td>
                                <input type="text" readonly value="20-07-2018">
                              </td>
                              <td>
                                <input type="text" readonly value="select date">
                              </td>
                              <td class="text-center">
                                <div class="checkbox checkbox-primary checkbox-single">
                                  <input id="checkbox1" type="checkbox" checked="">
                                  <label></label>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--tab-->
      </div>
      <!-- end container -->
    </div>
    <!-- end content -->
    <footer class="footer text-right">2018 © Sakthi Auto Ancillary Private Limited. All Rights Reserved. </footer>
  </div>