<section class="col-lg-12">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <!-- <img src="assets/images/gifs/loader.gif" style="margin:2% 21%" /> -->
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 overlay" *ngIf="show_update_loader">
        <!-- <img src="assets/images/gifs/loader.gif" style="margin:2% 21%" /> -->
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- Custom tabs (Charts with tabs)-->
    <div class="trimd-right-cnt">
        <ul>
            <!-- <li>
                <button class="btn btn-sm btn-primary" (click)="download()">Click</button>
            </li> -->
            <li>
                <button class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip"
                    data-placement="top" title="" data-original-title="Submit" id="sub" style="display:none">
                    <i class="ti-files"></i>
                </button>
            </li>
            <li *ngIf="url=='/salesorder'">
                <button (click)="resetform()" class="btn btn-danger btn-custom waves-effect waves-light" data-toggle="tooltip"
                    data-placement="top" title="" data-original-title="Cancel">
                    <i class="fa fa-paint-brush"></i>
                </button>
            </li>
            <!-- <li><span class="trim-count">Trims Count: 40</span></li> -->
        </ul>
    </div>
    <div class="nav-tabs-custom tab-trim">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-left trims">
            <li class="active dis">
                <a href="#tplan" data-toggle="tab" aria-expanded="true">Customer</a>
            </li>
            <li class="dis">
                <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false">Order Detail</a>
            </li>
            <li class="dis">
                <a href="#sensitive" data-toggle="tab" aria-expanded="false">Commercial</a>
            </li>
            <li class="" id="able">
                <a href="#non-sensitive" data-toggle="tab" aria-expanded="false">Packing</a>
            </li>
            <!--<span class="trim-count"><strong>Trims Count:</strong> <span class="h-lit">40</span></span>-->
        </ul>

        <div class="tab-content no-padding padding-pad">

            <!-- Morris chart - Sales -->
            <div class="chart tab-pane active" id="tplan">

                <div class="row">
                    <div class="box-body">
                        <div class="col-sm-12 gray-box text-center sales-item">
                            <form class="form-inline border-line">
                                <div class="grey-small tab-wid nw-grey nw-ddv">
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn ">
                                                <label for="exampleInputName2" class="lbl-wid">Customer
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="grey-lfts left box-wid">
                                                    <ng2-completer [openOnClick]="true" [(ngModel)]="contact" name="contact"
                                                        (selected)="selectedcontact($event)" [datasource]="allcontacts"
                                                        [minSearchLength]="0"></ng2-completer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn ">
                                                <label for="exampleInputName2" class="lbl-wid">SC Order Type
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="left box-wid">
                                                    <select class="form-control" class="form-control" name="scorder"
                                                        [(ngModel)]="scorder">
                                                        <option [ngValue]="0" disabled selected>Select order</option>
                                                        <option *ngFor="let stat of scorderarray" [ngValue]="stat.name">{{stat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputName2">SC Type
                                                    <span class="red">*</span>
                                                </label>
                                                <select name="sctype" class="form-control" [(ngModel)]="sctype">
                                                    <option [ngValue]="0" disabled selected>Select type</option>
                                                    <option *ngFor="let stat of sctypearray" [ngValue]="stat.name">{{stat.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn">
                                                <label for="exampleInputName2" class="lbl-wid">SC No
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="left box-wid">
                                                    <input name="scno" type="text" class="form-control" [(ngModel)]="scno">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn">
                                                <label for="exampleInputName2" class="lbl-wid">SC Date
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="input-group box-wid">
                                                    <input class="form-control full-width" style="width:100% !important"
                                                        ngx-mydatepicker name="salesdate" [options]="myTabOption" #sc="ngx-mydatepicker"
                                                        [readonly]="true" [(ngModel)]="salesdate" name="salesdate" />
                                                    <span class="input-group-addon bg-primary b-0 text-white" (click)="sc.toggleCalendar()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                                </div>
                                                <!-- <div class="input-group grey-lfts" style="float:left; width:136px;">
                                                    <input class="form-control full-width" [(ngModel)]="salesdate" name="salesdate" [readonly]="true" />
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="grey-small" style="padding-bottom:0;">
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status add-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputName2" class="extra-wid3">Address
                                                    <span class="red">*</span>
                                                </label>
                                                <span class="label-pad">New</span>
                                                <input name="text" type="checkbox" class="checkbox check-new"
                                                    [(ngModel)]="adrvalue" (change)="checkednewddress(adrvalue)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="addressone" type="text" placeholder="Address" class="form-control auto-form"
                                                    [readonly]="adreseditable" [(ngModel)]="addressone">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="addresstwo" type="text" placeholder="City & Pincode" class="form-control auto-form"
                                                    [readonly]="adreseditable" [(ngModel)]="addresstwo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="addressthree" type="text" placeholder="State" class="form-control auto-form"
                                                    [readonly]="adreseditable" [(ngModel)]="addressthree">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="addressfour" type="text" placeholder="Country" class="form-control auto-form"
                                                    [readonly]="adreseditable" [(ngModel)]="addressfour">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 clearfix">
                                        <div class="ocn-status add-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputName2" class="extra-wid3">Inv.Address
                                                    <span class="red">*</span>
                                                </label>
                                                <span class="label-pad">New</span>
                                                <input name="text" type="checkbox" class="checkbox check-new"
                                                    [(ngModel)]="Invvalue" (change)="checkednewinvddress(Invvalue)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="Invoiceadrsone" placeholder="Invoice Adrress" type="text"
                                                    class="form-control auto-form" [readonly]="Invadrsnoneditable"
                                                    [(ngModel)]="Invoiceadrsone">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="Invoiceadrstwo" placeholder="City & Pincode" type="text"
                                                    class="form-control auto-form" [readonly]="Invadrsnoneditable"
                                                    [(ngModel)]="Invoiceadrstwo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="Invoiceadrsthree" placeholder="State" type="text" class="form-control auto-form"
                                                    [readonly]="Invadrsnoneditable" [(ngModel)]="Invoiceadrsthree">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="Invoiceadrsfour" placeholder="Country" type="text" class="form-control auto-form"
                                                    [readonly]="Invadrsnoneditable" [(ngModel)]="Invoiceadrsfour">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 clearfix">
                                        <div class="ocn-status add-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputName2" class="extra-wid3">Ship.Address
                                                    <span class="red">*</span>
                                                </label>
                                                <span class="label-pad">New</span>
                                                <input name="text" type="checkbox" class="checkbox check-new"
                                                    [(ngModel)]="Shipvalue" (change)="checkednewshipaddress(Shipvalue)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="ShippingAdrsone" placeholder="Ship Address" type="text"
                                                    class="form-control auto-form" [readonly]="Shiadrsnoneditable"
                                                    [(ngModel)]="ShippingAdrsone">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="ShippingAdrstwo" placeholder="City & Pincode" type="text"
                                                    class="form-control auto-form" [readonly]="Shiadrsnoneditable"
                                                    [(ngModel)]="ShippingAdrstwo">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="ShippingAdrsthree" placeholder="State" type="text" class="form-control auto-form"
                                                    [readonly]="Shiadrsnoneditable" [(ngModel)]="ShippingAdrsthree">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <input name="ShippingAdrsfour" placeholder="Country" type="text" class="form-control auto-form"
                                                    [readonly]="Shiadrsnoneditable" [(ngModel)]="ShippingAdrsfour">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="grey-small1 padding-top gry-ddm">
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group field-pad madeups ocn">
                                            <label for="exampleInputName2" class="lbl-wid">PO No
                                                <span class="red">*</span>
                                            </label>
                                            <input name="pono" type="text" class="form-control box-wid" [(ngModel)]="pono">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group field-pad madeups ocn ">
                                            <label for="exampleInputName2" class="lbl-wid">PO Date
                                                <!-- <span class="red">*</span> -->
                                            </label>
                                            <div class="input-group box-wid">
                                                <input class="form-control full-width" ngx-mydatepicker name="startDate"
                                                    [options]="myOptions" #po="ngx-mydatepicker" [readonly]="true"
                                                    [(ngModel)]="podate" name="podate" />
                                                <span class="input-group-addon bg-primary b-0 text-white" (click)="po.toggleCalendar()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group field-pad madeups ocn ">
                                            <label for="exampleInputName2" class="lbl-wid">Payment Term
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left box-wid">
                                                <ng2-completer [openOnClick]="true" [(ngModel)]="paymenttermcus" name="paymenttermcus"
                                                    (selected)="selectedpayterm($event)" [datasource]="payterms"
                                                    [minSearchLength]="0"></ng2-completer>
                                            </div>
                                            <!-- <input ngui-auto-complete class="form-control" [source]="alldepts" [list-formatter]="autocompleListFormatter" value-property-name="id"
                display-property-name="department_name"  class="form-control" [(ngModel)]="paymentterm"
                name="paymentterm" (valueChanged)="selectedpayterm($event)" [disabled]="edit"> -->
                                            <!-- <span class="trims-alloc-plus" data-toggle="modal" data-target="#con-close-modal1">
                                                <button class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add Type">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group field-pad madeups ocn ">
                                            <label for="exampleInputName2" class="lbl-wid">Port of Loading
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left box-wid">
                                                <ng2-completer [openOnClick]="true" [(ngModel)]="portloading" name="portloading"
                                                    (selected)="selectedportload($event)" [datasource]="allPorts"
                                                    [minSearchLength]="0"></ng2-completer>
                                            </div>
                                            <!-- <input ngui-auto-complete class="form-control" [source]="alldepts" [list-formatter]="autocompleListFormatter" value-property-name="id"
                display-property-name="department_name"  class="form-control" [(ngModel)]="portloading"
                name="portloading" (valueChanged)="selectedportload($event)" [disabled]="edit"> -->
                                            <!-- <span class="trims-alloc-plus" data-toggle="modal" data-target="#con-close-modal1">
                                                <button style="margin-right:20px;" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                                                    title="" data-original-title="Add Type">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group field-pad madeups ocn ">
                                            <label for="exampleInputName2" class="lbl-wid">Port of Discharge
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left box-wid">
                                                <ng2-completer [openOnClick]="true" [(ngModel)]="postdischarge" name="postdischarge"
                                                    (selected)="selectedportdischarge($event)" [datasource]="allPorts"
                                                    [minSearchLength]="0"></ng2-completer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group field-pad madeups ocn ">
                                            <label for="exampleInputName2" class="lbl-wid">Delivery Term/Inco Term
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left box-wid">
                                                <ng2-completer [openOnClick]="true" [(ngModel)]="deliveryterm" name="deliveryterm"
                                                    [datasource]="delterms" [minSearchLength]="0"></ng2-completer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group field-pad madeups ocn ">
                                            <label for="exampleInputName2" class="lbl-wid">Mode of Shipment
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left box-wid">
                                                <select class="form-control box-wid" name="mode" name="unit"
                                                    [(ngModel)]="mode">
                                                    <option [ngValue]="0" disabled>Select mode</option>
                                                    <option *ngFor="let mode of modearray" [ngValue]="mode.name">{{mode.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group field-pad madeups ocn ">
                                            <label for="exampleInputName2" class="lbl-wid">Shipment Date
                                                <!-- <span class="red">*</span> -->
                                            </label>
                                            <div class="input-group box-wid">
                                                <input class="form-control full-width" ngx-mydatepicker name="startDate"
                                                    [options]="mydisoptionleft" #sd="ngx-mydatepicker" [readonly]="true"
                                                    [(ngModel)]="shipdate" name="shipdate" />
                                                <span class="input-group-addon bg-primary b-0 text-white" (click)="sd.toggleCalendar()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group field-pad madeups ocn ">
                                            <label for="exampleInputName2" class="lbl-wid">Sales Person
                                            </label>
                                            <input name="text" type="text" class="form-control box-wid" [readonly]="true"
                                                [(ngModel)]="salesperson">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status">
                                        <div class="form-group field-pad madeups ocn ">
                                            <label for="exampleInputName2" class="lbl-wid">Currency
                                                <span class="red">*</span>
                                            </label>
                                            <div class="left box-wid">
                                                <ng2-completer [openOnClick]="true" [(ngModel)]="currency" name="currency"
                                                    [datasource]="allcurrencies" [minSearchLength]="0"></ng2-completer>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-4 col-md-4">
                                    <div class="ocn-status upload-ocn">
                                        <div class="form-group madeups ocn field-pad">
                                            <label for="exampleInputName2" class="lbl-wid">Attach File</label>
                                            <div class="left box-wid upload-box">
                                                <div class="fileupload btn btn-purple waves-effect waves-light left"
                                                    style="top : 0 !important;padding: 3px 7px !important">
                                                    <i class="md md-file-upload"></i>
                                                    <input type="file" multiple class="upload" id="avatar" style="width: 100%;height: 100%"
                                                        (change)="onFileChange($event,filenames)" #fileInput>
                                                </div>
                                                <input type="text" class="form-control " [(ngModel)]="filenames"
                                                    [readonly]="true" />
                                                <button type="button" class="clear-btn right close-btn" (click)="clearFile()">X</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart tab-pane" id="trim-vs-articles">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 ocn-section">
                            <div class="table-responsive">
                                <form [formGroup]="orderForm">
                                    <table class="table table-striped table-bordered" formArrayName="itemRows">
                                        <thead>
                                            <tr>
                                                <th width="1%" (click)="addNewRow()">
                                                    <i class="fa fa-plus"></i>
                                                </th>
                                                <th width="2%">Line</th>
                                                <th width="4%">Part No</th>
                                                <th width="3%">Part</th>
                                                <th width="3%">Part Desc</th>
                                                <th width="3%">Material</th>
                                                <th width="1%"> Rev</th>
                                                <th width="3%">Drawing</th>
                                                <th width="1%"> Rev</th>
                                                <th width="2%">UOM</th>
                                                <th width="2%">Qty</th>
                                                <th width="3%">Rate</th>
                                                <th width="3%">Total</th>
                                                <th width="4%">Ship-date</th>
                                                <th width="3%">Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="!getorderform(orderForm)?.length">
                                                <td colspan="15">No data</td>
                                            </tr>
                                            <tr *ngFor="let itemrow of getorderform(orderForm); let i=index"
                                                [formGroupName]="i">
                                                <td>
                                                    <i class="md md-close" (click)="deleteRow(i)"></i>
                                                </td>
                                                <td>
                                                    <input type="hidden" class="form-control" formControlName="id" />
                                                    <input type="hidden" class="form-control" formControlName="sales_order_id" />
                                                    <input type="text" class="form-control" formControlName="line" />
                                                </td>
                                                <td>
                                                    <ng2-completer [openOnClick]="true" formControlName="part_no"
                                                        (selected)="selectedline($event,i)" [datasource]="dataService"
                                                        [minSearchLength]="0" [attr.title]="orderForm.value.itemRows[i].part_no"
                                                        [attr.title]="orderForm.value.itemRows[i].part_no"></ng2-completer>
                                                </td>
                                                <td>
                                                    <input type="hidden" class="form-control" formControlName="partid" />
                                                    <input type="hidden" class="form-control" formControlName="part_type" />
                                                    <input type="text" class="form-control" formControlName="part"
                                                        [readonly]="true" [attr.title]="orderForm.value.itemRows[i].part" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="partdesc"
                                                        [readonly]="true" [attr.title]="orderForm.value.itemRows[i].partdesc" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="material"
                                                        [readonly]="true" [attr.title]="orderForm.value.itemRows[i].material" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="materialrev"
                                                        [readonly]="true" [attr.title]="orderForm.value.itemRows[i].materialrev" />
                                                    <input type="hidden" class="form-control" formControlName="component" />
                                                    <input type="hidden" class="form-control" formControlName="component_desc" />
                                                    <input type="hidden" class="form-control" formControlName="squantity" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="drawing"
                                                        [readonly]="true" [attr.title]="orderForm.value.itemRows[i].drawing" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="rev"
                                                        [readonly]="true" [attr.title]="orderForm.value.itemRows[i].rev" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="uom"
                                                        [readonly]="true" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="Qty"
                                                        (keyup)="calculatetotal()" pKeyFilter="int" (keypress)="restricthypens($event)" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="Price"
                                                        (keyup)="calculatetotal()" pKeyFilter="num" (keypress)="decimalnumber($event)"
                                                        style="text-align: right" />
                                                </td>
                                                <td>
                                                    {{subtotal(orderForm.controls.itemRows.value[i]) | number}}
                                                </td>
                                                <td>
                                                    <input (click)="td.toggleCalendar()" class="form-control full-width"
                                                        formControlName="shipmentDate" ngx-mydatepicker name="shipmentDate"
                                                        [options]="mydisoptionright" #td="ngx-mydatepicker" [readonly]="true" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="Remarks"
                                                        [attr.title]="orderForm.value.itemRows[i].Remarks" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="chart tab-pane" id="sensitive">
                <div class="box-body row m-b-0">
                    <div class="col-sm-12 no-pad">
                        <div class="col-lg-12 ocn-section">
                            <div class="table-responsive ">
                                <form [formGroup]="paymentForm">
                                    <table class="table table-striped table-bordered" formArrayName="itemPayRows">
                                        <thead>
                                            <tr>
                                                <th width="3%" (click)="addNewpaymentRow()">
                                                    <i class="fa fa-plus"></i>
                                                </th>
                                                <th width="3%">S.No</th>
                                                <th width="5%">Payment Type</th>
                                                <th width="5%">Payment Terms</th>
                                                <th width="5%">Payment(%)</th>
                                                <th width="5%">Credit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="!getpaymentform(paymentForm)?.length">
                                                <td colspan="6">No data</td>
                                            </tr>
                                            <tr *ngFor="let itemrow of getpaymentform(paymentForm); let i=index"
                                                [formGroupName]="i">
                                                <td>
                                                    <i class="md md-close" (click)="deletePayRow(i)"></i>
                                                </td>
                                                <td>{{i+1}}</td>
                                                <td>
                                                    <select name="sctype" class="form-control" formControlName="paymenttype"
                                                        (change)="paytypeselected(paymentForm.controls.itemPayRows.value[i].paymenttype,i)">
                                                        <!-- <option [ngValue]="0" disabled selected>Select type</option> -->
                                                        <option *ngFor="let stat of Paytype" [ngValue]="stat.name">{{stat.name}}</option>
                                                    </select>
                                                    <!-- <ng2-completer [openOnClick]="true" formControlName="paymenttype" (selected)="selectedpaytype($event,i)" [datasource]="payterms" [minSearchLength]="0"></ng2-completer> -->
                                                </td>
                                                <td>
                                                    <ng2-completer *ngIf="paymentForm.controls.itemPayRows.value[i].paymenttype == 'LC' "
                                                        [openOnClick]="true" formControlName="paymentterm" (selected)="selectedpaymentterm($event,i)"
                                                        [datasource]="paytermsLC" [minSearchLength]="0" [attr.title]="paymentForm.value.itemPayRows[i].paymentterm"></ng2-completer>

                                                    <ng2-completer *ngIf="paymentForm.controls.itemPayRows.value[i].paymenttype == 'NONLC' "
                                                        [openOnClick]="true" formControlName="paymentterm" (selected)="selectedpaymentterm($event,i)"
                                                        [datasource]="payterms" [minSearchLength]="0" [attr.title]="paymentForm.value.itemPayRows[i].paymentterm"></ng2-completer>
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="paymentpercentage"
                                                        (keyup)="clacPercentage(index)" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" formControlName="credit" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chart tab-pane " id="non-sensitive">
                <div class="box-body row">
                    <div class="col-sm-12 no-pad">
                        <div style="min-height:200px;">
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn ">
                                        <label for="exampleInputEmail1">Packing Type</label>
                                        <input name="text" type="text" class="form-control" [(ngModel)]="packingtype"
                                            name="packingtype">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn ">
                                        <label for="exampleInputEmail1">Bundle</label>
                                        <input name="text" type="text" class="form-control" [(ngModel)]="Bundle" name="Bundle">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grey-small1 padding-top" style="padding: 10px ;border:none; border-top:1px solid #ddd;background-color:#fff">
            <div class="col-lg-6 col-sm-4 col-md-4">
                <div class="ocn-status special-ocn">
                    <div class="form-group madeups ocn ">
                        <label for="exampleInputName2" class="small-wid">Special Instructions</label>
                        <textarea name="remarks" type="text" class="form-control" value="" style="width:65%;"
                            [(ngModel)]="remarks"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-4">
                <div class="ocn-status">
                    <div class="form-group madeups ocn ">
                        <label for="exampleInputName2" class="extra-wid3">Total Ord Qty
                            <span class="red">*</span>
                        </label>
                        <span class="bold"> {{totalquantity }} </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-4">
                <div class="ocn-status">
                    <div class="form-group madeups ocn ">
                        <label for="exampleInputName2" class="extra-wid4">Total Price
                            <span class="red">*</span>
                        </label>
                        <span class="bold"> {{total | number}} </span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                <!--===================sales order button ================-->
                <button *ngIf="url=='/salesorder'" (click)="saveOrder('1','save')" class="btn btn-success btn-custom waves-effect waves-light"
                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                    <i class="fa fa-check"></i> Save</button>
                <button *ngIf="url=='/salesorder'" (click)="saveOrder('0','submit')" class="btn btn-primary btn-custom waves-effect waves-light"
                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Submit">
                    <i class="fa fa-mail-forward"></i> Submit</button>
                <!--=================== sales order button END ================-->

                <button *ngIf="status == 1" (click)="saveOrder('0','update')" class="btn btn-primary btn-custom waves-effect waves-light"
                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Submit">
                    <i class="fa fa-mail-forward"></i> Submit</button>
                <button *ngIf="status == 1 || status == 0" (click)="cancel()" class="btn btn-danger btn-custom waves-effect waves-light"
                    data-toggle="tooltip" data-placement="top" title="" data-original-title="Submit">
                    <i class="md md-close"></i> Cancel</button>

            </div>
        </div>
    </div>
</section>