<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container trims-plan">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a [routerLink]="['/pendingplan']">Pending Plan</a>
                            </li>
                            <li class="active">Pending Allocation</li>
                        </ol>
                        <h4 class="page-title">Pending Allocation</h4>
                    </div>
                </div>
            </div>

            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-left trims">
                    <li class="active dis">
                        <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
                    </li>
                    <!-- *ngIf="showtab" -->
                    <li class="dis" *ngIf="showtab">
                        <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
                    </li>
                </ul>

                <div class="tab-content no-padding padding-pad ">
                    <div class="chart tab-pane active" id="tplan">
                        <div class="nav-tabs-custom">
                            <div class="box-body mar-btm">
                                <div class="ocn-section">
                                    <div class="table-responsive">
                                        <table class="row-border hover table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="5%"></th>
                                                    <th>S.NO</th>
                                                    <th>SC.NO</th>
                                                    <th>Line No</th>
                                                    <th>Part No</th>
                                                    <th>Part</th>
                                                    <th>Part Desc</th>
                                                    <th>UOM</th>
                                                    <th>Qty</th>
                                                    <th>Ship Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let person of plandetails; let row_no = index">
                                                    <td>
                                                        <input name="checkauthorize" type="checkbox"
                                                            class="form-control" value=""
                                                            [(ngModel)]="person.checkauthorize"
                                                            (change)="checkauthorized(person.checkauthorize,person,row_no)">
                                                    </td>
                                                    <td>
                                                        {{ row_no + 1 }}
                                                    </td>
                                                    <td class="text-left">
                                                        {{ person.sc_no }}
                                                    </td>
                                                    <td class="text-left">
                                                        {{ person.sc_line_no }}
                                                    </td>
                                                    <td class="text-left">
                                                        {{ person.part_no }}
                                                    </td>
                                                    <td> {{ person.part }}</td>
                                                    <td class="text-left">
                                                        {{ person.part_desc }}
                                                    </td>
                                                    <td class="text-left">{{ person.uom }}</td>
                                                    <td>{{ person.qty }}</td>
                                                    <td>{{person.pconfirm_date}}</td>
                                                </tr>
                                                <tr *ngIf="!plandetails?.length">
                                                    <td colspan="7">No Data</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn btn-danger btn-custom waves-effect waves-light pull-right "
                                            (click)="clearall()">
                                            <i class="fa fa-paint-brush"></i>Clear all</button>

                                        <button
                                            class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5"
                                            (click)="group()">
                                            <i class="fa fa-check"></i>Group</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart tab-pane" id="trim-vs-articles">
                        <div class="col-sm-12 p-b-10">
                            <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right "
                                (click)="closetab()">
                                <i class="fa fa-close"></i>
                            </button>
                            <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
                                (click)="saveentry(2)">
                                <i class="fa fa-mail-forward"></i>Submit
                            </button>
                            <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5"
                                (click)="saveentry(1)">
                                <i class="fa fa-check"></i>Save
                            </button>
                        </div>
                        <div class="box-body mar-btm">
                            <div class="ocn-section">
                                <div class="table-responsive">
                                    <table class="row-border hover table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <!-- <th></th> -->
                                                <th width="5%" rowspan="2">Part No</th>
                                                <th width="5%" rowspan="2">Part</th>
                                                <th width="5%" rowspan="2">Part Desc</th>
                                                <th width="5%" rowspan="2">UOM</th>
                                                <th width="5%" rowspan="2">Req qty</th>
                                                <th width="5%" rowspan="2">Res Qty</th>
                                                <th width="5%" rowspan="2">Open Qty</th>
                                                <th width="20%" colspan="2">WIP</th>
                                                <th width="10%" rowspan="2">Stock Alloc Qty</th>
                                                <th width="10%" rowspan="2">Purch Qty</th>
                                                <!-- <th width="5%" rowspan="2">Bal</th> -->
                                                <th width="5%" rowspan="2">Purch ld time (days)</th>
                                                <th width="5%" rowspan="2">Proc ld time (days)</th>
                                                <th width="10%" rowspan="2">Ship Date</th>
                                            </tr>
                                            <tr>
                                                <th>Proc Qty</th>
                                                <th>Purch Qty</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let person of parent; let row_no = index">
                                                <td class="text-left">
                                                    {{ person.part_no }}
                                                </td>
                                                <td class="text-left">
                                                    {{ person.part }}
                                                </td>
                                                <td class="text-left">
                                                    {{ person.part_desc }}
                                                </td>
                                                <td class="text-left">{{ person.uom }}</td>
                                                <td>{{ person.qty }}</td>
                                                <td>{{ person.reservedQty }}</td>
                                                <td [ngClass]="{'bg-quoted':person.openqty != 0}">{{ person.openqty }}
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="alloc_qty"
                                                        [(ngModel)]="person.wip_process_alloc_qty"
                                                        (focus)="showallocpop(person)" autocomplete="off" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="alloc_qty"
                                                        [(ngModel)]="person.wip_purchase_alloc_qty"
                                                        (focus)="showallocpop(person)" autocomplete="off" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="alloc_qty"
                                                        [(ngModel)]="person.alloc_qty" (focus)="showallocpop(person)"
                                                        autocomplete="off" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="purchase_qty"
                                                        [(ngModel)]="person.purchase_qty" (focus)="showallocpop(person)"
                                                        autocomplete="off" />
                                                </td>
                                                <td [hidden]="true">
                                                    {{checkmainbalanceqty(person.qty,person.alloc_qty,person.purchase_qty,person)}}
                                                </td>
                                                <td>{{person.purchase_lead_time}}</td>
                                                <td>{{person.process_lead_time}}</td>
                                                <td>{{person.pconfirm_date}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="15" class="bold" style="text-align: left !important">Item
                                                    Bom</td>
                                            </tr>
                                            <tr *ngFor="let bom of bomdetails; let row_no = index"
                                                [ngClass]="{'bgPro':bom.parent_part_no == parentpartno}">
                                                <td class="text-left">
                                                    {{ bom.part_no }}
                                                </td>
                                                <td class="text-left">
                                                    {{ bom.part }}
                                                </td>
                                                <td class="text-left">
                                                    {{ bom.part_desc }}
                                                </td>
                                                <td class="text-left">{{ bom.uom }}</td>
                                                <td>{{calcqty(bom)}}</td>
                                                <td>{{ bom.reservedQty }}</td>
                                                <td [ngClass]="{'bg-quoted':bom.openqty != 0}">{{ bom.openqty }}</td>
                                                <td>
                                                    <input type="text" class="form-control" name="alloc_qty"
                                                        [(ngModel)]="bom.wip_process_alloc_qty"
                                                        (focus)="showallocpop(bom)" autocomplete="off" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="alloc_qty"
                                                        [(ngModel)]="bom.wip_purchase_alloc_qty"
                                                        (focus)="showallocpop(bom)" autocomplete="off" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="alloc_qty"
                                                        [(ngModel)]="bom.alloc_qty" (focus)="showallocpop(bom)"
                                                        autocomplete="off" />
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" name="purchase_qty"
                                                        [(ngModel)]="bom.purchase_qty" (focus)="showallocpop(bom)"
                                                        autocomplete="off" />
                                                </td>
                                                <td [hidden]="true">
                                                    {{checkmainbalanceqty(bom.qty,bom.alloc_qty,bom.purchase_qty,bom)}}
                                                </td>
                                                <td>{{bom.purchase_lead_time}}</td>
                                                <td>{{bom.process_lead_time}}</td>
                                                <td>{{bom.pconfirm_date}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="15" *ngIf="!bomdetails ?.length"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="nav-tabs-custom page-height">
                <div class="box-body mar-btm">
                    <div class="col-sm-12 ocn-section">
                        <div class="table-responsive">
                            <p-treeTable [value]="treetable">
                                <p-column field="" header="Action">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        <input type="checkbox" [(ngModel)]="node.data.checked_status" (change)="selectednode(node,node.data.checked_status,node.data)">
                                    </ng-template>
                                </p-column>
                                <p-column field="part_no" header="Part No">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        {{node.data.part_no}}
                                    </ng-template>
                                </p-column>
                                <p-column field="part_desc" header="Part Desc">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        {{node.data.part_desc}}
                                    </ng-template>
                                </p-column>
                                <p-column field="uom" header="Uom">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        {{node.data.uom}}
                                    </ng-template>
                                </p-column>
                                <p-column field="qty" header="Req Qty">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        {{node.data.qty}}
                                    </ng-template>
                                </p-column>
                                <p-column field="reservedQty" header="Res Qty">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        {{node.data.reservedQty}}
                                    </ng-template>
                                </p-column>
                                <p-column field="openqty" header="open Qty">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        {{node.data.openqty}}
                                    </ng-template>
                                </p-column>
                                <p-column field="alloc_qty" header="Allocated Qty">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        <input type="text" [(ngModel)]="node.data.alloc_qty" class="form-control" (keyup)="allocqty(node,node.data.alloc_qty,i,node.data.purchase_qty)">
                                    </ng-template>
                                </p-column>
                                <p-column field="purchase_qty" header="To Purchase">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        <input type="text" [(ngModel)]="node.data.purchase_qty" class="form-control" (keyup)="allocqty(node,node.data.alloc_qty,i,node.data.purchase_qty)">
                                    </ng-template>
                                </p-column>
                                <p-column field="balqty" header="Bal">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        {{checkbalanceqty(node.data.qty,node.data.alloc_qty,node.data.openqty,node.data.purchase_qty)}}
                                    </ng-template>
                                </p-column>
                                <p-column field="purchase_lead_time" header="Purch Lead time">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        {{node.data.purchase_lead_time}}
                                    </ng-template>
                                </p-column>
                                <p-column field="process_lead_time" header="Proc Lead time">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        {{node.data.process_lead_time}}
                                    </ng-template>
                                </p-column>
                                <p-column field="pconfirm_date" header="Ship Date">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        {{node.data.pconfirm_date}}
                                    </ng-template>
                                </p-column>
                                <p-column field="view" header="view">
                                    <ng-template let-node="rowData" let-i="rowIndex" pTemplate="body">
                                        <span *ngIf="node.data.detailList">
                      <a (click)="getitemdetail(node.data.detailList)">
                        <i class="fa fa-eye"></i>
                      </a>
                    </span>
                                    </ng-template>
                                </p-column>
                            </p-treeTable>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<app-sc-detail-popup [(visible)]="showDialog" *ngIf="itemdetails">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 ocn-section">
                <h3 class="text-center">Stock Entered Details</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="1%">S.No</th>
                                <th width="3%">SC No</th>
                                <th width="2%">Quantity</th>
                                <th width="4%">Uom</th>
                                <th width="4%">Prod Confirm Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of itemdetails; let i=index">
                                <td>{{i+1}}</td>
                                <td>
                                    {{data.sc_no}}
                                </td>
                                <td>
                                    {{data.quantity}}
                                </td>
                                <td>
                                    {{data.uom}}
                                </td>
                                <td>
                                    {{data.pconfirm_date}}
                                </td>
                            </tr>
                            <tr *ngIf="!itemdetails.length">
                                <td colspan="5">No data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</app-sc-detail-popup>

<app-allocpop [(visible)]="showAllocDialog">
    <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 ocn-section">
        <h4 class="text-center">Allocation</h4>
        <div class="col-sm-12 left page-height-40">
            <div *ngIf="salesdetails">
                <!-- <div class="col-sm-12" *ngIf="salesdetails.wip_purchase_list ?.length">
                    <span>WIP Purchase</span>
                    <span (click)="showwip()" style="cursor: pointer;">
                        <i class="fa fa-plus-circle" id="plus"></i>
                    </span>
                </div> -->
                <div class="col-sm-12 left" id="wiptable" style="display: none">
                    <table class="table table-striped table-bordered text-center">
                        <thead>
                            <tr>
                                <th width="2%">S.NO</th>
                                <th width="5%">Select</th>
                                <th>Qty</th>
                                <th>Delivery Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let status of salesdetails.wip_purchase_list; let indx = index">
                                <td>{{indx + 1}}</td>
                                <td>
                                    <input name="check" type="checkbox" class="form-control" value=""
                                        [(ngModel)]="status.check" (change)="checkwip(status.check,status,indx)">
                                </td>
                                <td>
                                    {{status.quantity}}
                                </td>
                                <td>
                                    {{status.delivery_date}}
                                </td>
                                <td>
                                    <span *ngIf="status.status == 2" class="po-pending">Old Allocated</span>
                                    <span *ngIf="status.status == 4" class="po-approved">WIP Remaining</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- <div class="col-sm-12" *ngIf="salesdetails.wip_process_list ?.length">
                    <span>WIP Process</span>
                    <span (click)="showwiprocess()" style="cursor: pointer;">
                        <i class="fa fa-plus-circle" id="pluss"></i>
                    </span>
                </div> -->

                <div class="col-sm-12 left" id="wiprocesstable" style="display: none">
                    <table class="table table-striped table-bordered text-center">
                        <thead>
                            <tr>
                                <th width="2%">S.NO</th>
                                <th width="5%">Select</th>
                                <th>Qty</th>
                                <th>Delivery Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let datas of salesdetails.wip_process_list; let ind = index">
                                <td>{{ind + 1}}</td>
                                <td>
                                    <input name="checked" type="checkbox" class="form-control" value=""
                                        [(ngModel)]="datas.checked" (change)="checkwiprocess(datas.checked,datas,ind)">
                                </td>
                                <td>
                                    {{datas.quantity}}
                                </td>
                                <td>
                                    {{datas.delivery_date}}
                                </td>
                                <td>
                                    <span *ngIf="datas.status == 2" class="po-pending">Old Allocated</span>
                                    <span *ngIf="datas.status == 5" class="po-approved">WIP Remaining</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="left">
                <div class="col-sm-6 col-xs-12 padding-10" *ngIf="salesdetails">
                    <div class="col-sm-6 col-xs-12">
                        <span class="bold">Reserved Qty : </span>
                        <span>{{salesdetails.detailList[0].reservedQty}}</span>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <span class="bold">open Qty : </span>
                        <span>{{salesdetails.detailList[0].totopen_qty}} </span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 padding-10" *ngIf="salesdetails">
                    <div class="col-sm-6 col-xs-12">
                        <span class="bold">WIP Proc Qty : </span>
                        <span>{{salesdetails.wip_process_qty}}</span>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <span class="bold">WIP Purch Qty : </span>
                        <span>{{salesdetails.wip_purchase_qty}}</span>
                    </div>
                </div>
                <div class="table-responsive clearfix">
                    <table class="table table-striped table-bordered text-center" *ngIf="salesdetails">
                        <thead>
                            <tr>
                                <th width="2%" rowspan="2">S.No</th>
                                <th width="5%" rowspan="2">SC NO</th>
                                <th width="5%" rowspan="2">Part No</th>
                                <th width="5%" rowspan="2">Part</th>
                                <th width="5%" rowspan="2">Part Desc</th>
                                <th width="5%" rowspan="2">UOM</th>
                                <th width="5%" rowspan="2">Qty</th>
                                <!-- <th width="5%" rowspan="2">Res Qty</th>
                            <th width="5%" rowspan="2">Open Qty</th> -->
                                <th width="10%" colspan="2">WIP</th>
                                <th width="10%" rowspan="2">Stock Alloc Qty</th>
                                <th width="10%" rowspan="2">Purch Qty</th>
                                <th width="5%" rowspan="2">Extra Purch Qty</th>
                                <th width="5%" rowspan="2">Purch Ld Time(Days)</th>
                                <th width="5%" rowspan="2">Proc Ld Time(Days)</th>
                            </tr>
                            <tr>
                                <th>Proc Qty</th>
                                <th>Purch Qty</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let itemrow of salesdetails.detailList; let i=index">
                                <td>{{i+1}}</td>
                                <td>{{itemrow.sc_no}}</td>
                                <td>
                                    {{itemrow.part_no}}
                                </td>
                                <td class="text-left">
                                    {{ itemrow.part }}
                                </td>
                                <td>
                                    {{itemrow.part_desc}}
                                </td>
                                <td>
                                    {{itemrow.uom}}
                                </td>
                                <td>
                                    {{itemrow.quantity}}
                                </td>
                                <!-- <td>
                                {{itemrow.reservedQty}}
                            </td>
                            <td>
                                {{itemrow.open_qty}}
                            </td> -->
                                <td>
                                    <input type="text" class="form-control" (keypress)="restricthypens($event)"
                                        [(ngModel)]="itemrow.wip_process_alloc_qty"
                                        (keyup)="checkwipallo(itemrow,itemrow.wip_process_alloc_qty,itemrow.wip_purchase_alloc_qty,i)" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" (keypress)="restricthypens($event)"
                                        [(ngModel)]="itemrow.wip_purchase_alloc_qty"
                                        (keyup)="checkwipallo(itemrow,itemrow.wip_process_alloc_qty,itemrow.wip_purchase_alloc_qty,i)" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" (keypress)="restricthypens($event)"
                                        [(ngModel)]="itemrow.alloc_qty"
                                        (keyup)="checkallocation(itemrow,itemrow.alloc_qty,i,itemrow.purchase_qty)" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" (keypress)="restricthypens($event)"
                                        [(ngModel)]="itemrow.purchase_qty"
                                        (keyup)="checkallocation(itemrow,itemrow.alloc_qty,i,itemrow.purchase_qty)"
                                        *ngIf="itemrow.part_type !='Spare' ||  itemrow.stage =='First' || itemrow.stage =='No_stage'" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" (keypress)="restricthypens($event)"
                                        [(ngModel)]="itemrow.extra_purchase_qty" />
                                </td>
                                <td [hidden]="true">
                                    {{checkbalanceqty(itemrow.quantity,itemrow.alloc_qty,itemrow.purchase_qty,itemrow)}}
                                </td>
                                <td>
                                    {{itemrow.purchase_lead_time}}
                                </td>
                                <td>
                                    {{itemrow.process_lead_time}}
                                </td>
                            </tr>
                            <tr *ngIf="!salesdetails.detailList ?.length">
                                <td colspan="14">No data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
            <button class="btn btn-success btn-small waves-effect waves-light" (click)="allocate(salesdetails)">
                <i class="fa fa-check"></i> Ok</button>
            <button class="btn btn-warning btn-small waves-effect waves-light" (click)="reset(salesdetails)">
                <i class="fa fa-times"></i> cancel</button>
        </div>
    </div>
</app-allocpop>