<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/indentlist']">Indent List</a>
              </li>
              <li class="active">Indent Creation</li>
            </ol>
            <h4 class="page-title">Indent Creation</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <form [formGroup]="purmasterform">
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1" class="extra-wid1">Department
                            <span class="red">*</span>
                          </label>
                          <input name="id" type="hidden" class="form-control" value="" formControlName="id" [(ngModel)]="purmaster.id">
                          <div class="left">
                            <ng2-completer [openOnClick]="true" formControlName="dpt" [(ngModel)]="purmaster.dpt" name="dpt"
                              [datasource]="alldpts" [minSearchLength]="0"></ng2-completer>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Delivery Date
                            <span class="red">*</span>
                          </label>
                          <div class="input-group" style="float:left;">
                            <input class="form-control full-width" ngx-mydatepicker name="deldate" formControlName="deldate"
                              [options]="mydisoption" #dd="ngx-mydatepicker" [readonly]="true" [(ngModel)]="purmaster.deldate"
                              name="shipdate" />
                            <span class="input-group-addon bg-primary b-0 text-white" (click)="dd.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Indent No
                            <span class="red">*</span>
                          </label>
                          <input name="indno" type="text" class="form-control" value="" formControlName="indno" [(ngModel)]="purmaster.indno">
                        </div>
                      </div>
                    </div> -->
                    <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1" class="extra-wid1">Common Purchase
                            <span class="red">*</span>
                          </label>
                          <input name="compurchase" type="text" class="form-control" value="" formControlName="compurchase" [(ngModel)]="purmaster.compurchase">
                        </div>
                      </div>
                    </div> -->
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1">Indent Date
                            <span class="red">*</span>
                          </label>
                          <div class="input-group" style="float:left;">
                            <input class="form-control full-width" [(ngModel)]="purmaster.inddate" formControlName="inddate"
                              name="inddate" [readonly]="true" />
                            <!-- <input class="form-control full-width"  ngx-mydatepicker name="inddate" formControlName="inddate"
                              [options]="mydisoption" #id="ngx-mydatepicker" [readonly]="true" [(ngModel)]="purmaster.inddate"
                              name="shipdate" />
                            <span class="input-group-addon bg-primary b-0 text-white" (click)="id.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </span> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-tabs-custom">
        <div class="tab-content no-padding padding-pad">
          <div class="nav-tabs-custom">
            <div class="box-body mar-btm">
              <div class="ocn-section">
                <section class="col-lg-12" style="padding:0">
                  <div class="nav-tabs-custom">
                    <div class="box-body mar-btm">
                      <div class="col-sm-12 ocn-section">
                        <div class="table-responsive">
                          <form [formGroup]="purchaseindentform">
                            <table class="table table-striped table-bordered" formArrayName="itemRows">
                              <thead>
                                <tr>
                                  <th width="1%" (click)="addNewRow()">
                                    <i class="fa fa-plus"></i>
                                  </th>
                                  <th width="1%">S.No</th>
                                  <th width="4%">Part No</th>
                                  <th width="4%">Part</th>
                                  <th width="5%">Part Desc</th>
                                  <th width="5%">Material</th>
                                  <th width="2%">Uom</th>
                                  <th width="2%">Qty</th>
                                  <th width="2%">Prev Rate</th>
                                  <th width="2%">Value</th>
                                  <th width="5%">Tax</th>
                                  <th width="2%">Category</th>
                                  <!-- <th width="2%">Buyback/Dis</th> -->
                                  <th width="3%">Type</th>
                                  <th width="2%">Prefer.Supp</th>
                                  <th width="1%">Make</th>
                                  <th width="1%">Remarks</th>
                                  <th width="1%">Prev PO</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let itemrow of getpurchaseindentform(purchaseindentform); let i=index"
                                  [formGroupName]="i">
                                  <td>
                                    <i class="md md-close" (click)="deleteRow(i)" *ngIf="i!=0"></i>
                                  </td>
                                  <td>{{i+1}}</td>
                                  <td>
                                    <input type="hidden" class="form-control" formControlName="id" />
                                    <ng2-completer [openOnClick]="true" formControlName="partno" (selected)="selectedline($event,i)"
                                      [datasource]="allitems" [minSearchLength]="0" [attr.title]="purchaseindentform.value.itemRows[i].partno"></ng2-completer>
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" formControlName="part" [readOnly]="true"
                                      [attr.title]="purchaseindentform.value.itemRows[i].part" />
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" formControlName="partdesc" [readOnly]="true"
                                      [attr.title]="purchaseindentform.value.itemRows[i].partdesc" />
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" formControlName="material" [readOnly]="true"
                                      [attr.title]="purchaseindentform.value.itemRows[i].material" />
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" formControlName="uom" [readOnly]="true"
                                      [attr.title]="purchaseindentform.value.itemRows[i].uom" />
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" formControlName="qty" (keyup)="calcvalue(purchaseindentform.controls.itemRows.value[i].qty,purchaseindentform.controls.itemRows.value[i].prevrate,i)"
                                      pKeyFilter="int" (keypress)="restricthypens($event)" [attr.title]="purchaseindentform.value.itemRows[i].qty" />
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" formControlName="prevrate" (keyup)="calcvalue(purchaseindentform.controls.itemRows.value[i].qty,purchaseindentform.controls.itemRows.value[i].prevrate,i)"
                                      pKeyFilter="num" (keypress)="decimalnumber($event)" [readOnly]="true"
                                      [attr.title]="purchaseindentform.value.itemRows[i].prevrate" style="text-align:right" />
                                  </td>
                                  <td style="text-align: right !important">
                                    <input type="hidden" class="form-control" formControlName="value" />
                                    {{calcvalue(purchaseindentform.controls.itemRows.value[i].qty,purchaseindentform.controls.itemRows.value[i].prevrate,i)
                                    | number }}
                                  </td>
                                  <td>
                                    <select class="form-control" class="form-control" formControlName="tax"
                                      [attr.title]="purchaseindentform.value.itemRows[i].tax">
                                      <option value="Tax Extra">Tax Extra</option>
                                    </select>
                                  </td>
                                  <td>
                                    <select class="form-control" class="form-control" formControlName="category"
                                      [attr.title]="purchaseindentform.value.itemRows[i].category">
                                      <option [ngValue]="0" disabled selected>Select Type</option>
                                      <option *ngFor="let stat of categoryarray" [ngValue]="stat.name">{{stat.name}}</option>
                                    </select>
                                  </td>
                                  <!-- <td>
                                    <select class="form-control" class="form-control" formControlName="buyback">
                                      <option [ngValue]="0" disabled selected>Select Type</option>
                                      <option *ngFor="let stat of buybackarray" [ngValue]="stat.name">{{stat.name}}</option>
                                    </select>
                                  </td> -->
                                  <td>
                                    <select class="form-control" class="form-control" formControlName="type"
                                      [attr.title]="purchaseindentform.value.itemRows[i].type">
                                      <option [ngValue]="0" disabled selected>Select Type</option>
                                      <option *ngFor="let stat of scorderarray" [ngValue]="stat.name">{{stat.name}}</option>
                                    </select>
                                  </td>
                                  <td>
                                    <!-- <input type="text" class="form-control" formControlName="preffersupp" /> -->
                                    <ng2-completer [openOnClick]="true" name="preffersupp" formControlName="preffersupp"
                                      [datasource]="allsuppliers" [minSearchLength]="0" [attr.title]="purchaseindentform.value.itemRows[i].preffersupp"></ng2-completer>
                                  </td>
                                  <td>
                                    <input type="text" class="form-control" formControlName="make" [attr.title]="purchaseindentform.value.itemRows[i].make" />
                                  </td>
                                  <td class="text-center">
                                    <button class="btn btn-xs btn-default" (click)="remarkspop(itemrow,i)">
                                      <i class="md-add"></i>
                                    </button>
                                  </td>
                                  <td class="text-center">
                                    <button class="btn btn-xs btn-default" (click)="getprevdetails(itemrow,i)" *ngIf="purchaseindentform.controls.itemRows.value[i].prev == true">
                                      <i class="fa fa-eye"></i>
                                    </button>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </form>
                        </div>
                      </div>
                      <div class="col-sm-12 m-t-10">
                        <div class="col-lg-4 col-sm-4 col-md-4" style="min-height:200px;border:1px solid #dadada;padding:10px">
                          <div class="ocn-status upload-ocn">
                            <div class="form-group madeups ocn ">
                              <label for="exampleInputName2" class="extra-wid">Attach File
                              </label>
                              <div class="fileupload btn btn-purple waves-effect waves-light left clearfix" style="top : 0 !important;padding: 3px 7px !important">
                                <i class="md md-file-upload"></i>
                                <input type="file" multiple class="upload" id="avatar" style="width: 100%;height: 100%"
                                  (change)="onFileChange($event)" #fileInput>
                              </div>
                              <div class="col-sm-12">
                                <li *ngFor="let itemrow of filelist; let i=index">
                                  <span>{{itemrow.name}}
                                    <a (click)="clearfile(itemrow,i)">
                                      <i class="fa fa-trash"></i>
                                    </a>
                                  </span>
                                </li>
                              </div>
                              <button class="btn btn-primary m-t-10 left" *ngIf="filelist.length !=0" (click)="clearallfile()">Clear
                                all</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-md-8">
                          <div class="ocn-status">
                            <div class="form-group madeups ocn ">
                              <label for="exampleInputEmail1">Capital Budget Ref
                              </label>
                              <input name="capbudgetref" type="text" class="form-control" [(ngModel)]="others.capbudgetref">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-md-8">
                          <div class="ocn-status">
                            <div class="form-group madeups ocn ">
                              <label for="exampleInputEmail1">Justification
                              </label>
                              <input name="justification" type="text" class="form-control" [(ngModel)]="others.justification">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-8 col-sm-8 col-md-8">
                          <div class="ocn-status">
                            <div class="form-group madeups ocn ">
                              <label for="exampleInputEmail1">
                                Comments
                              </label>
                              <input name="comments" type="text" class="form-control" [(ngModel)]="others.comments">
                            </div>
                          </div>
                        </div>
                        <div class="grey-small1 padding-top" style="padding: 10px ;border:none;background-color:#fff">
                          <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
                            <button (click)="saveentry(purmasterform.value)" class="btn btn-success btn-custom waves-effect waves-light"
                              data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                              <i class="fa fa-check"></i> save</button>
                            <button [routerLink]="['/indentlist']" class="btn btn-warning btn-custom waves-effect waves-light"
                              data-toggle="tooltip" data-placement="top" title="" data-original-title="Export Print">
                              <i class="fa fa-times"></i> Cancel</button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-slip-popup [(visible)]="showDialog">

  <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 ocn-section">
    <h4 class="text-center">Remarks</h4>
    <form>
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="ocn-status">
          <div class="form-group madeups ocn ">
            <label for="exampleInputEmail1">Additional Specification (Will appears in PO)
            </label>
            <input name="index" type="hidden" class="form-control" value="" [(ngModel)]="remarks.index">
            <input name="addspec" type="text" class="form-control" value="" [(ngModel)]="remarks.addspec">
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="ocn-status">
          <div class="form-group madeups ocn ">
            <label for="exampleInputEmail1">Internal Remarks (Will not appear in PO)
              <span class="red">*</span>
            </label>
            <input name="intremarks" type="text" class="form-control" value="" [(ngModel)]="remarks.intremarks">
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="ocn-status">
          <div class="form-group madeups ocn ">
            <label for="exampleInputEmail1">Purpose
            </label>
            <input name="purpose" type="text" class="form-control" value="" [(ngModel)]="remarks.purpose">
          </div>
        </div>
      </div>
    </form>
    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
      <button class="btn btn-success btn-small waves-effect waves-light" (click)="saveremarks(remarks,remarks.index)">
        <i class="fa fa-check"></i> OK</button>
      <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
        <i class="fa fa-times"></i> close</button>
    </div>
  </div>
</app-slip-popup>

<app-slip-popup [(visible)]="showPrevDialog">
  <div class="col-sm-12 ocn-section">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Item Code</th>
            <th>Item Desc</th>
            <th>UOM</th>
            <th>rate</th>
            <th>Supplier</th>
            <th>Validity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="prevdetails && prevsupplier">
            <td>1</td>
            <td>{{prevdetails.item_code}}</td>
            <td>{{prevdetails.item_desc}}</td>
            <td>{{prevdetails.uom}}</td>
            <td>{{prevdetails.rate | number }}</td>
            <td>{{prevsupplier.supplier}}</td>
            <td>{{prevsupplier.validity}}</td>
          </tr>
          <tr *ngIf="!prevdetails">
            <td colspan="5">No Data</td>
          </tr>
        </tbody>
      </table>
      <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
        <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
          <i class="fa fa-times"></i> close</button>
      </div>
    </div>
  </div>
</app-slip-popup>