<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content" style="height:100% !important">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Logistics</a>
              </li>
              <li class="active">Box Details</li>
            </ol>
            <h4 class="page-title">Box Details</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="col-sm-12 p-b-20">
              <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="back()">
                <i class="fa fa-times"></i>
              </button>
              <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="printpos()">
                <i class="fa fa-print"></i>
              </button>
            </div>
            <div class="ocn-section ocn-section-tbl page-height" id="printsection">
              <div class="table-responsive table-resp-pad">
                <ng-container *ngFor="let itemrow of slipdetails; let i=index" >
                  <table class="table table-striped table-bordered report-container print-view" style="border:1px solid #333;font-size: 18px">
                    <tbody >
                      <tr>
                        <td>SHP DAH 116</td>
                        <td>Case Marks & Number</td>
                        <td style="text-align : right">{{itemrow.box_no}}</td>
                      </tr>
                      <tr>
                        <td rowspan="2"> Description</td>
                        <td colspan="2">{{itemrow.part_no}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">{{itemrow.component}}</td>
                      </tr>
                      <tr>
                        <td>Total Quantity</td>
                        <td>{{itemrow.quantity}}</td>
                        <td rowspan="3" style="text-align : center" class="cs">
                          INVOICE NO : {{itemrow.invoice_no}}
                          <br>DATED : {{itemrow.invoice_date}}
                        </td>
                      </tr>
                      <tr>
                        <td>Net Weight</td>
                        <td>{{itemrow.net_weight}} kgs</td>
                      </tr>
                      <tr>
                        <td>Gross Weight</td>
                        <td>{{itemrow.gross_weight}} kgs</td>
                      </tr>
                      <tr>
                        <td colspan="2" style="vertical-align : top;height: 150px">
                          SHIP TO : (Delivery Address) <br>
                          <p class="caps-pad">
                            <strong>{{itemrow.customer_name}}</strong>
                          </p>
                          <p class="caps-pad">
                            <strong>{{itemrow.ship_address}},</strong>
                          </p>
                          <p class="caps-pad">
                            <strong>{{itemrow.city_name}} - {{itemrow.ship_address_pincode}},</strong>
                          </p>
                          <p class="caps-pad">
                            <strong>{{itemrow.state_name}},</strong>
                          </p>
                          <p class="caps-pad">
                            <strong>{{itemrow.country_name}}.</strong>
                          </p>
                          <p>Contact No:
                            <strong>{{itemrow.phone}}</strong>
                          </p>
                        </td>
                        <td style="vertical-align : top;height: 150px">
                          BUYER : <br>

                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" rowspan="2">
                          FROM : <br>
                          <p class="caps-pad">
                            <strong>Sakthi Auto Ancillary Private Limited</strong>
                          </p>
                          <p class="caps-pad">
                            <strong>Idigarai Road, NGGO Colony</strong>
                          </p>
                          <p class="caps-pad">
                            <strong>Coimbatore-641022, Tamil nadu, India</strong>
                          </p>
                          <p>Telephone:
                            <strong>91 422 2642224</strong>, Email:
                            <a href="mailto:info@saapl.net">info@saapl.net</a>
                          </p>
                        </td>
                        <td style="vertical-align:top;height:120px">INSPECTED BY :</td>
                      </tr>
                      <tr>
                        <td style="vertical-align:top;height:120px">APPROVED BY : </td>
                      </tr>
                    </tbody>
                  </table>
                  <hr class="left">
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>