<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Sales</a>
                            </li>
                            <li class="active">Sales Authorization</li>
                        </ol>
                        <h4 class="page-title">Sales Authorization</h4>
                    </div>
                </div>
            </div>
            <!--tab-->
            <!-- Start row -->
            <!-- end row -->

            <div class="nav-tabs-custom">
                <div class="nav-tabs-custom">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 form-body">
                            <div class="portlet-heading">
                                <div class="oc-ftm-container">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                                            <button (click)="authorizeSelected()" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                                                title="" data-original-title="Authorise">
                                                <i class="fa fa-save"></i> Authorise</button>
                                            <button class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel">
                                                <i class="fa fa-ban"></i> Cancel</button>
                                            <button (click)="uncheckall()" class="btn btn-inverse btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                                                title="" data-original-title="Clear">
                                                <i class="fa fa-paint-brush"></i> Clear</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- text-->
                            </div>
                        </div>
                    </div>
                    <!-- Tabs within a box -->
                    <div class="box-body mar-btm">
                        <div class="ocn-section ocn-section-wid">
                            <div class="table-responsive">

                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>S.NO</th>
                                            <th>SC No</th>
                                            <th>Customer name</th>
                                            <th>PO No</th>
                                            <th>Attachments</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let person of persons; let row_no = index">
                                            <td>
                                                <input name="checkauthorize" type="checkbox" class="form-control" value="" [(ngModel)]="person.checkauthorize" (change)="checkauthorized(person.checkauthorize,person,row_no)">
                                            </td>
                                            <td>
                                                {{ row_no + 1 }}
                                            </td>
                                            <td class="text-left">
                                                {{ person.sc_no }}
                                            </td>
                                            <td class="text-left">
                                                {{ person.supplier.supplier_name }}
                                            </td>
                                            <td class="text-left">{{ person.po_no }}</td>
                                            <td class="text-right view-center">
                                                <span>
                                                    <i class="fa fa-paperclip" aria-hidden="true" (click)="getfiles(person.id)"></i>
                                                </span>
                                            </td>
                                            <td class="text-right view-center">
                                                <button class="btn btn-xs btn-default" [routerLink]="['/viewscauthorization',person.id]">
                                                    <i class="fa fa-eye"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--tab-->
        </div>
        <!-- end container -->
    </div>
    <!-- end content -->

    <app-sc-detail-popup [(visible)]="showDialog" *ngIf="files">
        <h3 class="text-center">Attachments</h3>
        <strong class="left">SC NO : </strong>
        <p class="col-sm-6">{{order.sc_no}}</p>
        <div class="col-sm-12 ocn-section">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th width="1%">S.No</th>
                            <th width="4%">File name</th>
                            <th width="2%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of files; let i=index">
                            <td>{{i+1}}</td>
                            <td>
                                {{data.filename}}
                            </td>
                            <td class="text-center">
                                <i class="fa fa-download" aria-hidden="true" (click)="downloadfile(data)"></i>
                            </td>
                        </tr>
                        <tr *ngIf="nodata">
                            <td colspan="3">No files found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </app-sc-detail-popup>

    <!-- <app-sc-detail-popup [(visible)]="showDialog" *ngIf="orderdetails">
        <div class="col-sm-12">
            <div class="col-sm-12 col-xs-12">
                <h4 class="text-center">Order Confirmation</h4>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="col-md-2 col-sm-4 col-xs-3 text-left bold">Ref :</div>
                    <div class="col-md-10 col-sm-8 col-xs-9 text-left">
                        <span>{{scno}}</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="col-md-5 col-sm-6 hidden-xs"></div>
                    <div class="col-md-2 col-sm-4 col-xs-3 text-left bold">Date :</div>
                    <div class="col-md-5 col-sm-8 col-xs-9 pull-left text-left">
                        <span>{{scdate}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12  p-t-10">
                <div class="add-details col-sm-6 col-xs-6">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left bold">To :</div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left address-pan">
                        <span class="clearfix">{{supplierdtls.supplier_name}}</span>
                        <span class="clearfix">{{supplierdtls.address}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row">

                <div class="col-sm-12 ocn-section">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th width="3%">S.No</th>
                                    <th width="2%">Line</th>
                                    <th width="4%">Part No</th>
                                    <th width="4%">Part </th>
                                    <th width="3%">Part Desc</th>
                                    <th width="3%">Qty</th>
                                    <th width="5%">Ship-date</th>
                                    <th width="5%">Prod confrim_date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of orderdtls; let i=index">
                                    <td>{{i+1}}</td>
                                    <td>
                                        {{data.line_no}}
                                    </td>
                                    <td>
                                        {{data.part_no}}
                                    </td>
                                    <td>
                                        {{data.component}}
                                    </td>
                                    <td>
                                        {{data.component_desc}}
                                    </td>
                                    <td>
                                        {{data.quantity}}
                                    </td>
                                    <td>
                                        {{data.shipment_date}}
                                    </td>
                                    <td>
                                        {{data.pconfirm_date}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </app-sc-detail-popup> -->

</div>
<!-- ============================================================== -->
<!-- End Right content here -->