<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Stores</a>
              </li>
              <li class="active">DC List</li>
            </ol>
            <h4 class="page-title">DC List</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button [routerLink]="['/createdc']" class="btn btn-primary btn-custom waves-effect waves-light pull-right "
                      data-toggle="tooltip" data-placement="top" title="" data-original-title="Authorise">
                      <i class="fa fa-plus m-r-5"></i>Delivery Challan</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#pendingdc" data-toggle="tab" aria-expanded="true" id="pending">Pending</a>
          </li>
          <li>
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">DC List</a>
          </li>
          <!-- *ngIf="showtab" -->
          <li class="dis" *ngIf="showtab">
            <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
          </li>
          <!--<span class="trim-count"><strong>Trims Count:</strong> <span class="h-lit">40</span></span>-->
        </ul>

        <div class="tab-content no-padding padding-pad ">

          <div class="chart tab-pane active" id="pendingdc">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section">
                  <div class="table-responsive">
                    <table class="row-border hover table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>S.NO</th>
                          <th>Supplier</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of dcsuppliers; let row_no = index">
                          <td>
                            {{ row_no + 1 }}
                          </td>
                          <td class="text-left">
                            {{ person.supplier_name }}
                          </td>
                          <td class="text-right view-center">
                            <button class="btn btn-xs btn-primary" (click)="redrctodc(person.id)">
                              <i class="fa fa-eye"></i>
                            </button>
                          </td>
                        </tr>
                        <tr *ngIf="!dcsuppliers?.length">
                          <td colspan="3">No Data</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chart tab-pane" id="tplan">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section">
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>S.NO</th>
                          <th>DC No</th>
                          <th>DC Date</th>
                          <th>Supplier</th>
                          <th>vehicle_no</th>
                          <th>Locations</th>
                          <th>view</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of persons; let row_no = index">
                          <td>
                            {{ row_no + 1 }}
                          </td>
                          <td class="text-left">
                            {{ person.dc_no }}
                          </td>
                          <td class="text-left">
                            {{ person.dc_date }}
                          </td>
                          <td class="text-left">
                            <span> {{ person.supplier}} </span>
                          </td>
                          <td class="text-right view-center">
                            {{person.vehicle_no}}
                          </td>
                          <td class="text-right view-center">
                            <button class="btn btn-success btn-xs" (click)="viewdc(person)">
                              <i class="fa fa-map-marker"></i>
                            </button>
                          </td>
                          <td class="text-right view-center">
                            <button class="btn btn-default btn-xs" (click)="viewindent(person)">
                              <i class="fa fa-eye"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chart tab-pane" id="trim-vs-articles" *ngIf="showtab">
            <!-- View-Indent Component-->
            <app-view-dc [dcid]="dcid" (notifycancel)="notifycancel()"></app-view-dc>
            <!-- View-Indent Component-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-slip-popup [(visible)]="showDialog">
  <div class="col-sm-12">
    <div class="row" *ngIf="dcitems">
      <div class="col-sm-12 ocn-section" id="printsection">
        <h3 class="text-center">DC Location Details</h3>
        <span>DC No : {{dc_no}}</span>
        <div class="table-responsive clearfix page-height-40">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th width="2%">S.No</th>
                <th width="3%">Part No</th>
                <th width="3%">Part</th>
                <th width="3%">Part Desc</th>
                <th width="4%">Bin</th>
                <th width="4%">Rack</th>
                <th width="3%">Location</th>
                <th width="3%">Reserved Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!dcitems ?.length">
                <td colspan="5">No data</td>
              </tr>
              <tr *ngFor="let itemrow of dcitems; let i=index">
                <td>{{i+1}}</td>
                <td>{{itemrow.item_no}}</td>
                <td>{{itemrow.item}}</td>
                <td>{{itemrow.item_desc}}</td>
                <td>{{itemrow.bin_name}}</td>
                <td>{{itemrow.rack_name}}</td>
                <td>{{itemrow.location}}</td>
                <td>{{itemrow.loc_qty}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
        <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="close(index)">
          <i class="fa fa-check"></i> OK</button>
        <button class="btn btn-danger btn-small btn-custom waves-effect waves-light" (click)="printpos()">
          <i class="fa fa-print"></i> Print</button>
      </div>
    </div>
  </div>
</app-slip-popup>