<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a [routerLink]="['/proformaInvoicelist']">Proforma List</a>
                            </li>
                            <li class="active">Proforma Invoice</li>
                        </ol>
                        <h4 class="page-title">Proforma Invoice</h4>
                    </div>
                </div>
            </div>

            <!-- <div class="trimd-right-cnt">
                <ul>
                    <li>
                        <button (click)="resetform()" class="btn btn-danger btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                            title="" data-original-title="Cancel">
                            <i class="md md-close"></i>
                        </button>
                    </li>
                </ul>
            </div> -->

            <!-- Start row -->
            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body">
                        <div class="portlet-heading">
                            <div class="oc-ftm-container">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn field-pad">
                                                <!--slip p-slip-->
                                                <label for="exampleInputEmail1" class="lbl-wid">Customer
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="left box-wid">
                                                    <ng2-completer [openOnClick]="true" [(ngModel)]="customer" name="customer"
                                                        (selected)="selectcont($event)" [datasource]="allcontacts"
                                                        [minSearchLength]="0"></ng2-completer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn field-pad">
                                                <label for="exampleInputEmail1" class="lbl-wid">SC No
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="left box-wid">
                                                    <ng-select *ngIf="url != viewurl" [options]="allorders" [(ngModel)]="orderno"
                                                        (selected)="selectorder($event)"></ng-select>
                                                    <input type="text" class="form-control" [readOnly]="true" *ngIf="url == viewurl"
                                                        [(ngModel)]="ordersno" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn field-pad">
                                                <label for="exampleInputEmail1" class="lbl-wid">Invoice No
                                                    <span class="red">*</span>
                                                </label>
                                                <input name="invno" type="text" class="form-control box-wid" value=""
                                                    [(ngModel)]="invno">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn field-pad">
                                                <!--p-date-invoice -->
                                                <label for="exampleInputEmail1" class="lbl-wid">Invoice Date
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="input-group box-wid" style="float:left;">
                                                    <input class="form-control full-width" ngx-mydatepicker name="startDate"
                                                        [options]="myOptions" #po="ngx-mydatepicker" [readonly]="true"
                                                        [(ngModel)]="invdate" name="invdate" />
                                                    <span class="input-group-addon bg-primary b-0 text-white" (click)="po.toggleCalendar()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- text-->
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <!--tab-->
        <section class="col-lg-12" style="padding:0">
            <div class="col-sm-12 gray-box text-center">

                <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                        <div class="form-group madeups ocn field-pad">
                            <label for="exampleInputEmail1" class="lbl-wid">From</label>
                            <input type="text" class="form-control box-wid" [(ngModel)]="from" name="from" [readonly]="true">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                        <div class="form-group madeups ocn field-pad">
                            <label for="exampleInputEmail1" class="lbl-wid">To</label>
                            <input type="text" class="form-control box-wid" [(ngModel)]="to" name="to" [readonly]="true">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                        <div class="form-group madeups ocn field-pad">
                            <label for="exampleInputEmail1" class="lbl-wid">Payment Term</label>
                            <input type="text" class="form-control box-wid" value="" [(ngModel)]="payterm" name="payterm"
                                [readonly]="true">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                        <div class="form-group madeups ocn field-pad">
                            <label for="exampleInputEmail1" class="lbl-wid">Currency</label>
                            <input type="text" class="form-control box-wid" value="" [(ngModel)]="currency" name="currency"
                                [readonly]="true">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                        <div class="form-group madeups ocn field-pad">
                            <label for="exampleInputEmail1" class="lbl-wid">Delivery Term</label>
                            <input type="text" class="form-control box-wid" value="" [(ngModel)]="deliveryterm" name="deliveryterm"
                                [readonly]="true">
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                        <div class="form-group madeups ocn field-pad">
                            <label for="exampleInputEmail1" class="lbl-wid">Shipment Date</label>
                            <input type="text" class="form-control box-wid" [(ngModel)]="shipdate" name="shipdate"
                                [readonly]="true">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <div class="box-body mar-btm">
                    <div class="col-sm-12 ocn-section">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th width="2%">S.No</th>
                                        <th width="2%">Line</th>
                                        <th width="4%">Part No</th>
                                        <th width="4%">Part</th>
                                        <th width="2%">Part Desc</th>
                                        <th width="3%">Qty</th>
                                        <th width="3%">Price</th>
                                        <th width="3%">Total</th>
                                        <th width="5%">Ship-date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let itemrow of salesorderarray; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>
                                            {{itemrow.line_no}}
                                        </td>
                                        <td>
                                            {{itemrow.part_no}}
                                        </td>
                                        <td>
                                            {{itemrow.component}}
                                        </td>
                                        <td>
                                            {{itemrow.component_desc}}
                                        </td>
                                        <td class="text-center">
                                            {{itemrow.quantity}}
                                        </td>
                                        <td class="text-right">
                                            {{itemrow.price | number}}
                                        </td>
                                        <td class="text-right">
                                            {{calcsubtotal(itemrow.quantity,itemrow.price) | number}}
                                        </td>
                                        <td>
                                            {{itemrow.shipment_date}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="!salesorderarray ?.length">
                                        <td colspan="9">No data</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-10">
                            <button *ngIf="url != viewurl" (click)="saveentry()" class="btn btn-success btn-custom waves-effect waves-light"
                                data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                                <i class="fa fa-check"></i> Save</button>
                            <button [routerLink]="['/proformaInvoicelist']" class="btn btn-warning btn-custom waves-effect waves-light"
                                data-toggle="tooltip" data-placement="top" title="" data-original-title="Export Print">
                                <i class="fa fa-times"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--tab-->
    </div>
    <!-- end container -->
</div>

<app-slip-popup [(visible)]="showDialog">
    <div class="col-sm-12 ocn-section">
        <h4 class="text-center">Packing Slip Details</h4>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="1%"></th>
                        <th width="2%">S.No</th>
                        <th width="2%">Slip No</th>
                        <th width="4%">Slip_date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemrow of salesorderarray; let i=index">
                        <td>
                            <input name="checkauthorize" type="checkbox" class="form-control" value="" [(ngModel)]="itemrow.checkauthorize"
                                (change)="checkauthorized(itemrow.checkauthorize,itemrow,i)">
                        </td>
                        <td>{{i+1}}</td>
                        <td>
                            {{itemrow.slip_no}}
                        </td>
                        <td>
                            {{itemrow.slip_date}}
                        </td>
                    </tr>
                    <tr *ngIf="!salesorderarray">
                        <td colspan="3">No data</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
                <button class="btn btn-success btn-small waves-effect waves-light" (click)="selectorderrow()">
                    <i class="fa fa-check"></i> Ok</button>
                <button class="btn btn-warning btn-small waves-effect waves-light" (click)="resetform()">
                    <i class="fa fa-times"></i> cancel</button>
            </div>
        </div>
    </div>
</app-slip-popup>