<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Production</a>
                            </li>
                            <li class="active">Stock Adjustment</li>
                        </ol>
                        <h4 class="page-title">Stock Adjustment</h4>
                    </div>
                </div>
            </div>
            <!-- Start row -->
            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body">
                        <div class="portlet-heading">
                            <div class="oc-ftm-container">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn">
                                                <label for="exampleInputEmail1" class="lbl-wid">Item
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="left box-wid">
                                                    <ng2-completer multiple [openOnClick]="true" [(ngModel)]="item"
                                                        name="item" (selected)="selectorder($event)" [datasource]="allitems"
                                                        [minSearchLength]="0"></ng2-completer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn">
                                                <label for="exampleInputEmail1" class="lbl-wid">Stock Type
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="left box-wid">
                                                    <select class="form-control" class="form-control" [(ngModel)]="type"
                                                        (change)="typeselected()">
                                                        <option *ngFor="let stat of stock" [ngValue]="stat.name">{{stat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="ocn-status upload-ocn">
                                            <div class="form-group madeups ocn field-pad">
                                                <label for="exampleInputName2" class="lbl-wid">Import Excel
                                                </label>
                                                <div class="left box-wid upload-box">
                                                    <div class="fileupload btn btn-purple waves-effect waves-light left"
                                                        style="top : 0 !important;padding: 3px 5px !important">
                                                        <i class="md md-file-upload"></i>
                                                        <input type="file" class="upload" id="avatar" style="width: 100%;height: 100%"
                                                            (change)="onFileChange($event,filenames)" #fileInput>
                                                    </div>
                                                    <input type="text" class="form-control left" [(ngModel)]="filenames"
                                                        [readonly]="true" />
                                                    <button type="button" class="clear-btn right" (click)="clearFile()">X</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-3 col-sm-3 col-lg-2">
                                        <div class="ocn-status upload-ocn">
                                            <div class="form-group madeups ocn field-pad sample">
                                                <label for="exampleInputName2" class="lbl-wid">Sample Excel
                                                </label>
                                                <div class="fileupload btn btn-primary waves-effect waves-light left btn-xs"
                                                    tooltip="Sample Excel" [tooltipDisabled]="false" [tooltipAnimation]="true"
                                                    tooltipPlacement="left" style="top : 0 !important;">
                                                    <a href="/assets/sample.xlsx" download>
                                                        <i class="md md-file-download" style="color:#fff; font-size:14px !important"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="col-lg-12" style="padding:0">
            <div class="nav-tabs-custom">
                <div class="box-body mar-btm">
                    <div class="col-sm-12 ocn-section">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th width="3%" rowspan="2">Part No</th>
                                        <th width="3%" rowspan="2">Part</th>
                                        <th width="4%" rowspan="2">Part Desc</th>
                                        <th width="2%" rowspan="2">Part Type</th>
                                        <th width="3%" rowspan="2">Uom</th>
                                        <th width="4%" rowspan="2">Rate</th>
                                        <th width="8%" colspan="2" style="text-align:center;">Stock</th>
                                        <th width="3%" rowspan="2">Location</th>
                                        <th width="3%" rowspan="2">Total Allocated</th>
                                    </tr>
                                    <tr>
                                        <th>Reserved Qty</th>
                                        <th>Open Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="itemdetail">
                                        <td>
                                            {{itemdetail.item_no}}
                                        </td>
                                        <td>
                                            {{itemdetail.part}}
                                        </td>
                                        <td>
                                            {{itemdetail.item_desc}}
                                        </td>
                                        <td>
                                            {{itemdetail.item_type}}
                                        </td>
                                        <td>
                                            {{itemdetail.uom}}
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="itemdetail.rate_per_qty"
                                                name="rate_per_qty" style="text-align:right">
                                        </td>
                                        <td>
                                            {{itemdetail.allocated_qty}}
                                        </td>
                                        <td>
                                            {{itemdetail.open_qty}}
                                        </td>
                                        <!-- <td>
                                            <input type="text" class="form-control" placeholder="Enter Quantity" [(ngModel)]="itemdetail.quantity" pKeyFilter="num" (keypress)="decimalnumber($event)"
                                                (keyup)="checkqty(itemdetail.quantity)" *ngIf="allowdecimal" />
                                            <input type="text" class="form-control" placeholder="Enter Quantity" [(ngModel)]="itemdetail.quantity" pKeyFilter="num" (keypress)="restricthypens($event)"
                                                pKeyFilter="int" (keyup)="checkqty(itemdetail.quantity)" *ngIf="!allowdecimal"
                                            />
                                        </td> -->
                                        <td>
                                            <button class="btn btn-xs btn-primary" (click)="showpop()">
                                                <i class="fa fa-map-marker"></i>
                                            </button>
                                            <!-- <ng-select multiple="true" [options]="allbins" placeholder="Select Location" name="location" [(ngModel)]="itemdetail.location"
                                                (selected)="selectedbin($event,'selected')" (deselected)="selectedbin($event,'deselected')"></ng-select> -->
                                        </td>
                                        <td>
                                            {{itemdetail.quantity || 0}}
                                        </td>
                                    </tr>
                                    <tr *ngIf="empty">
                                        <td colspan="10">No data</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
                            <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="saveentry()">
                                <i class="fa fa-check"></i> Save</button>
                            <button (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light"
                                data-toggle="tooltip" data-placement="top" title="" data-original-title="Export Print">
                                <i class="fa fa-times"></i> Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--tab-->
    </div>
    <!-- end container -->
</div>


<app-slip-popup [(visible)]="showDialog" *ngIf="showDialog">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 ocn-section">
                <h3 class="text-center">Stock Entered Details</h3>
                <div class="table-responsive">
                    <form [formGroup]="orderForm">
                        <table class="table table-striped table-bordered" formArrayName="itemRows">
                            <thead>
                                <tr>
                                    <th width="1%" (click)="addNewRow()">
                                        <i class="fa fa-plus"></i>
                                    </th>
                                    <th width="2%">S.No</th>
                                    <th width="4%">Bin</th>
                                    <th width="3%">Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="!getorderform(orderForm) ?.length">
                                    <td colspan="4">No data</td>
                                </tr>
                                <tr *ngFor="let itemrow of getorderform(orderForm); let i=index" [formGroupName]="i">
                                    <td>
                                        <i class="md md-close" (click)="deleteRow(i)" *ngIf="i!=0"></i>
                                    </td>
                                    <td>{{i+1}}</td>
                                    <td>
                                        <ng2-completer [openOnClick]="true" formControlName="bin" [datasource]="allbins"
                                            (selected)="selectedbin($event,i)" [minSearchLength]="0"></ng2-completer>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" formControlName="qty" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-right bold" style="text-align: right !important">Total</td>
                                    <td class="bold">{{calcsum()}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
                    <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="addbins()">
                        <i class="fa fa-check"></i> OK</button>
                    <button (click)="close()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Export Print">
                        <i class="fa fa-times"></i> close</button>
                </div>
            </div>
        </div>
    </div>
</app-slip-popup>