<div class="col-md-12 overlay" *ngIf="show_loader">
  <div class="loader loaderpos">
    <div class="loader-inner ball-scale-multiple">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div class="nav-tabs-custom">
  <div class="box-body mar-btm">
    <div class="row">
      <div class="col-lg-4 col-sm-3 col-md-3">
        <div class="ocn-status">
          <div class="form-group field-pad madeups ocn ">
            <label for="exampleInputEmail1">Item
              <span class="red">*</span>
            </label>
            <div class="grey-lfts left box-wid">
              <ng2-completer multiple [openOnFocus]="false" [(ngModel)]="selecteditem" name="selecteditem"
                (selected)="selectitem($event)" [datasource]="items" [minSearchLength]="0"></ng2-completer>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-3 col-md-3">
        <div class="ocn-status">
          <div class="form-group field-pad madeups ocn ">
            <label for="exampleInputEmail1">Qty
              <span class="red">*</span>
            </label>
            <input type="text" class="form-control" [(ngModel)]="Pqty" name="Pqty" (keyup)="checkbomqty(Pqty)" />
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-3 col-md-3" *ngIf="showsupp">
        <div class="ocn-status">
          <div class="form-group field-pad madeups ocn ">
            <label for="exampleInputEmail1">Supplier
              <span class="red">*</span>
            </label>
            <div class="grey-lfts left box-wid">
              <ng2-completer [openOnClick]="true" [(ngModel)]="selectedsupp" (selected)="selectedsupplier($event)"
                [datasource]="allcontacts" [minSearchLength]="0">
              </ng2-completer>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ocn-section">
      <div class="table-responsive">
        <form>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <!-- <th width="5%" rowspan="2"></th> -->
                <th rowspan="2" width="5%">Part No</th>
                <th rowspan="2" width="15%">Part</th>
                <th rowspan="2" width="15%">Part Desc</th>
                <th rowspan="2" width="5%">UOM</th>
                <th rowspan="2" width="5%">Stock Qty</th>
                <th rowspan="2" width="5%">Reserved DC Qty</th>
                <!-- <th rowspan="2" width="5%">Work Type</th> -->
                <th colspan="3" width="20%">Next Stage</th>
                <th rowspan="2" width="5%">Req Qty</th>
              </tr>
              <tr>
                <th>Part No</th>
                <th>Part</th>
                <th>Part Desc</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!item">
                <td colspan="12">No Data</td>
              </tr>
              <tr *ngFor="let data of item; let i = index">
                <!-- <td>
                  <input name="checkauthorize" type="checkbox" class="form-control" value=""
                    [(ngModel)]="data.checkauthorize" (change)="checkauthorized(data.checkauthorize,data,i)">
                </td> -->
                <td>{{data.part_no}}</td>
                <td>{{data.part}}</td>
                <td>{{data.part_desc}}</td>
                <td>{{data.uom}}</td>
                <td class="text-center">{{data.open_qty}}</td>
                <td class="text-center">{{data.tempdc_qty}}</td>
                <!-- <td>
                  <select name="worktype" class="form-control" [(ngModel)]="data.workorder_type"
                    (change)="ontypechange(data.workorder_type)" [attr.title]="data.workorder_type">
                    <option *ngFor="let stat of worktype" [ngValue]="stat.name">{{stat.name}}</option>
                  </select>
                </td> -->
                <td>{{data.next_stage_part_no}}</td>
                <td>{{data.next_stage_part}}</td>
                <td>{{data.next_stage_part_desc}}</td>
                <td>
                  {{data.qty}}
                </td>
              </tr>
            </tbody>
          </table>
        </form>
      </div>
      <div class="col-lg-4 col-sm-4 col-md-4 m-b-20 pull-right ">
        <button class="btn btn-warning btn-small waves-effect waves-light pull-right" (click)="resetscreen()">
          <i class="fa fa-times"></i> cancel</button>
        <button class="btn btn-success btn-small waves-effect waves-light pull-right m-r-5" (click)="savetoTempDC()">
          <i class="fa fa-check"></i> Submit</button>
      </div>
    </div>
  </div>
</div>