<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Sales</a>
              </li>
              <li class="active">Cancel SC</li>
            </ol>
            <h4 class="page-title">Cancel SC</h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
        <!-- Custom tabs (Charts with tabs)-->
        <!--test-->
        <div class="portlet ocn-form">
          <div class="row">
            <div class="col-md-12 col-sm-12 form-body">
              <div class="portlet-heading">
                <div class="row">
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn">
                        <label for="exampleInputEmail1" class="extra-wid">SC No </label>
                        <input name="text" class="form-control"  type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 pull-right">
                    <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right" data-toggle="tooltip" data-placement="top"
                      title="" data-original-title="close">
                      <i class="fa fa-close"></i>
                    </button>

                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" data-toggle="tooltip" data-placement="top"
                      title="" data-original-title="Submit">
                      <i class="fa fa-mail-forward"></i> Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <section class="col-lg-12" style="padding:0">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive">
              <table class="table table-striped table-bordered cancel-sc">
                <thead>
                  <tr>
                    <th width="6%">Line</th>
                    <th width="6%">Part No</th>
                    <th width="6%">Part</th>
                    <th width="6%">Part Desc</th>
                    <th width="6%">Material</th>
                    <th width="6%">Rev</th>
                    <th width="6%">Drawing</th>
                    <th width="6%">Rev</th>
                    <th width="6%">UOM</th>
                    <th width="6%">Qty</th>
                    <th width="6%">Cancel Qty</th>
                    <th width="6%">Hold</th>
                    <th width="6%">Remarks</th>
                    <th width="6%">Select</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <input type="text">
                    </td>
                    <td>
                      <input type="text" readonly>
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text">
                    </td>
                    <td align="center">
                      <div class="checkbox checkbox-primary checkbox-single">
                        <input id="checkbox0" type="checkbox" checked="">
                        <label></label>
                      </div>
                    </td>
                    <td>
                      <input type="text">
                    </td>
                    <td align="center">
                      <div class="checkbox checkbox-primary checkbox-single">
                        <input id="checkbox1" type="checkbox" checked="">
                        <label></label>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="text">
                    </td>
                    <td>
                      <input type="text" readonly>
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text">
                    </td>
                    <td align="center">
                      <div class="checkbox checkbox-primary checkbox-single">
                        <input id="checkbox2" type="checkbox" checked="">
                        <label></label>
                      </div>
                    </td>
                    <td>
                      <input type="text">
                    </td>
                    <td align="center">
                      <div class="checkbox checkbox-primary checkbox-single">
                        <input id="checkbox3" type="checkbox" checked="">
                        <label></label>
                      </div>
                    </td>

                  </tr>

                  <tr>
                    <td>
                      <input type="text">
                    </td>
                    <td>
                      <input type="text" readonly>
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text" readonly="readonly">
                    </td>
                    <td>
                      <input type="text">
                    </td>
                    <td align="center">
                      <div class="checkbox checkbox-primary checkbox-single">
                        <input id="checkbox2" type="checkbox" checked="">
                        <label></label>
                      </div>
                    </td>
                    <td>
                      <input type="text">
                    </td>
                    <td align="center">
                      <div class="checkbox checkbox-primary checkbox-single">
                        <input id="checkbox3" type="checkbox" checked="">
                        <label></label>
                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!-- end row -->
      <!--tab-->
      <!--tab-->
    </div>
    <!-- end container -->
  </div>
  <!-- end content -->
  <footer class="footer text-right">2018 © Sakthi Auto Ancillary Private Limited. All Rights Reserved. </footer>
</div>