<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Purchase</a>
              </li>
              <li class="active">Purchase Order</li>
            </ol>
            <h4 class="page-title">Purchase Order</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group field-pad madeups ocn">
                        <!--p-date-invoice-->
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from"
                            name="from" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group p-date-invoice madeups ocn">
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Department
                          <span class="red">*</span>
                        </label>
                        <div class="left">
                          <ng2-completer [openOnClick]="true"  [(ngModel)]="filter.dpt" name="dpt" [datasource]="alldpts" [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Type
                        </label>
                        <select class="form-control" class="form-control" [(ngModel)]="filter.type">
                          <option *ngFor="let stat of contype" [ngValue]="stat.name">{{stat.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Status
                        </label>
                        <select class="form-control" class="form-control" [(ngModel)]="filter.status">
                          <option *ngFor="let stat of indentstatus" [ngValue]="stat.value">{{stat.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 form-buttons">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="getPOlist()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
          </li>
          <!-- *ngIf="showtab" -->
          <li class="dis" *ngIf="showtab">
            <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
          </li>
          <!--<span class="trim-count"><strong>Trims Count:</strong> <span class="h-lit">40</span></span>-->
        </ul>

        <div class="tab-content no-padding padding-pad ">
          <div class="chart tab-pane active" id="tplan">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section page-height-40">
                  <div class="table-responsive table-resp-pad">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th width="4%">S.NO</th>
                          <th width="6%">PO No</th>
                          <!-- <th>Indent No</th> -->
                          <th width="8%">PO Date</th>
                          <th width="8%">Supplier</th>
                          <th width="7%">PO Type</th>
                          <th width="7%">PO Value</th>
                          <th width="7%">Status</th>
                          <th width="8%">Attach</th>
                          <th width="8%">PO Cancel</th>
                          <th width="8%">Po Qtn Cancel</th>
                          <th width="7%">Comp</th>
                          <th width="8%">Received</th>
                          <th width="8%">View</th>
                          <th width="12%">Shotclosure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of persons; let row_no = index">
                          <td>
                            {{ row_no + 1 }}
                          </td>
                          <td class="text-left">
                            <a [routerLink]="['/poedit',person.id]">{{person.po_no }}</a>
                          </td>
                          <!-- <td class="text-left">
                            {{person.indent_no}}
                          </td> -->
                          <td>
                            {{person.created_date}}
                          </td>
                          <td>
                            {{person.supplier}}
                          </td>
                          <td class="text-left">
                            {{person.po_type}}
                          </td>
                          <td style="text-align:right !important">
                            {{person.po_value | number }}
                          </td>
                          <td class="text-left">
                            <span *ngIf="person.status == 0" class="po-pending">
                              <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Pending</span>
                            <span *ngIf="person.status == 1" class="po-cancelled">
                              <i class="fa fa-times" aria-hidden="true"></i> Cancelled</span>
                            <span *ngIf="person.status == 2" class="po-approved">
                              <i class="fa fa-check" aria-hidden="true"></i> Approved</span>
                            <span *ngIf="person.status == 3" class="po-discussion">
                              <i class="fa fa-commenting" aria-hidden="true"></i> Discussion</span>
                          </td>
                          <td style="text-align:center !important">
                            <button class="btn btn-default btn-xs" *ngIf="person.po_type != 'DirectPO' && person.po_type != 'ExcessPO';else dash">
                              <i class="fa fa-paperclip" aria-hidden="true"></i>
                            </button>
                          </td>
                          <td style="text-align:center !important">
                            <button  class="btn btn-danger btn-xs" (click)="cancelpo(person,row_no)" *ngIf="person.po_type != 'ExcessPO' && person.status == 0 || person.po_type != 'ExcessPO' && person.status == 3;else dash">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                          </td>
                          <td style="text-align:center !important">
                            <button class="btn btn-danger btn-xs" (click)="cancelpoQtn(person,row_no)" *ngIf="person.po_type != 'DirectPO' && person.po_type != 'ExcessPO' ;else dash">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                          </td>
                          <td style="text-align:center !important">
                            <button class="btn btn-primary btn-xs" (click)="getcompare(person)" *ngIf="person.po_type != 'DirectPO' && person.po_type != 'ExcessPO';else dash">
                              <i class="fa fa-balance-scale" aria-hidden="true"></i>
                            </button>
                          </td>
                          <td style="text-align:center !important">
                            <span *ngIf="person.is_received == 1" class="po-approved">
                              <i class="fa fa-check"></i>
                            </span>
                            <span *ngIf="person.is_received == 0" class="po-cancelled">
                              <i class="fa fa-close"></i>
                            </span>
                            <span *ngIf="person.is_received == 2" class="po-discussion">
                              <i class="fa fa-exclamation-circle"></i>
                            </span>
                          </td>
                          <td style="text-align:center !important">
                            <button class="btn btn-default btn-xs" (click)="getpodetails(person)">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                          </td>
                          <td style="text-align:center !important">
                            <button class="btn btn-warning btn-xs" [routerLink]="['/poedit',person.id]" *ngIf="person.is_received == 2;else dash">
                              <i class="fa fa-ban" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                      <ng-template #dash>-</ng-template>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chart tab-pane" id="trim-vs-articles" *ngIf="showtab">
              <app-po-view [poid]="poid" (notifycancel)="notifycancel()"></app-po-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-allocpop [(visible)]="showDialog" *ngIf="showDialog">
  <app-comparision-view [enqid]="enqid" (close)="close()"></app-comparision-view>
</app-allocpop>