<div class="col-md-12 overlay" *ngIf="show_loader">
  <div class="loader loaderpos">
    <div class="loader-inner ball-scale-multiple">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div class="col-sm-12 p-b-20">
  <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="cancel()">
    <i class="fa fa-times"></i>
  </button>
  <button class="visible-md visible-lg btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
    (click)="printpos()">
    <i class="fa fa-print"></i>
  </button>
</div>

<!-- <div class="left page-height-40 col-md-12 col-sm-12 col-xs-12 print-pg" id="printsection" *ngIf="PurLineDetails && supplierdtls">
  <div class="col-sm-12">
    <div class="col-md-12 col-sm-12 col-xs-12 m-b-20">
      <div class="col-md-4 col-sm-4 col-xs-4 text-left m-t-25">
        <img src="assets/images/favicon - Copy.png" style="height: 50px" />
      </div>
      <div class="col-md-8 col-sm-8 col-xs-8 text-left">
        <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
        <p class="caps-pad m-b-0" style="text-transform : capitalize">
          <span>Idigarai Road, NGGO Colony</span>
        </p>
        <p class="caps-pad m-b-0" style="text-transform : capitalize">
          <span>Coimbatore-641022, Tamil nadu, India</span>
        </p>
        <p class="caps-pad m-b-0" style="text-transform : capitalize">Telephone:
          <span>91 422 2642224</span>, Email:
          <span style="text-transform : lowercase !important">info@saapl.net</span>
        </p>
        <p class="caps-pad m-b-0" style="text-transform : capitalize">
          <span>GSTIN Number:</span>
          <span>33AABCB0064H1Z9</span> ,
          <span>PAN Number:</span>
          <span>AABCB0064H</span>
        </p>
      </div>
    </div>
    <p class="text-left bold">PURCHASE ORDER</p>
    <hr class="clearfix">

    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="col-md-6 col-sm-12 col-xs-12 no-pad">
        <div class="col-md-12 col-sm-4 col-xs-6 no-pad">
          <div class="text-left bold od-date date-nw">To :</div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
          <div class="address-widt">
            <span class="clearfix">{{supplierdtls.supplier_name}},</span>
            <span>{{supplierdtls.address_city.city_name}},{{supplierdtls.address_state.state_name}},</span>
            <span>{{supplierdtls.address_country.country_name}}, {{supplierdtls.address_pincode}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-6">
      <div class="col-md-6 col-sm-12 col-xs-12 pull-right clearfix no-pad">
        <div class="text-left bold  date-nw">PO No :</div>
        <div class="text-left  datev-nw">
          <span>{{purDetails.po_no}}</span>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 pull-right clearfix no-pad">
        <div class="text-left bold od-date date-nw">PO Date :</div>
        <div class="pull-left text-left 0d-txt datev-nw">
          <span>{{purDetails.created_date}}</span>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-xs-12 padding-30">
      <p class="text-left m-t-10">Dear Sir,</p>
      <p class="text-left p-l-10">Please supply the following items as per terms and conditions specified overleaf</p>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 ocn-section">
            <div class="table-responsive">
              <table class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>Part No</th>
                    <th>Part</th>
                    <th>Part Desc</th>
                    <th>Dwg No</th>
                    <th>Rev</th>
                    <th>Material Spec</th>
                    <th>UOM</th>
                    <th>Req Qty</th>
                    <th>Rate/Qty</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of PurLineDetails; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ person.item_code }}</td>
                    <td>{{ person.part }}</td>
                    <td>{{ person.item_desc }}</td>
                    <td>{{ person.drawing_no }}</td>
                    <td>{{ person.revision }}</td>
                    <td>{{ person.material_spec_no }}</td>
                    <td>
                      <span *ngIf="person.uom !='null'">{{person.uom}}</span>
                      <span *ngIf="person.uom =='null'">-</span>
                    </td>
                    <td>{{person.req_qty}}</td>
                    <td>{{person.rate}}</td>
                    <td>{{person.landing_cost}}</td>
                  </tr>
                  <tr *ngIf="!PurLineDetails ?.length">
                    <td colspan="18">No Data</td>
                  </tr>
                </tbody>
              </table>

              <div class="col-sm-12 m-t-30">
                <p class="text-left bold">Type of Purchase : Intra state / Inter state</p>
                <p class="text-left bold">Please charge applicable GST</p>
                <p class="text-left bold">Please provide hsn cde in your invoice, if applicable</p>
              </div>
              <div class="table-responsive clearfix m-b-0">
                <table class="row-border hover table table-striped table-bordered">
                  <thead></thead>
                  <tbody>
                    <tr>
                      <td colspan="2" class="bold" style="text-align: left !important">DELIVERY SCHEDULE</td>
                      <td colspan="3" class="text-right bold">ORDER VALUE</td>
                      <td class="bold">{{calctotal()}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 padding-0 p-b-50">
                <div class="col-md-4 col-sm-4 col-xs-4 text-left">
                  <span class="bold m-r-5 bold">S.NO</span>
                  <span class="bold m-r-5 bold">Schedule Date</span>
                  <span class="bold m-r-5 bold">Qty</span>
                </div>
              </div>
              <hr class="clearfix">
              <div class="col-md-12 col-sm-12 col-xs-12 padding-0 p-b-50">
                <div class="col-md-4 col-sm-4 col-xs-4 text-left">
                  <span class="bold m-r-5 bold">Packing And Forwading :</span>
                  <span class="clearfix">SHALL BE ARRANGED BY US</span>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8 pull-right">
                  <div>
                    <span class="col-sm-6 bold text-right">Freight :</span>
                    <span class="col-sm-6 text-left"> {{purDetails.freight}}</span>
                  </div>
                  <div class="clearfix">
                    <span class="col-sm-6 bold text-right">Price Basis :</span>
                    <span class="col-sm-6 text-left"> {{purDetails.price_basis_name}}</span>
                  </div>
                  <div class="clearfix">
                    <span class="col-sm-6 bold text-right">Mode of Dispatch :</span>
                    <span class="col-sm-6 text-left"> {{purDetails.mode_of_desp}}</span>
                  </div>
                </div>
              </div>
              <hr class="clearfix">
              <div class="col-md-12 col-sm-12 col-xs-12 padding-0 p-b-50">
                <div class="col-md-8 col-sm-8 col-xs-8 text-left">
                  <p class="bold m-r-5 bold">Special Instruction :</p>
                  <p>{{purDetails.special_inst}}</p>
                  <p class="m-b-0">Kindly ensure to make the GST payment on due date against the supply made to us</p>
                  <p class="m-b-0">Any reversal of input tax credit due to your non payment</p>
                  <p class="m-b-0">shall attract intrest and other charges as per the prevelling GST Law</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 pull-right">
                  <span>For</span>
                  <strong>SAKTHI AUTO ANCILLARY PVT LTD.</strong>
                  <div class="m-t-70">
                    <span>Authorised Signatory</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="ocn-section ocn-section-tbl " id="printsection" *ngIf="PurLineDetails && supplierdtls">
  <h4 class="text-center">PURCHASE ORDER</h4>
  <div class="table-responsive table-resp-pad">
    <strong class="pull-right" style="color:#000">PRC/05/00/01.06.2006</strong>
    <table class="table table-striped table-bordered report-container print-view" style="border:1px solid #333;">
      <thead class="report-header">
        <tr>
          <td colspan="2" style="text-align:center">
            <img src="assets/images/favicon - Copy.png" />
          </td>
          <td colspan="7" style="text-align:center">
            <app-company-td></app-company-td>
            <!-- <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
            <p class="caps-pad m-b-0" style="text-transform : capitalize">
              <span>Idigarai Road, NGGO Colony</span>
            </p>
            <p class="caps-pad m-b-0" style="text-transform : capitalize">
              <span>Coimbatore-641022, Tamil nadu, India</span>
            </p>
            <p class="caps-pad m-b-0" style="text-transform : capitalize">Telephone:
              <span>91 422 2642224</span>, Email:
              <span style="text-transform : lowercase !important">info@saapl.net</span>
            </p>
            <p class="caps-pad m-b-0" style="text-transform : capitalize">
              <span>CIN Number:</span>
              <span>U29199TZ1998PTC008320</span> ,
              <span>GSTIN Number:</span>
              <span>33AABCB0064H1Z9</span> ,
              <span>PAN Number:</span>
              <span>AABCB0064H</span> -->
          </td>
          <td colspan="2" style="text-align:center">
            <div class="text-left bold  date-nw">Division Ref :</div>
            <div class="text-left  datev-nw">
              <span>Valves</span>
            </div>
          </td>
        </tr>
        <tr>
          <td rowspan="2" colspan="9">
            <div class="col-md-6 col-sm-12 col-xs-12 no-pad">
              <div class="col-md-12 col-sm-4 col-xs-6 no-pad">
                <div class="text-left bold od-date date-nw">To :</div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
                <div class="address-widt">
                  <span class="clearfix">{{supplierdtls.display_cmpy_name}},</span>
                  <span class="clearfix">{{supplierdtls.address_line1}}</span>
                  <span>
                    {{supplierdtls.address_city.city_name}}
                    -{{supplierdtls.address_pincode}} {{supplierdtls.address_state.state_name}}
                    {{supplierdtls.address_country.country_name}}</span>
                  <span class="clearfix">GSTIN Number : {{supplierdtls.gstin_no || '-'}}</span>
                </div>
              </div>
            </div>
          </td>
          <td colspan="2">
            <div class="text-left bold  date-nw">PO No :</div>
            <div class="text-left  datev-nw">
              <span>{{purDetails.po_no}}</span>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="text-left bold od-date date-nw">PO Date :</div>
            <div class="pull-left text-left 0d-txt datev-nw">
              <span>{{purDetails.created_date}}</span>
            </div>
          </td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="11">
            <p class="text-left m-t-10">Dear Sir,</p>
            <p class="text-left p-l-10">Please supply the following items as per terms and conditions specified
              overleaf</p>
          </td>
        </tr>
        <tr class="cs">
          <td>S.NO</td>
          <td>Part No</td>
          <td>Part & Part Desc</td>
          <td>Dwg No & Rev</td>
          <td>Material</td>
          <td>Material Spec & Rev</td>
          <td>UOM</td>
          <td>Req Qty</td>
          <td width="10%">Delivery Date</td>
          <td>Rate/Qty</td>
          <td>Amount</td>
        </tr>
        <tr *ngFor="let person of PurLineDetails; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ person.item_code }}</td>
          <td>
            <span *ngIf="person.part">{{ person.part }} - ({{ person.item_desc }})</span>
          </td>
          <td>{{ person.drawing_no }} ({{ person.revision }})</td>
          <td>{{person.material}}</td>
          <td>
            <span *ngIf="person.material_spec_no != '-'">{{ person.material_spec_no }}({{ person.revision }})</span>
          </td>
          <td>
            <span *ngIf="person.uom !='null'">{{person.uom}}</span>
            <span *ngIf="person.uom =='null'">-</span>
          </td>
          <td style="text-align: center !important">{{person.req_qty || ""}}</td>
          <td>{{person.schedule_date}}</td>
          <td style="text-align: right !important">
            <span *ngIf="person.rate">{{person.rate | number}}</span></td>
          <td style="text-align: right !important">
            <span *ngIf="person.landing_cost">{{person.landing_cost |number}}</span></td>
        </tr>
        <tr *ngIf="!PurLineDetails ?.length">
          <td colspan="18">No Data</td>
        </tr>
        <tr>
          <td colspan="11">
            <p class="text-left bold">Type of Purchase : Intra state / Inter state</p>
            <p class="text-left bold">Please charge applicable GST</p>
            <p class="text-left bold">Please provide hsn code in your invoice, if applicable</p>
          </td>
        </tr>
        <tr>
          <td colspan="7" class="bold" style="text-align: left !important"></td>
          <td colspan="3" class="bold cs" style="text-align:right">ORDER VALUE</td>
          <td class="bold cs" style="text-align:right">{{calctotal() | number}}</td>
          <!-- CURRENCY PIPE FOR INR | number -->
        </tr>
        <!-- <tr>
          <td colspan="2">
            S.NO
          </td>
          <td colspan="5">
            Schedule Date
          </td>
          <td colspan="4">
            Qty
          </td>
        </tr> -->
        <!-- <tr>
          <td colspan="12" style="height:100px">

          </td>
        </tr> -->
        <!-- <tr>
          <td colspan="4">Payment Type</td>
          <td colspan="3">Payment Term</td>
          <td colspan="5">Percentage</td>
        </tr>
        <tr *ngIf="purDetails.popayment">
          <ng-container *ngFor="let data of purDetails.popayment; let i=index">
            <td colspan="4">{{data.payment_type}}</td>
            <td colspan="3">{{data.payment_terms}}</td>
            <td colspan="5">{{data.payment_percentage}} %</td>
          </ng-container>
        </tr>
        <tr *ngIf="!purDetails.popayment?.length">
          <td colspan="12" style="text-align:center!important">No Payment Details</td>
        </tr> -->
        <tr>
          <td colspan="7" rowspan="3">
            <span class="bold m-r-5 bold">Packing And Forwading : {{purDetails.packing_and_forwarding}}</span>
            <span class="clearfix bold m-r-5 bold">Additional Instruction : {{purDetails.additional_inst}}</span>
          </td>
          <td colspan="2" class="bold">
            Freight
          </td>
          <td colspan="2">
            {{purDetails.freight}}
          </td>
        </tr>
        <tr>
          <td colspan="2" class="bold">
            Mode of Dispatch
          </td>
          <td colspan="2">
            {{purDetails.mode_of_desp}}
          </td>
        </tr>
        <tr>
          <td colspan="2" class="bold">
            Payment Term
          </td>
          <td colspan="2">
            {{paymentterms}}
          </td>
        </tr>
      </tbody>
      <tfoot class="report-footer">
        <tr>
          <td colspan="7">
            <p class="bold m-r-5 bold" style="margin-bottom:20px !important">Special Instruction :
              {{purDetails.special_inst}}</p>
            <p class="m-b-0">Kindly ensure to make the GST payment on due date against the supply made to us</p>
            <p class="m-b-0">Any reversal of input tax credit due to your non payment</p>
            <p class="m-b-0">shall attract intrest and other charges as per the prevelling GST Law</p>
          </td>
          <td colspan="5">
            <span>For</span>
            <strong>SAKTHI AUTO ANCILLARY PVT LTD.</strong>
            <div class="m-t-70">
              <span>Authorised Signatory</span>
            </div>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>