<!-- ============================================================== -->
<div class="content-page">
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Sales</a>
              </li>
              <li class="active">Sales Contract</li>
            </ol>
            <h4 class="page-title">Sales Contract</h4>
            <!-- <button (click)="resetform()">clear</button> -->
          </div>
        </div>
      </div>

      <!--tab-->
      <app-add-edit-salesorder [orderdetail]="orderdetail"></app-add-edit-salesorder>
      <!--tab-->
    </div>
    <!-- end container -->
  </div>
  <!-- end content -->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->