<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Purchase</a>
              </li>
              <li class="active">PO Authorize Pending</li>
            </ol>
            <h4 class="page-title">PO Authorize Pending</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group field-pad madeups ocn"><!--p-date-invoice -->
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from" name="from"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Type
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <select class="form-control" class="form-control" [(ngModel)]="filter.type">
                            <option *ngFor="let stat of contype" [ngValue]="stat.name">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Status
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <select class="form-control" class="form-control" [(ngModel)]="filter.status">
                            <option *ngFor="let stat of indentstatus" [ngValue]="stat.value">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 form-buttons">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="getPOlist()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>PO No</th>
                    <th>PO Type</th>
                    <th>Indent No</th>
                    <th>PO Date</th>
                    <th>Supplier</th>
                    <th>PO Value</th>
                    <th>Comparision</th>
                    <th width="10%">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of persons; let row_no = index">
                    <td>
                      {{ row_no + 1 }}
                    </td>
                    <td class="text-left">
                      <a [routerLink]="['/poauthorize',person.id]">{{person.po_no }}</a>
                    </td>
                    <td class="text-left">
                      {{person.po_type}}
                    </td>
                    <td class="text-left">
                      {{person.indent_no}}
                    </td>
                    <td>
                      {{person.created_date}}
                    </td>
                    <td>
                      {{person.supplier}}
                    </td>
                    <td style="text-align:right !important">
                      {{person.po_value | number}}
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary btn-xs" (click)="getcompare(person)" *ngIf="person.po_type != 'DirectPO'">
                            <i class="fa fa-balance-scale" aria-hidden="true"></i>
                          </button>
                    </td>
                    <td class="text-left">
                      <span *ngIf="person.status == 0" class="po-pending">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Pending</span>
                      <!-- <span *ngIf="person.status == 1" class="po-cancelled">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelled</span> -->
                      <span *ngIf="person.status == 2" class="po-approved">
                        <i class="fa fa-check" aria-hidden="true"></i> Authorized</span>
                      <!-- <span *ngIf="person.status == 3" class="po-discussion">
                        <i class="fa fa-commenting" aria-hidden="true"></i> Discussion</span> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-allocpop [(visible)]="showDialog" *ngIf="showDialog">
    <app-comparision-view [enqid]="enqid" (close)="close()"></app-comparision-view>
  </app-allocpop>