<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan trim-alloct trim-item">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Item Master</a>
              </li>
              <li class="active">Product Value</li>
            </ol>
            <h4 class="page-title">Product Value</h4>
          </div>
        </div>
      </div>
      <div class="portlet ocn-form">
        <div class="row">
          <div class="bg-white">
            <div class="col-md-12 col-sm-12 form-body">
              <div class="portlet-heading">
                <div class="oc-ftm-container">
                  <div class="row">
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn slip p-slip">
                          <label for="exampleInputEmail1" class="extra-wid4">Item
                            <span class="red">*</span>
                          </label>
                          <div class="left">
                            <ng2-completer [openOnClick]="true" [(ngModel)]="item" name="item" (selected)="getitemdetails($event)"
                              [datasource]="items" [minSearchLength]="0"></ng2-completer>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-body mar-btm">
        <div class="col-sm-12 m-t-10" *ngIf="selecteditem">
          <div class="col-sm-12 m-b-10">
            <div class="col-sm-2">
              <span class="col-sm-12 bold">Part NO </span>
              <span class="col-sm-12">{{selecteditem.part_no || '-'}}</span>
            </div>
            <div class="col-sm-2">
              <span class="col-sm-12 bold">Part Type </span>
              <span class="col-sm-12">{{selecteditem.part_type || '-'}}</span>
            </div>
            <div class="col-sm-2">
              <span class="col-sm-12 bold">Component </span>
              <span class="col-sm-12">{{selecteditem.component || '-'}}</span>
            </div>
            <div class="col-sm-2">
              <span class="col-sm-12 bold">Comp Desc </span>
              <span class="col-sm-12">{{selecteditem.component_desc || '-'}}</span>
            </div>
            <div class="col-sm-2">
              <span class="col-sm-12 bold">Rate </span>
              <span class="col-sm-12">{{parentdata ?.rate || "-"}}</span>
            </div>
            <div class="col-sm-2">
              <span class="col-sm-12 bold">Product Value </span>
              <span class="col-sm-12">{{total || "-"}}</span>
            </div>
          </div>
          <hr class="clearfix ">
        </div>
        <h4 class="text-left page-title m-t-10">BOM Details</h4>
        <div class="ocn-section">
          <div class="table-responsive">
            <table class="row-border hover table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="5%">Part No</th>
                  <th width="5%">Part Desc</th>
                  <th width="5%">UOM</th>
                  <th width="5%">Dwg No</th>
                  <th width="5%">Part Type</th>
                  <th width="5%">Req Qty</th>
                  <th width="5%">Rate/Qty</th>
                  <th width="5%">Total Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of parent; let row_no = index">
                  <td>{{person.child_part_no}}</td>
                  <td>{{person.child_part_desc}}</td>
                  <td>{{person.uom}}</td>
                  <td>{{person.child_dwg_line}}</td>
                  <td>{{person.child_part_type}}</td>
                  <td>{{person.quantity}}</td>
                  <td [ngClass]="{'bgPro':person.parent_id == parentdata.part_id}">{{person.total_rate}}</td>
                  <td [ngClass]="{'bgPro':person.parent_id == parentdata.part_id}">{{person.total_amount}}</td>
                </tr>
                <tr *ngIf="parent?.length">
                  <td colspan="7" class="bold" style="text-align: right !important">Total</td>
                  <td class="bold">{{total - parentdata ?.rate}}</td>
                </tr>
                <tr *ngIf="!parent?.length">
                  <td colspan="10">
                    No Data
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>