<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Production</a>
                            </li>
                            <li class="active">Production Entry</li>
                        </ol>
                        <h4 class="page-title">Production Entry</h4>
                    </div>
                </div>
            </div>
            <!-- Start row -->
            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body">
                        <div class="portlet-heading">
                            <div class="oc-ftm-container">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn stock">
                                                <label for="exampleInputEmail1" class="extra-wid">SC No
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="left box-wid xtra">
                                                    <ng2-completer [openOnClick]="true" [(ngModel)]="orderno"
                                                        name="orderno" (selected)="selectorder($event)"
                                                        [datasource]="allorders" [minSearchLength]="0"></ng2-completer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputEmail1">Customer
                                                </label>
                                                <div class="left">
                                                    <input type="text" class="form-control" [(ngModel)]="customer" name="customer" [readonly]="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputEmail1">From</label>
                                                <input type="text" class="form-control"  [(ngModel)]="from" name="from" [readonly]="true">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputEmail1">To</label>
                                                <input type="text" class="form-control"  [(ngModel)]="to" name="to" [readonly]="true">
                                            </div>
                                        </div>
                                    </div> -->
                                </div>

                            </div>
                        </div>
                        <!-- text-->
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <!--tab-->
        <section class="col-lg-12" style="padding:0">
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <div class="box-body mar-btm">
                    <div class="col-sm-12 ocn-section">
                        <div class="table-responsive">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                                class="table table-striped table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th width="1%">S.No</th>
                                        <th width="1%">Line No</th>
                                        <th width="3%">Part No</th>
                                        <th width="4%">Part</th>
                                        <th width="4%">Part Desc</th>
                                        <th width="3%">Qty</th>
                                        <th width="3%">Reserved Qty</th>
                                        <th width="3%">To Be Produced</th>
                                        <th width="3%">Produced Qty</th>
                                        <th width="3%">Prod Qty</th>
                                        <!-- <th width="3%">Bal Qty</th> -->
                                        <th width="1%">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let itemrow of salesorderarray; let i=index">
                                        <td>{{i+1}}</td>
                                        <td>
                                            {{itemrow.line_no}}
                                        </td>
                                        <td>
                                            {{itemrow.part_no}}
                                        </td>
                                        <td>
                                            {{itemrow.component}}
                                        </td>
                                        <td>
                                            {{itemrow.component_desc}}
                                        </td>
                                        <td>
                                            {{itemrow.quantity}}
                                        </td>
                                        <td>
                                            {{itemrow.stk_alloc_qty}}
                                        </td>
                                        <td>
                                            {{itemrow.quantity - itemrow.stk_alloc_qty}}
                                        </td>
                                        <td>
                                            {{itemrow.prod_quantity}}
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" [(ngModel)]="itemrow.PQty"
                                                name="PQty" (focus)="openpop(itemrow,i)" />
                                            <input type="hidden" class="form-control" [(ngModel)]="itemrow.XQty"
                                                name="XQty" />
                                        </td>
                                        <!-- <td>
                                            {{calcbalnce(itemrow.quantity,itemrow.XQty,itemrow.PQty,itemrow.stk_alloc_qty)}}
                                        </td> -->
                                        <td class="text-right view-center">
                                            <button class="btn btn-xs btn-default"
                                                (click)="getentrydetails(itemrow.id)">
                                                <i class="fa fa-eye"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <!-- <tr *ngIf="nodata">
                                        <td colspan="12">No data</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
                            <!-- <button class="btn btn-success btn-custom waves-effect waves-light" (click)="saveentry()">
                                <i class="fa fa-check"></i> Save</button> -->
                            <button (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light"
                                data-toggle="tooltip" data-placement="top" title="" data-original-title="Export Print">
                                <i class="fa fa-times"></i> Clear</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--tab-->
    </div>
    <!-- end container -->
</div>

<app-slip-popup [(visible)]="showQtyDialog">

    <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 ocn-section">
        <div class="col-md-12" *ngIf="partdtl">
            <span class="col-md-4 col-sm-4 padding-0 bold">Total Qty : {{partdtl.quantity}}</span>
            <span class="col-md-4 col-sm-4 padding-0 bold">Produced Qty : {{partdtl.prod_quantity}}</span>
            <span class="col-md-4 col-sm-4 padding-0 bold">
                To Be Produced Qty : {{partdtl.quantity - partdtl.stk_alloc_qty}}</span>
        </div>
        <hr class="clearfix">
        <div class="col-lg-6 col-sm-6 col-md-6 clearfix m-t-20 m-b-20">
            <div class="ocn-status">
                <div class="form-group madeups ocn field-pad">
                    <label for="exampleInputEmail1" class="lbl-wid">Production Qty
                        <span class="red">*</span>
                    </label>
                    <input name="prodqty" type="text" class="form-control box-wid" value="" [(ngModel)]="prodqty"
                        (keyup)="allowqty(partdtl.quantity,partdtl.stk_alloc_qty,prodqty)">
                </div>
            </div>
        </div>
        <!-- <hr class="clearfix">
        <h4 class="text-center clearfix">Stock Details</h4>
        <div class="table-responsive page-height" style="height:.01% !important">
            <table class="table table-striped table-bordered text-center" *ngIf="Partstockdetails">
                <thead>
                    <tr>
                        <th width="1%"></th>
                        <th width="2%">S.No</th>
                        <th width="4%">SC NOS</th>
                        <th width="2%">Slip_no</th>
                        <th width="4%">Slip_date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemrow of Partstockdetails; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{itemrow.sc_nos}}</td>
                        <td>
                            {{itemrow.slip_no}}
                        </td>
                        <td>
                            {{itemrow.slip_date}}
                        </td>
                    </tr>
                    <tr *ngIf="!Partstockdetails ?.length">
                        <td colspan="5">No data</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
            <button class="btn btn-success btn-small waves-effect waves-light" (click)="saveentry(index)">
                <i class="fa fa-check"></i> Save</button>
            <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
                <i class="fa fa-times"></i> cancel</button>
        </div>
    </div>
</app-slip-popup>

<app-slip-popup [(visible)]="showDialog" *ngIf="stockdetails">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-12 ocn-section">
                <h3 class="text-center">Stock Entered Details</h3>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="1%">S.No</th>
                                <th width="3%">Part No</th>
                                <th width="2%">Product Qty</th>
                                <th width="4%">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of stockdetails; let i=index">
                                <td>{{i+1}}</td>
                                <td>
                                    {{data.part_no}}
                                </td>
                                <td>
                                    {{data.prod_quantity}}
                                </td>
                                <td>
                                    {{data.modi_dt}}
                                </td>
                            </tr>
                            <tr *ngIf="!stockdetails.length">
                                <td colspan="4">No data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
                    <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
                        <i class="fa fa-times"></i> cancel</button>
                </div>
            </div>
        </div>
    </div>
</app-slip-popup>