<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Master</a>
              </li>
              <li class="active">Country</li>
            </ol>
            <h4 class="page-title">Country</h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="row">
                <form [formGroup]="countryForm" (ngSubmit)="addeditcountry(countryForm.value)">
                  <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1" class="extra-wid1">Country Name
                          <span class="red">*</span>
                        </label>
                        <input name="id" type="hidden" class="form-control" value="" [(ngModel)]="country.id" formControlName="id" >
                        <input name="countryname" type="text" class="form-control" value="" [(ngModel)]="country.countryname" formControlName="countryname">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputName2">Status
                          <span class="red">*</span>
                        </label>
                        <select class="form-control" name="status" formControlName="status"  [(ngModel)]="country.status">
                          <!-- <option [ngValue]="-1" disabled selected>Select status</option> -->
                          <option *ngFor="let stat of statusarray" [ngValue]="stat.value">{{stat.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-4 col-md-4 role-btn btn-full-wid">
                    <button type="submit" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                      title="" data-original-title="Save">
                      <i class="fa fa-check"></i>{{buttonname}}</button>
                    <button type="button" class="btn btn-warning btn-custom waves-effect waves-light" (click)="resetform()" data-toggle="tooltip"
                      data-placement="top" title="" data-original-title="Cancel">
                      <i class="fa fa-ban"></i> Cancel</button>
                  </div>
                </form>
              </div>
              <!-- text-->
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
      <!--tab-->
      <section class="col-lg-12" style="padding:0">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">
          <!-- Tabs within a box -->
          <div class="box-body mar-btm">
            <div class="ocn-section">
              <div class="table-responsive">
                <!-- <table  datatable [dtOptions]="dtOptions" class="row-border hover table table-striped table-bordered"></table> -->

                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>S.NO</th>
                      <th>Country Name</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let person of persons; let row_no = index">
                      <td>{{ row_no + 1 }}</td>
                      <td>{{ person.country_name }}</td>
                      <td *ngIf="(person.active_status == 0)" class="text-center">
                        <span>
                          <i class="md md-close close-red"></i>
                        </span>
                      </td>
                      <td *ngIf="(person.active_status == 1)" class="text-center">
                        <span>
                          <i class="md md-check-box"></i>
                        </span>
                      </td>
                      <td>
                        <span>
                          <i class="md md-create" (click)="updatecountry(person)"></i>
                        </span>
                        <span>
                          <i class="md md-delete" (click)="deletecountry(person.id)"></i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>
            </div>
          </div>
        </div>
      </section>
      <!--tab-->
    </div>
    <!-- end container -->
  </div>
  <!-- end content -->

</div>
<!-- ============================================================== -->
<!-- End Right content here -->