<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <!-- <img src="assets/images/gifs/loader.gif" style="margin:2% 21%" /> -->
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Planning</a>
              </li>
              <li class="active">Allocation Cancel</li>
            </ol>
            <h4 class="page-title">Allocation Cancel</h4>
          </div>
        </div>
      </div>

      <!--tab-->

      <div class="nav-tabs-custom">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-12 ocn-section">
              <div class="ocn-form">
                <div class="row">
                  <div class="col-md-12 col-sm-12 form-body">
                    <div class="col-lg-4 col-sm-4 col-md-4">
                      <div class="ocn-status">
                        <div class="form-group field-pad madeups ocn ">
                          <label for="exampleInputName2" class="lbl-wid">SC No <span class="red">*</span></label>
                          <div class="grey-lfts left box-wid">
                            <ng2-completer [openOnClick]="true" [(ngModel)]="sc" name="sc"
                              (selected)="selectedsc($event)" [datasource]="sclist" [minSearchLength]="0">
                            </ng2-completer>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-md-4 pull-right">
                      <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right"
                        (click)="reset()" data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="close">
                        <i class="fa fa-close"></i>
                      </button>
                      <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
                        data-toggle="tooltip" (click)="submit()" data-placement="top" title=""
                        data-original-title="Submit">
                        <i class="fa fa-mail-forward"></i> Submit</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                  class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th width="3%">
                        <input name="checked" type="checkbox" class="form-control" value="" [(ngModel)]="checkallitem"
                          (change)="checkall(checkallitem)" *ngIf="parent ?.length">
                      </th>
                      <th width="5%">Line No</th>
                      <th width="5%">Part No</th>
                      <th width="5%">Part</th>
                      <th width="5%">Part Desc</th>
                      <th width="3%">Qty</th>
                      <th width="8%" style="text-align:center;">WIP Purchase</th>
                      <th width="8%" style="text-align:center;">WIP Job Process </th>
                      <th width="8%" style="text-align:center;">Stock Allocated</th>
                      <th width="8%" style="text-align:center;">Purchase</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let person of parent; let i = index">
                      <td>
                        <input name="checked" type="checkbox" class="form-control" value="" [(ngModel)]="person.checked"
                          (change)="checkedlist(person.checked,person,i)">
                      </td>
                      <td>{{person.sc_line_no}}</td>
                      <td>{{person.part_no}}</td>
                      <td>{{person.part}}</td>
                      <td>{{person.part_desc}}</td>
                      <td style="text-align:center;">{{person.qty}}</td>
                      <td style="text-align:center;">{{person.wip_purchase_alloc_qty}}</td>
                      <td style="text-align:center;">{{person.wip_process_alloc_qty}}</td>
                      <td style="text-align:center;">{{person.alloc_qty}}</td>
                      <td style="text-align:center;">{{person.purchase_qty}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>