<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="javascript:void(0);">Stores</a>
              </li>
              <li>
                <a [routerLink]="['/disposals']">Disposal List</a>
              </li>
              <li>Stock Disposal</li>
            </ol>
            <h4 class="page-title">Stock Disposal</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Department
                        </label>
                        <div class="left">
                          <ng2-completer multiple [openOnClick]="true"  [(ngModel)]="filter.dpt" name="dpt" [datasource]="alldpts"
                            [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Item
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <ng2-completer multiple [openOnClick]="true" [(ngModel)]="filter.item" name="dpt" [datasource]="allitems"
                            [minSearchLength]="0" (selected)="searchdiposals($event)"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="searchissues()">
                      <i class="md md-search"></i> Search </button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-body mar-btm">
        <div class="ocn-section col-sm-12">
          <div class="table-responsive th-center">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
              <thead>
                <tr>
                  <th width=3%></th>
                  <th width=2%>S.NO</th>
                  <th width=15%>Department</th>
                  <th width=15%>Item Code</th>
                  <th width=15%>Item</th>
                  <th width=10%>UOM</th>
                  <th width=10%>Stock Qty</th>
                  <th width=10%>Disposal Qty</th>
                  <th width=10%>Disposal Reason</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of persons; let i = index">
                  <td>
                    <input type="checkbox" [(ngModel)]="person.check" name="check" (change)="checklist(person.check,person,i)" />
                  </td>
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td class="text-left">
                    <span *ngIf="person.pindent.dept != null"> {{ person.pindent.dept.department_name}} </span>
                    <span *ngIf="person.pindent.dept == null"> {{ "-"}} </span>
                  </td>
                  <td class="text-left">{{ person.pindent.indent_no }}</td>
                  <td class="text-left">{{ person.pindent.indent_date }}</td>
                  <td class="text-left">{{ person.part_no }}</td>
                  <td class="text-left">{{ person.part_desc }}</td>
                  <td>{{ person.crt_quantity }}</td>
                </tr>
                <tr *ngIf="!persons ?.length">
                  <td colspan="13">No data</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4 form-buttons m-b-20">
            <button class="btn btn-warning btn-custom waves-effect waves-light pull-right">
              <i class=" md-close"></i> Clear </button>
            <button class="btn btn-success btn-custom waves-effect waves-light m-r-5 pull-right" (click)="saveentry()">
              <i class=" md-check"></i> Save </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>