<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Purchase</a>
              </li>
              <li class="active">PO Confirmation</li>
            </ol>
            <h4 class="page-title">PO Confirmation</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn p-date-invoice">
                        <label for="exampleInputEmail1">From
                        </label>
                        <div class="input-group" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from"
                            name="from" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn p-date-invoice">
                        <label for="exampleInputEmail1">To
                        </label>
                        <div class="input-group" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Status
                        </label>
                        <select class="form-control" class="form-control" [(ngModel)]="filter.status">
                          <option *ngFor="let stat of indentstatus" [ngValue]="stat.value">{{stat.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="searchPo()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
          </li>
          <!-- *ngIf="showtab" -->
          <li class="dis" *ngIf="showtab">
            <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
          </li>
          <!--<span class="trim-count"><strong>Trims Count:</strong> <span class="h-lit">40</span></span>-->
        </ul>

        <div class="tab-content no-padding padding-pad ">
          <div class="chart tab-pane active" id="tplan">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section">
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th width="2%"></th>
                          <th width="5%">PO No</th>
                          <th width="10%">PO Date</th>
                          <th width="5%">Supplier</th>
                          <th width="5%">PO Value</th>
                          <th width="5%">Status</th>
                          <th width="5%">View</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of persons; let row_no = index">
                          <td>
                            <input name="checkauthorize" type="checkbox" class="form-control" value="" [(ngModel)]="person.checkauthorize"
                              (change)="checkauthorized(person.checkauthorize,person,row_no)" *ngIf="person.is_poconfirm == 1">
                          </td>
                          <td class="text-left">
                            {{ person.po_no}}
                          </td>
                          <td>
                            {{ person.po_date }}
                          </td>
                          <td class="text-left">{{ person.supplier }}</td>
                          <td style="text-align:right">{{ person.po_value | number}}</td>
                          <td>
                            <span *ngIf="person.is_poconfirm == 1" style="color:#185784;font-weight: bold">
                              <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Pending</span>
                            <span *ngIf="person.is_poconfirm == 2" style="color:#39a972;font-weight: bold">
                              <i class="fa fa-check" aria-hidden="true"></i> Confirmed</span>
                          </td>
                          <td class="text-center">
                            <button class="btn btn-default btn-xs" (click)="getpodetails(person)">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button (click)="uncheckall()" class="btn btn-warning btn-custom waves-effect waves-light pull-right m-r-5"
                      data-toggle="tooltip" data-placement="top" title="" data-original-title="Authorise">
                      <i class="fa fa-paint-brush"></i> clear All</button>
                    <button (click)="confirmorder()" class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5"
                      data-toggle="tooltip" data-placement="top" title="" data-original-title="Authorise">
                      <i class="fa fa-check"></i> Confirm</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="chart tab-pane" id="trim-vs-articles" *ngIf="showtab">
            <!-- View-Indent Component-->
            <app-po-view [poid]="poid" (notifycancel)="notifycancel()"></app-po-view>
            <!-- View-Indent Component-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>