<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Reports</a>
              </li>
              <li class="active">Item Location Report</li>
            </ol>
            <h4 class="page-title">Item Location Report</h4>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">Part</a>
          </li>
          <li class="dis">
            <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Bin</a>
          </li>
        </ul>

        <div class="tab-content no-padding padding-pad ">
          <div class="chart tab-pane active" id="tplan">
            <div class="box-body mar-btm">
              <div class="ocn-section ocn-section-wid">

                <div class="col-lg-3 col-sm-3 col-md-3">
                  <div class="ocn-status">
                    <div class="form-group madeups ocn field-pad">
                      <label for="exampleInputEmail1" class="lbl-wid">Part No
                      </label>
                      <div class="left box-wid">
                        <ng2-completer [openOnClick]="true" [(ngModel)]="filter.item" name="item" [datasource]="activeitems"
                          [minSearchLength]="0" (selected)="selectedpart($event)"></ng2-completer>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="table-responsive clear-fix col-md-12 col-sm-12">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th rowspan="2">S.NO</th>
                        <th rowspan="2">Part No</th>
                        <th rowspan="2">Part</th>
                        <th rowspan="2">Part Desc</th>
                        <th rowspan="2">Bin</th>
                        <th rowspan="2">Rack</th>
                        <th rowspan="2">Location</th>
                        <th colspan="4" style="text-align:center;">Qty</th>
                      </tr>
                      <tr>
                        <th>Reserved</th>
                        <th>Open</th>
                        <th>Rejected</th>
                        <th>Rework</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let person of persons; let row_no = index">
                        <td>
                          {{ row_no + 1 }}
                        </td>
                        <td class="text-left">
                          {{ itemdetails.part_no }}
                        </td>
                        <td class="text-left">
                          {{ itemdetails.component }}
                        </td>
                        <td class="text-right">{{ itemdetails.component_desc }}</td>
                        <td>{{ person.bin_name }}</td>
                        <td class="text-right view-center">
                          {{person.rack_name}}
                        </td>
                        <td class="text-right view-center">{{person.location}}</td>
                        <td class="text-right view-center">
                          <span *ngIf="person.res_qty !=0;else dash">{{person.res_qty || "-"}}</span>
                        </td>
                        <td>
                          <span *ngIf="person.open_qty !=0;else dash">{{person.open_qty || "-"}}</span>
                        </td>
                        <td>
                          <span *ngIf="person.rej_qty !=0;else dash">{{person.rej_qty || "-"}}</span>
                        </td>
                        <td>
                          <span *ngIf="person.rework_qty !=0;else dash">{{person.rework_qty || "-"}}</span>
                        </td>
                      </tr>
                    </tbody>
                    <ng-template #dash>-</ng-template>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="chart tab-pane" id="trim-vs-articles">
            <app-itembin-report></app-itembin-report>
          </div>
        </div>
      </div>
    </div>
  </div>