
<!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">

        <div class="content">
          <div class="container">
            <!-- Page-Title -->
            <div class="row">
              <div class="col-sm-12 no-b-m">
                <div class="page-title-box">
                  <ol class="breadcrumb pull-right">
                    <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
                    <li><a href="javascript:void(0);">Sales</a></li>
                    <li class="active">Sales Contract</li>
                  </ol>
                  <h4 class="page-title">Sales Contract</h4>
                </div>
              </div>
            </div>
            <!-- Start row -->
            <!--<div class="portlet ocn-form">
              <div class="row">
                <div class="col-md-12 col-sm-12 form-body">
                  <div class="portlet-heading">
                    <div class="oc-ftm-container">
                      <div class="row">
                        <div class="col-lg-4 col-sm-4 col-md-4">
                          <div class="ocn-status">
                            <div class="form-group madeups ocn ">
                              <label for="exampleInputEmail1">Role Name<span class="red">*</span></label>
                              <input name="text" type="text" class="form-control" value="">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-md-4">
                          <div class="ocn-status">
                            <div class="form-group madeups ocn ">
                              <label for="exampleInputEmail1">Description<span class="red">*</span></label>
                              <input name="text" type="text" class="form-control" value="">
                            </div>
                          </div>
                        </div>
                         <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                        <button class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save"><i class="fa fa-check"></i>	Save</button>
                <button class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel"><i class="fa fa-ban"></i> Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>-->
            <!-- end row -->
            <!--tab-->

            <!--tab-->
          </div>
          <!-- end container -->
        </div>
        <!-- end content -->

      </div>
      <!-- ============================================================== -->
      <!-- End Right content here -->

