<simple-notifications></simple-notifications>

<div class="wrapper-page login-form-bg">

    <div class="text-center">
        <!--<a href="index.html" class="logo-lg"><i class="md md-equalizer"></i> <span>Minton</span> </a> -->

        <a href="#" class="logo-lg">
            <img src="assets/images/login-logo.png" />
        </a>
    </div>

    <form class="form-horizontal m-t-20" [formGroup]="login" (ngSubmit)="loginform(login.value)">

        <div class="form-group">
            <div class="col-xs-12">
                <input class="form-control" name="username" type="text" required="" placeholder="Email" formControlName="username" [(ngModel)]="username">
                <i class="md md-account-circle form-control-feedback l-h-34"></i>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <input class="form-control" name="password" type="password" required="" placeholder="Password" formControlName="password"
                    [(ngModel)]="password">
                <i class="md md-vpn-key form-control-feedback l-h-34"></i>
            </div>
        </div>

        <!-- <div class="form-group">
            <div class="col-xs-12">
                <select class="form-control" name="unit" formControlName="unit" [(ngModel)]="unit" (focus)="focusFunction(login.value)" id="unitlist">
                        <option [ngValue]="-1" disabled selected>Select Unit</option>
                    <option *ngFor="let stat of unitlist" [ngValue]="stat.unit_id">{{stat.unit_name}}</option>
                </select>
                <i class=" md-arrow-drop-down form-control-feedback l-h-34"></i>
            </div>
        </div> -->

        <div class="form-group">
            <div class="col-xs-12">
                <div class="checkbox checkbox-primary">
                    <input id="checkbox-signup" type="checkbox" formControlName="remeberme" [(ngModel)]="rememberme" name="rememberme">
                    <label for="checkbox-signup">
                        Remember me
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group text-right m-t-20">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-custom w-md waves-effect waves-light" id="loadbtn" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>&nbsp;Authenticating"
                    type="submit">
                    Login
                </button>
            </div>
        </div>

        <div class="form-group m-t-30">
            <div class="col-sm-7">
                <a href="#" class="text-muted" (click)="onForgotPassword()">
                    <i class="fa fa-lock m-r-5"></i> Forgot your password?
                </a>
            </div>
            <!--<div class="col-sm-5 text-right">
                <a href="pages-register.html" class="text-muted">Create an account</a>
            </div> -->
        </div>
    </form>
</div>

<app-login-pop [(visible)]="showDialog" class="loginpop">
    <div class="col-sm-12 ocn-section">
        <h4 class="text-center">Units</h4>
        <form class="form-horizontal m-t-20" [formGroup]="unitarray">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <ng-select [options]="unitlist" placeholder="Select Unit" formControlName="unit" name="unit" style="width:100% !important"></ng-select>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
                <button class="btn btn-success btn-small waves-effect waves-light" (click)="logintodash(unitarray.value)">
                    <i class="fa fa-check"></i> Ok</button>
                <button class="btn btn-warning btn-small waves-effect waves-light" (click)="closepopup()">
                    <i class="fa fa-times"></i> cancel</button>
            </div>
        </form>
    </div>
</app-login-pop>