<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->


<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->

    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Admin</a>
                            </li>
                            <li class="active">Role Page Association</li>
                        </ol>
                        <h4 class="page-title">Role Page Association</h4>
                    </div>
                </div>
            </div>
            <!-- Start row -->
            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body">
                        <div class="portlet-heading">
                            <div class="oc-ftm-container">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-5 col-md-4 "><!-- full-wid --> 
                                        <div class="ocn-status"> 
                                            <div class="form-group madeups ocn role-pad">
                                                <label for="exampleInputEmail1">Role Name 
                                                    <span class="red">*</span>
                                                </label>
                                                <ng-select [options]="activeroles" class="role-sel" [(ngModel)]="roles" name="roles" (selected)="onroleselect($event)"></ng-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-sm-5 col-md-4 role-btn"> <!--form-buttons -->
                                        <button class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save"
                                            (click)="createaccess()">
                                            <i class="fa fa-check"></i> Save</button>
                                        <button class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel"
                                            (click)="cancel()">
                                            <i class="fa fa-ban"></i> Cancel</button>
                                    </div>
                                    <div class="col-md-12 m-t-10">
                                        <div class="card-box tree-list">
                                            <div class="tree-list-lft">
                                                <h4 class="text-dark header-title m-t-0 m-b-30">Associate Pages
                                                    <span class="red">*</span>
                                                </h4>
                                            </div>
                                            <div class="tree-list-rgt">
                                                <!-- <h4 class="text-dark header-title m-t-0 m-b-20">Secondary Sales</h4>
                                                <h4 class="text-dark header-title m-t-0 m-b-20">General Purchase</h4> -->
                                                <tree-root #tree [nodes]="nodes" [options]="ITreeOptions">

                                                    <ng-template #treeNodeTemplate let-node="node" let-index="index">
                                                        <input (change)="check( node, $event)" type="checkbox" [indeterminate]="node.data.indeterminate" [checked]="node.data.checked"> {{ node.data.name }}
                                                    </ng-template>
                                                </tree-root>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- text-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end content -->
</div>
<!-- ============================================================== -->
<!-- End Right content here -->