<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Production</a>
              </li>
              <li class="active">Production Stock</li>
            </ol>
            <h4 class="page-title">Production Stock</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad"><!--p-date-invoice-->
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from" name="from"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad"><!--slip p-slip-->
                        <label for="exampleInputEmail1" class="lbl-wid">WO No
                        </label>
                        <div class="left box-wid">
                          <ng2-completer [openOnClick]="true"  [(ngModel)]="filter.wono" name="wono" (selected)="GetAssembleList()"
                            [datasource]="wolist" [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn slip p-slip">
                        <label for="exampleInputEmail1">Part
                        </label>
                        <input type="text" class="form-control"  [(ngModel)]="filter.part_no" name="part_no" />
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-3 col-sm-6 col-md-3">
                    <!-- <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" [routerLink]="['/assemblysearch']">
                      <i class="fa fa-plus"></i> Assemble Req </button> -->
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="GetAssembleList()">
                      <i class="fa fa-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>WO No</th>
                    <th>WO Date</th>
                    <th>Customer</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of persons; let row_no = index">
                    <td>
                      {{ row_no + 1 }}
                    </td>
                    <td class="text-left">
                      {{person.sc_no}}
                    </td>
                    <td class="text-center">
                      {{person.sc_date}}
                    </td>
                    <td>
                      {{person.supplier.supplier_name}}
                    </td>
                    <td class="text-center">
                      <button class="btn btn-xs btn-primary" (click)="showpop(person)">
                        <i class="fa fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-slip-popup [(visible)]="showDialog" *ngIf="showDialog">
  <div class="col-sm-12 ocn-section">
    <h4 class="text-center">Items</h4>

    <span class="bold">SC_No : {{sc_details.sc_no}}</span>
    <div class="table-responsive page-height-40">
      <table class="table table-striped table-bordered text-center" *ngIf="itemsList">
        <thead>
          <tr>
            <th width="5%">S.No</th>
            <th width="20%">Part NO</th>
            <th width="20%">Part Desc</th>
            <th width="10%">Stock Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemrow of itemsList; let i=index">
            <td>{{i+1}}</td>
            <td  class="text-left">{{itemrow.part_no}}</td>
            <td class="text-left">
              {{itemrow.part_desc}}
            </td>
            <td>
              {{itemrow.quantity}}
            </td>
          </tr>
          <tr *ngIf="!itemsList ?.length">
            <td colspan="4">No data</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
      <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
        <i class="fa fa-times"></i> cancel</button>
    </div>
  </div>
</app-slip-popup>