<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <!-- <img src="assets/images/gifs/loader.gif" style="margin:2% 21%" /> -->
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container  trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Production</a>
              </li>
              <li class="active">Stock Order List</li>
            </ol>
            <h4 class="page-title">Stock Order List
            </h4>
          </div>
        </div>
      </div>
      <div class="box-body mar-btm">
        <div class="ocn-section">
          <div class="col-sm-12 m-b-10">
            <div class="pull-right p-t-10">
              <button class="btn btn-primary" [routerLink]="['/addstockorder']">
                <i class="fa fa-plus" aria-hidden="true"></i> Stock Order</button>
            </div>
          </div>
          <hr class="clearfix">
          <div class="nav-tabs-custom">

            <ul class="nav nav-tabs pull-left trims">
              <li class="active dis">
                <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
              </li>
              <!-- *ngIf="showtab" -->
              <li class="dis" *ngIf="showtab">
                <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
              </li>
              <!--<span class="trim-count"><strong>Trims Count:</strong> <span class="h-lit">40</span></span>-->
            </ul>

            <div class="tab-content no-padding padding-pad ">
              <div class="chart tab-pane active" id="tplan">
                <div class="nav-tabs-custom">
                  <div class="box-body mar-btm">
                    <div class="ocn-section">
                      <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>S.NO</th>
                              <th>SC No</th>
                              <th>SC Type</th>
                              <th>SC Date</th>
                              <th>View</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let person of persons; let row_no = index">
                              <td>
                                {{ row_no + 1 }}
                              </td>
                              <td class="text-left">
                                <a href="javascript:void(0)" (click)="viewstock(person.id)">{{ person.sc_no }}</a>
                              </td>
                              <td class="text-left">
                                {{ person.sc_order }}
                              </td>
                              <td>{{ person.sc_date }}</td>
                              <td class="text-right view-center">
                                <button class="btn btn-default btn-xs" (click)="getorderdetails(person.id)">
                                  <i class="fa fa-eye"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart tab-pane" id="trim-vs-articles">
                <div class="col-sm-12 p-b-20">
                  <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="cancel()">
                    <i class="fa fa-times"></i>
                  </button>
                  <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
                    (click)="printpos()">
                    <i class="fa fa-print"></i>
                  </button>
                </div>

                <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>

                <div class="left page-height col-md-12 col-sm-12 col-xs-12 print-pg" id="printsection" *ngIf="stockorder">
                  <div class="col-sm-12">
                    <div class="col-sm-12 col-xs-12">
                      <h4 class="text-center od-confirm">Stock Order</h4>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">

                      <div class="col-md-3 col-sm-2 col-xs-6 pull-right date-box no-pad">
                        <!--<div class="col-md-6 col-sm-6 hidden-xs"></div>-->
                        <div class="text-left bold od-date date-nw">Date :</div>
                        <div class="pull-left text-left 0d-txt datev-nw">
                          <span>{{stockorder.sc_date}}</span>
                        </div>
                      </div>

                      <div class="col-md-3 col-sm-4 col-xs-6 no-pad">
                        <div class="text-left bold  date-nw">Ref :</div>
                        <div class="text-left  datev-nw">
                          <span>{{stockorder.sc_no}}</span>
                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="col-sm-12 col-md-12 col-xs-12 padding-30">
                    <div class="col-sm-12">
                      <div class="row">
                        <div class="col-sm-12 ocn-section">
                          <div class="table-responsive">
                            <table class="table table-striped table-bordered" id="ordertable">
                              <thead>
                                <tr>
                                  <th width="1%">S.No</th>
                                  <th width="2%">Line</th>
                                  <th width="4%">Part No</th>
                                  <th width="3%">Part</th>
                                  <th width="5%">Part Desc</th>
                                  <th width="3%">Qty</th>
                                  <th width="4%">Prod confrim_date</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let data of salesorderdetails; let i=index">
                                  <td>{{i+1}}</td>
                                  <td>
                                    {{data.line_no}}
                                  </td>
                                  <td>
                                    {{data.part_no}}
                                  </td>
                                  <td>
                                    {{data.component}}
                                  </td>
                                  <td>
                                    {{data.component_desc}}
                                  </td>
                                  <td>
                                    {{data.quantity}}
                                  </td>
                                  <td>
                                    {{data.pconfirm_date}}
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 p-b-70 p-l-0" id="ignorePDF">
                      <div class="col-sm-6 col-xs-6 p-t-10 p-l-0 text-left">
                        <span class="bold ">For Shakthi Auto Ancillary pvt.ltd</span>
                      </div>
                      <div class="col-sm-12 col-xs-12 p-t-50 p-l-0 text-left ">
                        <span class="bold">(Authorized Signatory)</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>