<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Production</a>
              </li>
              <li class="active">Job Card</li>
            </ol>
            <h4 class="page-title">Job Card</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn date-pad field-pad"><!--p-date-invoice -->
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from" name="from"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="searchorders()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="box-body mar-btm">
        <div class="ocn-section col-sm-12">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="5%"></th>
                  <th>Part No</th>
                  <th>UOM</th>
                  <th>Qty</th>
                  <th>Prod Confirm Date</th>
                  <th width="10%">Allocation Qty</th>
                  <th width="15%">Requested Stage</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of persons; let i = index">
                  <td>
                    <input type="checkbox" [(ngModel)]="person.checkauthorize" name="checkauthorize" (change)="checkauthorized(person.checkauthorize,person,i)"
                    />
                  </td>
                  <td>
                    {{person.next_stage_part_no}}
                  </td>
                  <td class="text-left">
                    <span *ngIf="person.uom != 'null'">{{ person.uom }}</span>
                  </td>
                  <td class="text-center">{{ person.qty }}</td>
                  <td class="text-center">{{ person.delivery_date }}</td>
                  <td class="text-center">{{ person.allo_qty }}</td>
                  <td class="text-left">
                    {{person.part_no}}
                    <!-- <input type="text" class="form-control" [(ngModel)]="person.cancel_quantity" name="cancel_quantity" (keyup)="checkcqty(person.cancel_quantity,i)"
                      (keypress)="restricthypens($event)" pKeyFilter="int" /> -->
                  </td>
                </tr>
               
              </tbody>
            </table>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4 form-buttons m-b-20">
            <button class="btn btn-warning btn-custom waves-effect waves-light pull-right" (click)="clearchecked()">
              <i class=" md-close"></i> Clear </button>
            <button class="btn btn-success btn-custom waves-effect waves-light m-r-5 pull-right" (click)="saveentry()">
              <i class=" md-check"></i> Request </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>