<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/assemblylist']">Production</a>
              </li>
              <li class="active">Assembly Search</li>
            </ol>
            <h4 class="page-title">Assembly Search</h4>
          </div>
        </div>
      </div>

      <div class="col-sm-12 box-body mar-btm">
        <div class="ocn-section col-sm-12 padding-10">
          <div class="row">
            <div class="col-lg-4 col-sm-4 col-md-4">
              <div class="ocn-status">
                <div class="form-group madeups ocn field-pad">
                  <!-- slip p-slip-->
                  <label for="exampleInputEmail1" class="lbl-wid">WO No
                    <span class="red">*</span>
                  </label>
                  <div class="left box-wid">
                    <ng2-completer [openOnClick]="true" [(ngModel)]="wono" name="wono" (selected)="getwodetails($event)"
                      [datasource]="wolist" [minSearchLength]="0"></ng2-completer>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4 col-sm-4 col-md-4 pull-right m-b-10">
              <button class="btn btn-success btn-small waves-effect waves-light pull-right" (click)="updatepo()">
                <i class="fa fa-check"></i> Assemble</button>
            </div> -->
          </div>
        </div>
        <hr class="clearfix">
      </div>

      <div class="box-body mar-btm">
        <div class="ocn-section col-sm-12">
          <div class="row">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>Line No</th>
                    <th>Part No</th>
                    <th>Part</th>
                    <th>Part Desc</th>
                    <th>Part Type</th>
                    <th width="10%">Shipment Date</th>
                    <th>Plan No</th>
                    <th>Req Qty</th>
                    <!-- <th>Status</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of persons; let row_no = index">
                    <td>
                      {{ row_no + 1 }}
                    </td>
                    <td>{{ person.sc_line_no }}</td>
                    <td class="text-left">
                      {{ person.part_no }}
                    </td>
                    <td>{{ person.part }}</td>
                    <td class="text-left">
                      {{ person.part_desc }}
                    </td>
                    <td>{{person.part_type}}</td>
                    <td>{{ person.pconfirm_date }}</td>
                    <td class="text-left">{{ person.plan_no }}</td>
                    <td class="text-center">{{ person.qty }}</td>
                    <td class="text-right view-center">
                      <button class="btn btn-xs btn-primary" (click)="showbom(person)">
                        <i class="fa fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-allocpop [(visible)]="showDialog">

  <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 ocn-section">
    <h4 class="text-center">Item Bom</h4>
    <div class="table-responsive page-height-40" style="height:.01% !important">
      <table class="table table-striped table-bordered text-center" *ngIf="itembom">
        <thead>
          <tr>
            <th width="5%">S.No</th>
            <th width="10%">Part NO</th>
            <th width="10%">Part</th>
            <th width="20%">Part Desc</th>
            <th width="10%">Order Qty</th>
            <th width="5%">Alloc Stck Qty</th>
            <th width="5%">Alloc WIP Qty</th>
            <th width="5%">Prev Req Qty</th>
            <th width="5%">Prev Issue Qty</th>
            <th width="5%">Pending Qty</th>
            <th width="5%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itemrow of itembom; let i=index">
            <td>{{i+1}}</td>
            <td class="text-left">{{itemrow.part_no}}</td>
            <td class="text-left">{{itemrow.part}}</td>
            <td class="text-left">
              {{itemrow.part_desc}}
            </td>
            <td class="text-center">
              {{itemrow.quantity}}
            </td>
            <td class="text-center">
              {{itemrow.stk_alloc_qty}}
            </td>
            <td class="text-center">{{itemrow.wip_qty}}</td>
            <td class="text-center">{{itemrow.already_req_qty}}</td>
            <td class="text-center">{{itemrow.already_issued_qty}}</td>
            <td class="text-center">
              {{calcpendingqty(i)}}
            </td>
            <td>
              <!-- <input *ngIf="itemrow.stk_alloc_qty !=0 && i !=0" name="checkauthorize" type="checkbox" class="form-control" -->
              <input *ngIf="itemrow.stk_alloc_qty !=0 && i !=0" name="checkauthorize" type="checkbox"
                class="form-control" value="" [(ngModel)]="itemrow.checkauthorize"
                (change)="checkauthorized(itemrow.checkauthorize,itemrow,i)">
            </td>
          </tr>
          <tr *ngIf="!itembom.length">
            <td colspan="5">No data</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
      <button class="btn btn-success btn-small waves-effect waves-light" (click)="request()">
        <i class="fa fa-check"></i> Request</button>
      <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
        <i class="fa fa-times"></i> cancel</button>
    </div>
  </div>
</app-allocpop>