<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Reports</a>
              </li>
              <li class="active">Stock Series</li>
            </ol>
            <h4 class="page-title">Stock Series</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <!--p-date-invoice -->
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from"
                            name="from" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Series
                        </label>
                        <div class="left box-wid">
                          <ng2-completer [openOnClick]="true" [(ngModel)]="filter.series" name="series" [datasource]="activeseries"
                            [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="getItemSeries()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#pendingdc" data-toggle="tab" aria-expanded="true" id="pending" [class.disabled]="true">Series</a>
          </li>
          <!-- *ngIf="showtab" -->
          <li *ngIf="showtab">
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">
              <span>{{obj.series}}<i class="fa fa-close tabclose" (click)="closetab()"></i></span>
            </a>
          </li>
          <li *ngIf="showitemtab">
            <a href="#seriesitems" data-toggle="tab" aria-expanded="true" id="item">
              <span>{{obj.series}} - {{itemobj.cls}}<i class="fa fa-close tabclose" (click)="closeItemtab()"></i></span>
            </a>
          </li>
        </ul>

        <div class="tab-content no-padding padding-pad ">

          <div class="chart tab-pane active" id="pendingdc">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section">
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>S.NO</th>
                          <th>Series</th>
                          <th>Opening Balance</th>
                          <th>Opening Value</th>
                          <th>Receipts Qty</th>
                          <th>Receipts Value</th>
                          <th>Issues Qty</th>
                          <th>Issues Value</th>
                          <th>Closing Balance</th>
                          <th>Closing Value</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of persons; let row_no = index">
                          <td>
                            {{ row_no + 1 }}
                          </td>
                          <td class="text-left">
                            <a (click)="openclass(person)">{{ person.series }} </a>
                          </td>
                          <td style="text-align:center !important">
                            {{ person.opening_balanace }}
                          </td>
                          <td style="text-align:right !important">
                            {{ person.opening_balanace_value | number}}
                          </td>
                          <td style="text-align:center !important">
                            {{ person.receipts }}
                          </td>
                          <td style="text-align:right !important">
                            {{ person.receipts_value | number}}
                          </td>
                          <td style="text-align:center !important">
                            {{ person.issues }}
                          </td>
                          <td style="text-align:right !important">
                            {{ person.issues_value | number}}
                          </td>
                          <td style="text-align:center !important">
                            {{ person.closing_balanace }}
                          </td>
                          <td style="text-align:right !important">
                            {{ person.closing_balanace_value | number}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chart tab-pane" id="tplan" *ngIf="showtab">
            <app-stock-class [obj]="obj" (notifyopen)="notifyopen($event)"></app-stock-class>
          </div>
          <div class="chart tab-pane" id="seriesitems" *ngIf="showitemtab">
            <app-stock-items [itemobj]="itemobj" (notifycancel)="notifycancel()"></app-stock-items>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

