/*login*/
.login-form-bg{margin: 7.5% auto;
max-width: 380px;
background: #fff;
padding: 30px;-webkit-box-shadow: 1px 1px 5px 0px rgba(214,214,214,0.62);
-moz-box-shadow: 1px 1px 5px 0px rgba(214,214,214,0.62);
box-shadow: 1px 1px 5px 0px rgba(214,214,214,0.62);padding-top:18px;}

.login-form-bg:hover{
-webkit-box-shadow: 1px 1px 5px 0px rgba(214,214,214,0.9);
-moz-box-shadow: 1px 1px 5px 0px rgba(214,214,214,0.9);
box-shadow: 1px 1px 5px 0px rgba(214,214,214,0.9);}

.login-bg{
/*background:url(../images/login-bg.jpg);
background-repeat: repeat;
background-position-x: 0%;
background-position-y: 0%;
background-size: auto auto;
background-position: left top;
background-repeat: no-repeat;
background-size: cover;
*/
background:url(../images/login-pattern.png);
}
a:focus, a:hover {
color: #ff6a00;
text-decoration: underline;
}

/*ocn-madeups-export*/
.left.side-menu.menu-lft{
background: #383e4c;
}
.tab-content .tab-pane.active .table.m-0  tr th{ background:#4C5667; color:#fff; border:1px solid #7d7d7d;}

/* ===================== 18 July =============================== */
.table.cancel-sc.table-bordered tbody tr td input { width:70px; border:1px solid #e0e0e0;}
.table.cancel-sc.table-bordered tbody tr td input:read-only { background-color: #eee;}
.table.cancel-sc.table-bordered tbody tr td input:-moz-read-only{ background-color: #eee;}

.table.cancel-confirm.table-bordered tbody tr td input { width:60px; border:1px solid #e0e0e0; text-align:center;}
.table.cancel-confirm.table-bordered tbody tr td input:read-only { background-color: #eee; color:#555;}
.table.cancel-confirm.table-bordered tbody tr td input:-moz-read-only { background-color: #eee; color:#555;}