@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
/* ===========
   Core file List

   - Timeline
   - Timeline-2
   - Sweet Alerts
   - Notification
   - Nestable list
   - Maps
   - Email
   - Form Advanced
   - Charts
   - Maintenance
   - Countdown
   - Gallery
   - Tree view
   - Pricing

 =============*/
/* ===========
  Timeline
 =============*/
.timeline {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  margin-bottom: 50px;
  position: relative;
  table-layout: fixed;
  width: 100%;
}
.timeline .time-show {
  margin-bottom: 30px;
  margin-right: -75px;
  margin-top: 30px;
  position: relative;
}
.timeline .time-show a {
  color: #ffffff;
}
.timeline:before {
  background-color: #d8d9df;
  bottom: 0px;
  content: "";
  left: 50%;
  position: absolute;
  top: 30px;
  width: 1px;
  z-index: 0;
}
.timeline .timeline-icon {
  -webkit-border-radius: 50%;
  background: #d8d9df;
  border-radius: 50%;
  border: 1px solid #d8d9df;
  color: #ffffff;
  display: block;
  height: 20px;
  left: -54px;
  margin-top: -10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 20px;
}
.timeline .timeline-icon i {
  margin-top: 9px;
}
.timeline .time-icon:before {
  font-size: 16px;
  margin-top: 5px;
}
h3.timeline-title {
  color: #c8ccd7;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 5px;
  text-transform: uppercase;
}
.timeline-item {
  display: table-row;
}
.timeline-item:before {
  content: "";
  display: block;
  width: 50%;
}
.timeline-item .timeline-desk .arrow {
  border-bottom: 8px solid transparent;
  border-right: 8px solid #ffffff !important;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  left: -7px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 0;
}
.timeline-item.alt:after {
  content: "";
  display: block;
  width: 50%;
}
.timeline-item.alt .timeline-desk .arrow-alt {
  border-bottom: 8px solid transparent;
  border-left: 8px solid #ffffff !important;
  border-top: 8px solid transparent;
  display: block;
  height: 0;
  left: auto;
  margin-top: -10px;
  position: absolute;
  right: -7px;
  top: 50%;
  width: 0;
}
.timeline-item.alt .timeline-desk .album {
  float: right;
  margin-top: 20px;
}
.timeline-item.alt .timeline-desk .album a {
  float: right;
  margin-left: 5px;
}
.timeline-item.alt .timeline-icon {
  left: auto;
  right: -56px;
}
.timeline-item.alt:before {
  display: none;
}
.timeline-item.alt .panel {
  margin-left: 0;
  margin-right: 45px;
}
.timeline-item.alt .panel .panel-body p + p {
  margin-top: 10px !important;
}
.timeline-item.alt h4 {
  text-align: right;
}
.timeline-item.alt p {
  text-align: right;
}
.timeline-item.alt .timeline-date {
  text-align: right;
}
.timeline-desk {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
.timeline-desk h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}
.timeline-desk .panel {
  background: #ffffff;
  display: block;
  margin-bottom: 5px;
  margin-left: 45px;
  position: relative;
  text-align: left;
}
.timeline-desk h5 span {
  color: #797979;
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}
.timeline-desk p {
  color: #999999;
  font-size: 14px;
  margin-bottom: 0;
}
.timeline-desk .album {
  margin-top: 12px;
}
.timeline-desk .album a {
  float: left;
  margin-right: 5px;
}
.timeline-desk .album img {
  height: 36px;
  width: auto;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
}
.timeline-desk .notification {
  background: none repeat scroll 0 0 #ffffff;
  margin-top: 20px;
  padding: 8px;
}
/* ===========
   Timeline-2
 =============*/
.timeline-2 {
  border-left: 2px solid #3bafda;
  position: relative;
}
.timeline-2 .time-item:after {
  background-color: #ffffff;
  border-color: #3bafda;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  bottom: 0;
  content: '';
  height: 10px;
  left: 0;
  margin-left: -6px;
  position: absolute;
  top: 5px;
  width: 10px;
}
.time-item {
  border-color: #dee5e7;
  padding-bottom: 10px;
  position: relative;
}
.time-item:before {
  content: " ";
  display: table;
}
.time-item:after {
  background-color: #ffffff;
  border-color: #3bafda;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  bottom: 0;
  content: '';
  height: 14px;
  left: 0;
  margin-left: -8px;
  position: absolute;
  top: 5px;
  width: 14px;
}
.time-item-item:after {
  content: " ";
  display: table;
}
.item-info {
  margin-bottom: 15px;
  margin-left: 15px;
}
.item-info p {
  font-size: 13px;
}
/* ===========
  Sweet Alert
 =============*/
.sweet-alert h2 {
  font-size: 22px;
}
.sweet-alert p {
  font-size: 14px;
  line-height: 22px;
}
.sweet-alert .icon.success .placeholder {
  border: 4px solid rgba(0, 177, 157, 0.3);
}
.sweet-alert .icon.success .line {
  background-color: #00b19d;
}
.sweet-alert .icon.warning {
  border-color: #ffaa00;
}
.sweet-alert .icon.info {
  border-color: #3ddcf7;
}
.sweet-alert .btn-warning:focus,
.sweet-alert .btn-info:focus,
.sweet-alert .btn-success:focus,
.sweet-alert .btn-danger:focus,
.sweet-alert .btn-default:focus {
  box-shadow: none;
}
/* =============
   Notification
============= */
.notifyjs-metro-base {
  position: relative;
  min-height: 52px;
  min-width: 250px;
  color: #444;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-animation: dropdownOpen 0.3s ease-out;
  -o-animation: dropdownOpen 0.3s ease-out;
  animation: dropdownOpen 0.3s ease-out;
}
.notifyjs-metro-base .image {
  display: table;
  position: absolute;
  height: auto;
  width: auto;
  left: 25px;
  top: 50%;
  font-size: 24px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.notifyjs-metro-base .text-wrapper {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 10px 10px 10px 52px;
  clear: both;
}
.notifyjs-metro-base .title {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}
.notifyjs-metro-base .text {
  font-size: 12px;
  font-weight: normal;
  max-width: 360px;
  vertical-align: middle;
}
.notifyjs-metro-cool {
  color: #fafafa !important;
  background-color: #4A525F;
  border: 1px solid #4A525F;
}
/* =============
   Nestable
============= */
.custom-dd .dd-list .dd-item .dd-handle {
  background: rgba(152, 166, 173, 0.25) !important;
  border: none;
  padding: 8px 16px;
  height: auto;
  font-weight: 600;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
}
.custom-dd .dd-list .dd-item .dd-handle:hover {
  color: #3bafda;
}
.custom-dd .dd-list .dd-item button {
  height: auto;
  font-size: 17px;
  margin: 8px auto;
  color: #555555;
  width: 30px;
}
.custom-dd-empty .dd-list .dd3-handle {
  border: none;
  background: rgba(152, 166, 173, 0.25) !important;
  height: 36px;
  width: 36px;
}
.custom-dd-empty .dd-list .dd3-handle:before {
  color: inherit;
  top: 7px;
}
.custom-dd-empty .dd-list .dd3-handle:hover {
  color: #3bafda;
}
.custom-dd-empty .dd-list .dd3-content {
  height: auto;
  border: none;
  padding: 8px 16px 8px 46px;
  background: rgba(152, 166, 173, 0.25) !important;
  font-weight: 600;
}
.custom-dd-empty .dd-list .dd3-content:hover {
  color: #3bafda;
}
.custom-dd-empty .dd-list button {
  width: 26px;
  height: 26px;
  font-size: 16px;
  font-weight: 600;
}
/* ===========
  Maps
 =============*/
.gmaps,
.gmaps-panaroma {
  height: 300px;
  background: #eeeeee;
  border-radius: 3px;
}
.gmaps-overlay {
  display: block;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 40px;
  background: #3bafda;
  border-radius: 4px;
  padding: 10px 20px;
}
.gmaps-overlay_arrow {
  left: 50%;
  margin-left: -16px;
  width: 0;
  height: 0;
  position: absolute;
}
.gmaps-overlay_arrow.above {
  bottom: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-top: 16px solid #3bafda;
}
.gmaps-overlay_arrow.below {
  top: -15px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #3bafda;
}
/* =============
   Email
============= */
.mails a {
  color: #797979;
}
.mails td {
  vertical-align: middle !important;
  position: relative;
  border-top: 1px solid #F5F5F5 !important;
}
.mails td:last-of-type {
  width: 100px;
  padding-right: 20px;
}
.mails tr:hover .text-white {
  display: none;
}
.mails .mail-select {
  padding: 12px 20px;
  min-width: 134px;
}
.mails .checkbox {
  margin-bottom: 0px;
  margin-top: 0px;
  vertical-align: middle;
  display: inline-block;
  height: 17px;
}
.mails .checkbox label {
  min-height: 16px;
}
.mail-list .list-group-item {
  background-color: transparent;
}
.mail-list .list-group-item:hover {
  background-color: #eeeeee;
}
.mail-list .list-group-item:focus {
  background-color: #eeeeee;
}
.mail-list .list-group-item.active {
  background-color: #eeeeee;
  color: #4c5667;
  font-weight: 600;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
}
.unread a {
  font-weight: 600;
  color: #444444;
}
/* =============
   Form Advanced
============= */
.bootstrap-tagsinput {
  box-shadow: none;
  padding: 3px 7px 6px;
  border: 1px solid #e3e3e3;
}
.bootstrap-tagsinput .label-info {
  background-color: #3bafda !important;
  display: inline-block;
  padding: 5px;
}
/* Multiple */
.ms-container {
  background: transparent url('../images/multiple-arrow.png') no-repeat 50% 50%;
}
.ms-container .ms-list {
  box-shadow: none;
  border: 1px solid #e3e3e3;
}
.ms-container .ms-list.ms-focus {
  box-shadow: none;
  border: 1px solid #aaaaaa;
}
.ms-container .ms-selectable li.ms-elem-selectable {
  border: none;
  padding: 5px 10px;
}
.ms-container .ms-selection li.ms-elem-selection {
  border: none;
  padding: 5px 10px;
}
.select2-container .select2-choice {
  background-image: none !important;
  border: none !important;
  height: auto  !important;
  padding: 0px !important;
  line-height: 22px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}
.select2-container .select2-choice .select2-arrow {
  background-image: none !important;
  background: transparent;
  border: none;
  width: 14px;
  top: -2px;
}
.select2-container .select2-container-multi.form-control {
  height: auto;
}
.select2-results .select2-highlighted {
  color: #ffffff;
  background-color: #3bafda;
}
.select2-drop-active {
  border: 1px solid #e3e3e3 !important;
  padding-top: 5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.select2-search input {
  border: 1px solid #e3e3e3;
}
.select2-container-multi {
  width: 100%;
}
.select2-container-multi .select2-choices {
  border: 1px solid #E3E3E3  !important;
  box-shadow: none !important;
  background-image: none  !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  background-clip: padding-box !important;
  min-height: 38px;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 4px 7px 4px 18px;
  margin: 5px 0 3px 5px;
  color: #555555;
  background: #f5f5f5;
  border-color: #e5e5e5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 7px 7px 7px 10px;
  font-family: inherit;
}
/* Wysiwig */
.mce-content-body p {
  color: #9398a0;
  font-size: 14px;
  font-weight: 300;
}
.mce-popover .mce-arrow:after {
  border-bottom-color: red;
}
.mce-popover .mce-colorbutton-grid {
  margin: 0px;
  border: 1px solid #d7dce5 !important;
  padding: 4px;
}
.mce-reset .mce-window-head {
  border-bottom: 1px solid #d7dce5;
}
.mce-reset .mce-window-head .mce-title {
  color: #707780;
  font-size: 16px;
  font-weight: 400;
}
.mce-reset .mce-textbox {
  border-radius: 0px;
  box-shadow: none;
  outline: 0;
  border-color: #d7dce5;
  height: 30px;
  font-weight: 300;
  line-height: 30px;
  color: #aaaaaa;
  font-size: 14px;
}
.mce-reset .mce-textbox:focus {
  box-shadow: none;
  border-color: #3bafda;
}
.mce-reset .mce-checkbox .mce-ico {
  background-image: none;
  background-color: #ffffff;
  border-radius: 0px;
  border: 1px solid #d7dce5;
}
.mce-reset .mce-checkbox .mce-label {
  color: #707780;
  font-size: 12px;
  font-weight: 400;
}
.mce-container {
  border-radius: 0px !important;
  border-width: 0px !important;
}
.mce-container .mce-menubar {
  background-color: #f2f4f7 !important;
  border: 1px solid #d7dce5 !important;
  padding: 2px;
}
.mce-container .mce-menubar .mce-btn button span {
  color: #707780;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.mce-container .mce-menubar .mce-btn button .mce-caret {
  border-top-color: #707780;
}
.mce-container .mce-menubar .mce-btn button:hover {
  background-color: #e8ebf1;
}
.mce-container .mce-menubar .mce-btn.mce-active button {
  background-color: #e8ebf1;
}
.mce-container .mce-btn {
  background-color: #d7dce5;
  background-image: none;
  outline: 0;
  border: 0px;
  border-radius: 0px;
}
.mce-container .mce-btn button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-shadow: none;
}
.mce-container .mce-btn:hover {
  background-color: #b8c1d1;
  background-image: none;
}
.mce-container .mce-primary {
  background-color: #3bafda;
  background-image: none;
  outline: 0;
  border: 0px;
  border-radius: 0px;
}
.mce-container .mce-primary button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-shadow: none;
}
.mce-container .mce-primary:hover {
  background-color: #0c7cd5;
  background-image: none;
}
.mce-container .mce-toolbar-grp {
  background-color: #f2f4f7 !important;
  border: 1px solid #d7dce5 !important;
  border-top-width: 0px !important;
  padding: 6px;
}
.mce-container .mce-edit-area {
  border: 1px solid #d7dce5 !important;
  border-width: 0px 1px !important;
}
.mce-container .mce-statusbar {
  background-color: #f2f4f7 !important;
  border: 1px solid #d7dce5 !important;
}
.mce-container .mce-statusbar .mce-path .mce-path-item {
  color: #707780;
  font-size: 14px;
  font-weight: 400;
}
.mce-container .mce-widget {
  color: #9398a0;
  font-size: 14px;
  font-weight: 400;
  border-left: 1px solid transparent;
}
.mce-container .mce-btn-group {
  border: 1px solid #e9ecf2 !important;
}
.mce-container .mce-btn-group .mce-btn {
  box-shadow: none;
  background-image: none;
  background-color: #ffffff;
  border-width: 0px;
  border-radius: 0px !important;
}
.mce-container .mce-btn-group .mce-btn:hover,
.mce-container .mce-btn-group .mce-btn:focus {
  box-shadow: none;
  background-image: none;
  background-color: #ffffff;
}
.mce-container .mce-btn-group .mce-btn button span {
  color: #707780;
  font-size: 14px;
  font-weight: 300;
}
.mce-container .mce-btn-group .mce-btn button .mce-caret {
  color: #707780;
  font-size: 14px;
}
.mce-container .mce-ico {
  color: #707780;
  font-size: 14px;
}
.mce-container .mce-panel {
  background-image: none;
}
.mce-container.mce-menu {
  border: 1px solid #d7dce5 !important;
}
.mce-container.mce-menu .mce-menu-item {
  background-image: none;
}
.mce-container.mce-menu .mce-menu-item .mce-ico {
  color: #3bafda;
  font-size: 14px;
}
.mce-container.mce-menu .mce-menu-item .mce-text {
  color: #707780;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.mce-container.mce-menu .mce-menu-item .mce-menu-shortcut {
  color: #aaaaaa;
  font-size: 12px;
  font-weight: 300;
  text-transform: capitalize;
}
.mce-container.mce-menu .mce-menu-item:hover,
.mce-container.mce-menu .mce-menu-item:focus,
.mce-container.mce-menu .mce-menu-item.mce-selected {
  background-color: #3bafda;
}
.mce-container.mce-menu .mce-menu-item:hover .mce-ico,
.mce-container.mce-menu .mce-menu-item:focus .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-selected .mce-ico,
.mce-container.mce-menu .mce-menu-item:hover .mce-text,
.mce-container.mce-menu .mce-menu-item:focus .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-selected .mce-text,
.mce-container.mce-menu .mce-menu-item:hover .mce-menu-shortcut,
.mce-container.mce-menu .mce-menu-item:focus .mce-menu-shortcut,
.mce-container.mce-menu .mce-menu-item.mce-selected .mce-menu-shortcut {
  color: #ffffff;
}
.mce-container.mce-menu .mce-menu-item.mce-disabled .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled .mce-menu-shortcut {
  color: #aaaaaa;
}
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected {
  background-color: #d7dce5;
}
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected .mce-ico,
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected .mce-text,
.mce-container.mce-menu .mce-menu-item.mce-disabled:hover .mce-menu-shortcut,
.mce-container.mce-menu .mce-menu-item.mce-disabled:focus .mce-menu-shortcut,
.mce-container.mce-menu .mce-menu-item.mce-disabled.mce-selected .mce-menu-shortcut {
  color: #ffffff;
}
.mce-container.mce-menu .mce-menu-item-sep {
  background-color: #d7dce5;
}
.mce-container.mce-menu .mce-menu-item-sep:hover {
  background-color: #d7dce5;
}
.mce-menubtn button {
  color: #797979 !important;
}
.mce-menu-item-normal.mce-active {
  background-color: #3bafda !important;
}
.mce-menu-item-normal.mce-active .mce-text {
  color: #ffffff !important;
}
/* =============
   Charts
============= */
.morris-hover.morris-default-style {
  border-radius: 5px;
  padding: 10px 12px;
  background: #36404a;
  border: none;
  color: #ffffff !important;
}
.chart-detail-list li {
  margin: 0px 10px;
}
.chart-detail-list li h5 {
  font-size:13px;
}
.pieLabel div {
  font-size: 14px !important;
}
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.chart.chart-widget-pie {
  margin-top: 5px;
  margin-bottom: 5px;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  font-weight: 600;
  font-size: 18px;
  color: #797979;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
/* Flot chart */
#flotTip {
  padding: 8px 12px;
  background-color: #36404a;
  z-index: 100;
  color: #ffffff;
  opacity: 0.9;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.legend tr {
  height: 20px;
}
.legendLabel {
  padding-left: 5px !important;
  line-height: 10px;
  padding-right: 10px;
}
/* Chartist chart */
.ct-golden-section:before {
  float: none;
}
.ct-chart {
  max-height: 300px;
}
.ct-chart .ct-label {
  fill: #a3afb7;
  color: #a3afb7;
  font-size: 12px;
  line-height: 1;
}
.ct-chart.simple-pie-chart-chartist .ct-label {
  color: #ffffff;
  fill: #ffffff;
  font-size: 16px;
}
.ct-chart .ct-series.ct-series-a .ct-bar,
.ct-chart .ct-series.ct-series-a .ct-line,
.ct-chart .ct-series.ct-series-a .ct-point,
.ct-chart .ct-series.ct-series-a .ct-slice-donut {
  stroke: #3bafda;
}
.ct-chart .ct-series.ct-series-b .ct-bar,
.ct-chart .ct-series.ct-series-b .ct-line,
.ct-chart .ct-series.ct-series-b .ct-point,
.ct-chart .ct-series.ct-series-b .ct-slice-donut {
  stroke: #f76397;
}
.ct-chart .ct-series.ct-series-c .ct-bar,
.ct-chart .ct-series.ct-series-c .ct-line,
.ct-chart .ct-series.ct-series-c .ct-point,
.ct-chart .ct-series.ct-series-c .ct-slice-donut {
  stroke: #00b19d;
}
.ct-chart .ct-series.ct-series-d .ct-bar,
.ct-chart .ct-series.ct-series-d .ct-line,
.ct-chart .ct-series.ct-series-d .ct-point,
.ct-chart .ct-series.ct-series-d .ct-slice-donut {
  stroke: #3ddcf7;
}
.ct-chart .ct-series.ct-series-e .ct-bar,
.ct-chart .ct-series.ct-series-e .ct-line,
.ct-chart .ct-series.ct-series-e .ct-point,
.ct-chart .ct-series.ct-series-e .ct-slice-donut {
  stroke: #797979;
}
.ct-chart .ct-series.ct-series-f .ct-bar,
.ct-chart .ct-series.ct-series-f .ct-line,
.ct-chart .ct-series.ct-series-f .ct-point,
.ct-chart .ct-series.ct-series-f .ct-slice-donut {
  stroke: #7266ba;
}
.ct-chart .ct-series.ct-series-g .ct-bar,
.ct-chart .ct-series.ct-series-g .ct-line,
.ct-chart .ct-series.ct-series-g .ct-point,
.ct-chart .ct-series.ct-series-g .ct-slice-donut {
  stroke: #ffaa00;
}
.ct-series-a .ct-area,
.ct-series-a .ct-slice-pie {
  fill: #3bafda;
}
.ct-series-b .ct-area,
.ct-series-b .ct-slice-pie {
  fill: #f76397;
}
.ct-series-c .ct-area,
.ct-series-c .ct-slice-pie {
  fill: #00b19d;
}
.ct-series-d .ct-area,
.ct-series-d .ct-slice-pie {
  fill: #3ddcf7;
}
/* Sparkline chart */
.jqstooltip {
  background-color: #36404a !important;
  padding: 5px 10px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  background-clip: padding-box;
  border-color: #36404a !important;
}
.jqsfield {
  font-size: 12px !important;
  line-height: 18px !important;
}
/* Circliful charts */
.circliful-chart {
  margin: 0px auto;
}
.circle-text,
.circle-info,
.circle-text-half,
.circle-info-half {
  font-size: 12px;
  font-weight: 600;
}
/* ===========
   Count Down
 =============*/
.home-wrapper {
  margin: 10% 0px;
}
.app-countdown {
  margin-top: 40px;
  text-align: center;
}
.app-countdown div {
  display: inline-block;
}
.app-countdown div span {
  display: block;
  width: 150px;
}
.app-countdown div span:first-child {
  font-size: 3em;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
}
.app-countdown div span:last-child {
  color: #333333;
  font-size: 0.9em;
  height: 25px;
  line-height: 25px;
}
.app-countdown > * {
  text-align: center;
}
/* ===========
   Gallery
 =============*/
.portfolioFilter a {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #333333;
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.3s ease-out;
}
.portfolioFilter a:hover {
  background-color: #3bafda;
  color: #ffffff;
}
.portfolioFilter a.current {
  background-color: #3bafda;
  color: #ffffff;
}
.thumb {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
}
.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}
.gal-detail h4 {
  margin: 16px auto 10px auto;
  width: 80%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gal-detail .ga-border {
  height: 3px;
  width: 40px;
  background-color: #3bafda;
  margin: 10px auto;
}
/* ===========
   Maintenance
 =============*/
.icon-main {
  font-size: 60px;
}
.maintenance-page {
  margin: 10% 0%;
}
.home-text {
  letter-spacing: 1px;
}
/* ===========
   Accounts
 =============*/
.wrapper-page {
  margin: 7.5% auto;
  max-width: 360px;
}
.wrapper-page .form-control {
  height: 40px;
  padding-left: 40px;
}
.wrapper-page .form-control-feedback {
  left: 15px;
  top: 3px;
  color: rgba(76, 86, 103, 0.4);
  font-size: 20px;
}
.wrapper-page .btn-email {
  padding: 9px 20px;
}
.logo-lg {
  font-size: 26px !important;
  font-weight: 600;
  line-height: 70px;
  color: #3bafda !important;
}
.user-thumb img {
  height: 88px;
  margin: 0px auto;
  width: 88px;
}
.ex-page-content .svg-box {
  float: right;
}
.message-box {
  margin-top: 120px;
  margin-left: 50px;
  font-weight: 300;
}
.message-box h1 {
  color: #252932;
  font-size: 98px;
  font-weight: 700;
  line-height: 98px;
  text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}
#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
  animation: float 1s infinite ease-in-out alternate;
}
#Polygon-2 {
  animation-delay: .2s;
}
#Polygon-3 {
  animation-delay: .4s;
}
#Polygon-4 {
  animation-delay: .6s;
}
#Polygon-5 {
  animation-delay: .8s;
}
@keyframes float {
  100% {
    transform: translateY(20px);
  }
}
/* =============
   Tree view page
============= */
.jstree-default .jstree-clicked,
.jstree-default .jstree-wholerow-clicked {
  background: rgba(59, 175, 218, 0.4);
  box-shadow: none;
}
.jstree-default .jstree-hovered,
.jstree-default .jstree-wholerow-hovered {
  background: rgba(59, 175, 218, 0.2);
  box-shadow: none;
}
.jstree-default .zmdi {
  font-size: 16px;
}
/* =============
   Pricing
============= */
.pricing-column {
  position: relative;
  margin-bottom: 40px;
}
.pricing-column .inner-box {
  position: relative;
  padding: 0 0 50px;
}
.pricing-column .plan-header {
  position: relative;
  padding: 30px 20px 25px;
}
.pricing-column .plan-title {
  font-size: 16px;
  margin-bottom: 10px;
  color: #00b19d;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}
.pricing-column .plan-price {
  font-size: 48px;
  margin-bottom: 10px;
  color: #2a3142;
}
.pricing-column .plan-duration {
  font-size: 13px;
  color: #98a6ad;
}
.pricing-column .plan-stats {
  position: relative;
  padding: 30px 20px 15px;
}
.pricing-column .plan-stats li {
  margin-bottom: 15px;
  line-height: 24px;
}
.pricing-column .plan-stats li i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.ribbon {
  position: absolute;
  left: 5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
  background: #00b19d;
  background: linear-gradient(#00b19d 0%, #00b19d 100%);
  position: absolute;
  top: 19px;
  letter-spacing: 1px;
  left: -21px;
}
.ribbon span:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #007e70;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #007e70;
}
.ribbon span:after {
  content: "";
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #007e70;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #007e70;
}
/* =============
   FAQ
============= */
.question-q-box {
  height: 30px;
  width: 30px;
  color: #ffffff;
  background-color: #ef5350;
  text-align: center;
  border-radius: 50%;
  float: left;
  line-height: 30px;
  font-weight: 700;
}
.question {
  margin-top: 0;
  margin-left: 50px;
  font-weight: 400;
  font-size: 16px;
}
.answer {
  margin-left: 50px;
  color: #98a6ad;
  margin-bottom: 40px;
  line-height: 26px;
}



.date span {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 4px 0px;
    border-radius: 25px;
    display: block;
    /*background: #FFF none repeat scroll 0% 0%;*/
}
.navbar-nav > .user-menu .user-image {
    float: left;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
.navbar-nav > li {
    float: left;
}
.dropdown.user.user-menu img.image-rht.user-image {
    float: right;
    margin:6px 0 0 13px;
}
nav.navbar li.date {
    padding: 15px;
}
.navbar-custom-menu > .navbar-nav > li {
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.date {padding:0;}
.date.inbox a { padding:6px 15px; }
.desig.admin {display: block;line-height:12px;}
.dropdown.user.user-menu a {line-height:28px;padding:10px 17px;}
.dropdown.user.user-menu li a { line-height:24px;padding:6px 17px;}
.dropdown.user.user-menu .dropdown-menu { min-width:100%; width:auto; }
.box{ width:100%; float:left; text-align:center;}
.box ul{ padding-left:0;}
.box ul li {display: inline-block;margin: 20px 15px;}
.box ul li span.export{width: 10px;height:10px; background-color:#00b19d; display:inline-block; margin-right:5px; }
.box ul li span.domestic{width: 10px;height:10px; background-color:#7266ba; display:inline-block; margin-right:5px; }
.legend {display: none;}
/*.portlet .portlet-body{padding: 15px 15px 65px 15px;}*/
/*.portlet #bg-default1 .portlet-body {padding: 15px 15px 12px 15px;}*/
#portlet3 {padding-bottom: 53px;}
#portlet4 {padding-bottom: 53px;}
/* tab */
label{ font-weight:400;}
.form-group.madeups {
    margin-bottom: 0px;
}
.form-group.madeups label {
    margin-right: 2%;
    width: 75px;
    color: #333; float:left;
}
.form-group.madeups input {
    /*width: 200px;*/width: 140px;
    display: inline-block;
}
.form-group.madeups #datepick,  .form-group.madeups #datepick1{width:105px; height: 28px; padding: 6px 6px;}
.nav.nav-tabs{ width:100%;}
.box-body{ padding:10px 0 0 0; float:left; width:100%;background-color: #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.nav.nav-tabs.pull-left li a {
    font-size: 16px;
    padding: 2px 18px;
    color: #777777;
}
.nav-tabs>li {
    float: left;
    margin-bottom: 0px;
    border-right: 1px solid #d4d4d4; background:#fff;
}
.nav-tabs-custom .nav.nav-tabs.pull-left {
    border-bottom: 4px solid #1A71AE; 
}
.nav.nav-tabs > li > a{ line-height:35px;}
.form-group {
    margin-bottom: 8px; text-align:left;
}
.form-group.add label {
    margin-right: 0%;
    width: 8%; color:#333;
}
.form-group.add label.new {
    color: #999999;
    font-weight: 400;
    margin-right: 5px;
    width: auto;
}
.form-control.addr {
    display: inline-block;
    margin: 0 0 0 1%;
    width: 27.2%;
}
.icheckbox_minimal-blue, .iradio_minimal-blue {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(../images/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}
.icheckbox_minimal-blue.checked {
    background-position: -40px 0;
}
.form-group.add label.check {
    margin-right: 0px;
    width: auto;
}
/* .nav.nav-tabs + .tab-content{ min-height:460px;} */
.box-body.three-col .form-group.madeups input {
    width: 51%;
}
.box-body.three-col .form-group.madeups label {
    width: 45%;
}
.box-body.three-col .form-group.madeups .input-two {
    width: 51%;
    display: inline-block;
}
.box-body.three-col .form-group.madeups .input-two input {
    width: 48%;
}
.form-control {
    display: block;
    width: 100%;
    height: 28px;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-rht {
    float: right;
    padding: 25px 0;
}
.btn.save {
    background: #3bafda;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 25px;
    font-size: 15px;
    margin: 0px 5px;border-bottom: 2px solid #2494be !important;
}
.btn.save:hover {
   background-color: #28a5d4 !important;
    border-bottom: 2px solid #28a5d4 !important;}
.btn.submit {
    background: #00b19d;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 25px;
    font-size: 15px;
    margin: 0px 5px; border-bottom: 2px solid #007e70 !important;
}
.btn.submit:hover {
    background-color: #009886; border-bottom:2px solid #009886 !important;}
.construct-mashup {
    float: left;
    margin: 0 0 25px;
    padding: 10px 15px;
    font-size: 13px;
    width: 100%;
}
.construct-mashup th {
    background-color: #e8e8e8;
    border: 1px solid #dddddd;
    color: #444444;
    font-weight: 500;
    text-align: center;
    padding: 6px;
    font-size: 14px;
    line-height: 18px;
}
.construct-mashup tr {
    text-align: center;
    border: 1px solid #f0f0f0; background:#fff;
}
.construct-mashup td {
    color: #444;
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #ddd;
}
.even {
    background-color: #ffffff;
}
table.construct-mashup tr td input {
    border: none;
}
.form-group.madeups span.star {
    color: #ff2222;
}
.form-group span.star {
    color: #ff2222;
}
.nav-tabs-custom > .nav-tabs > li span.weav-ico {
    background:url(../images/weave-ico.png) no-repeat left 9px;
    float: left;
    height: 30px;
    width: 18px;
}
.nav-tabs-custom > .nav-tabs > li:hover span.weav-ico {
    background:url(../images/weave-ico1.png) no-repeat left 9px;
  
}
.nav-tabs-custom > .nav-tabs > li.active span.weav-ico {
    background:url(../images/weave-ico1.png) no-repeat left 9px;
  
   
}
td.const-title input{ width:50px;}
.nav.nav-tabs + .tab-content{ width:100%; float:left; padding: 0 10px;}
.chart{ margin-top:5px;}
.btn-rhts {float: right;}
#wrapper.enlarged .topbar .topbar-left .logo .logo-mini {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    font-size: 18px;
	opacity:1;
}
.topbar .topbar-left .logo .logo-mini {display: none;}
h4.page-title {font-size: 20px;}
ol.breadcrumb.pull-right li {font-size: 13px;}
.navbar-nav > li > a > span > i{ font-size:20px; display: block;text-align: center;}
.inbox { position:relative; }
.value { background:#f76397; font-size:11px; color: #fffff; display: inline-block; border-radius:20px; height:17px; min-width:17px; line-height:17px; text-align:center; }
.nav-tabs>li:last-child{ border-right:none;}
.glyphicon-inbox:before {content: "\e028";font-size: 15px;}
.glyphicon-cog:before {content: "\e019";font-size: 15px;}
.md-sms-failed:before {content: "\f2bf";font-size: 15px;}
/*New css*/

.form-group.madeups.ocn {
    margin-bottom: 5px;float: left;
    width: 100%;
}
.form-group.madeups.ocn select {
    /*width: 200px;*/width: 140px;
	border: 1px solid #CCC;
    border-radius: 0px; color:#333; height: 28px; float:left;
}
.btn.waves-effect.waves-light.btn-primary {
    padding: 5px 14px;
}
.tab-content > .active {
    display: block;
    width: 100%;
}
.form-group.madeups.ocn.search-but {
    float: left; width:100%;
}
.form-group.madeups.ocn .input-group {
    
    /*width: 200px;*/width: 142px;
    float: left;
}
#example-input1-group2 {
    width: 97%;
}
.ocn-section .construct-mashup thead th{ background:#2A3142; color:#fff; padding: 10px 20px;line-height: 25px; cursor: pointer;/*position: relative;*/ text-align:center; vertical-align:middle;}


.ocn-section .construct-mashup thead th:first-child{ text-align:center;}
.ocn-section .construct-mashup tbody tr td:first-child{ text-align:center;}
.ocn-section .construct-mashup tbody tr td{ text-align:left; padding: 8px 12px;}
.oc-ftm-container {margin-left: 8%;}
.no-b-m{position:relative; margin-bottom:-5px;}
tbody tr:hover {
    color: #454545;
    background: #f7f7f7;
}
#datepicker {/*width: 164px;*/ width: 106px;}
#datepicker1 {/*width: 164px;*/width: 106px;}
.input-group .btn.submit {float: right;}
#datatable-fixed-header_info {padding-top: 0; text-align:left; float:left;}
.col-sm-6.nxt {text-align: right; float:right; margin-bottom:40px;}
div.dataTables_paginate ul.pagination.page {margin: 0px;}
select.form-control.input-sm {display: inline-block;width: auto;vertical-align: middle;}
div.dataTables_length label {font-weight: normal;text-align: left;white-space: nowrap;}
.ocn-status {width: 100%;float: left;}
.portlet.ocn-form {display: block; width: 100%;position: relative; clear: both;     margin: -5px auto -15px auto; top:-5px;}
.ocn-section .table.table-striped.table-bordered th {font-weight:normal;background:#4C5667; color:#fff; text-align:center;}
.ocn-section .construct-mashup.footable > thead > tr > th > span.footable-sort-indicator{display: inline; color: #a5a5a5;}
.ocn-section .construct-mashup.footable > thead > tr > th:first-child > span.footable-sort-indicator{display:inline}
.ocn-section .construct-mashup.footable > thead > tr > th > span.footable-sort-indicator:before{content: "\e150"; font-family: 'Glyphicons Halflings';}
.ocn-section .construct-mashup.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before{content: "\e155";font-family: 'Glyphicons Halflings';}
.ocn-section .construct-mashup.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before{content: "\e156"; font-family: 'Glyphicons Halflings';}

.ocn-section .construct-mashup.footable > thead > tr > th:nth-child(1) > span.footable-sort-indicator,.ocn-section .construct-mashup.footable > thead > tr > th:nth-child(9) > span.footable-sort-indicator,.ocn-section .construct-mashup.footable > thead > tr > th:nth-child(7) > span.footable-sort-indicator,.ocn-section .construct-mashup.footable > thead > tr > th:nth-child(8) > span.footable-sort-indicator{display:none}
.ocn-section tr td:first-child {text-align: center;}

.ocn-section .construct-mashup.footable.breakpoint > tbody > tr > td > span.footable-toggle {display: inline-block;font-family: "footable";font-style: normal;
font-weight: normal;font-variant: normal;text-transform: none;padding-right: 10px;color: #777;}
.ocn-section .footable-row-detail-name{ text-align:left;}
.ocn-section .footable-row-detail-value{ text-align:left;}
.ocn-section .construct-mashup.footable.breakpoint > tbody > tr > td > span.footable-toggle::before {
    content: "";
    background: url(../images/foo-plus.png) no-repeat;
    padding: 2px 20px 0;
}
.ocn-section .construct-mashup.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle::before{
    content: "";
    background: url(../images/foo-minus.png) no-repeat;
    padding: 2px 20px 0;
}
.ocn-section td{color:#000;}
.ocn-section td .md,  .ocn-section td .ti-ruler-pencil{font-size:20px; color:#45a7ce;}

.ocn-section th{background:#c5c5c5; color:#000;}
.ocn-section  tr th, .ocn-section tr td{border-color:#989898; vertical-align:middle}

.ocn-section div#datatabless_filter, .ocn-section div#datatabless_length {display: none;}
.form-group.madeups.ocn .radio.radio-primary.ocn-search label {  width: auto; margin-right: 35px;}
.form-group.madeups.ocn .radio.radio-primary.ocn-search{margin:0 auto;}

.construct-mashup .popover{max-width:none; width:auto;}

.ocn-section div#datatabless_wrapper{margin:0 0 20px}
.ocn-section .table-responsive{overflow-x: hidden;}

.portlet.ocn-form .portlet-heading{padding: 5px 20px 0px;}
.portlet.ocn-form  a.btn.btn-success.btn-custom{padding:2px 10px;}

.ocn-section table.dataTable thead > tr > th{padding: 6px 15px 6px 5px;border-bottom: 0 !important;}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th, .table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th{/*border:1px solid #E4E4E4*/}

.datepicker-dropdown{z-index:100000;}

.ocn-loader{width:100%; margin:15px 0;}

.ocn-loader .loader {border: 5px solid #ccc;border-radius: 50%;border-top: 5px solid #3498db;width: 50px;height: 50px;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite; margin:0 auto;}

@-webkit-keyframes spin {0% { -webkit-transform: rotate(0deg); }100% { -webkit-transform: rotate(360deg); }}
@keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(360deg); }}


@media (max-width:1023px)
{
	.ocn-section .table-responsive{overflow-x: auto;}
}

/*25December2018*/
.new-vtab { float:left; width:100%; padding:0px; margin:0px 0px 0px -2px; border-top:5px solid #3bafda; border-bottom:5px solid #3bafda; }
.form-group.madeups.ocn .fbox  { margin-bottom: 6px; float: left; width: 100%; }
.form-group.madeups.ocn .fbox:last-child  { margin-bottom: 0px; float: left; width: 100%; }
.form-group.madeups.ocn .fbox input { width: 66%; display: inline-block; }
.form-group.madeups.ocn .fbox .input-group {  width: 66%; }
.form-group.madeups.ocn .fbox #datepick { width:100%; }
.form-group.madeups.ocn .cap-txt { color:#333333; }
.form-group.madeups.ocn .add-box input { width: 100%; margin-bottom:6px; display: inline-block; }
.form-group.madeups.ocn .add-box .checkbox { display:inline-block; top:17px; margin-top:3px; margin-left:5px; }
.form-group.madeups.ocn .add-box .checkbox label { width:auto; }
.form-group.madeups.ocn .add-box span  {   display:inline-block; color:#333333; }
.form-group.madeups.ocn .add-box  input.small-txtbox { width:73%; }
 
.new-vtab .tab-content {  width:100%; padding:20px; }
.new-vtab .tabs-vertical-env { margin-bottom:0px; }
.new-vtab .tabs-vertical-env .nav.tabs-vertical { background:#3bafda;}
.new-vtab .tabs-vertical-env .nav.tabs-vertical li > a { text-align:left; }
.new-vtab .nav.tabs-vertical > li > a { position:relative; background:#2d73ae; color:rgba(255,255,255,0.8)!important; padding-left:10px; padding-right:60px; }
.new-vtab .nav.tabs-vertical > li > a::after { position:absolute; content:"\f1b6"; font-family:'Material Design Iconic Font'; right:10px; }
.new-vtab .navtab-custom li { margin-bottom:0px; border-bottom:1px solid #1D639E; }
.new-vtab .navtab-custom li:last-child { border-bottom:0px dashed #3bafda; }
.new-vtab .nav.tabs-vertical > li > a:hover { color:#FFFFFF!important; }
.new-vtab .nav.tabs-vertical > li.active > a, .new-vtab .nav.tabs-vertical > li.active > a:hover{ color:#3bafda!important; }
.frm-box { float:left; width:100%; padding:0px 0px; margin:0px 0px; }
.frm-box .frm-left { float:left; width:47%; margin-right:5%; margin-bottom:10px; }
.frm-box .frm-left:nth-child(2n) { margin-right:0%; }
.frm-box .frm-left label { float:left; width:40%; padding:0px 0px; margin:0px 0px; }
.frm-box .frm-left input { float:left; width:60%;  }
.frm-box .frm-left select { float:left; width:60%;  }
.frm-box .frm-left .input-group input { width:100%; }
 
.new-vtab .table-responsive table th { text-align:center; color:#000000; background-color:#c5c5c5; }
.new-vtab .table-responsive table td { border-bottom:1px solid #c5c5c5; color:#000000;  }
.new-vtab .table-responsive table select { width:100%; padding:4px 5px; }
.frm-box .frm-left textarea { float:left; width:60%; height:100px; padding:4px 5px; margin-bottom:6px; }
.frm-center{ float:none; margin:auto; width:60%; } 
.frm-center label { float:left; width:40%; padding:0px 0px; margin:0px 0px; }
.frm-center textarea { margin-bottom:20px; width:60%; height:100px; padding:4px 5px; }
.frm-center  select { width:60%; padding:4px 5px; }
.table-responsive .checkbox { margin-top:4px; margin-bottom:0px; }
.new-vtab .radio { margin:0px; padding:0px; }
.new-vtab .radio label { margin:0px 0px 0px 25px; padding:0px; display:inline;  }
.btm-totbox { float:left; width:100%; padding:5px 5px 30px 0px; }
.btm-totbox input { width:100px; border:1px solid #e0e0e0; padding:6px 5px; margin-left:5px; }
.btm-totbox .btn.waves-effect.waves-light.btn-primary { padding:6px 14px; }

.add-btnb .btn { padding:0px 6px; line-height:18px; width:20px; }
.remove-btnb .btn { padding:0px 6px; line-height:18px; width:20px; margin-top:4px; }
.remove-btnb .btn-inverse { background-color:#f38f71 !important; border:1px solid #f38f71 !important; }

/*.dropdown.user.user-menu .hidden-xs { float:left;}*/
#con-close-modal .modal-dialog .close	{ color:#fff; opacity:1;}