/*
Template Name: Minton Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Responsive
*/
/* @import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700); */

@media only screen and (max-width: 6000px) and (min-width: 700px) {
  .wrapper.right-bar-enabled .right-bar {
    right: 0;
    z-index: 99;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .email-msg {
    display: none;
  }
  .col-lg-3.col-sm-4.col-md-4.role-btn.btn-full-wid, .col-lg-4.col-sm-4.col-md-4.role-btn.btn-full-wid { width: 100%; text-align: right;}

}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .enlarged .left.side-menu {
    margin-left: -75px;
  }
  .content-page {
    margin-left: 0px !important;
  }
  .footer {
    left: 0px !important;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
  }
  .todo-send {
    margin-top: 10px;
    padding-left: 15px;
  }
  .chat-inputbar {
    padding-left: 15px;
  }
  .chat-send {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .dataTables_wrapper .col-xs-6 {
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }
  .button-menu-mobile {
    display: block;
  }
  .search-bar {
    display: none !important;
  }
  .user-detail {
    bottom: 0;
    background-color: #2a3142;
    z-index: 1;
  }
  #sidebar-menu {
    overflow: auto;
    height: 100%;
    padding-top: 0;
    padding-bottom: 70px;
  }
}
@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
}
/* Container-alt */
@media (min-width: 768px) {
  .container-alt {
    width: 750px;
  }
}

@media (min-width: 1280px) and (max-width: 1349px) {
  .form-group.madeups label {width: 40%;}
  .oc-ftm-container { margin-left: 0;}
  .uom-master .form-group.madeups input { width: 52%;}
  .grey-small.nw-grey .form-group.madeups label { width: 33%;}
  .grey-small.nw-grey .form-group.madeups label.extra-wid { width: 42%;}
  .print-pg .col-md-3 { width: 30%;}
  .ocn-section .table-responsive { overflow-x:auto;float:left;width:100%}
  .form-group.lbh.ocn label.wid-42 { width: 40% !important;}

  
.form-group.field-pad.tariff-l.madeups.ocn input.box-wid { width: calc(100% - 54%); }
.form-group.field-pad.tariff-l.madeups.ocn label.lbl-wid { width: 52%; }
.form-group.field-pad.tariff-l.madeups.ocn .left.box-wid { width: calc(100% - 54%); }
}

@media screen and (min-width: 1181px) and (max-width:1279px) {
  body{ font-size: 13px;}
  .form-group.madeups label { width: 42%;}
  .form-group.madeups input { width: 55%;}
  ng-select  { width: 55% !important;}
  ng-select > div { width: 100% !important;}
  .form-group.madeups.ocn select  { width: 55%;}
  .oc-ftm-container { margin-left: 0;}
  .form-buttons {padding-right: 1.5%;}
  .uom-master .form-group.madeups input { width: 55%;}
  .form-group.madeups label.extra-wid {width: 44%;}
  .form-group.madeups.ocn.stock label.extra-wid {  width: 30%;}
  .date-box.no-pad { width: 20%;}
  .form-group.madeups label.extra-wid3 { width: 45%;}
  /*.grey-small1 .upload-ocn .form-group.madeups input { width: 37%;}
  .grey-small.nw-grey .form-group.madeups label { width: 34%;}
  .grey-small.nw-grey .form-group.madeups label.extra-wid { width: 47%;}
  .grey-small.nw-grey .grey-lfts { width: 57% !important;}
  .grey-small.nw-grey .form-group.madeups .grey-lfts input { width: 100%;}*/
  .ocn-status.special-ocn .form-group.madeups label.small-wid { width: 43%;}
  .ocn-status.special-ocn .form-group.madeups input { width: 53% !important;}
  .print-pg .col-md-3 { width: 30%;}
  .ocn-section .table-responsive { overflow-x:auto;float:left;width:100%}
  input.form-control.wid-52 { width: 52%;}
  .form-group.madeups.ocn .input-group.wid-52 { width:55% !important; }
  

  /*====*/
  .form-group.lbh.ocn label.wid-42 { width: 42% !important;}
  .form-group.lbh.ocn input.form-control {width: 17.7%;} 
  

  .form-group.field-pad label.lbl-wid {width: 45%;}
  .form-group.field-pad .input-group.box-wid { width: calc(100% - 47%); }
  .form-group.field-pad input.box-wid { width: calc(100% - 47%); }
  .form-group.field-pad .left.box-wid { width: calc(100% - 47%); }

  .form-group.field-pad.tariff-l.madeups.ocn input.box-wid { width: calc(100% - 54%); }
  .form-group.field-pad.tariff-l.madeups.ocn label.lbl-wid { width: 52%; }
  .form-group.field-pad.tariff-l.madeups.ocn .left.box-wid { width: calc(100% - 54%); }
  
}

@media (min-width: 1024px) and (max-width:1180px) {
  body{ font-size: 13px;}
  .portlet.ocn-form .portlet-heading { padding: 5px 2% 0px;}
  .oc-ftm-container { margin-left: 0;}
  .form-group.madeups label { width: 100%; margin-right: 0px;}
  .form-group.madeups input { width: 100%;}
  ng-select > div { width: 100% !important;} 
  ng-select { width: 100% !important;}
  .form-group.madeups.ocn select {width: 100%}
  .form-control, .dataTables_wrapper .dataTables_filter input { font-size: 13px;}
  .form-buttons {padding-right: 1.5%;}
  .form-group.madeups.ocn.role-pad ng-select.role-sel { width: 62% !important;}
  .form-group.madeups.ocn.role-pad label { width: 36%;}
  .uom-master .form-group.madeups input { width: 100%}
  .uom-master.unit .form-group.madeups.ocn label { width: 36%;}
  .uom-master.unit .form-group.madeups.ocn input { width: 60%;}
  .uom-master.unit .form-group.madeups.ocn select { width: 60%;}
  .form-group.madeups label.extra-wid {width: 100%}
  .form-group.madeups label.extra-wid1 {width: 100%}
  .form-group.madeups.ocn.stock label {width: 35%;}
  .form-group.madeups.ocn.stock .left { width: 55%;}
  .form-group.madeups.ocn.p-date label { width: 100%;}
  .form-group.madeups label.extra-wid4 { width: 100%;}
  .form-group.madeups.ocn.slip.p-slip .left { width: 100%;}
  .form-group.madeups.ocn.p-date .input-group { width: 100%;}

  .form-group.madeups.ocn.p-form .left { width: 100%;}
  .form-group.madeups.ocn.p-form .left input { width: 100% !important;}
  .date-box.no-pad { width: 20%;}
  .date-box.no-pad { width: 25%;}
  .grey-small .col-lg-4 { width: 33.33333333%;}
  .ocn-status.add-status .form-group.madeups label.extra-wid3 { width: 45%;}
  .form-group.madeups label.extra-wid3, .form-group.madeups label.small-wid { width: 100%; margin-right: 0 !important;}
  .grey-small .form-group.madeups input, .trims-plan .gray-box .grey-small select.form-control { width: 60%;}
  .grey-small1 .form-group.madeups input, .trims-plan .gray-box .grey-small1 select.form-control { width: 63%;}
  .print-pg .col-md-3 { width: 37%;}
  .ocn-section .table-responsive { overflow-x:auto;float:left;width:100%}


  /*====*/
  .form-group.madeups.ocn .input-group.wid-52 { width:100% !important; }
  .form-group.lbh.ocn label.wid-42 { width: 100% !important;}
  
  

  .form-group.field-pad label.lbl-wid {width: 45%;}
  .form-group.field-pad .input-group.box-wid { width: calc(100% - 47%); }
  .form-group.field-pad input.box-wid { width: calc(100% - 47%); }
  .form-group.field-pad .left.box-wid { width: calc(100% - 47%); }
  .fileupload.btn { width: auto;}
  .form-group.field-pad .left.box-wid.upload-box input { width: calc(100% - 41%);}

  .form-group.field-pad.tariff-l.madeups.ocn input.box-wid { width: calc(100% - 62%); }
  .form-group.field-pad.tariff-l.madeups.ocn label.lbl-wid { width: 60%; }
  .form-group.field-pad.tariff-l.madeups.ocn .left.box-wid { width: calc(100% - 62%); }
  .btn.waves-effect.waves-light.btn-primary { padding: 4px 12px;}
  .form-group.field-pad label.lbl-wid br { display: none;}
}


@media (min-width: 768px) and (max-width:1023px) {
  body{ font-size: 13px;}
  .portlet.ocn-form .portlet-heading { padding: 5px 2% 0px;}
  .oc-ftm-container { margin-left: 0;}
  .form-group.madeups label { width: 100%; margin-right: 0px;}
  .form-group.madeups input { width: 100%;}
  ng-select > div { width: 100% !important;}
  ng-select { width: 100% !important;}
  .form-group.madeups.ocn select {width: 100%}
  .form-control, .dataTables_wrapper .dataTables_filter input { font-size: 13px;}
  .form-group.madeups.ocn.role-pad label { width: 44%;}
  .form-group.madeups.ocn.role-pad ng-select { width: 55% !important;}
  .tree-list-lft { width: 100%;}
  .form-group.lbh label { width: 100%;}
  .form-group.lbh input { width: 32%;}
  .uom-master .form-group.madeups input { width: 100%;}
  .form-group.madeups label.extra-wid { width: 100%;}
  .form-group.madeups label.extra-wid1 { width: 100%;}
  .form-buttons.pull-right.margin-btm { margin: 10px 0;}
  .form-group.madeups.ocn.p-date label { width: 100%;}
  .form-group.madeups label.extra-wid4 { width: 100%;}
  .form-group.madeups.ocn.slip.p-slip .left { width: 100%;}
  .form-group.madeups.ocn.p-date .input-group { width: 100%;}

  .form-group.madeups.ocn.p-form .left { width: 100%;}
  .form-group.madeups.ocn.p-form .left input { width: 100% !important;}
  .date-box.no-pad { width: 170px;}
  .grey-small .col-lg-4 { width: 33.33333333%;}
  .ocn-status.add-status .form-group.madeups label.extra-wid3 { width: 65%;}
  .form-group.madeups label.extra-wid3, .form-group.madeups label.small-wid { width: 100%; margin-right: 0 !important;}
  .grey-small .form-group.madeups input, .trims-plan .gray-box .grey-small select.form-control { width: 60%;}
  .grey-small1 .form-group.madeups input, .trims-plan .gray-box .grey-small1 select.form-control { width: 100%;}
  .grey-small1 .upload-ocn .form-group.madeups input { width: 63%;}
  .grey-small .form-group.madeups input.form-control.auto-form { width: 100%;}
  .print-pg .col-md-3 { width: 100%;}
  .print-pg .date-box.no-pad { padding: 5px 0;}
  .to-responsive { display: block;}
  .to-normal { display: none;}

  .form-group.madeups.ocn .input-group.wid-52 { width:100% !important; }
  .form-group.lbh.ocn label.wid-42 { width: 100% !important;}

  .form-group.lbh input { width: 31%;}
  .form-group.lbh.ocn input.form-control {width: 31.7%;}



  /*================*/
  .form-group.field-pad label.lbl-wid {width: 100%;}
  .form-group.field-pad .input-group.box-wid { width: 100%; }
  .form-group.field-pad input.box-wid { width: 100%; }
  .form-group.field-pad .left.box-wid { width: 100%; }
  .fileupload.btn { width: auto;}
  .form-group.field-pad .left.box-wid.upload-box input { width: calc(100% - 30%);}
  table.dataTable thead th, table.dataTable thead td { padding: 10px 2px;}
  table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {top: 50%; margin-top: -10px;}
  .dialog[_ngcontent-c7] { width: 100% !important; padding: 0  !important; max-width: 94% !important;}
 
  
  .form-group.field-pad.tariff-l.madeups.ocn input.box-wid { width: 100%; }
  .form-group.field-pad.tariff-l.madeups.ocn label.lbl-wid { width: 100%; }
  .form-group.field-pad.tariff-l.madeups.ocn .left.box-wid { width: 100%; }

  .btn.waves-effect.waves-light.btn-primary { padding: 4px 9px; font-size: 12px;}

  .form-group.madeups.ocn.field-pad.date-pad label.lbl-wid {width: 100%;}
.form-group.field-pad.date-pad .input-group.box-wid { width:100%; }
.form-group.field-pad label.lbl-wid br { display: none;}
.col-sm-12.left.welcome-txt { margin-top: 20%;}
}

@media (max-width: 767px) {
  .dataTables_wrapper {margin-top: 10px;}
  .tree-list-lft { width: 100%;}
  .role-btn { text-align: right;}
  .hidden-xs.user-name { display: block !important;}
  .oc-ftm-container { margin-left: 0;}
  .portlet.ocn-form .portlet-heading { padding: 5px 12px 0px;}
  .form-group.madeups input { width: 61%;}
  ng-select { width: 61% !important;}
  .form-group.madeups.ocn select { width: 61%;}
  .form-buttons { padding-right: 1.5%}
  .center-div .cent-txt { width: 48%; float: left;}
  .dataTables_wrapper { padding: 8px;}
  .ocn-section td { color: #555;}
  .uom-master .form-group.madeups input { width: 61%;}
  .role-btn { float: right;}
  .card-box.tree-list { margin-top: 15px;}
  .form-group.madeups label.small-wid { width: 37%;}
  .form-group.madeups label.extra-wid { width: 37%;}
  .form-group.madeups label.extra-wid1 { width: 37%;}
  .form-buttons.pull-right.margin-btm { margin: 10px 0;}
  .form-group.madeups label.extra-wid4 { width: 37%; margin-right: 2% !important;}
  .form-group.madeups.ocn.p-date label { width: 37%;}
  .form-group.madeups label.extra-wid3 { width: 37%;}
  .form-group.madeups.ocn.p-date .input-group { width: 61%;}
  .form-group.madeups.ocn.slip.p-slip .left { width: 61%;}
  .form-group.madeups.ocn.p-form .left { width: 61%;}
  .form-group.madeups.ocn.p-form .left input { width: 100% !important;}

  body.fixed-left .side-menu.left { z-index: 8;}
  .form-group.madeups.ocn.p-date-invoice .input-group { width: 61%;}
  .date-box.no-pad { width: 190px;}
  .trims-plan .nav-tabs-custom.tab-trim .nav.nav-tabs.trims > li { width: auto;}
  .trims-plan .nav-tabs-custom.tab-trim .nav.nav-tabs.trims > li a { font-size: 14px;}
  .grey-small .col-lg-4 { width: 100%;}
  .ocn-status.special-ocn .form-group.madeups input { width: 53% !important;}
  .print-pg .col-md-3 { width: 30%;}
  .print-pg .col-md-3 { width: 100%;}
  .print-pg .date-box.no-pad { padding: 5px 0;}
  .to-responsive { display: block;}
  .to-normal { display: none;}

  .form-group.madeups.ocn .input-group.wid-52 { width:61% !important; }
  .form-group.lbh.ocn input.form-control {width: 19.9%;}

  /*====*/
  .grey-small.tab-wid .col-lg-4 { width: 100%;}
  table.dataTable thead>tr>th.sorting_asc,
  table.dataTable thead>tr>th.sorting_desc,
  table.dataTable thead>tr>th.sorting,
  table.dataTable thead>tr>td.sorting_asc,
  table.dataTable thead>tr>td.sorting_desc,
  table.dataTable thead>tr>td.sorting {
  padding-right: 30px}
  table.dataTable thead th, table.dataTable thead td { padding: 10px 10px;}
  table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after { bottom:20px;}
  .dialog[_ngcontent-c7] { width:100% !important; padding: 0 !important; max-width: 94% !important;}

  .form-group.madeups.ocn.field-pad.date-pad label.lbl-wid {width: 42%;}
  .form-group.field-pad.date-pad .input-group.box-wid { width: calc(100% - 44%) }
  .form-group.madeups.ocn.field-pad.sample label.lbl-wid { width: 42%; }
  .fileupload.btn { width: auto;}
  .form-group.field-pad label.lbl-wid br { display: none;}
  .col-sm-12.left.welcome-txt { margin-top: 25%;}
}
/* @media (min-width: 620px) and (max-width:500px) {
  .to-responsive { display: none;}
  .to-normal { display: block;}
  .print-pg .col-md-3 { width: 50%;}
} */

@media (max-width: 639px) {
  .page-title-box .breadcrumb { width: 100%;}
  .dataTables_length label { float: left;}
  .topbar .topbar-left { width: 180px; margin-left: 10px;}
  .logo img { width: 100%;}
  .form-group.madeups label.extra-wid4, .form-group.madeups label.extra-wid3 { width: 39%;}
  .form-group.madeups.ocn .input-group.wid-52 { width:61% !important; }
  .form-group.lbh.ocn input.form-control {width: 19.8%;}
  .table-responsive .dataTables_filter { margin-top: 0; }
}

@media (max-width: 479px) {

  .portlet.ocn-form .portlet-heading { padding: 5px 20px;}
  .oc-ftm-container {margin-left: 0;}

  .form-group.madeups label { width: 100%; margin-right: 0px;}
  .form-group.madeups input { width: 100%;}
  ng-select > div { width: 100% !important;}
  ng-select { width: 100% !important;}
  .form-group.madeups.ocn select {width: 100%}
  .form-control, .dataTables_wrapper .dataTables_filter input { font-size: 13px;}
  .dataTables_length label { float: left; width: 100%; margin-bottom: 10px;}
  div.dataTables_wrapper div.dataTables_filter label { text-align: left; width: 100%;}
  .ocn-section .table-responsive {margin-bottom: 50px;}
  .form-buttons { padding-right: 2%}
  .center-div .cent-txt { width: 100%; float: left;}
  .breadcrumb > li + li::before { padding: 0;}
  .uom-master .form-group.madeups input { width: 100%;}
  .form-group.madeups label.extra-wid { width: 100%;}
  .form-group.madeups label.small-wid { width: 100%;}
  .form-group.madeups label.extra-wid1 { width: 100%;}
  .form-group.madeups.ocn.stock label { width: 100%;}
  .form-group.madeups.ocn.stock .left { width: 100%;}
  .form-group.madeups.ocn.stock .left input { width: 100% !important;}
  .form-group.madeups.ocn.p-date label { width: 100%;}
  .form-group.madeups.ocn.p-date .input-group { width: 100%;}
  .form-group.madeups.ocn.slip.p-slip .left { width: 100%;}
  .form-group.madeups label.extra-wid4, .form-group.madeups label.extra-wid3 { width: 100%;}

  .form-group.madeups.ocn.p-date-invoice .input-group { width: 100%;}
  .form-group.madeups.ocn.p-form .left { width: 100%;}
  .date-box.no-pad { float:left !important; margin-bottom: 14px;}
  .trims-plan .nav-tabs-custom.tab-trim .nav.nav-tabs.trims > li a { font-size: 13px; padding: 0 5px;}
  .trims-plan .col-sm-12.gray-box label { margin-top: 5px;}
  /* .date-nw { width: 48%;}
.datev-nw { width: 51%;} */
.form-group.madeups.ocn .input-group.wid-52 { width:100% !important; }
.form-group.lbh.ocn input.form-control {width: 19%; margin-right: 1%; float: left;}

/*=======*/
.form-group.field-pad label.lbl-wid {width: 100%;}
.form-group.field-pad .input-group.box-wid { width: 100%; }
.form-group.field-pad input.box-wid { width: 100%; }
.form-group.field-pad .left.box-wid { width: 100%; }
.fileupload.btn { width: auto;}
.form-group.field-pad .left.box-wid.upload-box input { width: calc(100% - 18%);}

.form-group.field-pad.tariff-l.madeups.ocn input.box-wid { width: 100%; }
.form-group.field-pad.tariff-l.madeups.ocn label.lbl-wid { width: 100%; }
.form-group.field-pad.tariff-l.madeups.ocn .left.box-wid { width: 100%; }

.form-group.madeups.ocn.field-pad.date-pad label.lbl-wid {width: 100%;}
.form-group.field-pad.date-pad .input-group.box-wid { width:100%; }

.form-group.madeups.ocn.field-pad.addr label.lbl-wid { width: 100%; }
.form-group.madeups.ocn.field-pad.addr .box-wid { width: 100%;}

}

@media (min-width: 992px) {
  .container-alt {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-alt {
    width: 1170px;
  }
}
@media (max-width: 419px) {
  .topbar-left {
    width: 70px !important;
  }
  .logo .icon-c-logo {
    display: inline-block !important;
    line-height: 58px !important;
  }
  .logo span {
    display: none !important;
  }
  .content-page {
    margin-left: 70px;
  }
  .forced .side-menu.left {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  }
  .enlarged .side-menu.left {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  }
  /*.form-group.madeups label{ width:73px;}*/
}
.dialog[_ngcontent-c11] { width: 40% !important;}
