/* You can add global styles to this file, and also import other style files */
@import "./core.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "../js/datatables.net-bs/css/dataTables.bootstrap.min.css";
/* @import "https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"; */
@import "./icons.css";
@import "./components.css";
@import "./pages.css";
@import "./menu.css";
@import "./custom.css";
@import "./responsive.css";
@import "./trims-pages.css";
@import "./variables.css";
select-dropdown>div .options ul li {
    color: #333
}

select-dropdown>div .options ul li:hover {
    color: #fff;
    background-color: #2196F3;
}

.form-group.madeups input {
    color: #333
}

select-dropdown>div .filter input {
    border: 1px solid #ccc !important;
    width: 100% !important
}

ng-select>div>div.single>div.value {
    background: none !important;
    font-size: 11px;
    color: #333 !important;
    display: inline-block;
    border-radius: 20px;
    height: 23px;
    text-align: left;
}

select-dropdown>div {
    z-index: 1000 !important
}

ng-select {
    width: 50% !important;
    height:auto !important;
    min-height: 28px !important;
}

ng-select>div>div.single>div.value {
    font-size: 14px !important
}

.simple-notification .sn-content {
    width: 85% !important;
}

.simple-notification.warn {
    background: #ffaa00 !important;
}

.simple-notification.warn .sn-progress-loader span {
    background: #c48200 !important;
}

table.dataTable {
    width: 100% !important;
}

table.dataTable tr {
    cursor: pointer;
}

table.dataTable tr:focus {
    background-color: #333;
    color: #fff;
}

.portlet .portlet-heading {
    color: #333 !important;
}

.swal2-container {
    z-index: 99999 !important;
}

.swal2-popup {
    box-shadow: 1px 2px 9px 2px #525252;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important
}

.swal2-container.swal2-shown {
    background-color: rgba(0, 0, 0, .6)
}

.ocn-section tr td:last-child {
    text-align: righ !important;
}

.dataTables_wrapper {
    width: 99%;
    margin: 0 auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: #fff !important;
    border: 1px solid #ddd !important;
    margin-left: 0 !important;
    border-radius: 0 !important;
    padding: 6px 12px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0 !important;
    border: 1px solid #dddddd !important;
    border-radius: 0 !important;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #3bafda !important;
    border: 1px solid #3bafda !important;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: #e4e7ea !important;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    background-color: #fff;
}

.ngui-auto-complete-wrapper ngui-auto-complete {
    position: absolute !important;
    left: 42% !important;
    z-index: 999999 !important
}

table td .ngui-auto-complete-wrapper ngui-auto-complete {
    position: absolute !important;
    left: 35% !important;
    z-index: 999999 !important
}

.full-width {
    width: 100% !important
}

.p-b-10 {
    padding-bottom: 10px
}

.bold {
    font-weight: 500
}
.ocn-status ng2-completer input
{
    width: 144px !important;
}
ng2-completer input {
    display: block;
    width: 85% !important;
    height: 28px;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

td ng2-completer input {
    width: 100% !important;
}

.completer-dropdown {
    width: 160px !important;
    max-height: 150px !important;
    overflow-y: auto;
    z-index: 9999999 !important;
    text-align: left !important;
}

.completer-holder .completer-dropdown-holder .completer-row {
    width: 100% !important;
    padding: 3px !important;
    border-bottom: 1px solid #ddd
}
.completer-holder .completer-dropdown-holder .completer-row:hover {
  background-color: #1a71ae
}

.left {
    float: left;
}

.clear-btn {
    background-color: #fff;
    border: none;
    padding: 7px;
    font-size: 10px;
    border-radius: 4px;
}

.clearfix {
    clear: both;
}

.p-t-10 {
    padding-top: 10px
}

.p-t-70 {
    padding-top: 70px;
}

.address-pan {
    clear: both;
    text-align: left;
    padding-left: 10px !important;
    padding-top: 5px;
}

.padding-60-45 {
    padding-left: 60px !important;
    padding-right: 45px !important
}

.padding-30 {
    padding-left: 30px;
    padding-right: 30px
}

ul li {
    list-style: none
}

.padding-0 {
    padding: 0 !important
}

.order-table tr td {
    text-align: left !important
}

.page-height {
    max-height: 60vh;
    height: 60vh;
    overflow-y: auto;
}

.width-100 {
    width: 100%
}

.p-b-20 {
    padding-bottom: 20px
}

.p-b-70 {
    padding-bottom: 70px
}

.p-l-0 {
    padding-left: 0 !important
}

.m-r-5 {
    margin-right: 5px;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(6, 6, 6, 0.63);
    z-index: 3;
    cursor: pointer;
}

.overlaylogin {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: 3;
    cursor: pointer;
}
.loading {
    opacity: 0;
    /* transition: opacity .8s ease-in-out; */
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

app-root:empty+.loading {
    opacity: 1;
    z-index: 100;
}

app-root:empty+.loading h2 {
    color: #333;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
}


/* 
#style-1::-moz-scrollbar {
    width: 5px;
    border: none;
    border-radius: 5px;
}

#style-1::-moz-scrollbar-track {
    background: #232d48;
}

#style-1::-moz-scrollbar-thumb {
    background: #2f98e2;
}

#style-1::-moz-scrollbar-thumb:hover {
    background: #126198;
} */


.gear{width: 80px; height: 80px; border-radius:10%; margin:20px auto; border:none ; position:relative;
}

.gear:after{content:"";width: 100px; height: 100px;border-radius:100%; display:block; border:5px dashed  #ed5565 ;position:absolute; top:-24px; left: -24px; box-shadow: inset 0px 0 0 20px #ed5565; transform:scale(.5) rotate(0deg);
 animation:gear 6s linear infinite;}

.gear:before{content:"";width: 58px; height: 58px;border-radius:100%; 
 display:block; border:5px dashed  #ed5565 ; position:absolute; top:26px; right: -14px; box-shadow: inset 0px 0 0 10px #ed5565; transform:scale(.5) rotate(0deg);
 animation:gear2 4s linear infinite;}

@keyframes gear {
   0%{transform:scale(.5) rotate(0deg);}
  100%{transform:scale(.5) rotate(360deg);}
}

@keyframes gear2 {
   0%{transform:scale(.5) rotate(0deg);}
  100%{transform:scale(.5)  rotate(-360deg);}
}

.mheight
{
    max-height: 500px;
    overflow-y: auto;
}


.ui-treetable-tablewrapper table tr th {
    background: #4C5667;
    color: #fff;
    border : 1px solid #dddddd !important
}
.ui-treetable-row td span { font-weight:bold;}

.ui-treetable-tablewrapper table tr td span { font-weight:bold;}
.ui-treetable-row td {  border:1px solid #dddddd !important;}
.ui-treetable-row td a{  color : rgb(83, 83, 83) !important;}
.ui-treetable-row td a:hover{  color : #000 !important;}
.ui-treetable-data:nth-child(odd) td { background: #fff;}
.ui-treetable-data:nth-child(even) td { background: #f9f9f9;}
.ui-treetable-row td.ui-treetable-child-table-container table .ui-treetable-row td span { font-weight:normal;}
.ui-treetable-child-table-container table tbody .ui-treetable-row td { background: #fff;}
.ui-treetable-child-table-container table .ui-treetable-row td { border:0px !important;}

.ocn-section .table-responsive.table-resp-pad .cs td {text-align: center !important}
.ocn-section .table-responsive.table-resp-pad td, .table-responsive.table-resp-pad td { text-align:left; border-top:1px solid #ccc;}
.table-responsive.table-resp-pad td.tble-center, .table-responsive.table-resp-pad td .tble-center	{ text-align:center;}
.table-responsive.table-resp-pad td.tble-right	{ text-align:right;}
.table-responsive.table-resp-pad td p	{ margin-bottom:5px;}
.caps-pad { text-transform:uppercase;}
.caps-underline { text-decoration:underline;}
.table-responsive.table-resp-pad td.bordr-non	{ border-right:none;}
.table-responsive.table-resp-pad .table-bordered { border:1px solid #ccc;}
.ocn-section.ocn-section-tbl { padding:0 15px;}

.ui-chkbox .ui-chkbox-box {
    width: 1.125em;
    height: 1.125em;
    line-height: 1.125em;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #6f6f6f
}

.ui-tree .ui-chkbox .ui-chkbox-icon
{
    margin-left:0 !important
}

.loaderpos
{
    position:fixed;top:50%;left:50%
}

.inprogress
{
    padding: 4px;
    background-color: #ffb100;
    border: 1px solid #ffb100;
    border-radius: 5px;
    color: #fff;
}

.completed
{
    padding: 4px;
    background-color: #03915d;
    border: 1px solid #03915d;
    border-radius: 5px;
    color: #fff;
}

.p-t-50
{
    padding-top : 50px
}

.p-l-0
{
    padding-left :0
}

.m-t-25
{
    margin-top: 25px !important
}
.m-b-0
{
    margin-bottom: 0 !important
}
.p-l-10
{
    padding-left : 10px !important
} 
.p-b-50
{
    padding-bottom: 50px !important
}
.m-t-70
{
    margin-top: 70px
}
.left {
    float: left !important;
}
.text-right
{
text-align : right !important;
}
.text-center
{
    text-align: center !important;
}
.report thead{display: table-header-group;}
.report tfoot {display: table-row-group;}
.report tr {page-break-inside: avoid;}
.td-size{word-wrap: break-word;max-width: 200px !important;}
.td-size-lrg{word-wrap: break-word;max-width: 300px !important;}
@media print {
    body {-webkit-print-color-adjust: economy;}
    .table-responsive.table-resp-pad .table-bordered.print-view {border: 1px solid #333!important;}
    }
