.trims-plan .box-body.top {
    padding: 5px 15px;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.4s;
    background: #ffffff;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    transition: all 0.4s;
    background: #fff;
    text-align: center;
    margin: -12px 0 5px 0px;
}

.table-bordered.trims th {
    text-align: center;
    background: #4C5667;
    color: #fff;
    vertical-align: middle;
}

.table-bordered.trims td {
    vertical-align: middle;
    color: #000;
    padding: 6px 5px;
}

.table-bordered.trims td .form-control {
    height: 25px;
}

.table-bordered.trims td input.form-control {
    width: 90px;
    margin: 0 auto;
}

.trims .radio {
    display: inline;
    margin: 0 10px 0 0;
    text-align: left;
}

.trims .checkbox {
    margin: 0
}

.trims-plan .nav.nav-tabs.trims>li.active>a,
.nav.nav-tabs.trims>li:hover>a {
    color: #fff !important;
    background: #1A71AE;
}

.trims-plan .box-body.three-col.mar-btm.top input.form-control {
    width: 175px;
}

.trims-plan .box-body.three-col.mar-btm.top label {
    margin-right: 15px;
    color: #777777
}

.trims-plan .box-body.three-col.mar-btm.top .form-group.m-r-15 {
    margin: 0 40px 0 !important;
}

.trims-plan ul.nav.nav-tabs.pull-left.trims {
    margin: 0 0 0px 0px;
}

.trims-plan .nav.nav-tabs+.tab-content {
    margin: 0 0 25px 0px;
}


/*.trims-plan .col-sm-12.gray-box{margin:10px 0 20px;}*/

.trims-plan .col-sm-12.gray-box label {
    margin-right: 3px;
    float: left
}

.trims-plan .gray-box select.form-control {
    width: 160px;
    padding: 0 6px
}

.trims-plan .gray-box .form-group.m-r-20 {
    margin-right: 30px;
    margin-bottom: 10px;
}


/*.trims-plan .trims-view{max-height:300px; height:auto!important;}*/


/*
.trims-plan  .table-bordered.trims.footable > thead > tr > th > span.footable-sort-indicator{display:none;}
.trims-plan .table-bordered.trims.footable > thead > tr > th:nth-child(2) > span.footable-sort-indicator{display:inline}
.trims-plan .table-bordered.trims.footable > thead > tr > th > span.footable-sort-indicator:before{content: "\e150"; font-family: 'Glyphicons Halflings';}
.table-bordered.trims.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before{content: "\e155";font-family: 'Glyphicons Halflings';}
.trims-plan  .table-bordered.trims.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before{content: "\e156"; font-family: 'Glyphicons Halflings';}
*/

.trims-plan .table-bordered.trims.footable .footable-row-detail {
    background: #fff;
}

.trims-plan .table-bordered.trims.footable.breakpoint.toggle-circle>tbody>tr>td>span.footable-toggle:before {
    content: "";
    background: url(../images/foo-plus.png) no-repeat;
    padding: 2px 0px 0 20px;
}

.trims-plan .table-bordered.trims.footable.breakpoint.toggle-circle>tbody>tr.footable-detail-show>td>span.footable-toggle:before {
    content: "";
    background: url(../images/foo-minus.png) no-repeat;
    padding: 2px 0px 0 20px;
}


/*.trims-plan .table-bordered.trims tr td:first-child{text-align:left;}*/

.trims-plan .table-bordered.trims.footable.breakpoint>tbody>tr>td>span.footable-toggle {
    padding-right: 5px
}


/*.trims-plan  .table-bordered.trims.trims-artical{width:70%;  margin:0 auto}*/

.trims-plan .table-bordered.trims.footable .btn {
    padding: 1px 14px;
    background: #45a7ce !important;
    border-color: #45a7ce !important;
}

.trims-plan .table-bordered.trims.footable .btn:hover {
    background: #aeadad !important;
}

.trims-plan .chart.tab-pane {
    height: auto;
    margin: 0 0 5px;
}

.trims-plan .tab-content {
    padding: 0px 10px 10px!important;
}

.trims-plan .tab-content .btn-success {
    margin-right: 5px;
}

.trims-plan .tab-content .box-body.row {
    margin: 0 0 5px !important;
}

.trims-plan .box-body.top .ocn-lab-con {
    display: inline-block;
    margin: 0 25px 0;
}

.trims-plan .col-sm-12.gray-box .btn {
    position: relative;
    top: -3px;
    padding: 5px 14px
}

.trims.footable select.form-control {
    padding: 0 6px;
}

.trims-plan .table th {
    font-weight: normal;
}

.sen-row {
    width: 20%;
    float: left;
    margin-bottom: -5px;
}

.sen-row ul li {
    list-style: none;
    text-align: left;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 37px;
    border-bottom: 1px solid #E4E4E4;
    border-left: 1px solid #E4E4E4;
    border-right: 1px solid #E4E4E4;
    padding-left: 10px;
    color: #000;
}

.sen-row ul {
    padding: 0;
}

.sen-row ul li.san-head {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4C5667;
    color: #fff;
    font-size: 13px;
    height: 45px;
    border-bottom: none;
    border-top: 1px solid #E4E4E4;
}

.sen-dtl {
    width: 79%;
    margin-right: 1px;
    float: left;
}

.sen-ul {
    padding: 0;
}

.sen-ul li {
    width: 100px;
    float: left;
    list-style: none;
    border-right: 1px solid #E4E4E4;
}

.sen-ul li div {
    text-align: center;
}

.sen-ul li div.checkbox {
    margin: 0;
    top: 0;
    padding: 6px 0 6px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    border-bottom: 1px solid #E4E4E4;
}

.sen-ul .san-head {
    padding: 0 5px 5px;
    background: #4C5667;
    color: #fff;
    font-size: 13px;
    height: 45px !important;
    text-align: center !important;
    border-top: 1px solid #E4E4E4;
}

.sen-ul li div.san-head .checkbox {
    padding: 0;
    margin: 0px 0 0 20px;
    top: 15px;
    display: unset;
    border: none;
}

span.flex-span {
    float: left;
    width: 70%;
    line-height: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 15px;
}

.sen-data {
    margin: 0;
    padding: 0;
}

.sen-data li {
    width: 100%;
    float: left;
    padding: 0;
    list-style: none;
    margin-bottom: 5px;
}

.sen-data li table {
    width: 100%;
}

.sen-data .form-control {
    width: 120px;
    display: inline;
}

.sen-data li table th,
.sen-data li table td {
    vertical-align: middle;
    padding: 5px;
}

.sen-data li table td .sen-data li table td label {
    padding-right: 5px;
}

.sen-data li table {
    margin: 0;
}

.sen-data li .main table.head-tab td {
    background: #eee;
    border-color: transparent;
    color: #000;
}

.sen-data li .main table.head-tab td:first-child {
    background: #1A71AE;
    color: #fff;
    padding: 0;
}

.sen-data li .main table.head-tab td:first-child .fa {
    padding: 10px
}

.sen-data li .main table td .fileupload.btn {
    padding: 1px 14px;
    background: #45a7ce !important;
    border-color: #45a7ce !important;
}

.sen-data li .main .toggle-1 table td {
    background: #fff;
}

.sen-data li .main .mixed {
    position: relative;
    top: 5px
}

.sen-data li .main .mixed-btn {
    padding: 2px 5px;
}

table.table.table-bordered.trims.sensitive-head-table {
    width: 100%;
}

table.table.table-bordered.trims.sensitive-head-table th {
    padding: 5px;
}

.trims-plan .table-responsive {
    overflow-x: hidden;
}

.nopad {
    padding: 1px 0;
}

.sen-data li .main {
    overflow-x: hidden
}

div#tplan {
    position: relative;
}

.trimd-right-cnt {
    position: absolute;
    right: 10px;
}

.trimd-right-cnt li {
    float: left;
    margin-right: 7px;
    list-style: none;
}

.trimd-right-cnt li .btn,
.btn-botm .btn {
    font-size: 14px;
    line-height: 15px;
}


/* .trimd-right-cnt li .trim-count{background:#3ddcf7; color:#000; padding:2px 3px; position:relative; top:5px}  */

span.trim-count {
    position: relative;
    top: 10px;
    left: 10px;
}

span.trim-count .h-lit {
    background: #ed6a0f;
    color: #fff;
    padding: 2px 5px;
    border-radius: 50%;
}

.trims-plan .tab-content .box-body.row.m-b-0 {
    margin-bottom: 0 !important;
}

/* .trims-plan .table th {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.trims-plan .table.table-bordered {
    z-index: 0 !important;
}

.trims-plan .no-pad {
    padding: 0;
}

.supplier-td .form-control {
    width: 200px;
}

.date .form-control {
    width: 80px;
}

@media (min-width:1025px) and (max-width:1272px) {
    .trims-plan .box-body.three-col.mar-btm.top input.form-control {
        width: 140px;
    }
    .trims-plan .box-body.three-col.mar-btm.top label {
        margin-right: 15px
    }
    .trims-plan .box-body.three-col.mar-btm.top .form-group.m-r-15 {
        margin: 0 15px 0 !important;
    }
}

@media (max-width:1024px) {
    .trims-plan .box-body.three-col.mar-btm.top input.form-control {
        width: 140px;
    }
    .trims-plan .box-body.three-col.mar-btm.top .form-group.m-r-15 {
        margin: 0 20px 0 !important;
    }
    .trims .radio {
        text-align: left;
        margin: 0;
        text-align: left;
    }
}

@media (max-width:1023px) {
    .sen-row {
        width: 30%;
        margin-right: 1px;
        float: left;
    }
    .sen-dtl {
        width: 69%;
        margin-right: 1px;
        float: left;
    }
    .trims-plan .table-responsive,
    .sen-data li .main {
        overflow-x: auto;
    }
    .trim-count {
        right: -10px;
    }
    span.trim-count {
        position: absolute;
        top: 9px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 130px;
    }
    .trims-plan ul.nav.nav-tabs.pull-left.trims {
        margin: 40px 0 0px 0px;
    }
    /* .trims-plan .table th {
        max-width: none;
        overflow: unset;
        text-overflow: ellipsis;
        white-space: unset;
        width: auto !important;
    } */
    .trims-plan .table td {
        width: auto !important;
    }
}

@media (max-width:767px) {
    .trims-plan .table th {
        width: auto !important;
    }
}

@media (max-width:684px) {
    .trims-plan .box-body.top .ocn-lab-con {
        margin: 5px 20px;
    }
    .sen-row {
        width: 50%;
        margin-right: 1px;
        float: left;
    }
    .sen-dtl {
        width: 49%;
        margin-right: 1px;
        float: left;
    }
}

@media (max-width:647px) {
    .trims-plan .nav.nav-tabs.trims>li {
        width: 50%;
    }
    .trims-plan .nav.nav-tabs.trims>li a {
        padding: 0 15px;
        line-height: 30px;
        font-size: 16px;
    }
}

@media (max-width:504px) {
    .trims-plan .box-body.top .ocn-lab-con {
        margin: 5px 0px;
        width: 100%;
    }
}

@media (max-width:479px) {
    .sen-row {
        width: 70%;
        margin-right: 1px;
        float: left;
    }
    .sen-dtl {
        width: 29%;
        margin-right: 1px;
        float: left;
    }
}


/*** PH Dashbord ***/

.ph-db .topbar {
    z-index: 10000 !important;
}

.ph-db .topbar .topbar-left {
    height: 50px;
}

.ph-db .logo {
    line-height: 50px;
}

.ph-db .logo img {
    width: 90px;
}

.content-page.ph-db {
    margin: 0
}

.ph-db .page-title {
    margin-left: 35px;
}

.cnt-top {
    max-width: 1150px;
    margin: 0 auto;
}

.dash-main-head {
    float: right;
    width: 55%;
    padding: 10px 0;
    margin: 0px;
    color: #ffffff;
    font-size: 22px;
    text-align: left;
    margin-right: 20px;
    text-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
}

.dash-main-head span {
    float: right;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    padding-top: 2px;
    color: #ffffff;
    padding-left: 60px;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.content-page.ph-db>.content {
    padding: 3px 5px 15px;
    margin-top: 50px;
}

.ph-db .my-dp-icon {
    font-size: 60px;
}

.ph-db .my-dp-icon i {
    display: block;
}

.ph-db h3.numbers {
    float: right;
    background: #efefef;
    padding: 5px;
    margin: 4px 0 0;
    border-radius: 20px;
    font-size: 20px;
    height: 38px;
    min-width: 38px;
    text-align: center;
    letter-spacing: -1px;
    line-height: 28px;
}

.ph-db .card-box {
    padding: 15px;
}

.ph-db .card-box.digi-table {
    padding: 0;
}

.ph-db .text-muted {
    color: #6a767b;
}

.ph-db .date {
    margin: 0;
    color: #f76397;
    margin-left: 35px;
}

.ph-db .table {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

.ph-db .table th {
    vertical-align: middle;
    text-align: center;
    background: #2a3142;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    padding: 7px 5px;
    height: 48px;
    line-height: 16px;
}

.ph-db .table>thead>tr>th {
    border-bottom: 0px;
}

.ph-db .table th span {
    font-weight: 400;
    display: block;
    font-size: 12px;
}

.ph-db .table td {
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 15px;
    color: #111111;
    padding: 10px 6px;
    line-height: 18px;
}

.ph-db .table td.oflow {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ph-db .table .text-red td {
    color: #ff0039;
}

.ph-db .table .text-blue td {
    color: #7a0067;
}

.ph-db .table .text-yellow td {
    color: #dc6f00;
}

.ph-db .table .text-green td {
    color: #006200;
}

.ph-db .table td.green-td {
    color: #fff;
    background: #00b19d;
}

.ph-db .table td.blue-td {
    background: #5548a2;
    color: #fff;
}

.ph-db .table td.yellow-td {
    background: #dc6f00;
    color: #fff;
}

.ph-db .table td.align-lft {
    text-align: left;
}

.ph-db .table td.align-right {
    text-align: right;
}

.footer.ph {
    width: 100%;
    display: block;
    left: 0;
}

.ph-top-ttl {
    float: left;
    padding: 6px 0 5px;
    margin: 0;
    color: #ffffff!important;
}

.ph-top-ttl span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-top: 3px;
    color: rgba(255, 255, 255, 0.8);
    text-transform: none;
}

.ph-card {
    padding: 0px 30px;
    float: left;
    width: 100%;
    border-radius: 5px;
    margin: 0 0 1px;
}

.ph-card.inverse {
    background: #00b19d;
}

.ph-card.purple {
    background: #3f3481;
}

.ph-card.pink {
    background: #df4c80;
}

.text-ff {
    color: #fff;
}

.ph-db .ph-card.inverse h3.numbers {
    background: #fff;
    color: #009685;
}

.ph-db .ph-card.purple h3.numbers {
    background: #fff;
    color: #7266ba;
}

.ph-db .ph-card.pink h3.numbers {
    background: #fff;
    color: #f76397;
}

.table.table-bordered {
    z-index: 1;
}

.table.table-bordered.news-box {
    z-index: 999;
    height: 300px !important;
}

.table.table-bordered.news-box tbody {
    width: 100%;
}

.table.table-bordered.news-box tr {
    width: 100%;
}

.ph-db .tab-head ul {
    margin: 0;
}

.ph-db .tab-head ul li {
    float: left;
    text-align: center;
    background: #2a3142;
    font-size: 15px;
    color: #ffffff;
    font-weight: 600;
    padding: 10px 5px;
    line-height: 20px;
    list-style: none;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.ph-db .clear {
    clear: both;
}

.ph-db .table-cnt ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #efefef;
}

.ph-db .table-cnt ul li {
    border-right: 1px solid #efefef;
    float: left;
    font-weight: 400;
    font-size: 15px;
    color: #111111;
    padding: 10px 6px;
    line-height: 18px;
    list-style: none;
    display: block;
    text-align: center;
}

.ph-db .table-cnt ul li.oflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ph-db .table-cnt ul.text-red li {
    color: #ff0039;
}

.ph-db .table-cnt ul.text-green li {
    color: #006200;
}

.ph-db .table-cnt ul.text-orenge li {
    color: #dc6f00;
}

.ph-db .table-cnt ul.text-blue li {
    color: #7a0067;
}

.ph-db .table-cnt ul li:first-child {
    border-left: 1px solid #efefef;
}

.ph-db .table-cnt ul li.green-li {
    color: #fff;
    background: #00b19d;
}

.ph-db .table-cnt ul li.blue-li {
    background: #5548a2;
    color: #fff;
}

.ph-db .table-cnt ul li.orenge-li {
    background: #dc6f00;
    color: #fff;
}

.ph-db .table-cnt ul li.align-lft {
    justify-content: flex-start;
    text-align: left;
}

.ph-db .table-cnt ul li.align-right {
    justify-content: flex-end;
    text-align: right;
}

.ph-db .table-cnt ul li.w-5 {
    width: 5%;
}

.ph-db .table-cnt ul li.w-8 {
    width: 8%;
}

.ph-db .table-cnt ul li.w-9 {
    width: 9%;
}

.ph-db .table-cnt ul li.w-7 {
    width: 7%;
}

.ph-db .table-cnt ul li.w-6 {
    width: 6%;
}

.login-cnt {
    position: relative;
}

.login-cnt .form-control-feedback {
    left: 7px
}

table.dataTable thead th.sorting_asc:first-child:after {
    content: "";
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 1px solid #E4E4E4;
}


/*Times allot*/

.trims-allot {
    background: #fff;
    padding: 10px
}

.trims-plan.trim-alloct .box-body.top .ocn-lab-con {
    display: inline-block;
    margin: 0 25px 0;
    width: 16%;
    vertical-align: middle;
}

.trims-plan.trim-alloct .box-body.top .ocn-lab-con .lab {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.trims-plan.trim-alloct .table.table-bordered {
    margin: 5px 0 0;
}

.trims-plan.trim-alloct .table-responsive.nic .table.table-bordered {
    margin: 0;
}

span.trims-alloc-plus {
    position: absolute;
    top: -5px;
    right: 10px;
}

span.trims-alloc-plus .btn {
    padding: 2px 5px;
    font-size: 12px;
}

.trims-plan.trim-alloct .table-responsive.nic {
    overflow: auto;
    height: 320px;
    margin: 0px 0 10px;
}

.trims-plan.trim-alloct .table-responsive.nic.nic2 {
    height: 200px;
}

.trims-plan.trim-alloct .table-responsive.alt-item-modal {
    height: 200px;
}

.trims-alot-qty {
    list-style: none;
    margin: 10px 0;
}

.trims-alot-qty li {
    display: inline-block;
}

.trims-alot-qty li:first-child {
    margin-right: 10px;
}

.trims-plan.trim-alloct .modal-dialog {
    width: 90%;
    top: 40px;
}

.trims-plan.trim-alloct .modal .modal-dialog .modal-content {
    padding: 0;
}

.trims-plan.trim-alloct .modal .modal-dialog .modal-content .modal-header {
    padding: 10px 10px;
    background: #3bafda;
}

.trims-plan.trim-alloct .modal .modal-dialog .modal-content .modal-header .modal-title {
    color: #fff;
    padding-left: 10px;
}

.trims-plan.trim-alloct .modal .modal-dialog .modal-content .modal-body {
    padding: 20px;
}

.trims-plan.trim-alloct .modal .modal-dialog .modal-content .modal-footer {
    padding: 20px;
}

.trim-aloc-chk .checkbox {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    bottom: 10px;
}

.trim-aloc-chk .checkbox:first-child {
    padding-left: 0;
}


/* 05 Jan 2018 */

.trims-plan.trim-alloct.trim-item .modal-dialog {
    width: 37%;
    top: 35%;
}

.trims-plan.trim-alloct.trim-item .modal .modal-dialog .modal-content .modal-body {
    padding: 30px;
}

.trims-plan.trim-alloct.trim-item span.trims-alloc-plus {
    top: 0;
    right: 46px;
}

@media (max-width:991px) {
    .trims-plan.trim-alloct .trims-view.alt-item {
        margin-top: 20px;
        padding: 10px 0 0;
    }
    span.trims-alloc-plus {
        position: absolute;
        top: 5px;
        right: 15px;
    }
    .trims-plan.trim-alloct .box-body.top .ocn-lab-con {
        display: inline-block;
        margin: 0 0 5px;
        width: 100%;
        vertical-align: middle;
        text-overflow: unset;
        white-space: unset;
        overflow: unset;
    }
    .trims-plan.trim-alloct .box-body.top {
        text-align: left;
        margin: 10px 0;
        padding-left: 25%;
    }
    .trims-plan.trim-alloct .table-responsive {
        overflow: auto;
        height: auto;
    }
    .trims-allot {
        padding: 10px 10px 50px;
    }
}

@media(max-width:439px) {
    .trims-alot-qty {
        float: none !important;
        text-align: right;
    }
    .trims-alot-qty li {
        display: inline-block;
        width: 100%;
    }
}

.table-responsive.table-resp-pad .table-bordered.print-view {border: 1px solid #333!important;}
table.print-view {
border: 1px solid #333!important;
font-size: 11px;
font-weight: bold;
}

.print-view>tbody>tr>td,
.print-view>tbody>tr>th,
.print-view>tfoot>tr>td,
.print-view>tfoot>tr>th,
.print-view>thead>tr>td,
.print-view>thead>tr>th {
    border: 1px solid #333;
}
.print-view .print-label p { font-weight : 500 !important;}
.print-view .print-label { font-weight : 500 !important;}
.bold td {
    background: #ccc;
}
.cs {
    background: #ccc !important;
}
table.print-view td p {
    margin: 0!important;
}
