.trims-plan .box-body.top{padding:15px 15px;  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);-moz-transition: all 0.4s;  -o-transition: all 0.4s;  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); -webkit-transition: all 0.4s; background: #ffffff; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); margin-bottom: 20px; transition: all 0.4s; background:#fff; text-align:center;}
.table-bordered.trims th{text-align:center; background:#444; color:#fff; vertical-align:middle;}
.table-bordered.trims td{vertical-align:middle;}
.table-bordered.trims td input.form-control{width:90px; margin: 0 auto;}
.trims .radio{display:inline; margin:0 10px 0 0; text-align:left;}
.trims .checkbox{margin:0}
.trims-plan  .nav.nav-tabs.trims > li.active > a, .nav.nav-tabs.trims > li:hover > a{color:#fff !important; background:#3bafda;}
.trims-plan .box-body.three-col.mar-btm.top input.form-control{width:175px;}
.trims-plan .box-body.three-col.mar-btm.top label{margin-right:15px; color:#777777}
.trims-plan .box-body.three-col.mar-btm.top .form-group.m-r-15{margin: 0 40px 0 !important;}

/*.trims-plan .col-sm-12.gray-box{margin:10px 0 20px;}*/
.trims-plan .col-sm-12.gray-box label{margin-right:3px;float:left}
.trims-plan .col-sm-12.gray-box select.form-control{width:175px; padding:0 6px}
.trims-plan .col-sm-12.gray-box .form-group.m-r-20 {margin-right: 30px; margin-bottom:15px;}
/*.trims-plan .trims-view{max-height:300px; height:auto!important;}*/

.trims-plan  .table-bordered.trims.footable > thead > tr > th > span.footable-sort-indicator{display:none;}
.trims-plan .table-bordered.trims.footable > thead > tr > th:nth-child(2) > span.footable-sort-indicator{display:inline}
.trims-plan .table-bordered.trims.footable > thead > tr > th > span.footable-sort-indicator:before{content: "\e150"; font-family: 'Glyphicons Halflings';}
.table-bordered.trims.footable > thead > tr > th.footable-sorted > span.footable-sort-indicator:before{content: "\e155";font-family: 'Glyphicons Halflings';}
.trims-plan  .table-bordered.trims.footable > thead > tr > th.footable-sorted-desc > span.footable-sort-indicator:before{content: "\e156"; font-family: 'Glyphicons Halflings';}


.trims-plan  .table-bordered.trims.footable .footable-row-detail{background:#fff;}
.trims-plan  .table-bordered.trims.footable.breakpoint.toggle-circle > tbody > tr > td > span.footable-toggle:before{content: ""; background:url(../images/foo-plus.png) no-repeat; padding:2px 0px 0 20px;}
.trims-plan  .table-bordered.trims.footable.breakpoint.toggle-circle > tbody > tr.footable-detail-show > td > span.footable-toggle:before{    content: ""; background:url(../images/foo-minus.png) no-repeat; padding:2px 0px 0 20px;}

.trims-plan .table-bordered.trims tr td:first-child{text-align:left;}

.trims-plan .table-bordered.trims.footable.breakpoint > tbody > tr > td > span.footable-toggle{padding-right:5px}
/*.trims-plan  .table-bordered.trims.trims-artical{width:70%;  margin:0 auto}*/

.trims-plan  .table-bordered.trims.footable .btn { padding: 1px 14px; background: #979696 !important;
    border-color: #979696 !important;}
.trims-plan  .table-bordered.trims.footable .btn:hover{background: #aeadad !important;}
.trims-plan .chart.tab-pane{height:auto; margin-top:0;}
.trims-plan .tab-content{padding:0px 10px 10px!important;}
.trims-plan .tab-content .btn-success{margin-right:10px;}

.trims-plan .tab-content .box-body.row{margin:10px auto !important;}

.trims-plan .box-body.top .ocn-lab-con {display: inline-block; margin: 0px 50px;}


/*.trims-plan  .table-bordered.trims.footable .radio-primary input[type="radio"]:checked + label::after{background:#979696;}
.trims-plan  .table-bordered.trims.footable .radio-primary input[type="radio"]:checked + label::before{border-color:#aeadad}

.checkbox-primary input[type="checkbox"]:checked + label::before{background:#979696;border-color:#aeadad;}*/

.trims.footable select.form-control{padding:0 6px;}

.sen-row {width:20%; margin-right:1px; float:left;}
.sen-row ul li {list-style: none;text-align: left; padding: 8.2px 0px;}
.sen-row ul{padding:0;}
.sen-row ul li.san-head{display:flex; align-items: center; justify-content: center; background:#444; color:#fff; font-size:13px; min-height:62px}
.sen-dtl {width:79%; margin-right:1px; float:left;}
.sen-ul{padding:0;}
.sen-ul li{width:auto; float:left; list-style:none; margin-right:1px;}
.sen-ul li div{text-align:center; }
.sen-ul li div.checkbox {margin: 0;top: 0; padding: 6px 0 6px 20px;}
.sen-ul .san-head{padding:10px 10px; background:#444; color:#fff; font-size:13px; min-height:50px !important; text-align:center !important;}
.sen-ul li div.san-head .checkbox{padding: 0; margin: 0px 0 0 20px; top: 5px;}

@media (min-width:1025px) and (max-width:1272px)
{
.trims-plan .box-body.three-col.mar-btm.top input.form-control{width:140px;}
.trims-plan .box-body.three-col.mar-btm.top label{margin-right:15px}
.trims-plan .box-body.three-col.mar-btm.top .form-group.m-r-15{margin: 0 15px 0 !important;}
}
@media (max-width:1024px)
{
    .trims-plan .box-body.three-col.mar-btm.top input.form-control{width:140px;}
	.trims-plan .box-body.three-col.mar-btm.top .form-group.m-r-15{margin: 0 20px 0 !important;}
}
@media (max-width:1023px)
{
.sen-row {width:30%; margin-right:1px; float:left;}
.sen-dtl {width:69%; margin-right:1px; float:left;}
}

@media (max-width:684px)
{
	.trims-plan .box-body.top .ocn-lab-con{margin:5px 20px;}
	.sen-row {width:50%; margin-right:1px; float:left;}
	.sen-dtl {width:49%; margin-right:1px; float:left;}
}
@media (max-width:647px)
{
.trims-plan .nav.nav-tabs.trims > li{width:50%;}
.trims-plan .nav.nav-tabs.trims > li a{padding:0 15px; line-height:30px; font-size:16px;}
}
@media (max-width:504px)
{
	.trims-plan .box-body.top .ocn-lab-con{margin:5px 0px; width:100%;}
}
@media (max-width:479px)
{
	.sen-row {width:70%; margin-right:1px; float:left;}
	.sen-dtl {width:29%; margin-right:1px; float:left;}
}

/*** PH Dashbord ***/
.ph-db .topbar .topbar-left { height:50px; }
.ph-db .logo { line-height:50px; }
.ph-db .logo img { width:90px; }
.content-page.ph-db{margin:0}
.ph-db .page-title{margin-left: 35px;}
.cnt-top{max-width:1150px; margin:0 auto;}
.dash-main-head{ float:right; width:55%; padding:10px 0; margin:0px; color:#ffffff; font-size:22px; text-align:left; margin-right:20px;  text-shadow:0 0px 4px rgba(0, 0, 0, 0.6); }
.dash-main-head span{ float:right; display:inline-block; font-size:14px; font-weight:400; padding-top:2px; color:#ffffff; padding-left:60px;  text-shadow: 0 0px 0px rgba(0, 0, 0, 0); }
.content-page.ph-db > .content { padding:3px 5px 15px; margin-top:50px; }
.ph-db .my-dp-icon{font-size:60px;}
.ph-db .my-dp-icon i{display:block;}
.ph-db h3.numbers{ float:right; background: #efefef;padding:5px; margin:4px 0 0; border-radius:20px;font-size: 20px;height:38px;min-width:38px; text-align: center;letter-spacing: -1px; line-height:28px; }
.ph-db .card-box { padding:15px; }
.ph-db .card-box.digi-table { padding:0; }
.ph-db .text-muted{color:#6a767b;}
.ph-db .date{margin:0; color:#f76397; margin-left:35px;}
.ph-db .table{font-family: 'Source Sans Pro', sans-serif; margin:0; }
.ph-db .table th{vertical-align:middle; text-align:center; background:#2a3142; font-size:15px; color:#ffffff; font-weight:600; padding:7px 5px; height:48px; line-height:16px;}
.ph-db .table > thead > tr > th { border-bottom:0px; }
.ph-db .table th span {font-weight:400; display:block; font-size:12px; }
.ph-db .table td{text-align:center; vertical-align:middle; font-weight:400; font-size:15px; color:#111111; padding:10px 6px; line-height:18px; }
.ph-db .table .text-red td{color:#ff0039; }
.ph-db .table .text-blue td{color:#7a0067;}
.ph-db .table .text-yellow td{color:#dc6f00;}
.ph-db .table .text-green td{color:#006200;}
.ph-db .table td.green-td{color:#fff; background:#00b19d; }
.ph-db .table td.blue-td{background:#5548a2; color:#fff;}
.ph-db .table td.yellow-td{background:#dc6f00; color:#fff;}
.ph-db .table td.align-lft{ text-align:left; }
.ph-db .table td.align-right{text-align:right;}
.footer.ph{width:100%; display:block; left:0;}

.ph-top-ttl{ float:left; padding:6px 0 5px; margin:0; color:#ffffff!important; }
.ph-top-ttl span { display:block; font-size:14px; font-weight:400; padding-top:3px; color:rgba(255,255,255,0.8); text-transform:none; }
.ph-card{padding:0px 30px; float:left; width:100%; border-radius: 5px; margin:0 0 1px; }
.ph-card.inverse {background: #00b19d;}
.ph-card.purple {background: #3f3481;}
.ph-card.pink {background: #df4c80;}
.text-ff{color:#fff;}
.ph-db .ph-card.inverse h3.numbers {background:#fff; color:#009685;}
.ph-db .ph-card.purple h3.numbers {background:#fff; color:#7266ba;}
.ph-db .ph-card.pink h3.numbers {background:#fff; color:#f76397;}

.table.table-bordered { position:relative; z-index:9999; }
.table.table-bordered.news-box { z-index:999; }
.table.table-bordered.news-box tbody { width:100%; le }
.table.table-bordered.news-box tr { width:100%; }

