<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container  trims-plan">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Grn</a>
              </li>
              <li class="active">Grn List</li>
            </ol>
            <h4 class="page-title">Grn List
            </h4>
          </div>
        </div>
      </div>
      <div class="portlet ocn-form">
        <div class="row">
          <div class="box-body mar-btm">
            <div class="ocn-section">
              <div class="col-sm-12">
                <div class="col-lg-3 col-sm-3 col-md-3 m-t-10 pull-right m-b-10">
                  <button class="btn btn-primary pull-right" [routerLink]="['/grnentry']">
                    <i class="fa fa-plus" aria-hidden="true"></i> Entry</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
          </li>
          <li class="dis" *ngIf="showtab">
            <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
          </li>
        </ul>

        <div class="tab-content no-padding padding-pad ">
          <div class="chart tab-pane active" id="tplan">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section">
                  <div class="table-responsive col-lg-12 col-sm-12 col-md-12">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>S.NO</th>
                          <th>GRN No</th>
                          <th>GRN Date</th>
                          <th>GRN Type</th>
                          <th>PO/DC NO</th>
                          <th>PO/DC Date</th>
                          <th>View</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of persons; let row_no = index">
                          <td>
                            {{ row_no + 1 }}
                          </td>
                          <td class="text-left">
                            {{ person.grn_no }}
                          </td>
                          <td class="text-center">
                            {{ person.grn_date }}
                          </td>
                          <td class="text-center">{{ person.grn_type }}</td>
                          <td class="text-left">{{ person.supplier_dc_no }}</td>
                          <td class="text-center">{{person.supplier_dc_date}}</td>
                          <td class="text-center">
                            <button class="btn btn-default btn-xs" (click)="viewgrnslip(person)">
                              <i class="fa fa-eye"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chart tab-pane" id="trim-vs-articles" *ngIf="showtab">
            <app-view-grn [grnid]="grnid" (notifycancel)="notifycancel()"></app-view-grn>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>