<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/issuelist']">Issue List</a>
              </li>
              <li class="active">Issue Entry</li>
            </ol>
            <h4 class="page-title">Issue Entry</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <!--p-date-invoice -->
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from"
                            name="from" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="searchissues()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive th-center">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th width="5%">
                      <input name="checked" type="checkbox" class="form-control" value="" [(ngModel)]="checkallitem"
                        (change)="checkall(checkallitem)" *ngIf="allissues ?.length">
                    </th>
                    <th>S.NO</th>
                    <th>SC No</th>
                    <th>Req NO</th>
                    <th>Req Date</th>
                    <th>Part No</th>
                    <th>Part</th>
                    <th>Part Desc</th>
                    <th>UOM</th>
                    <th>Req Qty</th>
                    <th>Stock Qty</th>
                    <th>Issue Qty</th>
                    <th>Already Issued</th>
                    <th>To Be Issued</th>
                    <!-- <th>Issue Qty</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of allissues; let i=index">
                    <td>
                      <input name="checkauthorize" type="checkbox" class="form-control" value="" [(ngModel)]="data.checkauthorize"
                        (change)="checkauthorized(data.checkauthorize,data,i)">
                    </td>
                    <td>{{i+1}}</td>
                    <td>{{data.sc_no || "-"}}</td>
                    <td>{{data.request_no}}</td>
                    <td>{{data.request_date}}</td>
                    <td>{{data.item_code}}</td>
                    <td>{{data.part}}</td>
                    <td>{{data.item_desc}}</td>
                    <td class="text-center">{{data.uom || '-'}}</td>
                    <td class="text-center">{{data.req_qty}}</td>
                    <td class="text-center">{{data.stock_qty}}</td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="data.issue_qty" name="issue_qty" (keyup)="calc(data,i)" />
                    </td>
                    <td class="text-center">{{data.already_issued || '-'}}</td>
                    <td class="text-center">{{data.to_be_issued || '-'}}</td>
                    <!-- <td class="text-center">
                      <button class="btn btn-xs btn-primary" (click)="showissuepopup(data)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 pull-right">
              <button class="btn btn-warning btn-custom waves-effect waves-light pull-right m-r-5" [routerLink]="['/issuelist']">
                <i class="md md-close"></i> Cancel </button>
              <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" (click)="issue()">
                <i class="md md-check"></i> Issue </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-slip-popup [(visible)]="showDialog" *ngIf="ilview">
  <h4 class="text-center">Stock Location</h4>
  <span class="bold col-sm-6 col-md-4 col-lg-4 col-xs-12">Item Code : {{ilview.item_code}}</span>
  <span class="bold col-sm-6 col-md-5 col-lg-5 col-xs-12">Item Desc : {{ilview.item_desc}}</span>
  <span class="bold col-sm-6 col-md-2 col-lg-2 col-xs-12">Req Qty : {{ilview.to_be_issued}}</span>
  <div class="col-sm-12 ocn-section ">
    <div class="table-responsive">
      <table class="row-border hover table table-striped table-bordered">
        <thead>
          <tr>
            <th width="1%">S.NO</th>
            <th width="5%">Bin</th>
            <th width="5%">Location</th>
            <th width="5%">Qty</th>
            <th width="5%">Issue Qty</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of ilview.ilview_res; let i=index">
            <td>{{i+1}}</td>
            <td>{{data.bin_name}}</td>
            <td>{{data.location}}</td>
            <td>{{data.qty}}</td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="data.issue_qty" />
            </td>
          </tr>
          <tr *ngIf="!ilview.ilview_res ?.length">
            <td colspan="5">No Data</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 pull-right">
      <button class="btn btn-warning btn-custom waves-effect waves-light pull-right m-r-5" [routerLink]="['/issuelist']">
        <i class="md md-close"></i> Cancel </button>
      <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" (click)="issue()">
        <i class="md md-check"></i> Issue </button>
    </div>
  </div>
</app-slip-popup>