<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Profile</a>
              </li>
            </ol>
            <h4 class="page-title">Profile
            </h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-sm-12" *ngIf="user">
                    <!-- <button class="btn btn-warning btn-custom waves-effect waves-light pull-right" (click)="changepwdpopup()">Change Password</button> -->
                    <div class="col-lg-12 col-sm-12 col-md-12">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1" class="bold">Name
                          </label>
                          <span>{{user.name}}</span>
                        </div>
                      </div>
                    </div>
                    <hr class="clearfix">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1" class="bold">Email Id
                          </label>
                          <span>{{user.email}}</span>
                          <button class="btn btn-xs btn-primary pull-right" (click)="changeemail()">
                            <i class="fa fa-pencil"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <hr class="clearfix">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1" class="bold">Mobile No
                          </label>
                          <span>{{user.mobile_no}}</span>
                          <button class="btn btn-xs btn-primary pull-right" (click)="changembl()">
                            <i class="fa fa-pencil"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <hr class="clearfix">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1" class="bold">Password
                          </label>
                          <button class="btn btn-xs btn-primary pull-right" (click)="changepwdpopup()">
                            <i class="fa fa-pencil"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <hr class="clearfix">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1" class="bold">Role
                          </label>
                          <span>{{user.role.role_name}}</span>
                        </div>
                      </div>
                    </div>
                    <hr class="clearfix">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                      <div class="ocn-status">
                        <div class="form-group madeups ocn ">
                          <label for="exampleInputEmail1" class="bold">Department
                          </label>
                          <span>{{user.department.department_name}}</span>
                        </div>
                      </div>
                    </div>
                    <hr class="clearfix">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =================== Password ===================== -->
<app-slip-popup [(visible)]="showDialog">

  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <h3 class="text-center">Change Password</h3>
  <hr>
  <form [formGroup]="pwdform" (ngSubmit)="updatepwd(pwdform.value)">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="ocn-status">
        <div class="form-group madeups ocn ">
          <label for="exampleInputEmail1">Old Password
            <span class="red">*</span>
          </label>
          <input name="role_name" type="password" class="form-control" value="" formControlName="oldpwd">
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="ocn-status">
        <div class="form-group madeups ocn ">
          <label for="exampleInputEmail1">New Password
            <span class="red">*</span>
          </label>
          <input name="role_name" type="password" class="form-control" value="" formControlName="newpwd">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
      <button type="submit" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
        title="" data-original-title="Save">
        <i class="fa fa-check"></i> Update</button>
      <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
        data-placement="top" title="" data-original-title="Cancel">
        <i class="fa fa-ban"></i> Cancel</button>
    </div>
  </form>
</app-slip-popup>
<!-- =================== Email ===================== -->
<app-slip-popup [(visible)]="showMailDialog">

  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <h3 class="text-center">Update Email</h3>
  <hr>
  <form>
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="ocn-status">
        <div class="form-group madeups ocn ">
          <label for="exampleInputEmail1">New Email ID
            <span class="red">*</span>
          </label>
          <input name="role_name" type="email" class="form-control" value="" [(ngModel)]="mailid">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
      <button (click)="updatemail()" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
        title="" data-original-title="Save">
        <i class="fa fa-check"></i> Update</button>
      <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
        data-placement="top" title="" data-original-title="Cancel">
        <i class="fa fa-ban"></i> Cancel</button>
    </div>
  </form>
</app-slip-popup>
<!-- =================== Mobile ===================== -->
<app-slip-popup [(visible)]="showMblDialog">

  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>

  <h3 class="text-center">Update Mobile No</h3>
  <hr>
  <form>
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="ocn-status">
        <div class="form-group madeups ocn ">
          <label for="exampleInputEmail1">New Mobile No
            <span class="red">*</span>
          </label>
          <input name="role_name" type="text" class="form-control" value="" [(ngModel)]="mblno" minlength="10" pKeyFilter="int" maxlength="12">
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
      <button (click)="updatembl()" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
        title="" data-original-title="Save">
        <i class="fa fa-check"></i> Update</button>
      <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
        data-placement="top" title="" data-original-title="Cancel">
        <i class="fa fa-ban"></i> Cancel</button>
    </div>
  </form>
</app-slip-popup>