<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container trims-plan">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a [routerLink]="['/postInvoiceList']">Post Invoice List</a>
                            </li>
                            <li class="active">Post Invoice</li>
                        </ol>
                        <h4 class="page-title">Post Invoice</h4>
                    </div>
                </div>
            </div>

            <div class="trimd-right-cnt">
                <ul>
                    <li>
                        <button (click)="resetform()" class="btn btn-danger btn-custom waves-effect waves-light"
                            data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel">
                            <i class="md md-close"></i>
                        </button>
                    </li>
                </ul>
            </div>

            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-left trims">
                    <li class="active dis">
                        <a href="#scdtls" data-toggle="tab" aria-expanded="true" id="list">Invoice SC Details</a>
                    </li>
                    <li class="dis">
                        <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Master Details</a>
                    </li>
                    <li class="dis">
                        <a href="#container" data-toggle="tab" aria-expanded="false" id="condtls">Container Details</a>
                    </li>
                </ul>

                <div class="tab-content no-padding padding-pad ">
                    <div class="chart tab-pane active" id="scdtls">
                        <div class="nav-tabs-custom">
                            <div class="box-body mar-btm">
                                <div class="ocn-section">
                                    <section class="col-lg-12" style="padding:0">
                                        <div class="col-sm-12 gray-box text-center">
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn field-pad">
                                                        <label for="exampleInputEmail1" class="lbl-wid">Invoice No
                                                            <span class="red">*</span>
                                                        </label>
                                                        <input name="invno" type="text" class="form-control box-wid"
                                                            value="" [(ngModel)]="invno">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn field-pad">
                                                        <!--p-date-invoice-->
                                                        <label for="exampleInputEmail1" class="lbl-wid">Invoice Date
                                                            <span class="red">*</span>
                                                        </label>
                                                        <div class="input-group box-wid" style="float:left;">
                                                            <input class="form-control full-width" ngx-mydatepicker
                                                                name="startDate" [options]="myOptions" #po="ngx-mydatepicker"
                                                                [readonly]="true" [(ngModel)]="invdate" name="invdate" />
                                                            <span class="input-group-addon bg-primary b-0 text-white"
                                                                (click)="po.toggleCalendar()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn field-pad">
                                                        <!--slip p-slip-->
                                                        <label for="exampleInputEmail1" class="lbl-wid">Customer
                                                            <span class="red">*</span>
                                                        </label>
                                                        <div class="left box-wid">
                                                            <ng2-completer [openOnClick]="true" [(ngModel)]="customer"
                                                                name="customer" (selected)="selectcont($event)"
                                                                [datasource]="allcontacts" [minSearchLength]="0"></ng2-completer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn field-pad">
                                                        <label for="exampleInputEmail1" class="lbl-wid">Port Loading
                                                            <span class="red">*</span></label>
                                                        <div class="left box-wid">
                                                            <ng2-completer [openOnClick]="true" [(ngModel)]="from" name="from"
                                                                [datasource]="allPorts" [minSearchLength]="0"></ng2-completer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn field-pad">
                                                        <label for="exampleInputEmail1" class="lbl-wid">Port Discharge
                                                            <span class="red">*</span></label>
                                                        <div class="left box-wid">
                                                            <ng2-completer [openOnClick]="true" [(ngModel)]="to" name="to"
                                                                [datasource]="allPorts" [minSearchLength]="0"></ng2-completer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn field-pad">
                                                        <label for="exampleInputEmail1" class="lbl-wid">Payment Term
                                                            <span class="red">*</span></label>
                                                        <div class="left box-wid">
                                                            <ng2-completer [openOnClick]="true" [(ngModel)]="payterm"
                                                                name="payterm" [datasource]="payterms"
                                                                [minSearchLength]="0"></ng2-completer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn field-pad">
                                                        <label for="exampleInputEmail1" class="lbl-wid">Currency <span
                                                                class="red">*</span></label>
                                                        <div class="left box-wid">
                                                            <ng2-completer [openOnClick]="true" [(ngModel)]="currency"
                                                                name="currency" [datasource]="allcurrencies"
                                                                [minSearchLength]="0"></ng2-completer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn field-pad">
                                                        <label for="exampleInputEmail1" class="lbl-wid">Delivery Term
                                                            <span class="red">*</span></label>
                                                        <div class="left box-wid">
                                                            <ng2-completer [openOnClick]="true" [(ngModel)]="deliveryterm"
                                                                name="deliveryterm" [datasource]="delterms"
                                                                [minSearchLength]="0"></ng2-completer>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn field-pad">
                                                        <label for="exampleInputEmail1" class="lbl-wid">Shipment Date
                                                            <span class="red">*</span></label>
                                                        <!-- <input type="text" class="form-control"  [(ngModel)]="shipdate" name="shipdate"> -->
                                                        <div class="input-group box-wid" style="float:left;">
                                                            <input class="form-control full-width" ngx-mydatepicker
                                                                name="shipdate" [options]="myTabOption" #so="ngx-mydatepicker"
                                                                [readonly]="true" [(ngModel)]="shipdate" name="shipdate" />
                                                            <span class="input-group-addon bg-primary b-0 text-white"
                                                                (click)="so.toggleCalendar()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn p-date-invoice">
                                                        <label for="exampleInputEmail1" class="extra-wid">Ex Factory
                                                            Date
                                                            <span class="red">*</span>
                                                        </label>
                                                        <div class="input-group" style="float:left;">
                                                            <input class="form-control full-width" ngx-mydatepicker
                                                                name="exfactorydate" [options]="myOptions" #xo="ngx-mydatepicker"
                                                                [readonly]="true" [(ngModel)]="exfactorydate" name="invdate" />
                                                            <span class="input-group-addon bg-primary b-0 text-white"
                                                                (click)="xo.toggleCalendar()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> -->
                                            <div class="col-lg-4 col-sm-4 col-md-4">
                                                <div class="ocn-status">
                                                    <div class="form-group madeups ocn field-pad">
                                                        <label for="exampleInputEmail1" class="lbl-wid">Invoice Value</label>
                                                        <strong>{{calcinvtotal() | number}}</strong>
                                                        <!-- <input type="text" class="form-control"  [(ngModel)]="invvalue" name="invvalue" [readonly]="true"> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Custom tabs (Charts with tabs)-->
                                        <div class="nav-tabs-custom">
                                            <div class="box-body mar-btm">
                                                <div class="col-sm-12 ocn-section">
                                                    <div class="table-responsive th-center">
                                                        <table class="table table-striped table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th rowspan="2" width="2%">S.No</th>
                                                                    <th rowspan="2" width="2%">SC.NO</th>
                                                                    <th rowspan="2" width="4%">HSN</th>
                                                                    <th rowspan="2" width="2%">Box No</th>
                                                                    <th rowspan="2" width="3%">Part No</th>
                                                                    <th rowspan="2" width="3%">Component</th>
                                                                    <th rowspan="2" width="2%"> Component Desc</th>
                                                                    <th rowspan="2" width="2%">Prod Qty</th>
                                                                    <th rowspan="2" width="3%">Price</th>
                                                                    <th rowspan="2" width="3%">Total</th>
                                                                    <th width="2%" colspan="3">Tax(%)</th>
                                                                    <th rowspan="2" width="2%">Tax Total</th>
                                                                    <th rowspan="2" width="4%">Ship-date</th>
                                                                </tr>
                                                                <tr>
                                                                    <th>CGST</th>
                                                                    <th>SGST</th>
                                                                    <th>IGST</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let itemrow of packingslipdetails; let i=index">
                                                                    <td>{{i+1}}</td>
                                                                    <td>
                                                                        {{itemrow.sc_no}}
                                                                    </td>
                                                                    <td>
                                                                        <ng2-completer [openOnClick]="true" [(ngModel)]="itemrow.hsn"
                                                                            name="hsn" (selected)="selectedhsn($event,i)"
                                                                            [datasource]="allhsn" [minSearchLength]="0"
                                                                            [attr.title]="itemrow.hsn"></ng2-completer>
                                                                    </td>
                                                                    <td>
                                                                        {{itemrow.box_no}}
                                                                    </td>
                                                                    <td class="text-left">
                                                                        {{itemrow.part_no}}
                                                                    </td>
                                                                    <td>
                                                                        {{itemrow.component}}
                                                                    </td>
                                                                    <td>
                                                                        {{itemrow.component_desc}}
                                                                    </td>
                                                                    <td>
                                                                        {{itemrow.slip_quantity}}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{itemrow.salesOrderDetails.price |
                                                                        number}}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{itemrow.subtotal | number}}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{itemrow.cgstpercent}}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{itemrow.sgstpercent}}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{itemrow.igstpercent}}
                                                                    </td>
                                                                    <td class="text-right">
                                                                        {{itemrow.taxtotal | number}}
                                                                    </td>
                                                                    <td>
                                                                        {{itemrow.salesOrderDetails.shipment_date}}
                                                                    </td>
                                                                </tr>
                                                                <tr *ngIf="nodata">
                                                                    <td colspan="15">No data</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart tab-pane" id="trim-vs-articles">
                        <div class="nav-tabs-custom">
                            <div class="box-body mar-btm">
                                <div class="ocn-section">
                                    <section class="col-lg-12" style="padding:0">
                                        <div class="col-sm-12 gray-box text-center">
                                            <form name="masterdetails">
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn field-pad">
                                                            <!--slip p-slip-->
                                                            <label for="exampleInputEmail1" class="lbl-wid">Place of
                                                                pre <br>carriage
                                                                <span class="red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control box-wid" value=""
                                                                [(ngModel)]="masterdetails.precarriage" name="precarriage">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn field-pad">
                                                            <label for="exampleInputEmail1" class="lbl-wid">Pre carried
                                                                by
                                                                <span class="red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control box-wid" name="precarriedby"
                                                                [(ngModel)]="masterdetails.precarriedby" />
                                                            <!-- <select class="form-control" name="precarriedby"
                                                                [(ngModel)]="masterdetails.precarriedby">
                                                                <option [ngValue]="0" disabled selected>Select
                                                                    Precarried by</option>
                                                                <option *ngFor="let stat of carryby" [ngValue]="stat.name">{{stat.name}}</option>
                                                            </select> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn field-pad">
                                                            <label for="exampleInputEmail1" class="lbl-wid">Country of
                                                                destination
                                                                <span class="red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control box-wid" value=""
                                                                [(ngModel)]="masterdetails.cdestination" name="cdestination">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn field-pad">
                                                            <label for="exampleInputEmail1" class="lbl-wid">Final
                                                                destination
                                                                <span class="red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control box-wid" value=""
                                                                [(ngModel)]="masterdetails.fdestination" name="fdestination">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn field-pad">
                                                            <label for="exampleInputEmail1" class="lbl-wid">Shipment
                                                                mode
                                                                <span class="red">*</span>
                                                            </label>
                                                            <div class="box-wid left">
                                                                <select class="form-control" name="shipmode"
                                                                    [(ngModel)]="masterdetails.shipmode">
                                                                    <option [ngValue]="0" disabled>Select mode</option>
                                                                    <option *ngFor="let mode of modearray" [ngValue]="mode.name">{{mode.name}}</option>
                                                                </select>
                                                            </div>
                                                            <!-- <input type="text" class="form-control" value="" [(ngModel)]="masterdetails.shipmode" name="shipmode" [readOnly]="true"> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn slip p-slip">
                                                            <label for="exampleInputEmail1">Name of commodity
                                                                <span class="red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control" value=""
                                                                [(ngModel)]="masterdetails.commodity" name="commodity">
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn slip p-slip">
                                                            <label for="exampleInputEmail1">HSN Code
                                                                <span class="red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control" value="" [(ngModel)]="masterdetails.hsn" name="hsn">
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn slip p-slip">
                                                            <label for="exampleInputEmail1">ARE1.No
                                                                <span class="red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control" value=""
                                                                [(ngModel)]="masterdetails.areno" name="areno">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn slip p-slip">
                                                            <label for="exampleInputEmail1">Vessel No
                                                                <span class="red">*</span>
                                                            </label>
                                                            <input type="text" class="form-control" value=""
                                                                [(ngModel)]="masterdetails.vessel" name="vessel">
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div class="col-lg-4 col-sm-4 col-md-4">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn field-pad">
                                                            <label for="exampleInputEmail1" class="lbl-wid">Remarks
                                                            </label>
                                                            <div class="left box-wid">
                                                                <textarea type="text" class="form-control" rows="1"
                                                                    cols="50" value="" [(ngModel)]="masterdetails.remarks"
                                                                    name="remarks"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart tab-pane" id="container">
                        <div class="nav-tabs-custom">
                            <div class="box-body mar-btm">
                                <div class="ocn-section">
                                    <div class="table-responsive ocn-section">
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn field-pad">
                                                    <!--slip p-slip-->
                                                    <label for="exampleInputEmail1" class="lbl-wid">Stuffing Place
                                                    </label>
                                                    <input type="text" class="form-control box-wid" value=""
                                                        [(ngModel)]="Stuffing" name="Stuffing">
                                                </div>
                                            </div>
                                        </div>

                                        <form [formGroup]="containerForm">
                                            <table class="table table-striped table-bordered" formArrayName="itemRows">
                                                <thead>
                                                    <tr>
                                                        <th width="1%" (click)="addNewRow()">
                                                            <i class="fa fa-plus"></i>
                                                        </th>
                                                        <th width="2%">S.No</th>
                                                        <th width="5%">Container Type</th>
                                                        <th width="5%">Container No</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let itemrow of getcontainerform(containerForm); let i=index"
                                                        [formGroupName]="i">
                                                        <td>
                                                            <i class="md md-close" (click)="deleteRow(i)" *ngIf="i!=0"></i>
                                                        </td>
                                                        <td>{{i+1}}</td>
                                                        <td>
                                                            <input type="hidden" class="form-control" formControlName="id" />
                                                            <input type="text" class="form-control" formControlName="containertype" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" formControlName="containerno" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grey-small1 padding-top" style="padding: 10px ;border:none; border-top:1px solid #ddd;background-color:#fff">
                        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
                            <button (click)="saveentry()" class="btn btn-success btn-custom waves-effect waves-light m-r-5"
                                data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                                <i class="fa fa-check"></i> save</button>
                            <button [routerLink]="['/postInvoiceList']" class="btn btn-warning btn-custom waves-effect waves-light"
                                data-toggle="tooltip" data-placement="top" title="" data-original-title="Export Print">
                                <i class="fa fa-times"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <!--tab-->

        <!--tab-->
    </div>
    <!-- end container -->
</div>

<app-slip-popup [(visible)]="showDialog">

    <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 ocn-section">
        <h4 class="text-center">Packing Slip Details</h4>
        <div class="table-responsive page-height" style="height:.01% !important">
            <table class="table table-striped table-bordered text-center" *ngIf="salesorderarray">
                <thead>
                    <tr>
                        <th width="1%"></th>
                        <th width="2%">S.No</th>
                        <th width="4%">SC NOS</th>
                        <th width="2%">Slip_no</th>
                        <th width="4%">Slip_date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemrow of salesorderarray; let i=index">
                        <td>
                            <input name="checkauthorize" type="checkbox" class="form-control" value="" [(ngModel)]="itemrow.checkauthorize"
                                (change)="checkauthorized(itemrow.checkauthorize,itemrow,i)">
                        </td>
                        <td>{{i+1}}</td>
                        <td>{{itemrow.sc_nos}}</td>
                        <td>
                            {{itemrow.slip_no}}
                        </td>
                        <td>
                            {{itemrow.slip_date}}
                        </td>
                    </tr>
                    <tr *ngIf="!salesorderarray.length">
                        <td colspan="5">No data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
            <button class="btn btn-success btn-small waves-effect waves-light" (click)="selectorderrow()">
                <i class="fa fa-check"></i> Ok</button>
            <button class="btn btn-warning btn-small waves-effect waves-light" (click)="resetcontact()">
                <i class="fa fa-times"></i> cancel</button>
        </div>
    </div>
</app-slip-popup>