<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/grn']">Grn List</a>
              </li>
              <li>Grn Entry</li>
            </ol>
            <h4 class="page-title">Grn Entry</h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container no-margin">
                <div class="row">
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <!--slip p-slip-->
                        <label for="exampleInputEmail1" class="lbl-wid">Type
                          <span class="red">*</span>
                        </label>
                        <div>
                          <div class="left box-wid">
                            <select name="potype" class="form-control" [(ngModel)]="grn.potype" (change)="getpolist('')">
                              <option *ngFor="let stat of potypes" [ngValue]="stat.name">{{stat.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Supp/SubCntrct
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <input type="hidden" [(ngModel)]="grn.supplier_id" class="form-control" name="supplier_id" />
                          <ng2-completer *ngIf="grn.potype == 'PO'" [openOnClick]="true" [(ngModel)]="grn.supplier"
                            name="contact" (selected)="getpolist($event)" [datasource]="allcontacts" [minSearchLength]="0"></ng2-completer>
                          <ng2-completer *ngIf="grn.potype == 'DC'" [openOnClick]="true" [(ngModel)]="grn.supplier"
                            name="contact" (selected)="getpolist($event)" [datasource]="allsubcontracts"
                            [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status multi-sel">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">PO/DC No
                          <span class="red">*</span>
                        </label>
                        <div class="box-wid left">
                          <ng-select multiple="true" [options]="polist" [(ngModel)]="grn.pono" (selected)="selectorder($event,'selected')"
                            (deselected)="selectorder($event,'deselected')"></ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">GRN No
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <input type="text" [(ngModel)]="grn.grnno" class="form-control" name="ordernumber" [readOnly]="false" />
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Supp Inv/DC No
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <input type="text" [(ngModel)]="grn.dcno" class="form-control" name="ordernumber" [readOnly]="false" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Supp Inv/DC Date
                          <span class="red">*</span>
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" ngx-mydatepicker name="startDate" [options]="myTabOption"
                            #po="ngx-mydatepicker" [readonly]="true" [(ngModel)]="grn.dcdate" name="invdate" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="po.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn slip p-slip">
                        <label for="exampleInputEmail1" class="extra-wid4">Bill No
                        </label>
                        <div class="left">
                          <input type="text" [(ngModel)]="grn.billno" class="form-control" name="ordernumber" [readOnly]="false" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn slip p-slip">
                        <label for="exampleInputEmail1" class="extra-wid4">Bill Date
                        </label>
                        <div class="input-group" style="float:left;">
                          <input class="form-control full-width"  ngx-mydatepicker name="startDate" [options]="myOptions"
                            #bd="ngx-mydatepicker" [readonly]="true" [(ngModel)]="grn.billdate" name="invdate" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="bd.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Vehicle No
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <input type="text" [(ngModel)]="grn.vehicleno" class="form-control" name="ordernumber"
                            [readOnly]="false" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">GRN Date
                        </label>
                        <!-- <div class="left box-wid">
                          <input type="text" [(ngModel)]="grn.grndate" class="form-control" name="ordernumber"
                            [readOnly]="true" />
                        </div> -->

                        <div class="input-group box-wid" style="float:left;">
                            <input class="form-control full-width" ngx-mydatepicker name="grndate" [options]="myTabOption"
                              #grndt="ngx-mydatepicker" [readonly]="true" [(ngModel)]="grn.grndate" name="invdate" />
                            <span class="input-group-addon bg-primary b-0 text-white" (click)="grndt.toggleCalendar()">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                          </div>

                      </div>
                    </div>
                  </div>

                  <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn slip p-slip">
                        <label for="exampleInputEmail1" class="extra-wid4">Vehicle name
                          <span class="red">*</span>
                        </label>
                        <div class="left">
                          <input type="text" [(ngModel)]="grn.vehname" class="form-control" name="ordernumber" [readOnly]="false" />
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <!--slip p-slip-->
                        <label for="exampleInputEmail1" class="lbl-wid">Freight Amount</label>
                        <div class="left box-wid">
                          <input type="text" [(ngModel)]="grn.freightamount" class="form-control" name="ordernumber" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Courier No
                        </label>
                        <div class="left box-wid">
                          <input type="text" [(ngModel)]="grn.courierno" class="form-control" name="ordernumber" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">LR No
                        </label>
                        <div class="left box-wid">
                          <input type="text" [(ngModel)]="grn.lrno" class="form-control" name="ordernumber" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">LR Date
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" ngx-mydatepicker name="startDate" [options]="myTabOption"
                            #lr="ngx-mydatepicker" [readonly]="true" [(ngModel)]="grn.lrdate" name="invdate" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="lr.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Weight
                        </label>
                        <div class="left box-wid">
                          <input type="text" [(ngModel)]="grn.weight" class="form-control" name="ordernumber" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                      <button class="btn btn-primary" (click)="getpodetails()">Search</button>
                    </div> -->
                </div>
              </div>
            </div>
            <!-- text-->
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <!--tab-->
    <section class="col-lg-12" style="padding:0">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <div class="box-body mar-btm">
          <div class="col-sm-12 ocn-section">
            <div class="table-responsive">
              <table class="table table-striped table-bordered" *ngIf="grn.potype == 'DC'">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>Part No</th>
                    <th>Part</th>
                    <th>Part Desc</th>
                    <th>UOM</th>
                    <!-- <th>Rate</th> -->
                    <th>Sent Qty</th>
                    <th>Al.Rec.Qty</th>
                    <th>Pending Qty</th>
                    <th>Rec.Qty</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemrow of salesorderarray; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                      {{itemrow.next_stage_part_id.part_no}}
                    </td>
                    <td>
                      {{itemrow.next_stage_part_id.component}}
                    </td>
                    <td>
                      {{itemrow.next_stage_part_id.component_desc}}
                    </td>
                    <td>
                      <span *ngIf="itemrow.uom != 'null'">{{itemrow.next_stage_part_id.uom.short_name}}</span>
                    </td>
                    <!-- <td>
                      {{itemrow.rate}}
                    </td> -->
                    <td>
                      {{itemrow.qty}}
                    </td>
                    <td>
                      {{itemrow.all_rec_qty}}
                    </td>
                    <td>
                      {{itemrow.pending_qty}}
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.recqty" (keyup)="calcdcrec(i)"
                        [attr.title]="itemrow.recqty" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.remarks" [attr.title]="itemrow.remarks" />
                    </td>
                  </tr>
                  <tr>
                    <td *ngIf="!salesorderarray ?.length" colspan="13">
                      No data
                    </td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-striped table-bordered" *ngIf="grn.potype == 'PO'">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>Dept</th>
                    <th>Part No</th>
                    <th>Part</th>
                    <th>Part Desc</th>
                    <th>UOM</th>
                    <th>Rate</th>
                    <th>Order Qty</th>
                    <th>Al.Rec.Qty</th>
                    <th>Pending Qty</th>
                    <th>Rec.Qty</th>
                    <th>Act.Rec.Qty</th>
                    <th>Excess.Qty</th>
                    <th>DC Qty</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemrow of salesorderarray; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                      {{itemrow.dept}}
                    </td>
                    <td>
                      {{itemrow.item_code}}
                    </td>
                    <td>
                      {{itemrow.part}}
                    </td>
                    <td>
                      {{itemrow.item_desc}}
                    </td>
                    <td>
                      {{itemrow.uom}}
                    </td>
                    <td class="text-right">
                      {{itemrow.rate | number }}
                    </td>
                    <td class="text-center">
                      {{itemrow.req_qty}}
                    </td>
                    <td class="text-center">
                      {{itemrow.all_rec_qty || 0}}
                    </td>
                    <td class="text-center">
                      {{itemrow.pending_qty || 0}}
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.recqty" [attr.title]="itemrow.recqty"/>
                    </td>
                    <td class="text-center">
                      {{calcactqty(i)}}
                    </td>
                    <td class="text-center">
                      {{calc(i)}}
                    </td>
                    <td class="text-center">
                      {{itemrow.recqty}}
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.remarks" [attr.title]="itemrow.remarks"/>
                    </td>
                  </tr>
                  <tr>
                    <td *ngIf="!salesorderarray ?.length" colspan="14">
                      No data
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-lg-3 col-sm-3 col-md-3 form-buttons m-b-20">
              <button class="btn btn-success btn-custom waves-effect waves-light" (click)="saveentry()">
                <i class="fa fa-check"></i>Submit</button>
              <button class="btn btn-danger btn-custom waves-effect waves-light" [routerLink]="['/grn']">
                <i class="fa fa-close"></i>Cancel</button>
            </div>

          </div>
        </div>
      </div>
    </section>
    <!--tab-->
  </div>
  <!-- end container -->
</div>

<app-slip-popup [(visible)]="showDialog">

  <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 p-b-20">
    <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="close()">
      <i class="fa fa-times"></i>
    </button>
    <button class="visible-md visible-lg btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
      (click)="save()">
      <i class="fa fa-check"></i>
    </button>
  </div>

  <div class="left page-height-70 col-md-12 col-sm-12 col-xs-12 print-pg" id="printsection" *ngIf="excesslist?.length && grn">
    <div class="col-sm-12">

      <div class="col-md-12 col-sm-12 col-xs-12 m-b-20">
        <div class="col-md-4 col-sm-4 col-xs-4 text-left m-t-25">
          <img src="assets/images/favicon - Copy.png" style="height: 50px" />
        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 text-left">
          <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
          <p class="caps-pad m-b-0" style="text-transform : capitalize">
            <span>Idigarai Road, NGGO Colony</span>
          </p>
          <p class="caps-pad m-b-0" style="text-transform : capitalize">
            <span>Coimbatore-641022, Tamil nadu, India</span>
          </p>
          <p class="caps-pad m-b-0" style="text-transform : capitalize">Telephone:
            <span>91 422 2642224</span>, Email:
            <span style="text-transform : lowercase !important">info@saapl.net</span>
          </p>
          <p class="caps-pad m-b-0" style="text-transform : capitalize">
            <span>GSTIN Number:</span>
            <span>33AABCB0064H1Z9</span> ,
            <span>PAN Number:</span>
            <span>AABCB0064H</span>
          </p>
        </div>
      </div>
      <p class="text-left bold">EXCESS PURCHASE ORDER</p>
      <hr class="clearfix">

      <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-12 col-xs-12 no-pad">
          <div class="col-md-12 col-sm-4 col-xs-6 no-pad">
            <div class="text-left bold od-date date-nw">To :</div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 no-pad">
            <div class="address-widt">
              <span class="clearfix">{{grn.sup.supplier_name}},</span>
              <span>{{grn.sup.address_city.city_name}},{{grn.sup.address_state.state_name}},</span>
              <span>{{grn.sup.address_country.country_name}}, {{grn.sup.address_pincode}}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="col-md-6 col-sm-12 col-xs-12 pull-right clearfix no-pad">
          <div class="text-left bold  date-nw">PO No :</div>
          <div class="text-left  datev-nw">
            <span>{{purDetails.po_no}}</span>
          </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 pull-right clearfix no-pad">
          <div class="text-left bold od-date date-nw">PO Date :</div>
          <div class="pull-left text-left 0d-txt datev-nw">
            <span>{{purDetails.created_date}}</span>
          </div>
        </div>
      </div> -->

      <div class="col-sm-12 col-md-12 col-xs-12 padding-30">
        <p class="text-left m-t-10">Dear Sir,</p>
        <p class="text-left p-l-10">Please supply the following items as per terms and conditions specified overleaf</p>
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12 ocn-section">
              <div class="table-responsive">
                <table class="row-border hover table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>S.NO</th>
                      <th>Part No</th>
                      <th>Part</th>
                      <th>Part Desc</th>
                      <th>UOM</th>
                      <th>Req Qty</th>
                      <th>Rate/Qty</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let person of excesslist; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ person.item_code }}</td>
                      <td>{{person.part}}</td>
                      <td>{{ person.item_desc }}</td>
                      <td>
                        <span *ngIf="person.uom !='null'">{{person.uom}}</span>
                        <span *ngIf="person.uom =='null'">-</span>
                      </td>
                      <td>{{person.excess_qty}}</td>
                      <td>{{person.item_cost}}</td>
                      <td>{{calcsubtotal(i)}}</td>
                    </tr>
                    <tr *ngIf="!excesslist ?.length">
                      <td colspan="7">No Data</td>
                    </tr>
                  </tbody>
                </table>

                <div class="col-sm-12 m-t-30">
                  <p class="text-left bold">Type of Purchase : Intra state / Inter state</p>
                  <p class="text-left bold">Please charge applicable GST</p>
                  <p class="text-left bold">Please provide hsn cde in your invoice, if applicable</p>
                </div>
                <div class="table-responsive clearfix m-b-0">
                  <table class="row-border hover table table-striped table-bordered">
                    <thead></thead>
                    <tbody>
                      <tr>
                        <td colspan="2" class="bold" style="text-align: left !important">DELIVERY SCHEDULE</td>
                        <td colspan="3" class="text-right bold">ORDER VALUE</td>
                        <td class="bold">{{calctotal()}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 padding-0 p-b-50">
                  <div class="col-md-4 col-sm-4 col-xs-4 text-left">
                    <span class="bold m-r-5 bold">S.NO</span>
                    <span class="bold m-r-5 bold">Schedule Date</span>
                    <span class="bold m-r-5 bold">Qty</span>
                  </div>
                </div>
                <hr class="clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12 padding-0 p-b-50">
                  <div class="col-md-4 col-sm-4 col-xs-4 text-left">
                    <span class="bold m-r-5 bold">Packing And Forwading :</span>
                    <span class="clearfix">SHALL BE ARRANGED BY US</span>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-8 pull-right">
                    <div>
                      <span class="col-sm-6 bold text-right">Freight :</span>
                      <span class="col-sm-6 text-left"> {{this.id.freight}}</span>
                    </div>
                    <div class="clearfix">
                      <span class="col-sm-6 bold text-right">Price Basis :</span>
                      <span class="col-sm-6 text-left"> {{this.id.price_basis_name}}</span>
                    </div>
                    <div class="clearfix">
                      <span class="col-sm-6 bold text-right">Mode of Dispatch :</span>
                      <span class="col-sm-6 text-left"> {{this.id.mode_of_desp}}</span>
                    </div>
                  </div>
                </div>
                <hr class="clearfix">
                <div class="col-md-12 col-sm-12 col-xs-12 padding-0 p-b-50">
                  <div class="col-md-8 col-sm-8 col-xs-8 text-left">
                    <p class="bold m-r-5 bold">Special Instruction :</p>
                    <p>SUPPLY TO BE MADE IN ONE LOT</p>
                    <p class="m-b-0">Kindly ensure to make the GST payment on due date against the supply made to us</p>
                    <p class="m-b-0">Any reversal of input tax credit due to your non payment</p>
                    <p class="m-b-0">shall attract intrest and other charges as per the prevelling GST Law</p>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4 pull-right">
                    <span>For</span>
                    <strong>SAKTHI AUTO ANCILLARY PVT LTD.</strong>
                    <div class="m-t-70">
                      <span>Authorised Signatory</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-slip-popup>