<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Stores</a>
              </li>
              <li class="active">Quality Control</li>
            </ol>
            <h4 class="page-title">Quality Control</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" (click)="authorize()">
                      <i class="md md-check"></i> Authorize </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section ocn-section-tbl">
            <div class="table-responsive table-resp-pad grn-table after-div">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th rowspan="2" width="3%"></th>
                    <th rowspan="2" width="6%">PO/DC No</th>
                    <!-- <th rowspan="2">PO/DC Date</th> -->
                    <th rowspan="2" width="5%">GRN NO</th>
                    <!-- <th rowspan="2">Indent No</th> -->
                    <th rowspan="2" width="5%">Part No</th>
                    <th rowspan="2" width="5%">Part</th>
                    <th rowspan="2">Part Desc</th>
                    <!-- <th rowspan="2">PO/DC Qty</th> -->
                    <th rowspan="2" width="7%">Order Qty</th>
                    <!-- <th rowspan="2">To Be Rec.Qty</th> -->
                    <th rowspan="2" width="7%">GRN Qty</th>
                    <th rowspan="2" width="8%">Acc Qty</th>
                    <th colspan="3" style="text-align:center;">Rej Qty</th>
                    <th rowspan="2">Excess Qty</th>
                    <th rowspan="2">Rej Remarks</th>
                    <th rowspan="2">Claim Value</th>
                    <th rowspan="2">Claim Remarks</th>
                    <th width="5%" rowspan="2">Inspection No</th>
                  </tr>
                  <tr class="sub-head">
                    <th width="5%">Scrap</th>
                    <th width="7%">Supp.Return</th>
                    <th width="5%">Re work</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of persons; let i = index">
                    <td>
                      <input name="checkauthorize" type="checkbox" class="form-control" [(ngModel)]="person.checkauthorize"
                        (change)="checkauthorized(person.checkauthorize,person,row_no)">
                    </td>
                    <td class="text-left">
                      {{person.po_dc_no }}
                    </td>
                    <!-- <td class="text-left">
                      {{person.po_dc_date}}
                    </td> -->
                    <td class="text-left">
                      {{person.grn_no}}
                    </td>
                    <!-- <td>
                      {{person.indent_no}}
                    </td> -->
                    <td>
                      {{person.item_code}}
                    </td>
                    <td>
                      {{person.part}}
                    </td>
                    <td>
                      {{person.item_desc}}
                    </td>
                    <!-- <td class="text-left">
                      {{person.dc_qty}}
                    </td> -->
                    <td style="text-align:center !important">
                      {{person.order_qty}}
                    </td>
                    <!-- <td class="text-left">
                      {{person.rec_qty}}
                    </td> -->
                    <td style="text-align:center !important">
                      {{person.rec_qty}}
                    </td>
                    <td style="text-align:center !important">
                      <input type="text" class="form-control" [(ngModel)]="person.acc_qty" pKeyFilter="int" (keypress)="restricthypens($event)"
                        (keyup)="calcacc(person.acc_qty,person.scrap_qty,person.rej_qty,person.rework_qty,i,'acc_qty')"
                        [attr.title]="person.acc_qty" />
                    </td>
                    <td style="text-align:center !important">
                      <input type="text" class="form-control" [(ngModel)]="person.scrap_qty" pKeyFilter="int"
                        (keypress)="restricthypens($event)" (keyup)="calcacc(person.acc_qty,person.scrap_qty,person.rej_qty,person.rework_qty,i,'scrap_qty')"
                        *ngIf="person.grn_type == 'DC'" [attr.title]="person.scrap_qty" />
                    </td>
                    <td style="text-align:center !important">
                      <input type="text" class="form-control" [(ngModel)]="person.rej_qty" pKeyFilter="int" (keypress)="restricthypens($event)"
                        (keyup)="calcacc(person.acc_qty,person.scrap_qty,person.rej_qty,person.rework_qty,i,'rej_qty')"
                        [attr.title]="person.rej_qty" />
                    </td>
                    <td style="text-align:center !important">
                      <input type="text" class="form-control" [(ngModel)]="person.rework_qty" pKeyFilter="int"
                        (keypress)="restricthypens($event)" (keyup)="calcacc(person.acc_qty,person.scrap_qty,person.rej_qty,person.rework_qty,i,'rwrk_qty')"
                        *ngIf="person.grn_type == 'DC'" [attr.title]="person.rework_qty" />
                    </td>
                    <td style="text-align:center !important">
                      {{person.excess_qty}}
                    </td>
                    <td class="text-left">
                      <input type="text" class="form-control" [(ngModel)]="person.rej_remarks" [attr.title]="person.rej_remarks" />
                    </td>
                    <td style="text-align:right !important">
                      {{claimvalue(i) | number }}
                    </td>
                    <td class="text-left">
                      <input type="text" class="form-control" [(ngModel)]="person.claim_remarks" [attr.title]="person.claim_remarks" />
                    </td>
                    <td class="text-left">
                      <input type="text" class="form-control" [(ngModel)]="person.insp_ref_no" [attr.title]="person.insp_ref_no" />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-allocpop [(visible)]="showDialog" *ngIf="showDialog">
  <app-comparision-view [enqid]="enqid" (close)="close()"></app-comparision-view>
</app-allocpop>