<simple-notifications></simple-notifications>
<div class="topbar">
  <!-- LOGO -->
  <div class="topbar-left">
    <div class="text-center">
      <a href="javascript:void(0)" class="logo" [routerLink]="['/dashboard']">
        <div class="logo-mini">SAAPL</div>
        <span>
          <img src="assets/images/logo_orange.png">
        </span>
      </a>
    </div>
  </div>
  <!-- Navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="">
        <div class="pull-left">
          <button class="button-menu-mobile open-left waves-effect">
            <i class="md md-menu"></i>
          </button>
          <span class="clearfix"></span>
        </div>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav navbar-right pull-right">
            <li class="dropdown user user-menu">
              <a aria-expanded="false" href="javascript:void(0);" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown">
                <i class="fa fa-user-circle"></i>
                <span class="hidden-xs user-name">
                  <small class="desig admin">Welcome</small>{{userdetails.name}}</span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a [routerLink]="['/profile']">
                    <i class="md md-face-unlock"></i> Profile</a>
                </li>
                <!-- <li>
                  <a href="javascript:void(0)">
                    <i class="md md-settings"></i> Settings</a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <i class="md md-lock"></i> Lock screen</a>
                </li> -->
              </ul>
            </li>
            <li>
              <a (click)="logoutconfirmation()" class="logout waves-effect waves-light">
                <img src="assets/images/logout-img.png">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>
<!-- Top Bar End -->