<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- Start content -->
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li>
                <a href="#">Post-Invoice</a>
              </li>
              <li class="active">ARE</li>
            </ol>
            <h4 class="page-title">A.R.E - 1</h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <!-- end row -->
      <!--tab-->
      <section class="col-lg-12" style="padding:0">
        <!-- Custom tabs (Charts with tabs)-->
        <div class="nav-tabs-custom">

          <!-- Tabs within a box -->
          <div class="box-body mar-btm">
            <div class="ocn-section ocn-section-tbl white-bg">

              <div class="col-sm-12 p-b-20">
                <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="back()">
                  <i class="fa fa-times"></i>
                </button>
                <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="printpos()">
                  <i class="fa fa-print"></i>
                </button>
                <!-- <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="printPdf()">
                      <i class="fa fa-file-pdf-o"></i>
                    </button> -->
              </div>
              <div class="ocn-section ocn-section-tbl page-height" id="printsection">
                <div class="table-responsive table-resp-pad">
                  <table class="table table-striped table-bordered font-small no-margin-border" *ngIf="areformdetails && invoicedetails">
                    <thead>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td class="tble-center wid-pad" align="center" colspan="1">
                          <strong>FORM A.R.E - 1</strong>
                        </td>
                        <td class="tble-right" align="right">No</td>
                        <td class="tble-right" align="right">033/17-18</td>
                        <td class="tble-right" align="right" colspan="2">Date : {{this.today}}</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td colspan="3">
                          <p>Range:
                            <strong> {{areformdetails.range}} </strong>
                          </p>
                        </td>
                        <td align="center">Original</td>
                        <td align="center">White</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td colspan="3">
                          <strong>Application for Removal of Excisable Goods for Export by Air / Sea / Post / Land</strong>
                        </td>
                        <td align="center">Duplicate</td>
                        <td align="center" class="buff-bg">Buff</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td colspan="3">(Rule 18/19 of Central Excise Rules, 2002 read with Notification No. 19/2004 CE (NT) Dated 06-09-2004
                          as amended / No. 42/2001 CE (NT) Dated 26-06-2001 as amended)</td>
                        <td align="center">Triplicate</td>
                        <td align="center" class="pink-bg">Pink</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td colspan="3">&nbsp;</td>
                        <td align="center">Quadruplicate</td>
                        <td align="center" class="green-bg">Green</td>
                      </tr>
                      <tr>
                        <td>1</td>
                        <td colspan="3">{{areformdetails.to_are}}</td>
                        <td align="center">Quintuplicate</td>
                        <td align="center" class="blue-bg">Blue</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td colspan="5">
                          <strong>{{areformdetails.central_excise_address}}</strong>
                        </td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td colspan="5">
                          <strong>We M/s Sakthi Auto Ancillary Pvt Ltd, Idigarai Road, NGGO Colony, Coimbator-641 022</strong>(Full
                          Postal Address) propose to export the under-mentioned consignment to
                          <strong>M/s. {{invoicedetails.customer}} / HILTON, 1420 S. Wright Blvd., Schaumburg, IL 60193-4599, U.S.A.</strong>
                          (Country of Destination) by Air/Sea/Land/Pareel Post under claim for Rebate/Bond/Undertaking*</td>
                      </tr>
                    </tbody>
                  </table>

                  <table class="table table-striped table-bordered font-small no-margin no-border resp-tab no-margin-border" *ngIf="invLineitems && areformdetails">
                    <tbody>
                      <tr>
                        <td class="tble-center" align="center">Particulars of Manufacturer of Goods ad his GSTIN No.</td>
                        <td class="tble-center" align="center">No. and Description of packages</td>
                        <td class="tble-center" align="center">Gross Weight / Net Weight</td>
                        <td class="tble-center" align="center">Marks and Nos. on packages</td>
                        <td class="tble-center" align="center">Quantity of Goods</td>
                        <td class="tble-center" align="center">Description of Goods</td>
                        <td class="tble-center" align="center">Taxable Value (USD)</td>
                        <td class="tble-center" align="center">Taxable Value (Rs)</td>
                        <td class="tble-center" align="center" colspan="2" *ngIf="invLineitems[0].cgst !=0">GST</td>
                        <td class="tble-center" align="center" *ngIf="invLineitems[0].cgst ==0">GST</td>
                        <td class="tble-center" align="center">GST Amount</td>
                        <td class="tble-center" align="center">No. & Date of Invoice under which Tax was paid / No. and Date of Bond / Letter of Undertaking executed
                          under Rule 19</td>
                        <td class="tble-center" align="center">Remarks</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td *ngIf="invLineitems[0].cgst !=0">CGST</td>
                        <td *ngIf="invLineitems[0].cgst !=0">SGST</td>
                        <td *ngIf="invLineitems[0].cgst ==0">IGST</td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr *ngFor="let itemrow of invLineitems; let i=index">
                        <td class="tble-center" align="center" [attr.rowspan]="invLineitems.length" *ngIf="i == 0 ">SAKTHI AUTO ANCILLARY PVT LTD, Idigarai Road, NGGO Colony, Coimbatore -641022. India. 33AABCB0064H1Z9</td>
                        <td class="tble-center" align="center">21 Wooden Cases</td>
                        <td class="tble-center" align="center">Gross: {{ itemrow.gross_weight}}kgs/Net: {{ itemrow.net_weight}} (kgs)</td>
                        <td class="tble-center" align="center">{{ itemrow.box_no}}</td>
                        <td class="tble-center" align="center">
                          <p>{{itemrow.hsn_code}}</p>
                          <p>{{itemrow.prod_quantity}} Nos</p>
                        </td>
                        <td class="tble-center" align="center">{{itemrow.hsn_code}} {{itemrow.commodity_name}}</td>
                        <td class="tble-center" align="center"></td>
                        <td class="tble-center" align="center"></td>
                        <td class="tble-center" align="center" *ngIf="itemrow.cgst !=0">{{itemrow.cgst}}</td>
                        <td class="tble-center" align="center" *ngIf="itemrow.cgst !=0">{{itemrow.sgst}}</td>
                        <td class="tble-center" align="center" *ngIf="itemrow.cgst ==0">{{itemrow.igst}}</td>
                        <td class="tble-center" align="center">{{itemrow.tax_value}}</td>

                        <td class="tble-center" align="center" [attr.rowspan]="invLineitems.length" *ngIf="i == 0 ">
                          {{areformdetails.license}}
                          <br>
                          <strong>Invoice No. {{invoicedetails.invoice_no}} Dated {{invoicedetails.invoice_date}}</strong>
                        </td>
                        <td class="tble-center vertical-algn" align="center" [attr.rowspan]="invLineitems.length" *ngIf="i == 0 ">1 USD = Rs,64.15</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table table-striped table-bordered font-small no-margin-border">
                    <tbody>
                      <tr>
                        <td>3</td>
                        <td colspan="5">We hereby certify that the above-mentioned goods have been manufactured-</td>
                      </tr>
                      <tr>
                        <td>3(a)</td>
                        <td colspan="5">Availing Facility / Without Avaiing Facility of Cenvat Credit under Cenvat Credit Rules, 2004;</td>
                      </tr>
                      <tr>
                        <td>3(b)</td>
                        <td colspan="5">Availing Facility / Without Availing Facility under Notification No.21/2004 CE (NT) Dated 06-09-2004,
                          issued under Rule-18 of Centeral Excise Rules, 2002;</td>
                      </tr>
                      <tr>
                        <td>3(c)</td>
                        <td colspan="5">Availing Facility / Without Availing Facility under Notification No.43/2001 CE (NT) Dated 26-06-2001,
                          issued under Rule-19 of Centeral Excise Rules, 2002;</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td colspan="5">We hereby declare that the export is in discharge of Export obligation under a Quantity Based Advance
                          Licence/Under Claim of Duty Drawback under Customs & Central Excise Duties and Service Tax Drawback
                          Rules,1995;
                        </td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td colspan="5">We hereby declare that the above particulars are true and correctly stated;</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td colspan="5">The Description & Value of Goods covered by this ARE-1 have been checked by me and the Goods have
                          been packed under my Supervision.</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table table-striped table-bordered font-small no-margin">
                    <tr>
                      <td colspan="6"> 1.Certified that duty has been paid by debit entry in the Personal Ledger Account No.______ /or Cenvat
                        Account Entry No._______ or recorded as payable in Daily Stock Account, on the goods described overleaf.</td>
                    </tr>
                    <tr>
                      <td colspan="6">
                        <b>OR</b> certified that the owner has entered into Bond No.---- or given Letter of Undertaking No.50/2017-18
                        Dated 26.07.2017 under Rule-96A of CGST Rules 2017 with the Assistant Commissioner of GST & Central
                        Excise, Coimbatore I Division, duly accepted by the Assistant Commissioner of GST & Central Excise,
                        Coimbatore I Division, Coimbatore in File No.(C.NO.IV/5/01/2017-GST-LUT(Part) Dated 26.07.2017,valid
                        till 25.07.2018.</td>
                    </tr>
                    <tr>
                      <td colspan="6">2.Certified that I have opened and examined the packages No.________ and found that the particulars
                        stated and the description of goods given overleaf and the packing list (if any) are correct and
                        that all the packages have been stuffed in the container No.______ with Marks __________ and the
                        same has been sealed with central Excise Seal/ One Time Seal No._____</td>
                    </tr>
                    <tr>
                      <td colspan="6">3.I have verified with the records,the exporter is only availing the exporter is only availing the
                        export incentives,as specified in Box No.6 and found it to be true.</td>
                    </tr>
                    <tr>
                      <td colspan="6">4. Certified that I have drawn three representative samples from the consignment (wherever necessary)
                        and have handed over, two sets there of duly sealed to the exporter / his authorized representative.</td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small wid-small">
                    <tr>
                      <td class="table-left" align="left">Place :</td>
                      <td class="table-left" align="left">Coimbatore</td>
                    </tr>
                    <tr>
                      <td class="table-left" align="left">Date :</td>
                      <td class="table-left" align="left">31.10.2017</td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small no-borders">
                    <tr>
                      <td class="table-center" align="center">
                        <p>Superintendent of Central Excise</p>
                      </td>
                      <td class="table-center" align="center">
                        <p>Signature (Name in Block Letters)</p>
                        <p>Inspector of Central Excise</p>
                      </td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small no-borders">
                    <tr>
                      <td class="table-center" align="center">
                        <p>
                          <strong>Part - B</strong>
                        </p>
                      </td>
                      <td class="table-center" align="center">
                        <p>
                          <strong>Certification By the Officer of Customs</strong>
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small no-margin">
                    <tr>
                      <td colspan="6">Certified that the Consignment shipped under my supervision under Shipping Bill No._______ Date _______
                        by S.S/ Flight No. _______ Which left on the ______ day of _____ (month) _____ (Year).</td>
                    </tr>
                    <tr>
                      <td colspan="6">
                        <b>OR</b> certified that the above-mentioned Consignment was stuffed in Container No. ______ belonging
                        to Shipping Line _______ based on the "Let Export Order" given on ______ day of ______ (Month) _______
                        (Year) on the Shipping Bill No. _______ Dated _______ and sealed by Seal/One Time Lock No.________
                        in my supervision and the container was handed over to the custodian M/s. _______ for being shipped
                        via _______ (Name of the Port).</td>
                    </tr>
                    <tr>
                      <td colspan="6">
                        <b>OR</b> Certified that the above-mentioned Consignment has been duly identified and has passed the
                        Land Frontier today at ______ in its original condition under Bill of Exports No._______ Date _______
                        Place _______.
                      </td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small wid-small">
                    <tr>
                      <td>Place :</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="table-left">Date :</td>
                      <td class="table-left"></td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small no-borders wid-40">
                    <tr>
                      <td></td>
                      <td class="table-center" align="center">
                        <p class="para-pad" s>Signature (Name in Block Letters) / (Seal)</p>
                      </td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small no-borders">
                    <tr>
                      <td class="table-center" align="center">
                        <p>
                          <strong>Part - C</strong>
                        </p>
                      </td>
                      <td class="table-center" align="center">
                        <p>
                          <strong>Export by Post</strong>
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small no-margin">
                    <tr>
                      <td colspan="6">Certified that the Consignment described overleaf has been despatched by foreign Post to __________
                        on _________ day of _______ (Year)</td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small wid-small">
                    <tr>
                      <td class="table-left" align="left">Place :</td>
                      <td class="table-left" align="left"></td>
                    </tr>
                    <tr>
                      <td class="table-left" align="left">Date :</td>
                      <td class="table-left" align="left"></td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small no-borders wid-40">
                    <tr>
                      <td></td>
                      <td class="table-center" align="center">
                        <p class="para-pad">Signature of Post Master with Seal</p>
                      </td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small no-borders">
                    <tr>
                      <td class="table-center" align="center">
                        <p>
                          <strong>Part - D</strong>
                        </p>
                      </td>
                      <td class="table-center" align="center">
                        <p>
                          <strong>Rebate Sanction Order</strong>
                        </p>
                      </td>
                      <td class="table-center" align="center">
                        <p>
                          <strong>(Our Original, Duplicate & Triplicate)</strong>
                        </p>
                      </td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small no-margin">
                    <tr>
                      <td colspan="6">Refund Order No._____ Dated _________ Rebate of Rs. ________/-(Rupees ________) Sanctioned vide Cheque
                        No. ______ Dated ______.</td>
                    </tr>
                  </table>
                  <table class="table table-striped table-bordered font-small wid-small">
                    <tr>
                      <td class="table-left" align="left">Place :</td>
                      <td class="table-left" align="left"></td>
                    </tr>
                    <tr>
                      <td class="table-left" align="left">Date :</td>
                      <td class="table-left" align="left"></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--tab-->
    </div>
    <!-- end container -->
  </div>
  <!-- end content -->
</div>