<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Logistics</a>
              </li>
              <li class="active">Post Invoice</li>
            </ol>
            <h4 class="page-title">Post Invoice
            </h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <button [routerLink]="['/postInvoice']" class="btn btn-primary btn-custom waves-effect waves-light pull-right m-b-10">
                    <i class="fa fa-plus m-r-5"></i>Post Invoice</button>
                </div>
              </div>
              <!-- text-->
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
      <!--tab-->
      <section class="col-lg-12" style="padding:0">
        <div class="nav-tabs-custom">
          <div class="box-body mar-btm">
            <div class="ocn-section">
              <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th rowspan="2" width="3%">S.NO</th>
                      <th rowspan="2" width="6%">Invoice No</th>
                      <th rowspan="2" width="7%">Invoice Date</th>
                      <th rowspan="2" width="10%">Customer</th>
                      <th rowspan="2" width="10%">Invoice Value</th>
                      <th rowspan="2" width="5%">Status</th>
                      <th width="18%" colspan="2" style="text-align:center;">Export Invoice</th>
                      <th width="18%" colspan="2" style="text-align:center;">Export Packing List</th>
                      <th width="5%" rowspan="2" style="text-align:center;">Box View</th>
                    </tr>
                    <tr>
                      <th>Triplicate</th>
                      <th>Owners</th>
                      <th>Triplicate</th>
                      <th>Owners</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let person of persons; let row_no = index">
                      <td>{{ row_no + 1 }}</td>
                      <td>{{ person.invoice_no }}</td>
                      <td>{{ person.invoice_date }}</td>
                      <td> {{person.customer}}</td>
                      <td class="text-right">{{person.invoice_value | number }}</td>
                      <td>
                        <span *ngIf="person.dc_status == 0" class="po-pending">
                          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Pending</span>
                        <span *ngIf="person.dc_status == 1" class="po-approved">
                          <i class="fa fa-check" aria-hidden="true"></i> Shipped</span>
                      </td>
                      <td class="text-center">
                        <button class="btn btn-xs btn-danger" [routerLink]="['/viewproforma',person.id]"><i class="fa fa-file-pdf-o"></i></button>
                      </td>
                      <td class="text-center">
                        <button class="btn btn-xs btn-danger" [routerLink]="['/viewproformafinal',person.id]"><i class="fa fa-file-pdf-o"></i></button>
                      </td>
                      <td class="text-center">
                        <button class="btn btn-xs btn-danger" [routerLink]="['/viewpackinglist',person.id]"><i class="fa fa-file-pdf-o"></i></button>
                      </td>
                      <td class="text-center">
                        <button class="btn btn-xs btn-danger" [routerLink]="['/viewpackinglistfinal',person.id]"><i
                            class="fa fa-file-pdf-o"></i></button>
                      </td>
                      <td class="text-center">
                        <button class="btn btn-xs btn-danger" [routerLink]="['/viewpackingslip',person.id]"><i class="fa fa-file-pdf-o"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->