<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Master</a>
                            </li>
                            <li class="active">UOM</li>
                        </ol>
                        <h4 class="page-title">UOM</h4>
                    </div>
                </div>
            </div>
            <!-- Start row -->
            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body uom-master">
                        <div class="portlet-heading">
                            <div class="row">
                                <form [formGroup]="uomform" (ngSubmit)="addedituom(uomform.value)">
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn field-pad">
                                                <label for="exampleInputEmail1" class="lbl-wid">UOM
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="box-wid left">
                                                    <input name="uomid" type="hidden" class="form-control" value="" formControlName="uomid" [(ngModel)]="uomid">
                                                    <input name="uomname" type="text" class="form-control" value="" formControlName="uomname" [(ngModel)]="uomname">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn field-pad">
                                                <label for="exampleInputEmail1" class="lbl-wid">UOM Short Name
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="box-wid left">
                                                     <input name="uomshortname" type="text" class="form-control" value="" formControlName="uomshortname" [(ngModel)]="uomshortname">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn field-pad">
                                                <label for="exampleInputEmail1" class="lbl-wid">Decimal Allow
                                                    <span class="red">*</span>
                                                </label>
                                                <input name="decimal" type="checkbox" class="form-control box-wid" value="" formControlName="decimal" [(ngModel)]="decimal" style="float:left; margin: 0; width: 20px;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 clear-l">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn field-pad">
                                                <label for="exampleInputName2" class="lbl-wid">Status
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="box-wid left">
                                                    <select class="form-control" name="status" formControlName="status" name="unit" [(ngModel)]="status">
                                                        <!-- <option [ngValue]="-1" disabled selected>Select status</option> -->
                                                        <option *ngFor="let stat of statusarray" [ngValue]="stat.value">{{stat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pull-right m-r-5">
                                        <button type="submit" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                                            <i class="fa fa-check"></i> {{buttonname}}</button>
                                        <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel">
                                            <i class="fa fa-ban"></i> Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <!-- text-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <!--tab-->
            <section class="col-lg-12" style="padding:0">
                <!-- <div class="col-sm-12 gray-box text-center">
                      <form class="form-inline">
                          <div class="form-group m-r-20">
                              <label for="exampleInputEmail1">UOM</label>
                              <input name="text" class="form-control" value="" type="text">
                          </div>
                          <div class="form-group m-r-20">
                              <button class="btn btn-inverse btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="right" title="" data-original-title="Search"><i class="fa fa-search"></i></button>
                          </div>
                      </form>
        </div> -->
                <!-- Custom tabs (Charts with tabs)-->
                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <div class="box-body mar-btm">
                        <div class="ocn-section">
                            <div class="table-responsive">
                                <!-- <table class="" datatable [dtOptions]="dtOptions" class="row-border hover table table-striped table-bordered"></table> -->

                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.NO</th>
                                            <th>UoM Name</th>
                                            <th>UoM Short name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let person of persons; let row_no = index">
                                            <td>{{ row_no + 1 }}</td>
                                            <td>{{ person.uom_name }}</td>
                                            <td>{{ person.short_name }}</td>
                                            <td *ngIf="(person.active_status == 0)" class="text-center">
                                                <span>
                                                    <i class="md md-close close-red"></i>
                                                </span>
                                            </td>
                                            <td *ngIf="(person.active_status == 1)" class="text-center">
                                                <span>
                                                    <i class="md md-check-box"></i>
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <i class="md md-create" (click)="updateuom(person)"></i>
                                                </span>
                                                <span>
                                                    <i class="md md-delete" (click)="deleteuom(person.id)"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--tab-->
        </div>
        <!-- end container -->
    </div>
    <!-- end content -->

</div>
<!-- ============================================================== -->
<!-- End Right content here -->