<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Purchase</a>
              </li>
              <li class="active">Cancel Indent Authorization</li>
            </ol>
            <h4 class="page-title">Cancel Indent Authorization</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class=""><!--row-->
          <div class="col-lg-4 col-sm-4 col-md-4 form-buttons m-b-20">
            <button class="btn btn-warning btn-custom waves-effect waves-light pull-right" (click)="clearchecked()">
              <i class=" md-close"></i> Clear </button>
            <button class="btn btn-success btn-custom waves-effect waves-light m-r-5 pull-right" (click)="saveentry()">
              <i class=" md-check"></i> Approve </button>
          </div>
        </div>
      </div>

      <div class="box-body mar-btm">
        <div class="ocn-section col-sm-12">
          <div class="table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
              <thead>
                <tr>
                  <th width=4%></th>
                  <th width=6%>S.NO</th>
                  <th width=10%>Department</th>
                  <th width=10%>Indent No</th>
                  <th width=11%>Indent Date</th>
                  <th width=10%>Part No</th>
                  <th width=12%>Part</th>
                  <th width=10%>Part Desc</th>
                  <th width=8%>Qty</th>
                  <th width=8%>Cancel Qty</th>
                  <th width=12%>Cancel Date</th>
                  <th width=14%>Reason</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of persons; let i = index">
                  <td>
                    <input type="checkbox" [(ngModel)]="person.check" name="check" (change)="checklist(person.check,person,i)" />
                  </td>
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td class="text-left">{{ person.pindent.dept.department_name }}</td>
                  <td class="text-left">{{ person.pindent.indent_no }}</td>
                  <td class="text-left">{{ person.pindent.indent_date }}</td>
                  <td class="text-left">{{ person.part_no }}</td>
                  <td class="text-left">{{person.part}}</td>
                  <td class="text-left">{{ person.part_desc }}</td>
                  <td>{{ person.crt_quantity }}</td>
                  <td class="text-right view-center">{{ person.cancel_quantity }}</td>
                  <td class="text-right view-center">{{ person.modified_date }}</td>
                  <td class="text-right view-center">{{person.cancel_reason}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>