<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container">
          <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12 no-b-m">
              <div class="page-title-box">
                <ol class="breadcrumb pull-right">
                  <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
                  <li><a href="javascript:void(0);">Admin</a></li>
                  <li class="active">Approval Level Settings </li>
                </ol>
                <h4 class="page-title">Approval Level Settings </h4>
              </div>
            </div>
          </div>
          <!-- Start row -->
          <div class="portlet ocn-form">
            <div class="row">
              <div class="col-md-12 col-sm-12 form-body center-div"> 
                <div class="portlet-heading">
                  <div class="oc-ftm-container">
                    <div class="row">
                      <div class="col-lg-4 col-sm-4 col-md-4 cent-txt">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <!--<label for="exampleInputEmail1">Employee Name<span class="red">*</span></label>-->
                            <select name="select" style="width:100%;">
                              	<option selected="selected"> DC</option>
                                <option value="GRN">GRN</option>
                                <option value="Indent">Indent</option>
                                <option value="Request">Request</option>
                                <option value="SA">SA</option>
                                <option value="SOBill">SOBill</option>
                                <option value="BB Request">BB Request</option>
                                <option value="Item Issue">Item Issue</option>
                            </select>
                          </div>
                        </div>
                      </div>

                       <div class="col-lg-2 col-sm-4 col-md-4 cent-txt">
                      <button class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Allocate"><i class="fa fa-check"></i>	Save</button>
	                  </div>
                    </div>  
                  </div>
                  <!-- text-->
                </div>
              </div>
            </div>
          </div>
          <!-- end row -->
          <!--tab-->
          <section class="col-lg-12" style="padding:0" >
            <!-- Custom tabs (Charts with tabs)-->
            <div class="nav-tabs-custom">
              <!-- Tabs within a box -->
              <div class="box-body mar-btm">
                <div class="ocn-section">
                  <div class="table-responsive">
                    <table id="datatabless" class="table table-striped table-bordered" >
                      <thead>
                        <tr>
                          <th width="3%"><i class="fa fa-plus"></i></th>
                          <th width="3%">S.No</th>
                          <th width="6%">Department Name</th>
                          <th width="6%">Authorizer 1</th>
                          <th width="8%">Authorizer 1 EmailId</th>
                          <th width="6%">Authorizer 2 </th>
                          <th width="8%">Authorizer 2 EmailId</th>
                          <th width="6%">Authorizer 3</th>
                          <th width="6%">Authorizer 3 EmailId</th>
                          <th width="6%">Authorizer 4 </th>
                          <th width="6%">Authorizer 4 EmailId</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><i class="md md-close"></i></td>
                          <td><input name="text" type="text" class="form-control" value="1"></td>
                          <td><input name="text" type="text" class="form-control" value="Administration"></td>
                          <td><input name="text" type="text" class="form-control" value="Meeran Ali"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value="Fahid"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                        </tr>
                        <tr>
                          <td><i class="md md-close"></i></td>
                          <td><input name="text" type="text" class="form-control" value="2"></td>
                          <td><input name="text" type="text" class="form-control" value="Administration"></td>
                          <td><input name="text" type="text" class="form-control" value="Meeran Ali"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value="Fahid"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                        </tr>
                        <tr>
                          <td><i class="md md-close"></i></td>
                          <td><input name="text" type="text" class="form-control" value="3"></td>
                          <td><input name="text" type="text" class="form-control" value="Administration"></td>
                          <td><input name="text" type="text" class="form-control" value="Meeran Ali"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value="Fahid"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                        </tr>
                        <tr>
                          <td><i class="md md-close"></i></td>
                          <td><input name="text" type="text" class="form-control" value="4"></td>
                          <td><input name="text" type="text" class="form-control" value="Administration"></td>
                          <td><input name="text" type="text" class="form-control" value="Meeran Ali"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value="Fahid"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                        </tr>
                        <tr>
                          <td><i class="md md-close"></i></td>
                          <td><input name="text" type="text" class="form-control" value="5"></td>
                          <td><input name="text" type="text" class="form-control" value="Administration"></td>
                          <td><input name="text" type="text" class="form-control" value="Meeran Ali"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value="Fahid"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                        </tr>
                        <tr>
                          <td><i class="md md-close"></i></td>
                          <td><input name="text" type="text" class="form-control" value="6"></td>
                          <td><input name="text" type="text" class="form-control" value="Administration"></td>
                          <td><input name="text" type="text" class="form-control" value="Meeran Ali"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value="Fahid"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                        </tr>
                        <tr>
                          <td><i class="md md-close"></i></td>
                          <td><input name="text" type="text" class="form-control" value="7"></td>
                          <td><input name="text" type="text" class="form-control" value="Administration"></td>
                          <td><input name="text" type="text" class="form-control" value="Meeran Ali"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value="Fahid"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                        </tr>
                        <tr>
                          <td><i class="md md-close"></i></td>
                          <td><input name="text" type="text" class="form-control" value="8"></td>
                          <td><input name="text" type="text" class="form-control" value="Administration"></td>
                          <td><input name="text" type="text" class="form-control" value="Meeran Ali"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value="Fahid"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                        </tr>
                        <tr>
                          <td><i class="md md-close"></i></td>
                          <td><input name="text" type="text" class="form-control" value="9"></td>
                          <td><input name="text" type="text" class="form-control" value="Administration"></td>
                          <td><input name="text" type="text" class="form-control" value="Meeran Ali"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value="Fahid"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                        </tr>
                        <tr>
                          <td><i class="md md-close"></i></td>
                          <td><input name="text" type="text" class="form-control" value="10"></td>
                          <td><input name="text" type="text" class="form-control" value="Administration"></td>
                          <td><input name="text" type="text" class="form-control" value="Meeran Ali"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value="Fahid"></td>
                          <td><input name="text" type="text" class="form-control" value="aessupport@aesasp.com"></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                          <td><input name="text" type="text" class="form-control" value=""></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--tab-->
        </div>
        <!-- end container -->
      </div>
      <!-- end content -->
    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->

