<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/posearch']">PO Search</a>
              </li>
              <li class="active" *ngIf="url == poauthurl">PO Authorizaion</li>
              <li class="active" *ngIf="url == updateurl">PO Edit</li>
            </ol>
            <h4 class="page-title" *ngIf="url == updateurl">PO Edit</h4>
            <h4 class="page-title" *ngIf="url == poauthurl">PO Authorizaion</h4>
          </div>
        </div>
      </div>

      <div class="col-sm-12 box-body mar-btm" *ngIf="others">
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-10">
          <button class="btn btn-danger btn-small waves-effect waves-light" (click)="disclosepo()"
            *ngIf="url == updateurl && others.is_received == 2 && others.is_short_close == 0">
            <i class="fa fa-ban"></i> Shotclosure</button>
          <button class="btn btn-success btn-small waves-effect waves-light" (click)="updatepo()"
            *ngIf="url == updateurl && others.is_poconfirm == 0 && others.status != 1">
            <i class="fa fa-check"></i> Update</button>
          <button class="btn btn-success btn-small waves-effect waves-light" (click)="updatepo()"
            *ngIf="url == poauthurl && others.is_poconfirm == 0 && others.status != 1">
            <i class="fa fa-check"></i> Authorize</button>

          <!-- <div class="btn-group" role="group" *ngIf="url == poauthurl && others.status == 0 || others.status == 3">
            <button id="btnGroupDrop1" type="button" class="btn btn-success btn-small waves-effect waves-light dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-check"></i>Authorize
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item approve" (click)="updatepo('Approve')">
                <i class="fa fa-check m-r-5"></i>Approve</a>
              <a class="dropdown-item reject" (click)="updatepo('Cancel')">
                <i class="fa fa-close m-r-5"></i>Cancel</a>
              <a class="dropdown-item discuss" (click)="updatepo('Discuss')">
                <i class="fa fa-commenting-o m-r-5"></i>Discuss</a>
            </div>
          </div> -->

          <button class="btn btn-warning btn-small waves-effect waves-light" (click)="back()">
            <i class="fa fa-chevron-left"></i> Back</button>
        </div>
        <hr class="clearfix">
      </div>


      <div class="box-body mar-btm">
        <div class="ocn-section col-sm-12">
          <div class="row">
            <div class="col-sm-12 m-b-10">
              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="ocn-status">
                  <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">PO No
                    </label>
                    <input name="pono" type="text" class="form-control" value="" [(ngModel)]="pono" [readOnly]="true">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="ocn-status">
                  <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">Supplier
                    </label>
                    <input name="supplier" type="text" class="form-control" value="" [(ngModel)]="supplier"
                      [readOnly]="true">
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4 col-md-4">
                <div class="ocn-status">
                  <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">PO Date
                    </label>
                    <div class="input-group box-wid">
                      <input class="form-control full-width" style="width:100% !important" ngx-mydatepicker
                        name="podate" [options]="myTabOption" #sc="ngx-mydatepicker" [readonly]="true"
                        [(ngModel)]="podate" />
                      <span class="input-group-addon bg-primary b-0 text-white" (click)="sc.toggleCalendar()">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="clearfix m-t-10">
            <div class="table-responsive">
              <table class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>Part No</th>
                    <th>Part</th>
                    <th>Part Desc</th>
                    <!-- <th>HSN</th> -->
                    <th>UOM</th>
                    <th>Req Qty</th>
                    <!-- <th>Qty</th> -->
                    <th>Rate/Qty</th>
                    <th>Discount(Rs)</th>
                    <th>P&F(Rs)</th>
                    <!-- <th>CGST</th>
                    <th>SGST</th>
                    <th>IGST</th> -->
                    <th>Item Cost</th>
                    <th>Amount</th>
                    <th width="10%">Scheduled Date</th>
                    <th *ngIf="others ?.is_received == 2 || others ?.is_short_close == 1">shortcls Qty</th>
                    <th width="10%">Status</th>
                    <!-- <th>SPl.Instruction</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of quotationdetails; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ person.item_code }}</td>
                    <td>{{person.part}}</td>
                    <td>{{ person.item_desc }}</td>
                    <!-- <td>{{person.hsn}}</td> -->
                    <td>{{person.uom}}</td>
                    <td>{{person.req_qty}}</td>
                    <!-- <td>1</td> -->
                    <td style="text-align:right !important">
                      {{person.rate | number}}
                    </td>
                    <td style="text-align:right !important">
                      {{person.discount_value | number}}
                    </td>
                    <td style="text-align:right !important">
                      {{person.pf_value | number}}
                    </td>
                    <!-- <td>{{person.cgst}}</td>
                    <td>{{person.sgst}}</td>
                    <td>{{person.igst}}</td> -->
                    <td style="text-align:right !important">{{person.item_cost | number}}</td>
                    <td style="text-align:right !important">{{person.landing_cost | number}}</td>
                    <td>
                      {{person.schedule_date}}
                    </td>
                    <td *ngIf="url == poauthurl">
                      <select class="form-control" name="type" name="unit" [(ngModel)]="person.is_po_authorized"
                        [attr.title]="person.is_po_authorized == 2 ? 'Approve' : person.is_po_authorized == 1 ? 'Reject' : 'Discuss'">
                        <option *ngFor="let stat of postatus" [ngValue]="stat.value">{{stat.name}}</option>
                      </select>
                    </td>
                    <td *ngIf="others ?.is_received == 2 || others ?.is_short_close == 1">
                      {{person.short_close_qty}}
                    </td>
                    <td *ngIf="url == updateurl">
                      <span *ngIf="person.is_po_authorized == 0" class="po-pending">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Pending</span>
                      <span *ngIf="person.is_po_authorized == 1" class="po-cancelled">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancelled</span>
                      <span *ngIf="person.is_po_authorized == 2" class="po-approved">
                        <i class="fa fa-check" aria-hidden="true"></i> Approved</span>
                      <span *ngIf="person.is_po_authorized == 3" class="po-discussion">
                        <i class="fa fa-commenting" aria-hidden="true"></i> Discussion</span>
                    </td>
                    <!-- <td>
                      {{person.special_inst}}
                    </td> -->
                  </tr>
                  <tr *ngIf="!quotationdetails ?.length">
                    <td colspan="17">No Data</td>
                  </tr>
                  <tr *ngIf="quotationdetails">
                    <td colspan="5"></td>
                    <td class="cs">
                      <span class="pull-right bold">TOTAL</span>
                    </td>
                    <td style="text-align:right !important" class="cs">
                      <b>{{calctrate() | number}}</b>
                    </td>
                    <td style="text-align:right !important" class="cs">
                      <b>{{calctdisc() | number}}</b>
                    </td>
                    <td style="text-align:right !important" class="cs">
                      <b>{{calctpf() | number}}</b>
                    </td>
                    <td class="cs">

                    </td>
                    <!-- <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td> -->
                    <td style="text-align:right !important" class="cs">
                      <b>{{calctotal() | number}}</b>
                    </td>
                    <td colspan="2"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <hr class="clearfix">

            <div class="col-lg-8 ocn-section">
              <div class="table-responsive ">
                <form [formGroup]="paymentForm">
                  <table class="table table-striped table-bordered" formArrayName="itemPayRows">
                    <thead>
                      <tr>
                        <th width="3%" (click)="addNewpaymentRow()">
                          <i class="fa fa-plus"></i>
                        </th>
                        <th width="3%">S.No</th>
                        <th width="5%">Payment Type</th>
                        <th width="5%">Payment Terms</th>
                        <th width="5%">Payment(%)</th>
                        <th width="5%">Credit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let itemrow of getpaymentform(paymentForm); let i=index" [formGroupName]="i">
                        <td>
                          <i class="md md-close" (click)="deletePayRow(i)" *ngIf="i!=0"></i>
                        </td>
                        <td>{{i+1}}</td>
                        <td>
                          <select name="sctype" class="form-control" formControlName="paymenttype"
                            (change)="paytypeselected(paymentForm.controls.itemPayRows.value[i].paymenttype,i)">
                            <option *ngFor="let stat of Paytype" [ngValue]="stat.name">{{stat.name}}</option>
                          </select>
                        </td>
                        <td>
                          <ng2-completer *ngIf="paymentForm.controls.itemPayRows.value[i].paymenttype == 'LC' "
                            [openOnClick]="true" formControlName="paymentterm" [datasource]="paytermsLC"
                            [minSearchLength]="0" [attr.title]="paymentForm.value.itemPayRows[i].paymentterm">
                          </ng2-completer>

                          <ng2-completer *ngIf="paymentForm.controls.itemPayRows.value[i].paymenttype == 'NONLC' "
                            [openOnClick]="true" formControlName="paymentterm" [datasource]="payterms"
                            [minSearchLength]="0" [attr.title]="paymentForm.value.itemPayRows[i].paymentterm">
                          </ng2-completer>
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="paymentpercentage"
                            (keyup)="clacPercentage(index)" />
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="credit" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 m-t-20 m-b-20"
              style="min-height:200px;border:1px solid #dadada;padding:10px">
              <div class="ocn-status upload-ocn">
                <div class="form-group madeups ocn ">
                  <label for="exampleInputName2" class="extra-wid">Attach File
                  </label>
                  <div class="fileupload btn btn-purple waves-effect waves-light left clearfix"
                    style="top : 0 !important;padding: 3px 7px !important">
                    <i class="md md-file-upload"></i>
                    <input type="file" multiple class="upload" id="avatar" style="width: 100%;height: 100%"
                      (change)="onFileChange($event)" #fileInput>
                  </div>
                  <div class="col-sm-12">
                    <li *ngFor="let itemrow of filelist; let i=index">
                      <span>{{itemrow.name}}
                        <a (click)="clearfile(itemrow,i)">
                          <i class="fa fa-trash"></i>
                        </a>
                      </span>
                    </li>
                  </div>
                  <button class="btn btn-primary m-t-10 left" *ngIf="filelist.length !=0" (click)="clearallfile()">Clear
                    all</button>
                </div>
              </div>
            </div>

            <hr class="clearfix">

            <div class="col-sm-12 m-t-20">
              <div class="row">
                <form [formGroup]="compareform">
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Freight
                          <span class="red">*</span>
                        </label>
                        <!-- <ng2-completer [openOnClick]="true" formControlName="freight" (selected)="selectedline($event,i)" [(ngModel)]="comp.freight" [datasource]="allfreights" [minSearchLength]="0"></ng2-completer> -->
                        <select class="form-control" class="form-control" formControlName="freight"
                          [(ngModel)]="comp.freight">
                          <!-- <option [ngValue]="0" disabled selected>Select Type</option> -->
                          <option *ngFor="let stat of freightarray" [ngValue]="stat.name">{{stat.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Dispatch Mode
                          <span class="red">*</span>
                        </label>
                        <input type="text" class="form-control" value="" formControlName="dispatchmode"
                          [(ngModel)]="comp.dispatchmode" />
                        <!-- <select class="form-control" class="form-control" formControlName="dispatchmode" [(ngModel)]="comp.dispatchmode">
                          <option *ngFor="let stat of modeofdispatch" [ngValue]="stat.name">{{stat.name}}</option>
                        </select> -->
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputName2">Price Basis
                          <span class="red">*</span>
                        </label>
                        <div class="left">
                          <ng2-completer [openOnClick]="true" formControlName="pricebasis" [(ngModel)]="comp.pricebasis" [datasource]="allpricebasis"
                            [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">EPCG Applicable
                          <span class="red">*</span>
                        </label>
                        <select name="epcg" class="form-control" formControlName="epcg" [(ngModel)]="comp.epcg">
                          <option *ngFor="let stat of yesorno" [ngValue]="stat.name">{{stat.name}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">License No
                        </label>
                        <input name="license" type="text" class="form-control" value="" formControlName="license" [(ngModel)]="comp.license">
                      </div>
                    </div>
                  </div> -->
                  <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Destination
                          <span class="red">*</span>
                        </label>
                        <input name="destination" type="text" class="form-control" value="" formControlName="destination" [(ngModel)]="comp.destination">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Freight Amount
                        </label>
                        <input name="freightamnt" type="text" class="form-control" value="" formControlName="freightamnt" [(ngModel)]="comp.freightamnt">
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">GST Amount
                        </label>
                        <input name="gstamnt" type="text" class="form-control" value="" formControlName="gstamnt"
                          [(ngModel)]="comp.gstamnt">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Packing & Forwarding
                        </label>
                        <input name="packingfrwding" type="text" class="form-control" value=""
                          formControlName="packingfrwding" [(ngModel)]="comp.packingfrwding">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Special Instruction
                        </label>
                        <textarea name="spclinst" type="text" class="form-control" value="" formControlName="spclinst"
                          [(ngModel)]="comp.spclinst" style="width:52% !important"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn ">
                        <label for="exampleInputEmail1">Additional Instruction
                        </label>
                        <textarea name="addinst" type="text" class="form-control" value="" formControlName="addinst"
                          [(ngModel)]="comp.addinst" style="width:52% !important"></textarea>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>