<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Purchase</a>
                            </li>
                            <li class="active">Cost Center</li>
                        </ol>
                        <h4 class="page-title">Cost Center
                        </h4>
                    </div>
                </div>
            </div>
            <!-- Start row -->
            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body">
                        <div class="portlet-heading">
                            <div class="oc-ftm-container">
                                <div class="row">
                                    <form [formGroup]="costcenterform" (ngSubmit)="addeditcostcenter(costcenterform.value)">
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Cost Center Code
                                                        <span class="red">*</span>
                                                    </label>
                                                    <input name="id" type="hidden" class="form-control" value="" formControlName="id" [(ngModel)]="costcenter.id">
                                                    <input name="costcentercode" type="text" class="form-control" value="" formControlName="costcentercode" [(ngModel)]="costcenter.costcentercode">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Cost Center
                                                        <span class="red">*</span>
                                                    </label>
                                                    <input name="costcenter" type="text" class="form-control" value="" formControlName="costcenter" [(ngModel)]="costcenter.costcenter">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Finance Code
                                                    </label>
                                                    <input name="financecode" type="text" class="form-control" value="" formControlName="financecode" [(ngModel)]="costcenter.financecode">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputName2">Status
                                                        <span class="red">*</span>
                                                    </label>
                                                    <select class="form-control" name="active_status" formControlName="active_status" name="unit" [(ngModel)]="costcenter.active_status">
                                                        <!-- <option [ngValue]="0" disabled selected>Select status</option> -->
                                                        <option *ngFor="let stat of statusarray" [ngValue]="stat.value">{{stat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                                            <button type="submit" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                                                title="" data-original-title="Save">
                                                <i class="fa fa-check"></i> {{buttonname}}</button>
                                            <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
                                                data-placement="top" title="" data-original-title="Cancel">
                                                <i class="fa fa-ban"></i> Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <!--tab-->
            <section class="col-lg-12" style="padding:0">
                <div class="nav-tabs-custom">
                    <div class="box-body mar-btm">
                        <div class="ocn-section">
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.NO</th>
                                            <th>Code</th>
                                            <th>Cost Center</th>
                                            <th>Finance Code</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let person of persons; let row_no = index">
                                            <td>{{ row_no + 1 }}</td>
                                            <td>{{ person.cost_center_code }}</td>
                                            <td>{{ person.cost_center }}</td>
                                            <td>{{ person.finance_code }}</td>
                                            <td *ngIf="(person.active_status == 0)" class="text-center">
                                                <span>
                                                    <i class="md md-close close-red"></i>
                                                </span>
                                            </td>
                                            <td *ngIf="(person.active_status == 1)" class="text-center">
                                                <span>
                                                    <i class="md md-check-box"></i>
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <i class="md md-create" (click)="updatecostcenter(person)"></i>
                                                </span>
                                                <span>
                                                    <i class="md md-delete" (click)="deletecostcenter(person.id)"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>