<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container trims-plan">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Stores</a>
                            </li>
                            <li class="active">Location</li>
                        </ol>
                        <h4 class="page-title">Location</h4>
                    </div>
                </div>
            </div>

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-left trims">
                    <li class="active dis">
                        <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">GRN</a>
                    </li>
                    <li class="dis">
                        <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Production</a>
                    </li>
                </ul>

                <div class="tab-content no-padding padding-pad ">
                    <div class="chart tab-pane active" id="tplan">
                        <div class="col-md-12 col-sm-12 form-body">
                            <div class="portlet-heading">
                                <div class="oc-ftm-container">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn field-pad date-pad">
                                                    <label for="exampleInputEmail1" class="lbl-wid">From
                                                    </label>
                                                    <div class="input-group box-wid" style="float:left;">
                                                        <input class="form-control full-width" (click)="fm.toggleCalendar()"
                                                            ngx-mydatepicker name="startDate" [options]="myOptions" #fm="ngx-mydatepicker"
                                                            [readOnly]="true" [(ngModel)]="filter.from" name="from" />
                                                        <span class="input-group-addon bg-primary b-0 text-white"
                                                            (click)="fm.clearDate()">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn field-pad date-pad">
                                                    <!--p-date-invoice-->
                                                    <label for="exampleInputEmail1" class="lbl-wid">To
                                                    </label>
                                                    <div class="input-group box-wid" style="float:left;">
                                                        <input class="form-control full-width" (click)="to.toggleCalendar()"
                                                            ngx-mydatepicker name="startDate" [options]="myOptions" #to="ngx-mydatepicker"
                                                            [readOnly]="true" [(ngModel)]="filter.to" name="to" />
                                                        <span class="input-group-addon bg-primary b-0 text-white"
                                                            (click)="to.clearDate()">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Type
                                                    </label>
                                                    <select class="form-control" class="form-control" [(ngModel)]="filter.type">
                                                        <option *ngFor="let stat of grntypes" [ngValue]="stat.name">{{stat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                                            <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
                                                (click)="getgrnloclist()">
                                                <i class="md md-search"></i> Search </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="clearfix">
                        <div class="nav-tabs-custom">
                            <div class="box-body mar-btm">
                                <div class="ocn-section">
                                    <div class="table-responsive table-resp-pad">
                                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th rowspan="2" width="3%"></th>
                                                    <th rowspan="2">S.NO</th>
                                                    <th rowspan="2" width="">GRN No</th>
                                                    <th rowspan="2" width="">GRN Date</th>
                                                    <th rowspan="2">PO/DC No</th>
                                                    <th rowspan="2">PO/DC Date</th>
                                                    <th rowspan="2">Part No</th>
                                                    <th rowspan="2">Part</th>
                                                    <th rowspan="2">Part Desc</th>
                                                    <th colspan="3">Qty</th>
                                                    <th rowspan="2" width="">Location</th>
                                                </tr>
                                                <tr class="sub-head">
                                                    <th>Accept</th>
                                                    <th>Rework</th>
                                                    <th>Reject</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let person of persons; let row_no = index">
                                                    <td>
                                                        <input name="checkauthorize" type="checkbox" class="form-control"
                                                            value="" [(ngModel)]="person.checkauthorize" (change)="checkauthorized(person.checkauthorize,person,row_no)">
                                                    </td>
                                                    <td>
                                                        {{ row_no + 1 }}
                                                    </td>
                                                    <td class="text-left">
                                                        {{person.grn_no }}
                                                    </td>
                                                    <td class="text-left">
                                                        {{person.grn_date}}
                                                    </td>
                                                    <td>{{person.po_dc_no}}</td>
                                                    <td>{{person.po_dc_date}}</td>
                                                    <td>{{person.item_code}}</td>
                                                    <td>{{person.part}}</td>
                                                    <td>{{person.item_desc}}</td>
                                                    <td style="text-align :center !important">
                                                        {{person.acc_qty}}
                                                    </td>
                                                    <td style="text-align :center !important">
                                                        {{person.rework_qty}}
                                                    </td>
                                                    <td style="text-align :center !important">
                                                        {{person.rej_qty}}
                                                    </td>
                                                    <td style="text-align :center !important">
                                                        <button class="btn btn-xs btn-primary" (click)="showpop(row_no)">
                                                            <i class="fa fa-map-marker"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3 pull-right m-b-20">
                                        <button class="btn btn-danger btn-custom waves-effect waves-light pull-right m-r-5"
                                            (click)="uncheckall()">
                                            <i class="fa fa-times"></i> Clear All </button>
                                        <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5"
                                            (click)="authorize()">
                                            <i class="md-check"></i> Save </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="chart tab-pane" id="trim-vs-articles">
                        <div class="col-md-12 col-sm-12 form-body">
                            <div class="portlet-heading">
                                <div class="oc-ftm-container">
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn field-pad date-pad">
                                                    <!--p-date-invoice-->
                                                    <label for="exampleInputEmail1" class="lbl-wid">From
                                                    </label>
                                                    <div class="input-group box-wid" style="float:left;">
                                                        <input class="form-control full-width" (click)="pfm.toggleCalendar()"
                                                            ngx-mydatepicker name="pstartDate" [options]="myOptions"
                                                            #pfm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="prodfilter.from"
                                                            name="pfrom" />
                                                        <span class="input-group-addon bg-primary b-0 text-white"
                                                            (click)="pfm.clearDate()">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-sm-3 col-md-3">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn field-pad date-pad">
                                                    <label for="exampleInputEmail1" class="lbl-wid">To
                                                    </label>
                                                    <div class="input-group box-wid" style="float:left;">
                                                        <input class="form-control full-width" (click)="pto.toggleCalendar()"
                                                            ngx-mydatepicker name="pendDate" [options]="myOptions" #pto="ngx-mydatepicker"
                                                            [readOnly]="true" [(ngModel)]="prodfilter.to" name="pto" />
                                                        <span class="input-group-addon bg-primary b-0 text-white"
                                                            (click)="pto.clearDate()">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                                                    <div class="ocn-status">
                                                        <div class="form-group madeups ocn ">
                                                            <label for="exampleInputEmail1">Type
                                                            </label>
                                                            <select class="form-control" class="form-control" [(ngModel)]="filter.type">
                                                                <option *ngFor="let stat of grntypes" [ngValue]="stat.name">{{stat.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div> -->
                                        <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                                            <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
                                                (click)="getprodlist()">
                                                <i class="md md-search"></i> Search </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="clearfix">
                        <div class="nav-tabs-custom">
                            <div class="box-body mar-btm">
                                <div class="ocn-section">
                                    <div class="table-responsive grn-loc">
                                        <table class="row-border hover table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th width="5% !important"></th>
                                                    <th>S.NO</th>
                                                    <th>Part No</th>
                                                    <th>Part</th>
                                                    <th>Part Desc</th>
                                                    <th>Qty</th>
                                                    <th>Location</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngIf="!prodList?.length">
                                                    <td colspan="8">No Data</td>
                                                </tr>
                                                <tr *ngFor="let data of prodList; let row_no = index">
                                                    <td>
                                                        <input name="checkauthorize" type="checkbox" class="form-control"
                                                            value="" [(ngModel)]="data.checkauthorize" (change)="checkProdauthorized(data.checkauthorize,data,row_no)">
                                                    </td>
                                                    <td>
                                                        {{ row_no + 1 }}
                                                    </td>
                                                    <td>{{data.part_no}}</td>
                                                    <td>{{data.part}}</td>
                                                    <td>{{data.part_desc}}</td>
                                                    <td>{{data.prod_quantity}}</td>
                                                    <td class="text-center">
                                                        <button class="btn btn-xs btn-primary" (click)="showProdpop(row_no)">
                                                            <i class="fa fa-map-marker"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3 pull-right m-b-20">
                                        <button class="btn btn-danger btn-custom waves-effect waves-light pull-right m-r-5"
                                            (click)="uncheckall()">
                                            <i class="fa fa-times"></i> Clear All </button>
                                        <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5"
                                            (click)="SaveProdLocation()">
                                            <i class="md-check"></i> Save </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<app-slip-popup [(visible)]="showDialog" *ngIf="showDialog">
    <div class="col-sm-12 page-height">
        <div class="row" *ngIf="persons">
            <div class="col-sm-12 ocn-section">
                <h3 class="text-center">Stock Details</h3>
                <span class="bold col-sm-6 col-md-6 col-lg-6 col-xs-12">Item Code : {{persons[index].item_code || '-'}}</span>
                <span class="bold col-sm-6 col-md-6 col-lg-6 col-xs-12">Item Desc : {{persons[index].item_desc || '-'}}</span>
                <hr class="clearfix">
                <div *ngIf="persons[index].acc_qty !=0">
                    <span class="bold col-sm-12 col-md-12 col-lg-12 col-xs-12">Recieved Qty :
                        {{persons[index].acc_qty}}</span>
                    <div class="table-responsive clearfix">
                        <form [formGroup]="orderForm">
                            <table class="table table-striped table-bordered" formArrayName="itemRows">
                                <thead>
                                    <tr>
                                        <th class="text-center" width="1%" (click)="addNewRow()">
                                            <i class="fa fa-plus"></i>
                                        </th>
                                        <th width="2%">S.No</th>
                                        <th width="4%">Bin</th>
                                        <th width="3%">Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!getorderform(orderForm) ?.length">
                                        <td colspan="4">No data</td>
                                    </tr>
                                    <tr *ngFor="let itemrow of getorderform(orderForm); let i=index" [formGroupName]="i">
                                        <td>
                                            <i class="md md-close" (click)="deleteRow(i)" *ngIf="i!=0"></i>
                                        </td>
                                        <td>{{i+1}}</td>
                                        <td>
                                            <ng2-completer [openOnClick]="true" formControlName="bin" [datasource]="allbins"
                                                (selected)="selectedbin($event,i,'accform')" [minSearchLength]="0"></ng2-completer>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" formControlName="qty" (keyup)="calcreqqty(itemrow.value,i)" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <!-- ========================== REJ TABLE============================================ -->
                <div class="col-sm-12 ocn-section" *ngIf="persons[index].rej_qty !=0">
                    <span class="bold col-sm-6 col-md-6 col-lg-6 col-xs-12">Rejected Qty : {{persons[index].rej_qty}}</span>
                    <div class="table-responsive clearfix">
                        <form [formGroup]="rejForm">
                            <table class="table table-striped table-bordered" formArrayName="itemrejRows">
                                <thead>
                                    <tr>
                                        <th class="text-center" width="1%" (click)="addNewRejRow()">
                                            <i class="fa fa-plus"></i>
                                        </th>
                                        <th width="2%">S.No</th>
                                        <th width="4%">Bin</th>
                                        <th width="3%">Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!getRejform(rejForm) ?.length">
                                        <td colspan="4">No data</td>
                                    </tr>
                                    <tr *ngFor="let itemrow of getRejform(rejForm); let i=index" [formGroupName]="i">
                                        <td>
                                            <i class="md md-close" (click)="deleteRejRow(i)" *ngIf="i!=0"></i>
                                        </td>
                                        <td>{{i+1}}</td>
                                        <td>
                                            <ng2-completer [openOnClick]="true" formControlName="bin" [datasource]="allbins"
                                                (selected)="selectedbin($event,i ,'rejform')" [minSearchLength]="0"></ng2-completer>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" formControlName="qty" (keyup)="calcreqqty(itemrow.value,i)" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <!-- ========================== REWORK TABLE============================================ -->
                <div class="col-sm-12 ocn-section" *ngIf="persons[index].rework_qty !=0">
                    <span class="bold col-sm-6 col-md-6 col-lg-6 col-xs-12">Rework Qty : {{persons[index].rework_qty}}</span>
                    <div class="table-responsive clearfix">
                        <form [formGroup]="rewrkFrm">
                            <table class="table table-striped table-bordered" formArrayName="itemrewrkRows">
                                <thead>
                                    <tr>
                                        <th class="text-center" width="1%" (click)="addNewRewrkRow()">
                                            <i class="fa fa-plus"></i>
                                        </th>
                                        <th width="2%">S.No</th>
                                        <th width="4%">Bin</th>
                                        <th width="3%">Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="!getrewrkform(rewrkFrm) ?.length">
                                        <td colspan="4">No data</td>
                                    </tr>
                                    <tr *ngFor="let itemrow of getrewrkform(rewrkFrm); let i=index" [formGroupName]="i">
                                        <td>
                                            <i class="md md-close" (click)="deleteRewrkRow(i)" *ngIf="i!=0"></i>
                                        </td>
                                        <td>{{i+1}}</td>
                                        <td>
                                            <ng2-completer [openOnClick]="true" formControlName="bin" [datasource]="allbins"
                                                (selected)="selectedbin($event,i,'rewrkform')" [minSearchLength]="0"></ng2-completer>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" formControlName="qty" (keyup)="calcreqqty(itemrow.value,i)" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <!-- =============================================================================== -->
                <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
                    <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="addbins(index)">
                        <i class="fa fa-check"></i> OK</button>
                    <button (click)="close()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Export Print">
                        <i class="fa fa-times"></i> close</button>
                </div>
            </div>
        </div>
    </div>
</app-slip-popup>

<app-slip-popup [(visible)]="showProdDialog" *ngIf="showProdDialog">
    <div class="col-sm-12 page-height">
        <div class="row" *ngIf="prodList">
            <div class="col-sm-12 ocn-section">
                <h3 class="text-center">Stock Details</h3>
                <span class="bold col-sm-6 col-md-6 col-lg-6 col-xs-12">Item Code : {{prodList[Prodindex].part_no ||
                    '-'}}</span>
                <span class="bold col-sm-6 col-md-6 col-lg-6 col-xs-12">Item Desc : {{prodList[Prodindex].part_desc ||
                    '-'}}</span>
                <hr class="clearfix">
                <span class="bold col-sm-12 col-md-12 col-lg-12 col-xs-12">Recieved Qty :
                    {{prodList[Prodindex].prod_quantity}}</span>
                <div class="table-responsive clearfix">
                    <form [formGroup]="ProdStockForm">
                        <table class="table table-striped table-bordered" formArrayName="itemProdRows">
                            <thead>
                                <tr>
                                    <th class="text-center" width="1%" (click)="addNewProdRow()">
                                        <i class="fa fa-plus"></i>
                                    </th>
                                    <th width="2%">S.No</th>
                                    <th width="4%">Bin</th>
                                    <th width="3%">Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="!getProdform(ProdStockForm) ?.length">
                                    <td colspan="4">No data</td>
                                </tr>
                                <tr *ngFor="let itemrow of getProdform(ProdStockForm); let i=index" [formGroupName]="i">
                                    <td>
                                        <i class="md md-close" (click)="deleteProdRow(i)" *ngIf="i!=0"></i>
                                    </td>
                                    <td>{{i+1}}</td>
                                    <td>
                                        <ng2-completer [openOnClick]="true" formControlName="bin" [datasource]="allbins"
                                            (selected)="selectedProdbin($event,i)" [minSearchLength]="0"></ng2-completer>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" formControlName="qty" (keyup)="calcreqqty(itemrow.value,i)" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
                    <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="addProdbins(Prodindex)">
                        <i class="fa fa-check"></i> OK</button>
                    <button (click)="close()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
                        data-placement="top" title="" data-original-title="Export Print">
                        <i class="fa fa-times"></i> close</button>
                </div>
            </div>
        </div>
    </div>
</app-slip-popup>