<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="col-md-12 overlay" *ngIf="show_update_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/supplier']">Supplier/Customer List</a>
              </li>
              <li class="active">Supplier/Customer</li>
            </ol>
            <h4 class="page-title">Supplier/Customer</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading page-height-70">
              <div class="row">
                <form [formGroup]="contactform" (ngSubmit)="addeditcontact(contactform.value)">
                  <section class="col-lg-12" style="padding:0">
                    <div class="col-sm-12 gray-box text-center">
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1" class="extra-wid1">Cmpny Name
                              <span class="red">*</span>
                            </label>
                            <input name="id" type="hidden" class="form-control" value="" [(ngModel)]="id"
                              formControlName="id">
                            <input name="conname" type="text" class="form-control" value="" [(ngModel)]="conname"
                              formControlName="conname">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1" class="extra-wid1">Display Name
                              <span class="red">*</span>
                            </label>
                            <input name="condisplayname" type="text" class="form-control" value="" [(ngModel)]="condisplayname"
                              formControlName="condisplayname">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1" class="extra-wid1">Cmpny Code
                            </label>
                            <input name="concode" type="text" class="form-control" value="" [(ngModel)]="concode"
                              formControlName="concode">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1">Category
                              <span class="red">*</span>
                            </label>
                            <select class="form-control" formControlName="category" name="category" [(ngModel)]="category"
                              (change)="selectedcat(category)">
                              <!-- <option [ngValue]="-1" disabled selected>Select parttype</option> -->
                              <option *ngFor="let stat of contactcat" [ngValue]="stat.name">{{stat.name}}</option>
                            </select>
                            <!-- <ng-select [options]="contactcategory"  name="category" [(ngModel)]="category" formControlName="category"
                              (selected)="selectedcat($event)"></ng-select> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1" class="extra-wid1">Type
                              <span class="red">*</span>
                            </label>
                            <select class="form-control" name="type" formControlName="type" [(ngModel)]="type">
                              <!-- <option [ngValue]="0" disabled selected>Select type</option> -->
                              <option *ngFor="let stat of contacttype" [ngValue]="stat.name">{{stat.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-lg-3 col-sm-3 col-md-3 clearfix">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1" class="extra-wid1">Mobile No
                              <span class="red">*</span>
                            </label>
                            <input name="mobile" type="text" class="form-control" value="" [(ngModel)]="mobile" formControlName="mobile" pKeyFilter="int"
                              (keypress)="restricthypens($event)">
                          </div>
                        </div>
                      </div> -->
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1" class="extra-wid1">Phone No
                              <span class="red">*</span>
                            </label>
                            <input name="phone" type="text" class="form-control" value="" [(ngModel)]="phone"
                              formControlName="phone" pKeyFilter="int">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1" class="extra-wid1">Fax
                            </label>
                            <input name="fax" type="text" class="form-control" value="" [(ngModel)]="fax"
                              formControlName="fax">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1">Email
                              <span class="red">*</span>
                            </label>
                            <input name="email" type="email" class="form-control" value="" [(ngModel)]="email"
                              formControlName="email">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn">
                            <label for="exampleInputEmail1" class="extra-wid1">Website
                            </label>
                            <input name="website" type="text" class="form-control" value="" [(ngModel)]="website"
                              formControlName="website">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3 m-b-10">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn">
                            <label for="exampleInputEmail1" class="extra-wid1">GSTIN No
                            </label>
                            <input name="gstinno" type="text" class="form-control" value="" [(ngModel)]="gstinno"
                              formControlName="gstinno">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputName2" class="extra-wid1">Status
                              <span class="red">*</span>
                            </label>
                            <select class="form-control" name="active_status" formControlName="active_status"
                              [(ngModel)]="active_status">
                              <!-- <option [ngValue]="0" disabled selected>Select status</option> -->
                              <option *ngFor="let stat of statusarray" [ngValue]="stat.value">{{stat.name}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <hr class="clearfix">
                      <div class="col-sm-12 ocn-section padding-0">
                        <div class="col-sm-12 padding-0">
                          <h4 class="text-left">Contact Person
                            <!-- <span class="red">*</span> -->
                          </h4>
                          <div class="table-responsive m-t-10">
                            <form [formGroup]="cpform" autocomplete="on">
                              <table class="table table-striped table-bordered" formArrayName="itemRows">
                                <thead>
                                  <tr>
                                    <th width="1%" (click)="addNewRow()">
                                      <i class="fa fa-plus"></i>
                                    </th>
                                    <th>Name</th>
                                    <th>Mobile NO</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let itemrow of getform(cpform); let i=index" [formGroupName]="i">
                                    <td>
                                      <i class="md md-close" (click)="deleteRow(i)"></i>
                                    </td>
                                    <td>
                                      <input type="hidden" class="form-control" formControlName="id" />
                                      <input type="hidden" class="form-control" formControlName="supplierid" />
                                      <input type="text" class="form-control" formControlName="name" />
                                    </td>
                                    <td>
                                      <input type="text" class="form-control" formControlName="mobile" pKeyFilter="int" />
                                    </td>
                                    <td>
                                      <input type="email" class="form-control" formControlName="email" />
                                    </td>
                                    <td>
                                      <input type="text" class="form-control" formControlName="role" />
                                    </td>
                                  </tr>
                                  <tr *ngIf="!getform(cpform) ?.length">
                                    <td colspan="8">No Data</td>
                                  </tr>
                                </tbody>
                              </table>
                            </form>
                          </div>
                        </div>
                      </div>
                      <hr class="clearfix">
                      <h4 class="m-b-10 text-left p-l-10">Address</h4>
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1" class="extra-wid1">Address
                              <span class="red">*</span>
                            </label>
                            <textarea name="address" type="text" class="form-control" value="" [(ngModel)]="address"
                              formControlName="address"></textarea>
                            <!-- <input name="address" type="text" class="form-control" value="" [(ngModel)]="address" formControlName="address"> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3 ">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1" class="extra-wid1">Country
                              <span class="red">*</span>
                            </label>
                            <ng-select [options]="allcountries" name="country" [(ngModel)]="country" formControlName="country"
                              (selected)="selectedcountry($event)"></ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1">State
                              <span class="red">*</span>
                            </label>
                            <ng-select [options]="allstates" name="state" notFoundMsg="State load depends on Country selection"
                              [(ngModel)]="state" formControlName="state" (selected)="selectedstate($event)"></ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1">City
                              <span class="red">*</span>
                            </label>
                            <ng-select [options]="allcities" name="city" notFoundMsg="City load depends on State selection"
                              [(ngModel)]="city" formControlName="city" (selected)="selectedcity($event)"></ng-select>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-3 col-md-3 m-b-10">
                        <div class="ocn-status">
                          <div class="form-group madeups ocn ">
                            <label for="exampleInputEmail1" class="extra-wid1">Pincode
                              <span class="red">*</span>
                            </label>
                            <input name="pincode" type="text" class="form-control" value="" [(ngModel)]="pincode"
                              formControlName="pincode" pKeyFilter="int" (keypress)="restricthypens($event)">
                          </div>
                        </div>
                      </div>
                      <hr class="clearfix">
                      <div id="showdetailtab">
                        <h4 class="m-b-10 text-left p-l-10">Invoice Address</h4>
                        <div id="showinvaddtab">
                          <div class="col-lg-3 col-sm-3 col-md-3">
                            <div class="ocn-status">
                              <div class="form-group madeups ocn ">
                                <label for="exampleInputEmail1" class="extra-wid1">Inv Address
                                  <span class="red">*</span>
                                </label>
                                <textarea name="invoice_address" type="text" class="form-control" value="" [(ngModel)]="invoice_address"
                                  formControlName="invoice_address"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-3 col-md-3 ">
                            <div class="ocn-status">
                              <div class="form-group madeups ocn ">
                                <label for="exampleInputEmail1" class="extra-wid1">Country
                                  <span class="red">*</span>
                                </label>
                                <ng-select [options]="allcountries" name="invcountry" [(ngModel)]="invcountry"
                                  formControlName="invcountry" (selected)="selectedInvcountry($event)"></ng-select>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-3 col-md-3">
                            <div class="ocn-status">
                              <div class="form-group madeups ocn ">
                                <label for="exampleInputEmail1">State
                                  <span class="red">*</span>
                                </label>
                                <ng-select [options]="allinvstates" name="invstate" [(ngModel)]="invstate" notFoundMsg="State load depends on Country selection"
                                  formControlName="invstate" (selected)="selectedinvstate($event)"></ng-select>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-3 col-md-3">
                            <div class="ocn-status">
                              <div class="form-group madeups ocn ">
                                <label for="exampleInputEmail1">City
                                  <span class="red">*</span>
                                </label>
                                <ng-select [options]="allinvcities" name="invcity" [(ngModel)]="invcity" notFoundMsg="City load depends on State selection"
                                  formControlName="invcity" (selected)="selectedInvcity($event)"></ng-select>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-3 col-md-3 m-b-10">
                            <div class="ocn-status">
                              <div class="form-group madeups ocn ">
                                <label for="exampleInputEmail1" class="extra-wid1">Pincode
                                  <span class="red">*</span>
                                </label>
                                <input name="invpincode" type="text" class="form-control" value="" [(ngModel)]="invpincode"
                                  formControlName="invpincode" pKeyFilter="pint" (keypress)="restricthypens($event)">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 clearfix">
                          <input type="checkbox" class="form-control left" [(ngModel)]="checkinv" [ngModelOptions]="{standalone: true}"
                            name="checkinv" value="" (change)="changeinvaddrs(checkinv)" style="width:10%" />
                          <span class="left padding-10">Same as Address</span>
                        </div>
                        <hr class="clearfix">
                        <h4 class="m-b-10 text-left p-l-10">Shipping Address</h4>
                        <div id="showshipaddtab">
                          <div class="col-lg-3 col-sm-3 col-md-3">
                            <div class="ocn-status">
                              <div class="form-group madeups ocn ">
                                <label for="exampleInputEmail1" class="extra-wid1">Ship Address
                                  <span class="red">*</span>
                                </label>
                                <textarea name="ship_address" type="text" class="form-control" value="" [(ngModel)]="ship_address"
                                  formControlName="ship_address"></textarea>
                                <!-- <input name="ship_address" type="text" class="form-control" value="" [(ngModel)]="ship_address" formControlName="ship_address"> -->
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-3 col-md-3">
                            <div class="ocn-status">
                              <div class="form-group madeups ocn ">
                                <label for="exampleInputEmail1" class="extra-wid1">Country
                                  <span class="red">*</span>
                                </label>
                                <ng-select [options]="allcountries" name="shipcountry" [(ngModel)]="shipcountry"
                                  formControlName="shipcountry" (selected)="selectedshipcountry($event)"></ng-select>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-3 col-md-3">
                            <div class="ocn-status">
                              <div class="form-group madeups ocn ">
                                <label for="exampleInputEmail1">State
                                  <span class="red">*</span>
                                </label>
                                <ng-select [options]="allshipstates" name="shipstate" [(ngModel)]="shipstate"
                                  notFoundMsg="State load depends on Country selection" formControlName="shipstate"
                                  (selected)="selectedshipstate($event)"></ng-select>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-3 col-md-3">
                            <div class="ocn-status">
                              <div class="form-group madeups ocn ">
                                <label for="exampleInputEmail1">City
                                  <span class="red">*</span>
                                </label>
                                <ng-select [options]="allshipcities" name="shipcity" [(ngModel)]="shipcity" notFoundMsg="City load depends on State selection"
                                  formControlName="shipcity" (selected)="selectedshipcities($event)"></ng-select>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-3 col-sm-3 col-md-3">
                            <div class="ocn-status">
                              <div class="form-group madeups ocn ">
                                <label for="exampleInputEmail1" class="extra-wid1">Pincode
                                  <span class="red">*</span>
                                </label>
                                <input name="shippincode" type="text" class="form-control" value="" [(ngModel)]="shippincode"
                                  formControlName="shippincode" pKeyFilter="pint" (keypress)="restricthypens($event)">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 clearfix">
                          <input type="checkbox" class="form-control left" [(ngModel)]="checkship" [ngModelOptions]="{standalone: true}"
                            name="checkship" value="" (change)="changeshipaddrs(checkship)" style="width:10%" />
                          <span class="left padding-10">Same as Address</span>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                        <button type="submit" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip"
                          data-placement="top" title="" data-original-title="Save">
                          <i class="fa fa-check"></i> {{buttonname}}</button>
                        <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light"
                          data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel">
                          <i class="fa fa-ban"></i> Cancel</button>
                      </div>
                    </div>
                  </section>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>