<ng-container *ngIf="company_Details">
  <ng-template #dash><strong style="font-size: 18px;">{{company_Details.company_name}}</strong></ng-template>
  <p *ngIf="urlfront[1] == 'viewproforma' || urlfront[1] == 'viewproformafinal' || urlfront[1] == 'viewpackinglist' || urlfront[1] == 'viewpackinglistfinal';else dash">{{company_Details.company_name}}</p>
  <p class="caps-pad m-b-0" style="text-transform : capitalize">
    <span>{{company_Details.address1}}</span>
  </p>
  <p class="caps-pad m-b-0" style="text-transform : capitalize">
    <span>{{company_Details.city}} - {{company_Details.pin_code}},
      {{company_Details.state}},{{company_Details.country}}</span>
  </p>
  <p class="caps-pad m-b-0" style="text-transform : capitalize">Telephone:
    <span>{{company_Details.telephone || '-'}}</span>, Email:
    <span style="text-transform : lowercase !important">{{company_Details.email}}</span>
  </p>
  <p class="caps-pad m-b-0" style="text-transform : capitalize">
    <span>CIN Number:{{company_Details.cin_no || '-'}} ,</span>
    <span>GSTIN Number:{{company_Details.gstin_no || '-'}} ,</span>
    <span class="clearfix">PAN Number:{{company_Details.pan_no || '-'}}</span>
  </p>
</ng-container>