<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/pendingplan']">Pending Plan</a>
              </li>
              <li class="active">Completed Plans</li>
            </ol>
            <h4 class="page-title">Completed Plans</h4>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#purchase" data-toggle="tab" aria-expanded="true">Purchase</a>
          </li>
          <li class="dis">
            <a href="#workorder" data-toggle="tab" aria-expanded="false">Work Order</a>
          </li>
          <!-- <li class="dis">
            <a href="#transfer" data-toggle="tab" aria-expanded="false">Transfer</a>
          </li> -->
        </ul>

        <div class="tab-content no-padding padding-pad ">
          <div class="chart tab-pane active" id="purchase">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section">
                  <div class="table-responsive">

                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th width="5%">
                            <input name="checked" type="checkbox" class="form-control" value="" [(ngModel)]="checkallitem"
                              (change)="checkall(checkallitem)" *ngIf="alloclist ?.length">
                          </th>
                          <th>S.NO</th>
                          <th>SC.NO</th>
                          <th>Part No</th>
                          <th>Part</th>
                          <th>Part Desc</th>
                          <th>UOM</th>
                          <th>Qty</th>
                          <th>Prod Confirm Date</th>
                          <th width="10%">Purchase Qty</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of alloclist; let row_no = index">
                          <td>
                            <input name="checked" type="checkbox" class="form-control" value="" [(ngModel)]="person.checked"
                              (change)="checkedlist(person.checked,person,row_no)">
                          </td>
                          <td>{{ row_no + 1 }}</td>
                          <td>{{person.sc_no}}</td>
                          <td class="text-left">
                            {{ person.part_no }}
                          </td>
                          <td class="text-left">{{person.part}}</td>
                          <td class="text-left">
                            {{ person.part_desc }}
                          </td>
                          <td class="text-left">{{ person.uom }}</td>
                          <td class="text-center">{{ person.qty }}</td>
                          <td class="text-left">{{ person.pconfirm_date }}</td>
                          <td class="text-center">{{person.purchase_qty + person.extra_purchase_qty}}</td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="col-lg-4 col-sm-4 col-md-4 pull-right m-t-20 m-b-20">
                      <button (click)="clearall()" class="btn btn-warning btn-custom waves-effect waves-light pull-right"
                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                        <i class="fa fa-paint-brush"></i> Clear All</button>
                      <button (click)="purchaseOrder()" class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5"
                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                        <i class="fa fa-shopping-cart"></i> Purchase</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chart tab-pane" id="workorder">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="ocn-section">
                  <div class="table-responsive">
                    <table class="row-border hover table table-striped table-bordered" *ngIf="workorderlist">
                      <thead>
                        <tr>
                          <th width="5%"></th>
                          <th>SC NO</th>
                          <th>Part No</th>
                          <th>Part</th>
                          <th width="20%">Part Desc</th>
                          <th>UOM</th>
                          <th>Qty</th>
                          <th>Prod Confirm Date</th>
                          <th width="10%">Allocation Qty</th>
                          <th width="10%">Work Type</th>
                          <th width="15%">Next Stage</th>
                          <th width="5%">Supplier</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let person of workorderlist; let row_no = index">
                          <td>
                            <input name="checkauthorize" type="checkbox" class="form-control" value="" [(ngModel)]="person.checkauthorize"
                              (change)="checkauthorized(person.checkauthorize,person,row_no)">
                          </td>
                          <td>{{person.sc_no}}</td>
                          <td class="text-left">
                            {{ person.part_no }}
                          </td>
                          <td class="text-left">{{person.part}}</td>
                          <td class="text-left">
                            {{ person.part_desc }}
                          </td>
                          <td class="text-left">{{ person.uom }}</td>
                          <td class="text-center">{{ person.qty }}</td>
                          <td class="text-left">{{ person.pconfirm_date }}</td>
                          <td class="text-center">{{ person.alloc_qty }}</td>
                          <td class="text-left">
                            <select class="form-control" class="form-control" [(ngModel)]="person.workorder_type"
                              [attr.title]="person.workorder_type">
                              <option *ngFor="let stat of worktype" [ngValue]="stat.name">{{stat.name}}</option>
                            </select>
                          </td>
                          <td>
                            <div [innerHtml]="person.stages" *ngIf="!person.nxtstage ?.length"></div>
                            <div class="left">
                              <ng2-completer *ngIf="person.nxtstage" [openOnClick]="true" [(ngModel)]="person.next_stage"
                                (selected)="selectedcontact($event,row_no)" name="contact" [datasource]="person.nxtstage"
                                [minSearchLength]="0" [attr.title]="person.next_stage"></ng2-completer>
                            </div>
                          </td>
                          <td class="text-center" width="15%">
                            <button class="btn btn-xs btn-primary" *ngIf="person.workorder_type == 'External' && !person.stages"
                              (click)="showsupplierpop(person,row_no)">
                              <i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </tr>

                        <tr *ngIf="!workorderlist?.length > 0">
                          <td colspan="12">No data</td>
                        </tr>
                      </tbody>
                    </table>

                    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons ">
                      <button (click)="saveOrder()" class="btn btn-success btn-custom waves-effect waves-light"
                        data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                        <i class="fa fa-check"></i>Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="chart tab-pane" id="transfer">
            <p>transfer</p>
          </div> -->
        </div>
      </div>

    </div>
  </div>
</div>

<app-slip-popup [(visible)]="showDialog">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-12 ocn-section">
        <h3 class="text-center">Supplier Details</h3>
        <div class="col-md-4 col-sm-6 col-xs-12 m-r-10 m-b-10">
          <span class="bold">Part No : </span>
          <span>{{part_no}}</span>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 m-b-10">
          <span class="bold">Req Quantity : </span>
          <span>{{reqQty}}</span>
        </div>
        <div class="clearfix table-responsive">
          <form [formGroup]="supplierForm">
            <table class="table table-striped table-bordered" formArrayName="itemPayRows">
              <thead>
                <tr>
                  <th width="10%" (click)="addNewpaymentRow()">
                    <i class="fa fa-plus"></i>
                  </th>
                  <th width="45%">Supplier</th>
                  <th width="45%">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of getSupplierform(supplierForm); let i=index" [formGroupName]="i">
                  <td>
                    <i class="md md-close" (click)="deletePayRow(i)" *ngIf="i!=0"></i>
                  </td>
                  <td>
                    <ng2-completer [openOnClick]="true" (selected)="selectedsupplier($event,i)" formControlName="supplier_name"
                      [datasource]="allcontacts" [minSearchLength]="0"></ng2-completer>
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="qty" name="qty" pKeyFilter="int"
                      (keypress)="restricthypens($event)" (keyup)="check(data,i)" />
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 pull-right ">
          <button class="btn btn-success btn-small waves-effect waves-light" (click)="allocate(lineindex)">
            <i class="fa fa-check"></i> Ok</button>
          <button class="btn btn-warning btn-small waves-effect waves-light" (click)="reset()">
            <i class="fa fa-times"></i> cancel</button>
        </div>
      </div>
    </div>
  </div>
</app-slip-popup>