<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/toolissuelist']">Tool Issue List</a>
              </li>
              <li class="active">Tool Issue</li>
            </ol>
            <h4 class="page-title">Tool Issue</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Supplier
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <ng2-completer [openOnClick]="true" [(ngModel)]="dc.supplier" name="supplier" [datasource]="alldcsuppliers"
                            [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">DC Type
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <select class="form-control" name="type" [(ngModel)]="dc.type">
                            <option *ngFor="let stat of dctype" [ngValue]="stat.name">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad"><!--p-date-invoice -->
                        <label for="exampleInputEmail1" class="lbl-wid">DC Date
                          <span class="red">*</span>
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="dc.dcdate" name="to"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Vehicle No
                          <span class="red">*</span>
                        </label>
                        <input type="text" class="form-control box-wid" [(ngModel)]="dc.vehicle_no" name="vehicle_no">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 form-buttons">
                    <button [routerLink]="['/toolissuelist']" class="btn btn-warning btn-custom waves-effect waves-light pull-right " data-toggle="tooltip"
                      data-placement="top" title="" data-original-title="Authorise">
                      <i class="fa fa-close m-r-5"></i>Cancel</button>
                    <button (click)="createdc()" class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" data-toggle="tooltip"
                      data-placement="top" title="" data-original-title="Authorise">
                      <i class="fa fa-check m-r-5"></i>Create</button>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <div class="nav-tabs-custom">
          <div class="box-body mar-btm">
            <div class="ocn-section">
              <div class="table-responsive">
                <form [formGroup]="toolform">
                  <table class="table table-striped table-bordered" formArrayName="itemRows">
                    <thead>
                      <tr>
                        <th width="1%" (click)="addNewRow()">
                          <i class="fa fa-plus"></i>
                        </th>
                        <th width="4%">Tool No</th>
                        <th width="3%">Tool</th>
                        <th width="3%">Tool Desc</th>
                        <th width="2%">Avail Qty</th>
                        <th width="2%">DC Qty</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="!gettoolform(toolform) ?.length">
                        <td colspan="11">No data</td>
                      </tr>
                      <tr *ngFor="let itemrow of gettoolform(toolform); let i=index" [formGroupName]="i">
                        <td>
                          <i class="md md-close" (click)="deleteRow(i)"></i>
                        </td>
                        <td>
                          <input type="hidden" class="form-control" formControlName="id" />
                          <ng2-completer [openOnClick]="true" formControlName="tool_no" (selected)="selectedline($event,i)" [datasource]="allitems"
                            [minSearchLength]="0" [attr.title]="toolform.value.itemRows[i].tool_no"></ng2-completer>
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="tool_name" [readonly]="true" [attr.title]="toolform.value.itemRows[i].tool_name" [attr.title]="toolform.value.itemRows[i].tool_name"/>
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="tool_desc" [readonly]="true" [attr.title]="toolform.value.itemRows[i].tool_desc"/>
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="tool_qty" [readonly]="true" [attr.title]="toolform.value.itemRows[i].tool_qty"/>
                        </td>
                        <td>
                          <input type="text" class="form-control" formControlName="dc_qty" pKeyFilter="int" (keypress)="restricthypens($event)" (keyup)="checkqty(i)"
                          [attr.title]="toolform.value.itemRows[i].dc_qty" />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>