<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Stores</a>
              </li>
              <li class="active">Disposal List</li>
            </ol>
            <h4 class="page-title">Disposal List</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn p-date-invoice">
                        <label for="exampleInputEmail1">From
                        </label>
                        <div class="input-group" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from" name="from"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn p-date-invoice">
                        <label for="exampleInputEmail1">To
                        </label>
                        <div class="input-group" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" [routerLink]="['/stockdisposal']">
                      <i class="fa fa-plus"></i> Stock Disposal </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>GRN NO</th>
                    <th>Department</th>
                    <th>Part No</th>
                    <th>Part</th>
                    <th>Part Desc</th>
                    <th>UOM</th>
                    <th>Disposal Qty</th>
                    <th>Disposal Reason</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of persons; let row_no = index">
                    <td>
                      {{ row_no + 1 }}
                    </td>
                    <td>{{person.grn_no}}</td>
                    <td class="text-left">
                      {{person.dept }}
                    </td>
                    <td class="text-left">
                      {{person.item_code}}
                    </td>
                    <td>{{person.part}}</td>
                    <td>
                      {{person.item_desc}}
                    </td>
                    <td>
                      {{person.uom}}
                    </td>
                    <td class="text-center">
                      {{person.scrap_qty}}
                    </td>
                    <td>
                      {{person.disposal_reason || '-'}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-allocpop [(visible)]="showDialog" *ngIf="showDialog">
  <app-comparision-view [enqid]="enqid" (close)="close()"></app-comparision-view>
</app-allocpop>