<!-- ============================================================== -->
<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <!-- <img src="assets/images/gifs/loader.gif" style="margin:2% 21%" /> -->
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Sales</a>
                            </li>
                            <li class="active">Search SC</li>
                        </ol>
                        <h4 class="page-title">Search SC
                        </h4>
                    </div>
                </div>
            </div>

            <div class="nav-tabs-custom">
                <div class="box-body mar-btm">
                    <div class="ocn-section">
                        <div class="col-sm-12">
                            <div class="col-lg-4 col-sm-4 col-md-4 m-t-10 m-b-10">
                                <div class="ocn-status">
                                    <div class="form-group madeups ocn ">
                                        <label>SC Status
                                            <span class="red">*</span>
                                        </label>
                                        <select class="form-control" id="scstat" name="scorder" [(ngModel)]="scorder" (change)="getscstatdtl(scorder)">
                                            <!-- <option [ngValue]="-1" disabled selected>Select order</option> -->
                                            <option *ngFor="let stat of scstatus" [ngValue]="stat.value">{{stat.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-3 col-sm-3 col-md-3 m-t-10">
                                <button class="btn btn-primary" (click)="getscstatdtl(scorder)">
                                    <i class="fa fa-search" aria-hidden="true"></i> Search</button>
                            </div> -->
                        </div>
                        <hr class="clearfix">
                        <div class="col-lg-12 col-sm-12 col-md-12">
                            <div class="table-responsive">
                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.NO</th>
                                            <th>SC No</th>
                                            <th>Customer name</th>
                                            <th>PO No</th>
                                            <th>Shipment Date</th>
                                            <th>Status</th>
                                            <th>Work Order</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let person of persons; let row_no = index">
                                            <td>
                                                {{ row_no + 1 }}
                                            </td>
                                            <td class="text-left">
                                                <a href="javascript:void(0)" [routerLink]="['/viewsavedsc',person.id]">{{
                                                    person.sc_no }}</a>
                                            </td>
                                            <td class="text-left">
                                                {{ person.supplier.supplier_name }}
                                            </td>
                                            <td>{{ person.po_no }}</td>
                                            <td>{{ person.shipment_date }}</td>
                                            <td *ngIf="person.is_saved == 0" class="text-center">
                                                <i class="fa fa-check" aria-hidden="true" style="color:green;margin-right: 5px;"></i>Completed
                                            </td>
                                            <td *ngIf="person.is_saved == 1" class="text-center">
                                                <i class="fa fa-times" aria-hidden="true" style="color:red;margin-right: 5px;"></i>In-Progress
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-xs btn-default" [routerLink]="['/viewscauthorization',person.id]"
                                                    *ngIf="person.is_saved == 0">
                                                    <i class="fa fa-eye"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="tab-content no-padding padding-pad">
                    <div class="chart tab-pane active" id="sclist">
                        <div class="nav-tabs-custom">
                            <div class="box-body mar-btm">
                               
                            </div>
                        </div>
                    </div>
                    <div class="chart tab-pane" id="scdetails">
                        <div class="row">
                            <app-add-edit-salesorder *ngIf="showtab" [orderdetail]="orderdetail" (notifyfunction)="notifyfunction($event)"></app-add-edit-salesorder>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>