<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Stores</a>
              </li>
              <li class="active">Request Entry</li>
            </ol>
            <h4 class="page-title">Request Entry</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Department
                            <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <ng2-completer [openOnClick]="true"  [(ngModel)]="re.dpt" name="contact" [datasource]="alldpt" [minSearchLength]="0"></ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Req No
                            <span class="red">*</span>
                        </label>
                        <input type="text" class="form-control box-wid" [(ngModel)]="re.reqno" />
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad"> <!--p-date-invoice-->
                        <label for="exampleInputEmail1" class="lbl-wid">Request On
                            <span class="red">*</span>
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()" ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="re.on" name="from"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Request Date
                            <span class="red">*</span>
                        </label>
                        <div class="input-group box-wid">
                          <input type="text" class="form-control" [(ngModel)]="re.date" [readOnly]="true" style="width:100% !important" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-3 col-sm-3 col-md-3 form-buttons">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="getPOlist()">
                      <i class="md md-search"></i> Search </button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive th-center">
              <form [formGroup]="reqentryForm">
                <table class="table table-striped table-bordered" formArrayName="itemRows">
                  <thead>
                    <tr>
                      <th width="1%" (click)="addNewRow()" rowspan="2">
                        <i class="fa fa-plus"></i>
                      </th>
                      <th width="4%" rowspan="2">Part No</th>
                      <th width="4%" rowspan="2">Part</th>
                      <th width="3%" rowspan="2">Part Desc</th>
                      <th width="2%" rowspan="2">UOM</th>
                      <th width="3%" colspan="2">Stock Qty</th>
                      <th width="4%" rowspan="2">Req Qty</th>
                      <th width="3%" rowspan="2">Cost Center</th>
                      <th width="3%" rowspan="2">Finance Code</th>
                      <th width="3%" rowspan="2">Remarks</th>
                    </tr>
                    <tr>
                      <th>Open Qty</th>
                      <th>Reserved Qty</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr [hidden]="nodata">
                      <td colspan="11">No data</td>
                    </tr>
                    <tr *ngFor="let itemrow of getreqentryForm(reqentryForm); let i=index" [formGroupName]="i">
                      <td>
                        <i class="md md-close" (click)="deleteRow(i)" *ngIf="i!=0"></i>
                      </td>
                      <td>
                        <input type="hidden" class="form-control" formControlName="id" />
                        <ng2-completer [openOnClick]="true" formControlName="part_no" name="part_no" (selected)="selectedline($event,i,'item')" [datasource]="items"
                          [minSearchLength]="0" [attr.title]="reqentryForm.value.itemRows[i].part_no"></ng2-completer>
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="part" [readonly]="true" [attr.title]="reqentryForm.value.itemRows[i].part"/>
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="partdesc" [readonly]="true" [attr.title]="reqentryForm.value.itemRows[i].partdesc"/>
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="uom" [readonly]="true" [attr.title]="reqentryForm.value.itemRows[i].uom"/>
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="stockqty" [readonly]="true" [attr.title]="reqentryForm.value.itemRows[i].stockqty"/>
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="alrecqty" [readonly]="true" [attr.title]="reqentryForm.value.itemRows[i].alrecqty"/>
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="reqqty" [readonly]="false" (keyup)="calculatetotal(itemrow.value,i)"
                          pKeyFilter="int" (keypress)="restricthypens($event)" [attr.title]="reqentryForm.value.itemRows[i].reqqty"/>
                      </td>
                      <td>
                        <ng2-completer [openOnClick]="true" formControlName="costcenter" name="costcenter" (selected)="selectedline($event,i,'cc')"
                          [datasource]="allcostcenter" [minSearchLength]="0" [attr.title]="reqentryForm.value.itemRows[i].costcenter"></ng2-completer>
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="fincode" [readonly]="true" [attr.title]="reqentryForm.value.itemRows[i].fincode"/>
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="remarks" [readonly]="false" [attr.title]="reqentryForm.value.itemRows[i].remarks"/>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3 form-buttons m-b-20">
              <button class="btn btn-warning btn-custom waves-effect waves-light pull-right m-r-5" (click)="resetform()">
                <i class="md md-close"></i> Clear </button>
              <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" (click)="saveentry()">
                <i class="md md-check"></i> Save </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>