<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Stores</a>
              </li>
              <li class="active">Reject Invoice</li>
            </ol>
            <h4 class="page-title">Reject Invoice</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <!-- <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn p-date-invoice">
                        <label for="exampleInputEmail1">From
                        </label>
                        <div class="input-group" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()" ngx-mydatepicker name="startDate" [options]="myOptions"
                            #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from" name="from" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn p-date-invoice">
                        <label for="exampleInputEmail1">To
                        </label>
                        <div class="input-group" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()" ngx-mydatepicker name="startDate" [options]="myOptions"
                            #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="getrejinvlist()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>GRN No</th>
                    <th width="9%">Rej Type</th>
                    <th>Rej Date</th>
                    <th>Supplier</th>
                    <th>Part No</th>
                    <th width="15%">Part</th>
                    <th width="12%">Part Desc</th>
                    <th width="6%">Qty</th>
                    <th>PO/DC Value</th>
                    <th width="5%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of persons; let row_no = index">
                    <td>
                      {{ row_no + 1 }}
                    </td>
                    <td class="text-left">
                      {{person.grn_no }}
                    </td>
                    <td>
                      {{person.rej_type}}
                    </td>
                    <td>
                      {{person.rej_date}}
                    </td>
                    <td>
                      {{person.supplier}}
                    </td>
                    <td>
                      {{person.part_no}}
                    </td>
                    <td>
                      {{person.part}}
                    </td>
                    <td>
                      {{person.part_desc}}
                    </td>
                    <td class="text-center">
                      {{person.rej_qty}}
                    </td>
                    <td class="text-center">
                      {{person.total_claim_value | number }}
                    </td>
                    <td class="text-center">
                      <input name="checkauthorize" type="checkbox" class="form-control" value="" [(ngModel)]="person.checkauthorize"
                        (change)="checkauthorized(person.checkauthorize,person,row_no)">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
              <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" (click)="AuthorizeRejInvoice()">
                <i class="fa fa-check"></i> Authorize </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>