<div class="col-md-12 overlay" *ngIf="show_loader">
  <div class="loader loaderpos">
    <div class="loader-inner ball-scale-multiple">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div class="box-body mar-btm">
  <div class="ocn-section ocn-section-wid">
    <div class="col-lg-3 col-sm-3 col-md-3">
      <div class="ocn-status">
        <div class="form-group madeups ocn field-pad">
          <label for="exampleInputEmail1" class="lbl-wid">Bin No
          </label>
          <div class="left box-wid">
            <ng2-completer [openOnClick]="true" [(ngModel)]="filter.bin" name="bin" [datasource]="activebins"
              [minSearchLength]="0" (selected)="selectedbin($event)"></ng2-completer>
          </div>
        </div>
      </div>
    </div>

    <div class="table-responsive clear-fix col-md-12 col-sm-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
        <thead>
          <tr>
            <th rowspan="2">S.NO</th>
            <th rowspan="2">Part No</th>
            <th rowspan="2">Part</th>
            <th rowspan="2">Part Desc</th>
            <th rowspan="2">UOM</th>
            <th rowspan="2">Bin</th>
            <th rowspan="2">rack</th>
            <th rowspan="2">location</th>
            <th colspan="4" style="text-align:center;">Qty</th>
          </tr>
          <tr>
            <th>Reserved</th>
            <th>Open</th>
            <th>Rejected</th>
            <th>Rework</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of persons; let row_no = index">
            <td>
              {{ row_no + 1 }}
            </td>
            <td class="text-left">
              {{ person.item_no }}
            </td>
            <td class="text-left">
              {{ person.part }}
            </td>
            <td class="text-left">
              {{ person.part_desc }}
            </td>
            <td>{{ person.uom }}</td>
            <td>{{ bindetails.bin_name }}</td>
            <td>{{ bindetails.rack.rack_name }}</td>
            <td>{{ bindetails.location.location_name }}</td>
            <td class="text-right view-center">
              <span *ngIf="person.res_qty !=0;else dash">{{person.res_qty}}</span>
            </td>
            <td>
              <span *ngIf="person.open_qty !=0;else dash">{{person.open_qty}}</span>
            </td>
            <td>
              <span *ngIf="person.rej_qty !=0;else dash">{{person.rej_qty}}</span>
            </td>
            <td>
              <span *ngIf="person.rework_qty !=0;else dash">{{person.rework_qty}}</span>
            </td>
          </tr>
        </tbody>

        <ng-template #dash>-</ng-template>
      </table>
    </div>
  </div>
</div>