<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Purchase</a>
              </li>
              <li class="active">Indent Authorization</li>
            </ol>
            <h4 class="page-title">Indent Authorization</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->

      <div class="col-lg-12 col-sm-12 col-md-12 m-b-10">
        <button (click)="authorizelist()" class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" data-toggle="tooltip"
          data-placement="top" title="" data-original-title="Authorise">
          <i class="fa fa-check"></i> Authorise</button>
      </div>
      <div class="box-body mar-btm">
        <div class="col-sm-12 ocn-section">
          <div class="table-responsive">
            <table class="row-border hover table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="5%">S.NO</th>
                  <th width="10%">Indent No</th>
                  <th width="10%">Indent date</th>
                  <th width="5%">Department</th>
                  <th width="5%">Part No</th>
                  <th width="5%">Part</th>
                  <th width="5%">Part Desc</th>
                  <th width="5%">Uom</th>
                  <th width="5%">Qty</th>
                  <th width="10%">Crct.Qty</th>
                  <th width="10%">Category</th>
                  <th width="10%">Remarks</th>
                  <th width="3%">Rmrks</th>
                  <th width="2%">Attachments</th>
                  <th width="5%">
                    <span class="clearfix">App</span>
                    <input name="checkapp" type="checkbox" value="" [(ngModel)]="checkallapp" (change)="checkallapplist(checkallapp)" *ngIf="!nodata">
                  </th>
                  <th width="5%">
                    <span class="clearfix">Rej</span>
                    <input name="checkrej" type="checkbox" value="" [(ngModel)]="checkallrej" (change)="checkallrejlist(checkallrej)" *ngIf="!nodata">
                  </th>
                  <th width="5%">
                    <span class="clearfix">Disc</span>
                    <input name="checkdisc" type="checkbox" value="" [(ngModel)]="checkalldisc" (change)="checkalldisclist(checkalldisc)" *ngIf="!nodata">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of authlist; let i = index" [ngClass]="{'bg-discuss':person.authorized_sts === 3}">
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td class="text-left">
                    {{ person.pindent.indent_no }}
                  </td>
                  <td class="text-left">
                    {{ person.pindent.indent_date }}
                  </td>
                  <td class="text-left">
                    <span *ngIf="person.pindent.dept != null"> {{ person.pindent.dept.department_name}} </span>
                    <span *ngIf="person.pindent.dept == null"> {{ "-"}} </span>
                  </td>
                  <td>{{ person.part_no }}</td>
                  <td>{{person.part}}</td>
                  <td>{{ person.part_desc }}</td>
                  <td>{{ person.uom }}</td>
                  <td>{{ person.quantity }}</td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="person.crt_quantity" name="PQty" (keypress)="restricthypens($event)"
                      pKeyFilter="int" [attr.title]="person.crt_quantity"/>
                  </td>
                  <td>
                    <select class="form-control" class="form-control" [(ngModel)]="person.category" name="category" [attr.title]="person.category">
                      <option [ngValue]="0" disabled selected>Select Type</option>
                      <option *ngFor="let stat of categoryarray" [ngValue]="stat.name">{{stat.name}}</option>
                    </select>
                  </td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="person.remarks" name="remarks" [attr.title]="person.remarks"/>
                  </td>
                  <td class="text-right view-center">
                    <span>
                      <i class="fa fa-commenting" aria-hidden="true" (click)="getremarks(person)"></i>
                    </span>
                  </td>
                  <td class="text-right view-center">
                    <span>
                      <i class="fa fa-paperclip" aria-hidden="true" (click)="getfiles(person)"></i>
                    </span>
                  </td>
                  <td>
                    <input type="checkbox" name="approve" [(ngModel)]="person.approve" (change)="checkapp(person.approve,person,i)">
                  </td>
                  <td>
                    <input type="checkbox" name="reject" [(ngModel)]="person.reject" (change)="checkrej(person.reject,person,i)">
                  </td>
                  <td>
                    <input type="checkbox" name="discussion" [(ngModel)]="person.discussion" (change)="checkdisc(person.discussion,person,i)">
                  </td>
                </tr>
                <tr>
                  <td colspan="16" *ngIf="nodata">
                    <span>No data found</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-slip-popup [(visible)]="showRemDialog" *ngIf="remarks">
    <h3 class="text-center">Remarks</h3>
    <strong class="left">Indent No : </strong>
    <p class="col-sm-6">{{remarks.indent_no}}</p>
    <table class="clearfix" width=100%>
      <tbody>
        <tr>
          <td width=70%>
            <strong>Additional Specification (Will appears in PO)</strong>
          </td>
          <td width=30%>
            <strong>{{remarks.add_spec_remarks || "-" }}</strong>
          </td>
        </tr>
        <tr>
          <td width=70%>
            <strong>Internal Remarks (Will not appear in PO) </strong>
          </td>
          <td width=30%>
            <strong>{{remarks.internal_remarks || "-" }}</strong>
          </td>
        </tr>
        <tr>
          <td width=70%>
            <strong>Purpose</strong>
          </td>
          <td width=30%>
            <strong>{{remarks.purpose_remarks || "-" }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="col-lg-12 col-sm-12 col-md-12 form-buttons pull-right">
      <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
        <i class="fa fa-times"></i> close</button>
    </div>
  </app-slip-popup>

  <app-sc-detail-popup [(visible)]="showDialog" *ngIf="files">
    <h3 class="text-center">Attachments</h3>
    <!-- <strong class="left">Indent No : </strong>
    <p class="col-sm-6">{{indentdtls.intent_no}}</p> -->
    <div class="col-sm-12 ocn-section">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="1%">S.No</th>
              <th width="4%">File name</th>
              <th width="2%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of files; let i=index">
              <td>{{i+1}}</td>
              <td>
                {{data.filename}}
              </td>
              <td class="text-center">
                <i class="fa fa-download" aria-hidden="true" (click)="downloadfile(data)"></i>
              </td>
            </tr>
            <tr *ngIf="nofiles">
              <td colspan="3">No files found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-sc-detail-popup>
</div>