<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Stores</a>
              </li>
              <li class="active">Request Authorization</li>
            </ol>
            <h4 class="page-title">Request Authorization</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad"> <!--p-date-invoice-->
                        <label for="exampleInputEmail1" class="lbl-wid">From
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="fm.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myOptions" #fm="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.from" name="from"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="fm.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad date-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">To
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" (click)="to.toggleCalendar()"  ngx-mydatepicker name="startDate"
                            [options]="myOptions" #to="ngx-mydatepicker" [readOnly]="true" [(ngModel)]="filter.to" name="to"
                          />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="to.clearDate()">
                            <i class="glyphicon glyphicon-remove"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Status
                        </label>
                        <div class="input-group box-wid">
                          <select class="form-control" class="form-control" [(ngModel)]="filter.status">
                            <option *ngFor="let stat of indentstatus" [ngValue]="stat.value">{{stat.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="getlist()">
                      <i class="md md-search"></i> Search </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th width="3%">S.NO</th>
                    <th>SC NO</th>
                    <th>Req No</th>
                    <th width="9%">Req Date</th>
                    <!-- <th>Dpt</th> -->
                    <th>Part NO</th>
                    <th>Part</th>
                    <th>Part Desc</th>
                    <th>UOM</th>
                    <th>Cost Center</th>
                    <th>Fin Code</th>
                    <th>Req Qty</th>
                    <th width="6%">Crct Qty</th>
                    <th width="8%">Remarks</th>
                    <th width="5%">
                      <span class="clearfix">App</span>
                      <input name="checkapp" type="checkbox" value="" [(ngModel)]="checkallapp" (change)="checkallapplist(checkallapp)" *ngIf="!nodata">
                    </th>
                    <th width="5%">
                      <span class="clearfix">Rej</span>
                      <input name="checkrej" type="checkbox" value="" [(ngModel)]="checkallrej" (change)="checkallrejlist(checkallrej)" *ngIf="!nodata">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of authlist; let row_no = index">
                    <td>
                      {{ row_no + 1 }}
                    </td>
                    <td>{{person.sc_no}}</td>
                    <td class="text-left">
                      {{person.request_no }}
                    </td>
                    <td class="text-left">
                      {{person.request_date}}
                    </td>
                    <!-- <td class="text-left">
                      {{person.dept}}
                    </td> -->
                    <td>
                      {{person.item_code}}
                    </td>
                    <td>{{person.part}}</td>
                    <td>
                      {{person.item_desc}}
                    </td>
                    <td class="text-left">
                      {{person.uom}}
                    </td>
                    <td class="text-left">
                      {{person.cost_center}}
                    </td>
                    <td class="text-left">
                      {{person.finance_code}}
                    </td>
                    <td class="text-left">
                      {{person.req_qty}}
                    </td>
                    <td class="text-left">
                      <input type="text" class="form-control" [(ngModel)]="person.crt_qty" [attr.title]="person.crt_qty"/>
                    </td>
                    <td class="text-left">
                      <input type="text" class="form-control" [(ngModel)]="person.remarks" [attr.title]="person.remarks"/>
                    </td>
                    <td class="text-center">
                      <input type="checkbox" name="approve" [(ngModel)]="person.approve" (change)="checkapp(person.approve,person,row_no)" >
                    </td>
                    <td class="text-left">
                      <input type="checkbox" name="reject" [(ngModel)]="person.reject" (change)="checkrej(person.reject,person,row_no)">
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3 pull-right m-b-20" *ngIf="show_btns">
              <button class="btn btn-warning btn-custom waves-effect waves-light pull-right m-r-5" (click)="getlist()">
                <i class="fa fa-close"></i> Clear all </button>
              <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" (click)="authorizelist()">
                <i class="fa fa-check"></i> Save </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-allocpop [(visible)]="showDialog" *ngIf="showDialog">
  <app-comparision-view [enqid]="enqid" (close)="close()"></app-comparision-view>
</app-allocpop>