<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a [routerLink]="['/indentpending']">Pending Indents</a>
                            </li>
                            <li class="active">Quotation </li>
                        </ol>
                        <h4 class="page-title">Quotation
                        </h4>
                    </div>
                </div>
            </div>
            <!-- Start row -->
            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body">
                        <div class="portlet-heading">
                            <div class="oc-ftm-container">
                                <div class="row">
                                    <form [formGroup]="quotationform">
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Enquiry No
                                                        <span class="red">*</span>
                                                    </label>
                                                    <input name="enquiryno" type="text" class="form-control" value=""
                                                        formControlName="enquiryno" [(ngModel)]="quote.enquiryno"
                                                        [readOnly]="true">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Supplier
                                                        <span class="red">*</span>
                                                    </label>
                                                    <div class="left">
                                                        <ng2-completer [openOnClick]="true" formControlName="part_no"
                                                            (selected)="selectedsupplier($event)" [datasource]="supplierlist"
                                                            [minSearchLength]="0" [(ngModel)]="quote.supplier"
                                                            formControlName="supplier"></ng2-completer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputName2">Price Basis
                                                        <span class="red">*</span>
                                                    </label>
                                                    <div class="left">
                                                        <ng2-completer [openOnClick]="true" formControlName="pricebasis"
                                                            [(ngModel)]="quote.pricebasis" [datasource]="allpricebasis"
                                                            [minSearchLength]="0"></ng2-completer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Warranty
                                                    </label>
                                                    <input name="warantty" type="text" class="form-control" value=""
                                                        formControlName="warantty" [(ngModel)]="quote.warantty">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Freight
                                                        <span class="red">*</span>
                                                    </label>
                                                    <!-- <ng2-completer [openOnClick]="true" formControlName="freight" (selected)="selectedline($event,i)" [(ngModel)]="quote.freight" [datasource]="allfreights" [minSearchLength]="0"></ng2-completer> -->
                                                    <select class="form-control" class="form-control" formControlName="freight"
                                                        [(ngModel)]="quote.freight">
                                                        <!-- <option [ngValue]="0" disabled selected>Select Type</option> -->
                                                        <option *ngFor="let stat of freightarray" [ngValue]="stat.name">{{stat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Dispatch Mode
                                                        <span class="red">*</span>
                                                    </label>
                                                    <select class="form-control" class="form-control" formControlName="dispatchmode"
                                                        [(ngModel)]="quote.dispatchmode">
                                                        <!-- <option [ngValue]="0" disabled selected>Select Type</option> -->
                                                        <option *ngFor="let stat of modeofdispatch" [ngValue]="stat.name">{{stat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Validity
                                                        <span class="red">*</span>
                                                    </label>
                                                    <div class="input-group" style="float:left;">
                                                        <input class="form-control full-width" ngx-mydatepicker name="deldate"
                                                            formControlName="validity" [(ngModel)]="quote.validity"
                                                            [options]="myOptions" #dd="ngx-mydatepicker" [readonly]="true"
                                                            [(ngModel)]="quote.deldate" name="shipdate" />
                                                        <span class="input-group-addon bg-primary b-0 text-white"
                                                            (click)="dd.toggleCalendar()">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Shelf life time
                                                    </label>
                                                    <input name="selflifetime" type="text" class="form-control" value=""
                                                        formControlName="selflifetime" [(ngModel)]="quote.selflifetime">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Qtn Ref No
                                                        <span class="red">*</span>
                                                    </label>
                                                    <input name="qtnrefno" type="text" class="form-control" value=""
                                                        formControlName="qtnrefno" [(ngModel)]="quote.qtnrefno">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Qtn Ref Date
                                                        <span class="red">*</span>
                                                    </label>
                                                    <div class="input-group" style="float:left;">
                                                        <input class="form-control full-width" ngx-mydatepicker name="qtnrefdt"
                                                            formControlName="qtnrefdt" [(ngModel)]="quote.qtnrefdt"
                                                            [options]="myOptions" #qd="ngx-mydatepicker" [readonly]="true"
                                                            [(ngModel)]="quote.deldate" name="shipdate" />
                                                        <span class="input-group-addon bg-primary b-0 text-white"
                                                            (click)="qd.toggleCalendar()">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Anexure
                                                    </label>
                                                    <input name="anexure" type="text" class="form-control" value=""
                                                        formControlName="anexure" [(ngModel)]="quote.anexure">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Attachment
                                                    </label>
                                                    <div class="fileupload btn btn-purple waves-effect waves-light left"
                                                        style="top : 0 !important;padding: 3px 7px !important">
                                                        <i class="md md-file-upload"></i>
                                                        <input type="file" class="upload" id="avatar" style="width: 100%;height: 100%"
                                                            (change)="onFileChange($event)" #fileInput>
                                                    </div>
                                                    <input type="text" class="form-control left" formControlName="attchment"
                                                        [(ngModel)]="quote.attchment" [readonly]="true" />
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="col-lg-12" style="padding:0">
                <div class="nav-tabs-custom">
                    <div class="box-body mar-btm">
                        <div class="ocn-section">
                            <div class="table-responsive">
                                <table class="row-border hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.NO</th>
                                            <th>Item No</th>
                                            <th>Item Desc</th>
                                            <!-- <th>HSN</th> -->
                                            <th>UOM</th>
                                            <th>Req Qty</th>
                                            <th width="5%">Rate/Qty</th>
                                            <th width="10%">Discount</th>
                                            <th width="10%">P&F</th>
                                            <!-- <th>CGST</th>
                                            <th>SGST</th>
                                            <th>IGST</th> -->
                                            <th width="5%">Item Cost</th>
                                            <th width="5%">Amount</th>
                                            <!-- <th>Buy Back</th> -->
                                            <th width="10%">Del Date</th>
                                            <th width="5%">SPl.Instruction</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let person of quotationdetails; let i = index">
                                            <td>{{ i + 1 }}</td>
                                            <td>{{ person.item_code }}</td>
                                            <td>{{ person.item_desc }}</td>
                                            <!-- <td>
                                                <ng2-completer [openOnClick]="true"  [(ngModel)]="person.hsn" name="hsn" (selected)="selectedhsn($event,i)"
                                                    [datasource]="allhsn" [minSearchLength]="0"></ng2-completer>
                                            </td> -->
                                            <td>{{person.uom}}</td>
                                            <td style="text-align:center !important">{{person.req_qty}}</td>
                                            <td>
                                                <input type="text" class="form-control" [(ngModel)]="person.rate" name="rate"
                                                    pKeyFilter="num" (keypress)="decimalnumber($event)" />
                                            </td>
                                            <td>
                                                <input type="text" class="form-control left m-r-5" [(ngModel)]="person.discount"
                                                    name="discount" style="width:47%" (keyup)="checkdisc(i)" />
                                                <select class="form-control" class="form-control" [(ngModel)]="person.discount_type"
                                                    name="discount_type" style="width:47%">
                                                    <option value="%">%</option>
                                                    <option value="Rs">Rs</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control left m-r-5" [(ngModel)]="person.pf"
                                                    name="pf" style="width:47%" />
                                                <select class="form-control" [(ngModel)]="person.pf_type" name="pf_type"
                                                    style="width:47%">
                                                    <option value="%">%</option>
                                                    <option value="Rs">Rs</option>
                                                </select>
                                            </td>
                                            <!-- <td>{{person.cgst}}</td>
                                            <td>{{person.sgst}}</td>
                                            <td>{{person.igst}}</td> -->
                                            <td style="text-align:right !important">{{calcitemcost(i)}}</td>
                                            <td style="text-align:right !important">{{calcsubtotal(i)}}</td>
                                            <td>{{person.delivery_date}}</td>
                                            <td>
                                                <input type="text" class="form-control" [(ngModel)]="person.spl_inst"
                                                    name="spl_inst" />
                                            </td>
                                        </tr>
                                        <tr class="cs">
                                            <td colspan="5">
                                                <span class="pull-right bold">TOTAL</span>
                                            </td>
                                            <td class="text-right">
                                                <b>{{calctrate()}}</b>
                                            </td>
                                            <td class="text-right">
                                                <b> {{calctdisc()}}</b>
                                            </td>
                                            <td class="text-right">
                                                <b>{{calctpf()}}</b>
                                            </td>
                                            <td></td>
                                            <td class="text-right">
                                                <b> {{calctotal()}}</b>
                                            </td>
                                            <td colspan="2"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                                    <!-- <button (click)="savequotation('1','save')" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                                        <i class="fa fa-check"></i> Save</button> -->
                                    <button *ngIf="quoted" (click)="savequotation('1','save')" class="btn btn-success btn-custom waves-effect waves-light">
                                        <i class="fa fa-check"></i> Save</button>
                                    <button *ngIf="quoted" (click)="savequotation('2','submit')" class="btn btn-primary btn-custom waves-effect waves-light">
                                        <i class="fa fa-mail-forward"></i> Submit</button>
                                    <button [routerLink]="['/indentpending']" class="btn btn-danger btn-custom waves-effect waves-light">
                                        <i class="fa fa-close"></i> Cancel</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>