<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a [routerLink]="['/indentpending']">Pending Indents</a>
                            </li>
                            <li class="active">Quotation Comparision </li>
                        </ol>
                        <h4 class="page-title">Quotation Comparision</h4>
                    </div>
                </div>
            </div>

            <div class="box-body mar-btm">
                <div class="ocn-section col-sm-12">
                    <div class="row">
                        <div class="table-responsive">

                            <div class="col-sm-6 pull-right m-b-10">
                                <div class="col-sm-3 padding-0 pull-right">
                                    <span class="box-selected"></span>
                                    <span class="m-l-5"> Selected </span>
                                </div>
                                <div class="col-sm-3 padding-0 pull-right">
                                    <span class="box-lowest"></span>
                                    <span class="m-l-5"> Lowest </span>
                                </div>
                            </div>

                            <table class="row-border hover table table-striped table-bordered" *ngIf="quotationdetails && totals">
                                <thead>
                                    <tr>
                                        <th width="3%"></th>
                                        <th>S.No</th>
                                        <th>Part No</th>
                                        <th>Part Desc</th>
                                        <th>UOM</th>
                                        <th>Req Qty</th>
                                        <th *ngFor="let data of quotationdetails[0].sdview">
                                            {{data.supplier}}
                                        </th>
                                        <!-- <th>Del Date</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let datas of quotationdetails; let i = index">
                                        <td>
                                            <input name="checkauthorize" type="checkbox" class="form-control" value=""
                                                [(ngModel)]="datas.check" (change)="checkauthorized(datas.check,datas,i)"
                                                *ngIf="datas.is_po_created != 1">
                                        </td>
                                        <td>
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{datas.part_no}}
                                        </td>
                                        <td>
                                            {{datas.part_desc}}
                                        </td>
                                        <td>
                                            {{datas.uom}}
                                        </td>
                                        <td>
                                            {{datas.req_qty}}
                                        </td>
                                        <td *ngFor="let child of datas.sdview; let ind=index" (click)="selectedcost(datas,child,ind)"
                                            style="cursor: pointer" [ngClass]="{'bg-quoted':child.selected == true, 'bg-pending' : child.is_lowest == 1} ">
                                            <span>
                                                <b>Rate :</b>{{child.rate | number}}</span>
                                            <span class="clearfix">
                                                <b>LC :</b> {{child.landing_cost | number}}</span>
                                        </td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td colspan="6"></td>
                                        <!-- <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td> -->
                                        <td *ngFor="let child of totals"></td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="bold">
                                            Rate
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td *ngFor="let child of totals">
                                            {{child.amount | number}}
                                        </td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="bold">
                                            Discount
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td *ngFor="let child of totals">
                                            {{child.discount | number}}
                                        </td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <!-- <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="bold">
                                            CGST
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td *ngFor="let child of totals">
                                            {{child.cgst | number}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="bold">
                                            SGST
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td *ngFor="let child of totals">
                                            {{child.sgst | number}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="bold">
                                            IGST
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td *ngFor="let child of totals">
                                            {{child.igst | number}}
                                        </td>
                                    </tr> -->
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="bold">
                                            PF
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td *ngFor="let child of totals">
                                            {{child.pf | number}}
                                        </td>
                                        <!-- <td></td> -->
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="bold">
                                            Landing Cost
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td *ngFor="let child of totals">
                                            {{child.landing_cost | number}}
                                        </td>
                                        <!-- <td></td> -->
                                    </tr>
                                </tbody>
                            </table>

                            <hr class="clearfix">

                            <div class="col-lg-8 ocn-section">
                                <div class="table-responsive ">
                                    <form [formGroup]="paymentForm">
                                        <table class="table table-striped table-bordered" formArrayName="itemPayRows">
                                            <thead>
                                                <tr>
                                                    <th width="3%" (click)="addNewpaymentRow()">
                                                        <i class="fa fa-plus"></i>
                                                    </th>
                                                    <th width="3%">S.No</th>
                                                    <th width="5%">Payment Type</th>
                                                    <th width="5%">Payment Terms</th>
                                                    <th width="5%">Payment(%)</th>
                                                    <th width="5%">Credit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let itemrow of getpaymentform(paymentForm); let i=index"
                                                    [formGroupName]="i">
                                                    <td>
                                                        <i class="md md-close" (click)="deletePayRow(i)" *ngIf="i!=0"></i>
                                                    </td>
                                                    <td>{{i+1}}</td>
                                                    <td>
                                                        <select name="sctype" class="form-control" formControlName="paymenttype"
                                                            (change)="paytypeselected(paymentForm.controls.itemPayRows.value[i].paymenttype,i)">
                                                            <option *ngFor="let stat of Paytype" [ngValue]="stat.name">{{stat.name}}</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <ng2-completer *ngIf="paymentForm.controls.itemPayRows.value[i].paymenttype == 'LC' "
                                                            [openOnClick]="true" formControlName="paymentterm"
                                                            [datasource]="paytermsLC" [minSearchLength]="0"></ng2-completer>

                                                        <ng2-completer *ngIf="paymentForm.controls.itemPayRows.value[i].paymenttype == 'NONLC' "
                                                            [openOnClick]="true" formControlName="paymentterm"
                                                            [datasource]="payterms" [minSearchLength]="0"></ng2-completer>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="paymentpercentage"
                                                            (keyup)="clacPercentage(index)" (keypress)="restricthypens($event)"
                                                            pKeyFilter="int" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="credit" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-4 col-md-4 m-t-20 m-b-20" style="min-height:200px;border:1px solid #dadada;padding:10px">
                                <div class="ocn-status upload-ocn">
                                    <div class="form-group madeups ocn ">
                                        <label for="exampleInputName2" class="extra-wid">Attach File
                                        </label>
                                        <div class="fileupload btn btn-purple waves-effect waves-light left clearfix"
                                            style="top : 0 !important;padding: 3px 7px !important">
                                            <i class="md md-file-upload"></i>
                                            <input type="file" multiple class="upload" id="avatar" style="width: 100%;height: 100%"
                                                (change)="onFileChange($event)" #fileInput>
                                        </div>
                                        <div class="col-sm-12">
                                            <li *ngFor="let itemrow of filelist; let i=index">
                                                <span>{{itemrow.name}}
                                                    <a (click)="clearfile(itemrow,i)">
                                                        <i class="fa fa-trash"></i>
                                                    </a>
                                                </span>
                                            </li>
                                        </div>
                                        <button class="btn btn-primary m-t-10 left" *ngIf="filelist.length !=0" (click)="clearallfile()">Clear
                                            all</button>
                                    </div>
                                </div>
                            </div>

                            <hr class="clearfix">

                            <div class="col-sm-12 m-t-20">
                                <div class="row">
                                    <form [formGroup]="compareform">
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Freight
                                                        <span class="red">*</span>
                                                    </label>
                                                    <!-- <ng2-completer [openOnClick]="true" formControlName="freight" (selected)="selectedline($event,i)" [(ngModel)]="comp.freight" [datasource]="allfreights" [minSearchLength]="0"></ng2-completer> -->
                                                    <select class="form-control" class="form-control" formControlName="freight"
                                                        [(ngModel)]="comp.freight">
                                                        <!-- <option [ngValue]="0" disabled selected>Select Type</option> -->
                                                        <option *ngFor="let stat of freightarray" [ngValue]="stat.name">{{stat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Dispatch Mode
                                                        <span class="red">*</span>
                                                    </label>
                                                    <input type="text" class="form-control" value="" formControlName="dispatchmode" [(ngModel)]="comp.dispatchmode" />
                                                    <!-- <select class="form-control" class="form-control" formControlName="dispatchmode"
                                                        [(ngModel)]="comp.dispatchmode">
                                                        <option *ngFor="let stat of modeofdispatch" [ngValue]="stat.name">{{stat.name}}</option>
                                                    </select> -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputName2">Price Basis
                                                        <span class="red">*</span>
                                                    </label>
                                                    <div class="left">
                                                        <ng2-completer [openOnClick]="true" formControlName="pricebasis" [(ngModel)]="comp.pricebasis" [datasource]="allpricebasis"
                                                            [minSearchLength]="0"></ng2-completer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">EPCG Applicable
                                                        <span class="red">*</span>
                                                    </label>
                                                    <select name="epcg" class="form-control" formControlName="epcg" [(ngModel)]="comp.epcg">
                                                        <option *ngFor="let stat of yesorno" [ngValue]="stat.name">{{stat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">License No
                                                    </label>
                                                    <input name="license" type="text" class="form-control" value="" formControlName="license" [(ngModel)]="comp.license">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Destination
                                                        <span class="red">*</span>
                                                    </label>
                                                    <input name="destination" type="text" class="form-control" value="" formControlName="destination" [(ngModel)]="comp.destination">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Freight Amount
                                                    </label>
                                                    <input name="freightamnt" type="text" class="form-control" value="" formControlName="freightamnt" [(ngModel)]="comp.freightamnt">
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">GST Amount
                                                    </label>
                                                    <input name="gstamnt" type="text" class="form-control" value=""
                                                        formControlName="gstamnt" [(ngModel)]="comp.gstamnt">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Packing & Forwarding
                                                    </label>
                                                    <input name="packingfrwding" type="text" class="form-control" value=""
                                                        formControlName="packingfrwding" [(ngModel)]="comp.packingfrwding">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Special Instruction
                                                    </label>
                                                    <textarea name="spclinst" type="text" class="form-control" value=""
                                                        formControlName="spclinst" [(ngModel)]="comp.spclinst" style="width:52% !important">
                                                        </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-sm-4 col-md-4">
                                            <div class="ocn-status">
                                                <div class="form-group madeups ocn ">
                                                    <label for="exampleInputEmail1">Additional Instruction
                                                    </label>
                                                    <textarea name="addinst" type="text" class="form-control" value=""
                                                        formControlName="addinst" [(ngModel)]="comp.addinst" style="width:52% !important"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>


                            <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
                                <button class="btn btn-success btn-small waves-effect waves-light" (click)="createpo()">
                                    <i class="fa fa-plus"></i> Create PO</button>
                                <button class="btn btn-warning btn-small waves-effect waves-light" [routerLink]="['/indentpending']">
                                    <i class="fa fa-chevron-left"></i> Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>