<div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
<div class="nav-tabs-custom">
  <div class="box-body mar-btm">
    <div class="ocn-section">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
          <thead>
            <tr>
              <th>S.NO</th>
              <th>Series</th>
              <th>Class</th>
              <th>Opening Balance</th>
              <th>Opening Value</th>
              <th>Receipts Qty</th>
              <th>Receipts Value</th>
              <th>Issues Qty</th>
              <th>Issues Value</th>
              <th>Closing Balance</th>
              <th>Closing Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let person of class; let row_no = index">
              <td>
                {{ row_no + 1 }}
              </td>
              <td class="text-left">
                {{ person.series }}
              </td>
              <td class="text-left">
                <a (click)="openitem(person)">{{ person.cls }}</a>
              </td>
              <td style="text-align:center !important">
                {{ person.opening_balanace }}
              </td>
              <td style="text-align:right !important">
                {{ person.opening_balanace_value | number}}
              </td>
              <td style="text-align:center !important">
                {{ person.receipts }}
              </td>
              <td style="text-align:right !important">
                {{ person.receipts_value | number}}
              </td>
              <td style="text-align:center !important">
                {{ person.issues }}
              </td>
              <td style="text-align:right !important">
                {{ person.issues_value | number}}
              </td>
              <td style="text-align:center !important">
                {{ person.closing_balanace }}
              </td>
              <td style="text-align:right !important">
                {{ person.closing_balanace_value | number}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>