<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/deliverychallan']">DC List</a>
              </li>
              <li class="active">DC Items</li>
            </ol>
            <h4 class="page-title">DC Items</h4>
          </div>
        </div>
      </div>

      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container">
                <div class="row">
                  <div class="col-lg-3 col-sm-3 col-md-3 pull-right">
                    <button [routerLink]="['/deliverychallan']" class="btn btn-primary btn-custom waves-effect waves-light pull-right " data-toggle="tooltip"
                      data-placement="top" title="" data-original-title="Authorise">
                      <i class="fa fa-chevron-left m-r-5"></i>Back</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive">
              <table class="row-border hover table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>S.NO</th>
                    <th>Part No</th>
                    <th>Part</th>
                    <th>Part Desc</th>
                    <th>Uom</th>
                    <th>Qty</th>
                    <th>Nxt Stg Part No</th>
                    <th>Supplier</th>
                    <th>Location</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of loclist; let i = index">
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td class="text-left">
                      {{ person.item_no }}
                    </td>
                    <td class="text-left">
                      {{ person.part }}
                    </td>
                    <td class="text-left">
                      {{ person.item_desc }}
                    </td>
                    <td class="text-left">
                      {{ person.uom }}
                    </td>
                    <td class="text-left">
                      {{ person.qty }}
                    </td>
                    <td>{{person.next_stage_part_no}}</td>
                    <td>{{dcdtls.supplier}}</td>
                    <td class="text-right view-center">
                      <button class="btn btn-xs btn-primary" (click)="viewLocation(person,i)">
                        <i class="fa fa-map-marker"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-slip-popup [(visible)]="showDialog">
  <div class="col-sm-12">
    <div class="row" *ngIf="locations">
      <div class="col-sm-12 ocn-section">
        <h3 class="text-center">Stock Details</h3>
        <!-- <span class="bold col-sm-6 col-md-3 col-lg-3 col-xs-12">Item Code : {{persons[index].item_no || '-'}}</span>
        <span class="bold col-sm-6 col-md-3 col-lg-3 col-xs-12">Item Desc : {{persons[index].item_desc || '-'}}</span>
        <span class="bold col-sm-6 col-md-3 col-lg-3 col-xs-12">Res Qty : {{persons[index].supplier_qty}}</span> -->
        <div class="table-responsive clearfix">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th width="2%">S.No</th>
                <th width="3%">Location</th>
                <th width="4%">Rack</th>
                <th width="4%">Bin</th>
                <th width="3%">Reserved Qty</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!loclist ?.length">
                <td colspan="5">No data</td>
              </tr>
              <tr *ngFor="let itemrow of locations; let i=index">
                <td>{{i+1}}</td>
                <td>{{itemrow.location}}</td>
                <td>{{itemrow.rack_name}}</td>
                <td>{{itemrow.bin_name}}</td>
                <td>{{itemrow.qty}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
          <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="close(index)">
            <i class="fa fa-check"></i> OK</button>
        </div>
      </div>
    </div>
  </div>
</app-slip-popup>