<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <!-- <img src="assets/images/gifs/loader.gif" style="margin:2% 21%" /> -->
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Sales</a>
                            </li>
                            <li class="active">Product Confirmation</li>
                        </ol>
                        <h4 class="page-title">Product Confirmation
                        </h4>
                    </div>
                </div>
            </div>

            <div class="nav-tabs-custom">
                <!-- Tabs within a box -->
                <ul class="nav nav-tabs pull-left trims">
                    <li class="active dis">
                        <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
                    </li>
                    <li class="dis" *ngIf="showtab">
                        <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
                    </li>
                    <!--<span class="trim-count"><strong>Trims Count:</strong> <span class="h-lit">40</span></span>-->
                </ul>

                <div class="tab-content no-padding padding-pad">
                    <div class="chart tab-pane active" id="tplan">
                        <div class="nav-tabs-custom">
                            <div class="box-body mar-btm">
                                <div class="ocn-section">
                                    <div class="table-responsive">
                                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>S.NO</th>
                                                    <th>SC No</th>
                                                    <th>Customer name</th>
                                                    <th>PO No</th>
                                                    <th>Shipment Date</th>
                                                    <!-- <th>Attachment</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let person of persons; let row_no = index">
                                                    <td>
                                                        {{ row_no + 1 }}
                                                    </td>
                                                    <td class="text-left">
                                                        <a href="javascript:void(0)" (click)="getorderdetails(person.id)">{{
                                                            person.sc_no }}</a>
                                                    </td>
                                                    <td class="text-left">
                                                        {{ person.supplier.supplier_name }}
                                                    </td>
                                                    <td class="text-left">{{ person.po_no }}</td>
                                                    <td>{{ person.shipment_date }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="chart tab-pane" id="trim-vs-articles">
                        <div class="row">

                            <div class="col-sm-12 ocn-section">
                                <div class="table-responsive">

                                    <form [formGroup]="orderForm">
                                        <table class="table table-striped table-bordered" formArrayName="itemRows">
                                            <thead>
                                                <tr>
                                                    <!-- <th width="1%" (click)="addNewRow()">
                            <i class="fa fa-plus"></i>
                          </th> -->
                                                    <th width="1%">S.No</th>
                                                    <th width="3%">Line</th>
                                                    <th width="3%">Part No</th>
                                                    <th width="4%">Part</th>
                                                    <th width="4%">Part Desc</th>
                                                    <th width="4%">Material</th>
                                                    <th width="1%">Rev</th>
                                                    <th width="3%">Drawing</th>
                                                    <th width="1%">Rev</th>
                                                    <th width="2%">UOM</th>
                                                    <th width="2%">Qty</th>
                                                    <th width="2%">Stk Qty</th>
                                                    <th width="5%">Ship-date</th>
                                                    <th width="4%">Prod confirm_date</th>
                                                    <th width="3%">Remarks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr [hidden]="nodata">
                                                    <td colspan="14">No data</td>
                                                </tr>
                                                <tr *ngFor="let itemrow of getorderform(orderForm); let i=index"
                                                    [formGroupName]="i">
                                                    <td>{{i+1}}</td>
                                                    <td>
                                                        <input type="hidden" class="form-control" formControlName="id" />
                                                        <input type="hidden" class="form-control" formControlName="partid" />
                                                        <input type="hidden" class="form-control" formControlName="sales_order_id" />
                                                        <input type="hidden" class="form-control" formControlName="part_type" />
                                                        <input type="text" class="form-control" formControlName="line"
                                                            [readonly]="true" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="part_no"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].part_no" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="part"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].part" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="partdesc"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].partdesc" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="material"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].material" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="materialrev"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].materialrev" />
                                                        <input type="hidden" class="form-control" formControlName="component" />
                                                        <input type="hidden" class="form-control" formControlName="scno" />
                                                        <input type="hidden" class="form-control" formControlName="component_desc" />
                                                        <input type="hidden" class="form-control" formControlName="squantity" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="drawing"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].drawing" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="rev"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].rev" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="uom"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].uom" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="Qty"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].Qty" />
                                                        <input type="hidden" class="form-control" formControlName="Price"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].Price" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="stckqty"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].stckqty" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="shipDate"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].shipDate" />
                                                        <!-- <input (click)="td.toggleCalendar()" class="form-control full-width" formControlName="shipDate" placeholder="Select date"
                                                            ngx-mydatepicker name="shipmentDate" [options]="myOptions" #td="ngx-mydatepicker"
                                                            [readonly]="true" /> -->
                                                    </td>
                                                    <td>
                                                        <input (click)="pd.toggleCalendar()" class="form-control full-width"
                                                            formControlName="prodDate" ngx-mydatepicker name="prodDate"
                                                            [options]="myTabOption" #pd="ngx-mydatepicker" [readonly]="true"
                                                            [attr.title]="orderForm.value.itemRows[i].prodDate ?.formatted" />
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" formControlName="Remarks"
                                                            [readonly]="true" [attr.title]="orderForm.value.itemRows[i].Remarks" />
                                                        <input type="hidden" class="form-control" formControlName="crt_dt" />
                                                        <input type="hidden" class="form-control" formControlName="modi_dt" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons">
                            <button (click)="saveOrder()" class="btn btn-success btn-custom waves-effect waves-light"
                                data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                                <i class="fa fa-check"></i> Save</button>
                            <button (click)="cancel()" class="btn btn-danger btn-custom waves-effect waves-light"
                                data-toggle="tooltip" data-placement="top" title="" data-original-title="Submit">
                                <i class="fa fa-times"></i> Cancel</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end container -->
</div>
<!-- end content -->
<!-- ============================================================== -->
<!-- End Right content here -->