<!-- ========== Left Sidebar Start ========== -->
<div>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul id="menu">
                    <li [routerLinkActive]="['active']">
                        <a [routerLink]="['/dashboard']" class="waves-effect waves-primary">
                            <i class="md md-dashboard"></i>
                            <span> Dashboard </span>
                        </a>
                    </li>
                    <li class="has_sub" *ngxPermissionsOnly="['Admin']">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="md md-palette"></i>
                            <span> Admin </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled sub-menu">
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Login Creation']">
                                <a [routerLink]="['/logincreation']">
                                    <i class="fa fa-angle-double-right "></i>Login Creation</a>
                            </li>
                            <!-- <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Approve Settings']">
                                <a [routerLink]="['/approvesettings']">
                                    <i class="fa fa-angle-double-right "></i>Approve Settings</a>
                            </li> -->
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Roles']">
                                <a [routerLink]="['/roles']">
                                    <i class="fa fa-angle-double-right "></i>Roles</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Role Page Association']">
                                <a [routerLink]="['/rolespageassociation']">
                                    <i class="fa fa-angle-double-right "></i>Role Page Association</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_sub" *ngxPermissionsOnly="['Master']">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="md md-invert-colors-on"></i>
                            <span> Master</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Supplier/Customer']">
                                <a [routerLink]="['/supplier']">
                                    <i class="fa fa-angle-double-right "></i>Supplier/Customer</a>
                            </li>
                            <!-- <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Supplier/Customer Approval']">
                                <a [routerLink]="['/supplierapproval']">
                                    <i class="fa fa-angle-double-right "></i>Supplier/Customer Approval</a>
                            </li> -->
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Port']">
                                <a [routerLink]="['/port']">
                                    <i class="fa fa-angle-double-right "></i>Port</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Payment Terms']">
                                <a [routerLink]="['/paymentterms']">
                                    <i class="fa fa-angle-double-right "></i>Payment Terms</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Delivery Terms']">
                                <a [routerLink]="['/deliveryterms']">
                                    <i class="fa fa-angle-double-right "></i>Delivery Terms</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Departments']">
                                <a [routerLink]="['/departments']">
                                    <i class="fa fa-angle-double-right "></i>Departments</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Location']">
                                <a [routerLink]="['/location']">
                                    <i class="fa fa-angle-double-right "></i>Location </a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Rack']">
                                <a [routerLink]="['/rack']">
                                    <i class="fa fa-angle-double-right "></i>Rack</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Unit']">
                                <a [routerLink]="['/unit']">
                                    <i class="fa fa-angle-double-right "></i>Unit</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Bin']">
                                <a [routerLink]="['/bin']">
                                    <i class="fa fa-angle-double-right "></i>Bin</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Country']">
                                <a [routerLink]="['/country']">
                                    <i class="fa fa-angle-double-right "></i>Country</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['State']">
                                <a [routerLink]="['/state']">
                                    <i class="fa fa-angle-double-right "></i>State</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['City']">
                                <a [routerLink]="['/city']">
                                    <i class="fa fa-angle-double-right "></i>City</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['HSN']">
                                <a [routerLink]="['/hsn']">
                                    <i class="fa fa-angle-double-right "></i>HSN</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Tools']">
                                <a [routerLink]="['/tools']">
                                    <i class="fa fa-angle-double-right "></i>Tools</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Selling Cost']">
                                <a [routerLink]="['/sellingcost']">
                                    <i class="fa fa-angle-double-right "></i>Selling Cost</a>
                            </li>
                            <li class="has_sub" *ngxPermissionsOnly="['Item Master']">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-angle-double-right "></i>Item Master
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="list-unstyled">
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Item']">
                                        <a [routerLink]="['/item']">
                                            <i class="fa fa-angle-double-right "></i>Item</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Series']">
                                        <a [routerLink]="['/itemseries']">
                                            <i class="fa fa-angle-double-right "></i>Series</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Class']">
                                        <a [routerLink]="['/itemclass']">
                                            <i class="fa fa-angle-double-right "></i>Class</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Item Stage Mapping']">
                                        <a [routerLink]="['/itemstagemapping']">
                                            <i class="fa fa-angle-double-right "></i>Item Stage Mapping</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Item-Supplier Mapping']">
                                        <a [routerLink]="['/itemsupplier']">
                                            <i class="fa fa-angle-double-right "></i>Item & Supplier Mapping</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Item']">
                                        <a [routerLink]="['/productvalue']">
                                            <i class="fa fa-angle-double-right "></i>Product Value</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Valve']">
                                        <a [routerLink]="['/valve']">
                                            <i class="fa fa-angle-double-right "></i>Valve</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Stage']">
                                        <a [routerLink]="['/stage']">
                                            <i class="fa fa-angle-double-right "></i>Stage</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Type']">
                                        <a [routerLink]="['/type']">
                                            <i class="fa fa-angle-double-right "></i>Type</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['UOM']">
                                        <a [routerLink]="['/uom']">
                                            <i class="fa fa-angle-double-right "></i>UOM</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Material']">
                                        <a [routerLink]="['/material']">
                                            <i class="fa fa-angle-double-right "></i>Material</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Process']">
                                        <a [routerLink]="['/process']">
                                            <i class="fa fa-angle-double-right "></i>Process</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has_sub" *ngxPermissionsOnly="['Sales']">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="md md-work"></i>
                            <span> Sales</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Sales Order']">
                                <a [routerLink]="['/salesorder']">
                                    <i class="fa fa-angle-double-right "></i>Sales Contract</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Saved SC']">
                                <a [routerLink]="['/savedsalesorder']">
                                    <i class="fa fa-angle-double-right "></i>Search SC</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Product Confirmation']">
                                <a [routerLink]="['/productconfirmation']">
                                    <i class="fa fa-angle-double-right "></i>Production Confirmation</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Sales Authorization']">
                                <a [routerLink]="['/salesauthorization']">
                                    <i class="fa fa-angle-double-right "></i>SC Authorization</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Sales Contract']">
                                <a [routerLink]="['/salescontract']">
                                    <i class="fa fa-angle-double-right "></i>SC Generation</a>
                            </li>
                            <!-- <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Cancel SC']">
                                <a [routerLink]="['/cancelsc']">
                                    <i class="fa fa-angle-double-right "></i>Cancel SC</a>
                            </li> -->
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Cancel Confirmation']">
                                <a [routerLink]="['/cancelconfirmation']">
                                    <i class="fa fa-angle-double-right "></i>Cancel Confirmation</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_sub" *ngxPermissionsOnly="['Planning']">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="md md-restore"></i>
                            <span> Planning</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Pending Planning']">
                                <a [routerLink]="['/pendingplan']">
                                    <i class="fa fa-angle-double-right "></i>Pending Planning</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Pending Allocation']">
                                <a [routerLink]="['/pendingallocation']">
                                    <i class="fa fa-angle-double-right "></i>Pending Allocation</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Completed Planning']">
                                <a [routerLink]="['/completedplans']">
                                    <i class="fa fa-angle-double-right "></i>Completed Planning</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Allocation Cancel']">
                                <a [routerLink]="['/allocationcancel']">
                                    <i class="fa fa-angle-double-right "></i>Allocation Cancel</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Plan Cancel']">
                                <a [routerLink]="['/plancancel']">
                                    <i class="fa fa-angle-double-right "></i>Plan Cancel</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_sub" *ngxPermissionsOnly="['Purchase']">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="md md-redeem"></i>
                            <span> Purchase</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Masters']">
                                <a href="javascript:void(0);" class="waves-effect waves-primary">
                                    <i class="fa fa-angle-double-right "></i>
                                    <span> Masters</span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="list-unstyled">
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Price Basis']">
                                        <a [routerLink]="['/pricebasis']">
                                            <i class="fa fa-angle-double-right "></i>Price Basis</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Cost Center']">
                                        <a [routerLink]="['/costcenter']">
                                            <i class="fa fa-angle-double-right "></i>Cost Center</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Freight Charge']">
                                        <a [routerLink]="['/fireghtcharge']">
                                            <i class="fa fa-angle-double-right "></i>Freight Charge</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['C&FCharge']">
                                        <a [routerLink]="['/CandFcharge']">
                                            <i class="fa fa-angle-double-right "></i>C&FCharge</a>
                                    </li>
                                    <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Tariff']">
                                        <a [routerLink]="['/tariff']">
                                            <i class="fa fa-angle-double-right "></i>Tariff</a>
                                    </li>
                                </ul>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Purchase Indent']">
                                <a [routerLink]="['/indentlist']">
                                    <i class="fa fa-angle-double-right "></i>Purchase Indent</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Indent Authorization']">
                                <a [routerLink]="['/indentauthorize']">
                                    <i class="fa fa-angle-double-right "></i>Indent Authorization</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Indent Cancel']">
                                <a [routerLink]="['/indentcancel']">
                                    <i class="fa fa-angle-double-right "></i>Indent Cancel</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Indent Cancel Authorization']">
                                <a [routerLink]="['/indentcancelauth']">
                                    <i class="fa fa-angle-double-right "></i>Indent Cancel Authorization</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Pending Indent']">
                                <a [routerLink]="['/indentpending']">
                                    <i class="fa fa-angle-double-right "></i>Pending Indent</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Purchase Order']">
                                <a [routerLink]="['/posearch']">
                                    <i class="fa fa-angle-double-right "></i>Purchase Order</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Purchase Authorization']">
                                <a [routerLink]="['/poauth']">
                                    <i class="fa fa-angle-double-right "></i>Purchase Authorization</a>
                            </li>
                            <!-- <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['MD PO Approval']">
                                <a [routerLink]="['/mdpoapproval']">
                                    <i class="fa fa-angle-double-right "></i>MD PO Approval</a>
                            </li> -->
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['PO Confirmation']">
                                <a [routerLink]="['/poconfirmation']">
                                    <i class="fa fa-angle-double-right "></i>PO Confirmation</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['PO Amendment']">
                                <a [routerLink]="['/poamendment']">
                                    <i class="fa fa-angle-double-right "></i>PO Amendment</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['PO Cancel']">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-angle-double-right "></i>PO Cancel</a>
                            </li>

                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Super Admin']">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-angle-double-right "></i>Proforma Invoice</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Super Admin']">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-angle-double-right "></i>PO Short Close</a>
                            </li>
                        </ul>
                    </li>

                    <!-- <li class="has_sub" *ngxPermissionsOnly="['Assembly']">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="fa fa-puzzle-piece"></i>
                            <span> Assembly</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Assembly Search']">
                                <a [routerLink]="['/assemblylist']">
                                    <i class="fa fa-angle-double-right "></i>Assembly List</a>
                            </li>
                        </ul>
                    </li> -->

                    <li class="has_sub" *ngxPermissionsOnly="['Production']">
                        <a href="javascript:void(0)" class="waves-effect waves-primary">
                            <i class="md md-shopping-basket"></i>
                            <span> Production</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Stock Entry']">
                                <a [routerLink]="['/productionentry']">
                                    <i class="fa fa-angle-double-right "></i>Production Entry</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Stock Order']">
                                <a [routerLink]="['/stockorder']">
                                    <i class="fa fa-angle-double-right "></i>Stock Order</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Inventory']">
                                <a [routerLink]="['/stockadjustment']">
                                    <i class="fa fa-angle-double-right "></i>Stock Adjustment</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Job Card']">
                                <a [routerLink]="['/jobcard']">
                                    <i class="fa fa-angle-double-right "></i>Job Card</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Production Stock']">
                                <a [routerLink]="['/productionstock']">
                                    <i class="fa fa-angle-double-right "></i>Production Stock</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Assembly Search']">
                                <a [routerLink]="['/assemblysearch']">
                                    <i class="fa fa-angle-double-right "></i>Assembly Search</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_sub" *ngxPermissionsOnly="['Stores']">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="md md-receipt"></i>
                            <span> Stores</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Packing slip']">
                                <a [routerLink]="['/packingslip']">
                                    <i class="fa fa-angle-double-right "></i>Packing slip</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Delivery Challan']">
                                <a [routerLink]="['/deliverychallan']">
                                    <i class="fa fa-angle-double-right "></i>Delivery Challan</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Sales DC']">
                                <a [routerLink]="['/salesdc']">
                                    <i class="fa fa-angle-double-right "></i>Sales DC</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['GRN Entry']">
                                <a [routerLink]="['/grn']">
                                    <i class="fa fa-angle-double-right "></i>GRN Entry</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['GRN Authorization']">
                                <a [routerLink]="['/qualitycontrol']">
                                    <i class="fa fa-angle-double-right "></i>Quality Control</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['GRN Location']">
                                <a [routerLink]="['/grnlocation']">
                                    <i class="fa fa-angle-double-right "></i>GRN Location</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Request Entry']">
                                <a [routerLink]="['/requestentry']">
                                    <i class="fa fa-angle-double-right "></i>Request Entry</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Request Authorization']">
                                <a [routerLink]="['/requestauthorization']">
                                    <i class="fa fa-angle-double-right "></i>Request Authorization</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Issue']">
                                <a [routerLink]="['/issuelist']">
                                    <i class="fa fa-angle-double-right "></i>Issue </a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Issue Return']">
                                <a [routerLink]="['/issuereturn']">
                                    <i class="fa fa-angle-double-right "></i>Issue Return</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Tool Issue']">
                                <a [routerLink]="['/toolissuelist']">
                                    <i class="fa fa-angle-double-right "></i>Tool Issue</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Stock Disposal']">
                                <a [routerLink]="['/disposals']">
                                    <i class="fa fa-angle-double-right "></i>Stock Disposal</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Reject Invoice']">
                                <a [routerLink]="['/rejectinvoice']">
                                    <i class="fa fa-angle-double-right "></i>Reject Invoice</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Stores Job Card']">
                                <a [routerLink]="['/storesjobcard']">
                                    <i class="fa fa-angle-double-right "></i>Job Card</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_sub" *ngxPermissionsOnly="['Logistics']">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="md md-now-widgets"></i>
                            <span> Logistics</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Proforma Invoice']">
                                <a [routerLink]="['/proformaInvoicelist']">
                                    <i class="fa fa-angle-double-right "></i>Proforma Invoice</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Post Invoice']">
                                <a [routerLink]="['/postInvoiceList']">
                                    <i class="fa fa-angle-double-right "></i>Post Invoice</a>
                            </li>
                            <!-- <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['A.R.E']">
                                <a [routerLink]="['/areform']">
                                    <i class="fa fa-angle-double-right "></i>A.R.E</a>
                            </li> -->
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Super Admin']">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-angle-double-right "></i>C & F</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Super Admin']">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-angle-double-right "></i>Freight</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Super Admin']">
                                <a href="javascript:void(0);">
                                    <i class="fa fa-angle-double-right "></i>Invoice Search</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has_sub" [routerLinkActive]="['active']" *ngxPermissionsOnly="['Reports']">
                        <a href="javascript:void(0);" class="waves-effect waves-primary">
                            <i class="md md-report"></i>
                            <span> Reports</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="list-unstyled">
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Stock Ledger']">
                                <a [routerLink]="['/stockledger']">
                                    <i class="fa fa-angle-double-right "></i>Stock Ledger</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Stock Report']">
                                <a [routerLink]="['/stockreport']">
                                    <i class="fa fa-angle-double-right "></i>Stock Report</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Stock Series']">
                                <a [routerLink]="['/stockseries']">
                                    <i class="fa fa-angle-double-right "></i>Stock Series</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['DC']">
                                <a [routerLink]="['/dcreport']">
                                    <i class="fa fa-angle-double-right "></i>Delivery Challan</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Pending DC']">
                                <a [routerLink]="['/pendingdc']">
                                    <i class="fa fa-angle-double-right "></i>Pending DC</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['PO']">
                                <a [routerLink]="['/poreport']">
                                    <i class="fa fa-angle-double-right "></i>Purchase Order</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['PO']">
                                <a [routerLink]="['/povalue']">
                                    <i class="fa fa-angle-double-right "></i>PO Value</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Sales Report']">
                                <a [routerLink]="['/salesreport']">
                                    <i class="fa fa-angle-double-right "></i>Sales Order</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Rejection']">
                                <a [routerLink]="['/rejectreport']">
                                    <i class="fa fa-angle-double-right "></i>Rejection</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Disposal/Scrap']">
                                <a [routerLink]="['/disposalreport']">
                                    <i class="fa fa-angle-double-right "></i>Disposal/Scrap</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Tools Report']">
                                <a [routerLink]="['/toolreport']">
                                    <i class="fa fa-angle-double-right "></i>Tools</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Locate stock']">
                                <a [routerLink]="['/itemlocationreport']">
                                    <i class="fa fa-angle-double-right "></i>Locate stock</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Grn Report']">
                                <a [routerLink]="['/grnreport']">
                                    <i class="fa fa-angle-double-right "></i>Grn Report</a>
                            </li>
                            <li [routerLinkActive]="['active']" *ngxPermissionsOnly="['Invoice Report']">
                                    <a [routerLink]="['/invoicereport']">
                                        <i class="fa fa-angle-double-right "></i>Invoice Report</a>
                                </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>


<!-- <div>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div id="sidebar-menu">
                <ul id="menu">
                    <li class="has_sub" *ngFor="let menu of samplemenu">
                        <a class="waves-effect waves-primary">
                            <i class={{menu.icon}}></i>
                            <span>{{menu.name}} </span>
                            <span class="menu-arrow" *ngIf="menu.child != null"></span>
                        </a>
                        <ul class="list-unstyled sub-menu" *ngIf="menu.child != null">
                            <li [routerLinkActive]="['active']" *ngFor="let child of menu.child">
                                <a [routerLink]="[child.url]" *ngIf="child.child == null">
                                    <i class="fa fa-angle-double-right "></i>{{child.name}}</a>
                            </li>
                            <li class="has_sub" *ngFor="let child of menu.child">
                                <a class="waves-effect waves-primary" *ngIf="child.child != null">
                                    <i class="fa fa-angle-double-right "></i>
                                    <span>{{child.name}} </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="list-unstyled sub-menu">
                                    <li [routerLinkActive]="['active']" *ngFor="let subchild of child.child">
                                        <a [routerLink]="[subchild.url]">
                                            <i class="fa fa-angle-double-right "></i>{{subchild.name}}</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div> -->



<!-- Left Sidebar End -->