<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Master</a>
                            </li>
                            <li class="active">Bin</li>
                        </ol>
                        <h4 class="page-title">Bin</h4>
                    </div>
                </div>
            </div>
            <!-- Start row -->
            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body uom-master">
                        <div class="portlet-heading">
                            <div class="row">
                                <form [formGroup]="binform" (ngSubmit)="addeditRack(binform.value)">
                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputEmail1">Location
                                                    <span class="red">*</span>
                                                </label>
                                                <ng-select [options]="listofactiveloc" formControlName="location" name="location" [(ngModel)]="location" (selected)="loadracks($event)"></ng-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputEmail1">Rack
                                                    <span class="red">*</span>
                                                </label>
                                                <ng-select [options]="listofactiverack" formControlName="rack" name="rack" [(ngModel)]="rack"></ng-select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputEmail1">Bin
                                                    <span class="red">*</span>
                                                </label>
                                                <input name="binid" type="hidden" class="form-control" [(ngModel)]="binid" formControlName="binid">
                                                <input name="bin" type="text" class="form-control" [(ngModel)]="bin" formControlName="bin">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputEmail1">Description
                                                    <span class="red">*</span>
                                                </label>
                                                <input name="description" type="text" class="form-control" [(ngModel)]="description" formControlName="description">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group madeups ocn ">
                                                <label for="exampleInputName2">Status
                                                    <span class="red">*</span>
                                                </label>
                                                <select class="form-control" name="status" [(ngModel)]="status" formControlName="status">
                                                    <!-- <option [ngValue]="-1" disabled selected>Select status</option> -->
                                                    <option *ngFor="let stat of statusarray" [ngValue]="stat.value">{{stat.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
                                        <button type="submit" class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Save">
                                            <i class="fa fa-check"></i> {{buttonname}}</button>
                                        <button type="button" (click)="resetform()" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
                                            data-placement="top" title="" data-original-title="Cancel">
                                            <i class="fa fa-ban"></i> Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <!-- text-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <!--tab-->
            <section class="col-lg-12" style="padding:0">
                <!-- <div class="col-sm-12 gray-box text-center">
                        <form class="form-inline">
                            <div class="form-group m-r-20">
                                <label for="exampleInputEmail1">Location</label>
                                <input name="text" class="form-control" value="" type="text">
                            </div>
                            <div class="form-group m-r-20">
                                <button class="btn btn-inverse btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="right" title="" data-original-title="Search"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
          </div> -->

                <!-- Custom tabs (Charts with tabs)-->
                <div class="nav-tabs-custom">
                    <!-- Tabs within a box -->
                    <div class="box-body mar-btm">
                        <div class="ocn-section">
                            <div class="table-responsive">
                                <!-- <table class="" datatable [dtOptions]="dtOptions" class="row-border hover table table-striped table-bordered"></table> -->

                                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>S.NO</th>
                                            <th>Bin</th>
                                            <th>Location</th>
                                            <th>Rack</th>
                                            <th>Description</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let person of persons; let row_no = index">
                                            <td>{{ row_no + 1 }}</td>
                                            <td>{{ person.bin_name }}</td>
                                            <td>{{ person.location.location_name }}</td>
                                            <td>{{ person.rack.rack_name }}</td>
                                            <td>{{ person.description }}</td>
                                            <td *ngIf="(person.active_status == 0)" class="text-center">
                                                <span>
                                                    <i class="md md-close close-red"></i>
                                                </span>
                                            </td>
                                            <td *ngIf="(person.active_status == 1)" class="text-center">
                                                <span>
                                                    <i class="md md-check-box"></i>
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    <i class="md md-create" (click)="updatebin(person)"></i>
                                                </span>
                                                <span>
                                                    <i class="md md-delete" (click)="deleteBin(person.id)"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--tab-->
        </div>
        <!-- end container -->
    </div>
    <!-- end content -->

</div>
<!-- ============================================================== -->
<!-- End Right content here -->