<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Stores</a>
              </li>
              <li class="active">Sales DC</li>
            </ol>
            <h4 class="page-title">Sales DC</h4>
          </div>
        </div>
      </div>
      <div class="nav-tabs-custom">
        <div class="box-body mar-btm">
          <div class="ocn-section">
            <div class="table-responsive">
              <form>
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Invoice No</th>
                      <th>Invoice Date</th>
                      <th width="20%">Customer</th>
                      <th>View</th>
                      <th>Create DC</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="!allinvoices">
                      <td colspan="9">No Data</td>
                    </tr>
                    <tr *ngFor="let item of allinvoices; let i = index">
                      <td>{{i+1}}</td>
                      <td class="text-left">{{item.invoice_no}}</td>
                      <td class="text-left">{{item.invoice_date}}</td>
                      <td class="text-left">{{item.customer}}</td>
                      <td class="text-center">
                        <button class="btn btn-xs btn-danger" [routerLink]="['/viewpackinglist',item.id]">
                          <i class="fa fa-file-pdf-o"></i>
                        </button>
                      </td>
                      <td class="text-center">
                        <button class="btn btn-xs btn-success" (click)="createdc(item)">
                          <i class="fa fa-check"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>