<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/storesjobcard']">Job card</a>
              </li>
              <li class="active">Manual Job Card</li>
            </ol>
            <h4 class="page-title">Manual Job Card</h4>
          </div>
        </div>
      </div>

      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">Spare</a>
          </li>
          <li class="dis">
            <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Sub-Assembly</a>
          </li>
        </ul>
        <div class="tab-content no-padding padding-pad ">
          <div class="chart tab-pane active" id="tplan">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="row">
                  <div class="col-lg-4 col-sm-3 col-md-3">
                    <div class="ocn-status">
                      <div class="form-group field-pad madeups ocn ">
                        <label for="exampleInputEmail1">Item
                          <span class="red">*</span>
                        </label>
                        <div class="grey-lfts left box-wid">
                          <ng2-completer multiple [openOnFocus]="false" [(ngModel)]="selecteditem" name="selecteditem"
                            (selected)="selectitem($event)" [datasource]="items" [minSearchLength]="0">
                          </ng2-completer>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="ocn-section">
                  <div class="table-responsive">
                    <form>
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th width="5%" rowspan="2"></th>
                            <th rowspan="2" width="5%">Part No</th>
                            <th rowspan="2" width="15%">Part</th>
                            <th rowspan="2" width="15%">Part Desc</th>
                            <th rowspan="2" width="5%">UOM</th>
                            <th rowspan="2" width="5%">Stock Qty</th>
                            <th rowspan="2" width="5%">Reserved DC Qty</th>
                            <th rowspan="2" width="5%">Work Type</th>
                            <th colspan="3" width="20%">Next Stage</th>
                            <th rowspan="2" width="5%">Supplier</th>
                          </tr>
                          <tr>
                            <th>Part No</th>
                            <th>Part</th>
                            <th>Part Desc</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!item">
                            <td colspan="12">No Data</td>
                          </tr>
                          <tr *ngFor="let data of item; let i = index">
                            <td>
                              <input name="checkauthorize" type="checkbox" class="form-control" value=""
                                [(ngModel)]="data.checkauthorize"
                                (change)="checkauthorized(data.checkauthorize,data,i)">
                            </td>
                            <td>{{data.part_no}}</td>
                            <td>{{data.part}}</td>
                            <td>{{data.part_desc}}</td>
                            <td>{{data.uom}}</td>
                            <td class="text-center">{{data.open_qty}}</td>
                            <td class="text-center">{{data.tempdc_qty}}</td>
                            <td>
                              <select name="worktype" class="form-control" [(ngModel)]="data.workorder_type"
                                (change)="ontypechange(data.workorder_type)" [attr.title]="data.workorder_type">
                                <option *ngFor="let stat of worktype" [ngValue]="stat.name">{{stat.name}}</option>
                              </select>
                            </td>
                            <td>{{data.next_stage_part_no}}</td>
                            <td>{{data.next_stage_part}}</td>
                            <td>{{data.next_stage_part_desc}}</td>
                            <td class="text-center">
                              <button class="btn btn-xs btn-primary" (click)="showsupplierpop(data,i)"
                                *ngIf="data.workorder_type =='External'">
                                <i class="fa fa-plus"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4 m-b-20 pull-right ">
                    <button class="btn btn-warning btn-small waves-effect waves-light pull-right"
                      (click)="resetscreen()">
                      <i class="fa fa-times"></i> cancel</button>
                    <button class="btn btn-success btn-small waves-effect waves-light pull-right m-r-5"
                      (click)="saveOrder()">
                      <i class="fa fa-check"></i> Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="chart tab-pane" id="trim-vs-articles">
            <app-manual-sajobcart></app-manual-sajobcart>
          </div>

        </div>
      </div>
    </div>

    <app-slip-popup [(visible)]="showDialog">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 ocn-section">
            <h3 class="text-center">Supplier Details</h3>
            <div class="col-md-4 col-sm-6 col-xs-12 m-r-10 m-b-10">
              <span class="bold">Part No : </span>
              <span>{{part_no}}</span>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 m-b-10">
              <span class="bold">Req Quantity : </span>
              <span>{{reqQty}}</span>
            </div>
            <div class="clearfix table-responsive">
              <form [formGroup]="supplierForm">
                <table class="table table-striped table-bordered" formArrayName="itemRows">
                  <thead>
                    <tr>
                      <th width="10%" (click)="addNewpaymentRow()">
                        <i class="fa fa-plus"></i>
                      </th>
                      <th width="45%">Supplier</th>
                      <th width="45%">Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of getSupplierform(supplierForm); let i=index" [formGroupName]="i">
                      <td>
                        <i class="md md-close" (click)="deletePayRow(i)" *ngIf="i!=0"></i>
                      </td>
                      <td>
                        <ng2-completer [openOnClick]="true" (selected)="selectedsupplier($event,i)"
                          formControlName="supplier_name" [datasource]="allcontacts" [minSearchLength]="0">
                        </ng2-completer>
                      </td>
                      <td>
                        <input type="text" class="form-control" formControlName="qty" name="qty" pKeyFilter="int"
                          (keypress)="restricthypens($event)" (keyup)="check(data,i)" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6 pull-right ">
              <button class="btn btn-warning btn-small waves-effect waves-light pull-right" (click)="reset()">
                <i class="fa fa-times"></i> cancel</button>
              <button class="btn btn-success btn-small waves-effect waves-light pull-right m-r-5"
                (click)="allocate(lineindex)">
                <i class="fa fa-check"></i> Ok</button>
            </div>
          </div>
        </div>
      </div>
    </app-slip-popup>