
<!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
        <div class="container">
           <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12 no-b-m">
              <div class="page-title-box">
                <ol class="breadcrumb pull-right">
                  <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
                </ol>
                <h4 class="page-title">Dashboard</h4>
              </div>
            </div>
          </div>
          <div class="col-sm-12 left welcome-txt">
            <h2 class="text-center">Welcome !!</h2>
            <h3 class="text-center">Sakthi Auto Ancillary Private Limited</h3>
          </div>
        </div>
        <!-- end container -->
      </div>
      <!-- end content -->
    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
