<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/packingslip']">Packing Slip List</a>
              </li>
              <li>Packing Slip</li>
            </ol>
            <h4 class="page-title">Packing Slip</h4>
          </div>
        </div>
      </div>
      <!-- Start row -->
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">
            <div class="portlet-heading">
              <div class="oc-ftm-container no-margin">
                <div class="row">
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Packing Slip No
                          <span class="red">*</span>
                        </label>
                        <input name="invno" type="text" class="form-control box-wid" value="" [(ngModel)]="invno">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <label for="exampleInputEmail1" class="lbl-wid">Bar code
                        </label>
                        <input name="invno" type="text" class="form-control box-wid" value="" [(ngModel)]="barcode">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <!--p-date-->
                        <label for="exampleInputEmail1" class="lbl-wid">Packing Slip Date
                          <span class="red">*</span>
                        </label>
                        <div class="input-group box-wid" style="float:left;">
                          <input class="form-control full-width" ngx-mydatepicker name="startDate" [options]="myTabOption"
                            #po="ngx-mydatepicker" [readonly]="true" [(ngModel)]="invdate" name="invdate" />
                          <span class="input-group-addon bg-primary b-0 text-white" (click)="po.toggleCalendar()">
                            <i class="glyphicon glyphicon-calendar"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <!--slip p-slip-->
                        <label for="exampleInputEmail1" class="lbl-wid">Customer
                        </label>
                        <div class="left box-wid">
                          <div class="" *ngIf="url == '/slip'">
                            <ng2-completer [openOnClick]="true" [(ngModel)]="customer" name="customer" (selected)="selectcont($event)"
                              [datasource]="allcontacts" [minSearchLength]="0"></ng2-completer>
                          </div>
                          <div class="" *ngIf="url != '/slip'">
                            <input type="text" [(ngModel)]="customername" class="form-control" name="customername"
                              [readOnly]="true" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-4 col-md-4">
                    <div class="ocn-status">
                      <div class="form-group madeups ocn field-pad">
                        <!--slip p-slip-->
                        <label for="exampleInputEmail1" class="lbl-wid">SC No
                          <span class="red">*</span>
                        </label>
                        <div class="left box-wid">
                          <div class="" *ngIf="url == '/slip'">
                            <ng-select multiple="true" [options]="allorders" [(ngModel)]="orderno" (selected)="selectorder($event,'selected')"
                              (deselected)="selectorder($event,'deselected')"></ng-select>
                          </div>
                          <div class="" *ngIf="url != '/slip'">
                            <input type="text" [(ngModel)]="ordernumber" class="form-control" name="ordernumber"
                              [readOnly]="true" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-lg-3 col-sm-3 col-md-3">
                    <button class="btn btn-primary" (click)="selectorder(orderno)">Search</button>
                  </div> -->
                </div>
              </div>
            </div>
            <!-- text-->
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
    <!--tab-->
    <section class="col-lg-12" style="padding:0">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <div class="box-body mar-btm">
          <div class="col-sm-12 ocn-section">
            <div class="table-responsive th-center">
              <table class="table table-striped table-bordered" *ngIf="url == '/slip'">
                <thead>
                  <tr>
                    <th width="1%"></th>
                    <th width="1%">S.No</th>
                    <th width="2%">SC No</th>
                    <th width="2%">Line</th>
                    <th width="3%">Part No</th>
                    <th width="3%">Part</th>
                    <th width="3%">Part Desc</th>
                    <th width="2%">Prod Qty</th>
                    <th width="2%">Slip Qty</th>
                    <!-- <th width="2%">Box no</th> -->
                    <!-- <th width="2%">Box type</th>
                    <th width="2%">Net Weight</th>
                    <th width="2%">Gross Weight</th>
                    <th width="4%" colspan="3">Wooden Case (LxBxH in Inches)</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemrow of salesorderarray; let i=index">
                    <td>
                      <input name="checkauthorize" type="checkbox" class="form-control" value="" *ngIf="itemrow.reserved_quantity !=0"
                        [(ngModel)]="itemrow.checkauthorize" (change)="checkauthorized(itemrow.checkauthorize,itemrow,i)">
                    </td>
                    <td>{{i+1}}</td>
                    <td>{{getscno(itemrow.sales_order_id,i)}}</td>
                    <td>
                      {{itemrow.line_no}}
                    </td>
                    <td>
                      {{itemrow.part_no}}
                    </td>
                    <td>
                      {{itemrow.component}}
                    </td>
                    <td>
                      {{itemrow.component_desc}}
                    </td>
                    <td style="text-align:center">
                      <!-- {{calcproqty(itemrow.squantity,itemrow.reserved_quantity,i)}} -->
                      {{itemrow.reserved_quantity}}
                      <input type="hidden" class="form-control" [(ngModel)]="itemrow.PQty" name="PQty" [attr.title]="itemrow.PQty" />
                    </td>
                    <td>
                      <!-- (keyup)="checkslipqty(itemrow.slip_quantity,i)" [attr.title]="itemrow.slip_quantity" -->
                      <input type="text" class="form-control" [(ngModel)]="itemrow.slip_quantity" name="slip_quantity"
                        pKeyFilter="num" (click)="showProdpop(i)" autocomplete="off" />
                    </td>
                    <!-- <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.box_no" name="box_no" pKeyFilter="num"
                        (keypress)="decimalnumber($event)" [attr.title]="itemrow.box_no" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.box_type" name="box_type"
                        [attr.title]="itemrow.box_type" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.net_weight" name="net_weight"
                        pKeyFilter="num" (keypress)="decimalnumber($event)" [attr.title]="itemrow.net_weight" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.gross_weight" name="gross_weight"
                        pKeyFilter="num" (keypress)="decimalnumber($event)" [attr.title]="itemrow.gross_weight" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.wb_length" name="wb_length"
                        placeholder="L" pKeyFilter="int" (keypress)="restricthypens($event)" [attr.title]="itemrow.wb_length" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.wb_breath" name="wb_breath"
                        placeholder="B" pKeyFilter="int" (keypress)="restricthypens($event)" [attr.title]="itemrow.wb_breath" />
                    </td>
                    <td>
                      <input type="text" class="form-control" [(ngModel)]="itemrow.wb_height" name="wb_height"
                        placeholder="H" pKeyFilter="int" (keypress)="restricthypens($event)" [attr.title]="itemrow.wb_height" />
                    </td> -->
                  </tr>
                  <tr *ngIf="!salesorderarray?.length">
                    <td colspan="14">No data</td>
                  </tr>
                </tbody>
              </table>

              <table class="table table-striped table-bordered" *ngIf="url != '/slip'">
                <thead>
                  <tr>
                    <th width="1%">S.No</th>
                    <th width="2%">SC No</th>
                    <th width="2%">Line</th>
                    <th width="4%">Part No</th>
                    <th width="4%">Part</th>
                    <th width="4%">Part Desc</th>
                    <th width="2%">stock Qty</th>
                    <th width="2%">slip Qty</th>
                  </tr>
                </thead>
                <tbody *ngIf="saleorders">
                  <tr *ngFor="let itemrow of salesorderarray; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                      {{itemrow.sc_no}}
                    </td>
                    <td>
                      {{itemrow.line_no}}
                    </td>
                    <td>
                      {{itemrow.part_no}}
                    </td>
                    <td>
                      {{itemrow.component}}
                    </td>
                    <td>
                      {{itemrow.component_desc}}
                    </td>
                    <td class="text-center">
                      {{itemrow.quantity}}
                    </td>
                    <td class="text-center">
                      <a (click)="showProdpop(i)" style="cursor:pointer">{{itemrow.slip_quantity}}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right margin-btm">
                <button *ngIf="url == '/slip'" class="btn btn-success btn-custom waves-effect waves-light" (click)="saveentry()">
                  <i class="fa fa-check"></i> Save</button>
                <!-- <button class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="View">
                                  View</button> -->
                <button [routerLink]="['/packingslip']" class="btn btn-warning btn-custom waves-effect waves-light"
                  data-toggle="tooltip" data-placement="top" title="" data-original-title="Export Print">
                  <i class="fa fa-times"></i> Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--tab-->
  </div>
  <!-- end container -->
</div>

<app-allocpop [(visible)]="showProdDialog" *ngIf="showProdDialog">
  <div class="col-sm-12 page-height">
    <div class="row">
      <div class="col-sm-12 ocn-section">
        <h3 class="text-center">Box Details</h3>
        <span class="bold col-sm-6 col-md-6 col-lg-6 col-xs-12">Item Code : {{itemdetails.part_no}}</span>
        <span class="bold col-sm-6 col-md-6 col-lg-6 col-xs-12">Item Desc : {{itemdetails.component_desc}}</span>
        <hr class="clearfix">
        <span class="bold col-sm-12 col-md-12 col-lg-12 col-xs-12" *ngIf="url == '/slip'">Produced Qty :
          {{producedQty}} </span>
        <div class="table-responsive clearfix">
          <form [formGroup]="boxform" autocomplete="off">
            <table class="table table-striped table-bordered" formArrayName="itemProdRows">
              <thead>
                <tr>
                  <th class="text-center" width="5%" (click)="addNewProdRow()" rowspan="2">
                    <i class="fa fa-plus"></i>
                  </th>
                  <th width="5%" rowspan="2">S.No</th>
                  <th width="5%" rowspan="2">Box No</th>
                  <th width="45%" rowspan="2">Box</th>
                  <!-- <th width="4%" rowspan="2">Box Type</th>
                  <th width="4%" rowspan="2">Dimension</th> -->
                  <th width="5%" rowspan="2">Qty</th>
                  <!-- <th width="10%" rowspan="2">Net Weight</th>
                  <th width="10%" rowspan="2">Gross Weight</th> -->
                  <th width="15%" colspan="3">Dimension</th>
                </tr>
                <tr>
                  <th>L</th>
                  <th>B</th>
                  <th>H</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="!getProdform(boxform) ?.length">
                  <td colspan="4">No data</td>
                </tr>
                <tr *ngFor="let itemrow of getProdform(boxform); let i=index" [formGroupName]="i">
                  <td>
                    <i class="md md-close" (click)="deleteProdRow(i)" *ngIf="i!=0"></i>
                  </td>
                  <td>{{i+1}}</td>
                  <td>
                    <input type="text" class="form-control" formControlName="box_no" [attr.title]="boxform.value.itemProdRows[i].box_no" />
                  </td>
                  <td>
                    <ng2-completer [openOnClick]="true" formControlName="box_details" [datasource]="activeBoxes"
                      [minSearchLength]="0" [attr.title]="boxform.value.itemProdRows[i].box_details" (selected)="selectedProdbin($event,i)"></ng2-completer>
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="quantity" [attr.title]="boxform.value.itemProdRows[i].quantity" />
                  </td>
                  <!-- <td>
                    <input type="text" class="form-control" formControlName="net_weight" [attr.title]="boxform.value.itemProdRows[i].net_weight" />
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="gross_weight" [attr.title]="boxform.value.itemProdRows[i].gross_weight" />
                  </td> -->
                  <td>
                    <input type="text" class="form-control" formControlName="length" [attr.title]="boxform.value.itemProdRows[i].length" />
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="breadth" [attr.title]="boxform.value.itemProdRows[i].breadth" />
                  </td>
                  <td>
                    <input type="text" class="form-control" formControlName="height" [attr.title]="boxform.value.itemProdRows[i].height" />
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right m-b-20">
          <button class="btn btn-success btn-small btn-custom waves-effect waves-light" (click)="addboxdetails(Prodindex)"
            *ngIf="url == '/slip'">
            <i class="fa fa-check"></i> OK</button>
          <button (click)="close(Prodindex)" class="btn btn-warning btn-custom waves-effect waves-light" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="Export Print">
            <i class="fa fa-times"></i> close</button>
        </div>
      </div>
    </div>
  </div>
</app-allocpop>