<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content" style="height:100% !important">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Logistics</a>
              </li>
              <li class="active">Export Invoice</li>
            </ol>
            <h4 class="page-title">Export Invoice</h4>
          </div>
        </div>
      </div>
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">

            <div class="col-sm-12 p-b-20">
              <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="back()">
                <i class="fa fa-times"></i>
              </button>
              <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
                (click)="printpos()">
                <i class="fa fa-print"></i>
              </button>
              <!-- <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="printPdf()">
                <i class="fa fa-file-pdf-o"></i>
              </button> -->
            </div>

            <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>
            <div class="ocn-section ocn-section-tbl page-height" id="printsection">
              <h4 class="text-center">EXPORT INVOICE</h4>
              <div class="table-responsive table-resp-pad">
                <table class="table table-striped table-bordered report-container print-view"
                  style="border:1px solid #333;" *ngIf="invLineitems && invoicedetails">
                  <thead class="report-header">
                    <tr>
                      <td class="tble-center caps-pad cs" align="center" colspan="6">
                        <strong>Supply Meant for Export Under Letter of undertaking(LUT) without payment of
                          IGST"</strong>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" rowspan="4" style="vertical-align:top">
                        <span class="print-label">Exporter :</span>
                        <!-- <p class="caps-pad">
                          <strong>Sakthi Auto Ancillary Private Limited</strong>
                        </p>
                        <p class="caps-pad">
                          <strong>Idigarai Road, NGGO Colony</strong>
                        </p>
                        <p class="caps-pad">
                          <strong>Coimbatore-641022, Tamil nadu, India</strong>
                        </p>
                        <p>Telephone:
                          <strong>91 422 2642224</strong>, Email:
                          <a href="mailto:info@saapl.net">info@saapl.net</a>
                        </p>
                        <p class="caps-underline">GSTIN Number:
                          <strong>33AABCB0064H1Z9</strong>
                        </p>
                        <p class="caps-underline">PAN Number:
                          <strong>AABCB0064H</strong>
                        </p> -->
                        <app-company-td></app-company-td>
                        <p>IE Code No: 3298001511 dated 19.05.1998</p>
                      </td>
                      <td class="print-label">Invoice No.</td>
                      <td>
                        <strong>{{invoicedetails.invoice_no}}</strong>
                      </td>
                      <td class="print-label">Documents:</td>
                    </tr>
                    <tr>
                      <td class="print-label">Invoice Date</td>
                      <td>
                        <strong>{{invoicedetails.invoice_date}}</strong>
                      </td>
                      <td class="text-center">
                        <strong *ngIf="url == cuscopy">Triplicate</strong>
                        <strong *ngIf="url != cuscopy">Original for Buyer</strong>
                      </td>
                    </tr>
                    <tr>
                      <td style="vertical-align:top" class="print-label">
                        <p>Date & Time of Removal of goods:</p>
                        <p>&nbsp;</p>
                      </td>
                      <td colspan="2" style="height:100px;vertical-align:top" class="print-label">Authenticated By</td>
                    </tr>
                    <tr>
                      <td class="td-size" colspan="3">
                        <p class="print-label">Buyer's Order & Date :</p>
                        <p>
                          <strong>{{invoicedetails.po_nos}}</strong>
                        </p>
                      </td>
                    </tr>
                  </thead>

                  <tfoot class="report-footer">
                    <tr>
                      <td colspan="3">
                        <span class="wid-from">
                          <span class="print-label">Name of the Commodity</span>
                        </span> :
                        <strong>{{commoditynames}}</strong>
                      </td>
                      <td colspan="3" rowspan="4" valign="top">
                        <div>Signature & Date</div>
                        <div class="text-right">For Sakthi Auto Ancillary Pvt Ltd</div>
                        <div style="width: 25%;float: left; margin-top: 100px">
                          <strong>{{invoicedetails.invoice_date}}</strong>
                        </div>
                        <div style="width: 75%;float: left; margin-top: 100px;text-align: right;" colspan="2">
                          (Authorised
                          Signatory)</div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <span class="wid-from">
                          <span class="print-label">H.S.N CODE</span>
                        </span> :
                        <strong>{{hsnnames}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <span class="wid-from">
                          <span class="print-label">LUT ARN NO</span>
                        </span> :
                        <strong>AD330518000938Z DATED 10.05.2018</strong>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <span class="print-label">Amount (in Words) : </span>
                        <span>{{amountinwords() |titlecase}} </span>
                        <span>({{invoicedetails.currency}})</span>
                        <p>
                          <strong>Declaration</strong>
                        </p>
                        <p>We declare that this invoice shows the actual price of the goods described and that all
                          particulars
                          are true & correct</p>
                      </td>
                    </tr>
                  </tfoot>

                  <tbody>
                    <tr>
                      <td colspan="3" rowspan="4" style="vertical-align:top">
                        <p class="print-label">Consignee :</p>
                        <p>{{invoicedetails.display_cmpy_name}}</p>
                        <span>{{shipaddress[0]}}</span> <br>
                        <span>{{shipaddress[1]}}</span><br>
                        <span>{{shipaddress[2]}},{{shipaddress[3]}}</span>
                        <!-- <p>
                          <strong>Kind Attn: {{shipaddress.contact_person}}</strong>
                        </p>
                        <p>
                          <strong>Telephone: {{shipaddress.phone}}</strong>
                        </p> -->
                      </td>
                      <td colspan="3">
                        <p>Buyer (if other than consignee):</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="td-size">
                        <span class="print-label">Exporter's Ref : </span>
                        <span>{{invoicedetails.sc_nos}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="print-label">Other Reference :
                        <strong>{{invoicedetails.remarks}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" class="print-label">Country of Origin :
                        <strong>INDIA</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="print-label">Pre Carriage by :</td>
                      <td><strong>{{invoicedetails.pre_carriage_by}}</strong></td>
                      <td class="print-label">Port of Loading:
                      </td>
                      <td colspan="3" class="print-label">Country of Final Destination :
                        <strong>{{invoicedetails.country_of_destination}}</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="print-label">Pl. of Receipt by Pre Carrier :</td>
                      <td><strong>{{invoicedetails.pre_carriage_place}}</strong></td>
                      <td class="tble-center text-left">
                        <strong>{{invoicedetails.port_of_loading}}</strong>
                      </td>
                      <td colspan="3" class="print-label">Terms of Delivery & Payment</td>
                    </tr>
                    <tr>
                      <td class="print-label">Vessel / Flight No:</td>
                      <td><strong>{{invoicedetails.shipment_mode}}</strong></td>
                      <td class="print-label">Final Destination:</td>
                      <td colspan="3" rowspan="2">
                        <p>
                          <strong>{{invoicedetails.delivery_terms}}</strong>
                        </p>
                        <p>
                          <strong>PAYMENT: {{invoicedetails.payment_terms}}</strong>
                        </p>
                        <p>
                          <strong>Total Boxes: {{invoicedetails.total_box_count}}</strong>
                        </p>
                        <p>
                          <strong>Box Nos: </strong>
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td class="print-label">Port of Discharge:</td>
                      <td><strong>{{invoicedetails.port_of_discharge}}</strong></td>
                      <td class="tble-center text-left">
                        <strong>{{invoicedetails.final_destination}}</strong>
                      </td>
                    </tr>
                    <tr class="cs">
                      <td>Marks & Nos./</td>
                      <td>No.& kind of Packages</td>
                      <td class="tble-center">Description of goods</td>
                      <td class="tble-center">
                        <p>Quantity</p>
                        <p>
                          <strong>Nos.</strong>
                        </p>
                      </td>
                      <td class="tble-center">
                        <p>Rate</p>
                        <p>
                          <strong>{{invoicedetails.currency}}/UNIT</strong>
                        </p>
                      </td>
                      <td class="tble-center">
                        <p>Amount</p>
                        <p>
                          <strong>USD</strong>
                        </p>
                      </td>
                    </tr>
                    <ng-container *ngFor="let itemrow of invLineitems; let i=index">
                      <tr>
                        <td class="bordr-non"></td>
                        <td class="bordr-non"></td>
                        <td class="tble-center caps-underline caps-pad">
                          <strong>{{itemrow.commodityName}}</strong>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="bordr-non"></td>
                        <td class="bordr-non"></td>
                        <td class="tble-center caps-underline caps-pad">
                          <strong>HS CODE: {{itemrow.hsnCode}}</strong>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr *ngFor="let data of itemrow.part_details; let j=index">
                        <td style="vertical-align:middle;text-align: center" class="bordr-non text-center td-size">
                          {{data.box_no}}
                        </td>
                        <td style="vertical-align:middke;text-align: center" class="bordr-non text-center">
                          {{data.box_type}}
                        </td>
                        <td class="td-size-lrg">
                          <p>
                            <strong>{{i+1}}){{data.component}},{{data.component_desc}}</strong>
                          </p>
                          <p>
                            <strong>PART NO.{{data.part_no}}-(PO#{{data.po_no}} - ITEM LINE#{{data.line}})</strong>
                          </p>
                        </td>
                        <td class="tble-center">{{data.prod_quantity}}</td>
                        <td class="tble-right">{{data.price  | number}}</td>
                        <td class="tble-right">{{data.subtotal  | number}}</td>
                      </tr>
                    </ng-container>
                    <tr>
                      <td colspan="3">
                        <p class="tble-center">
                          <strong>F.O.B. {{invoicedetails.pre_carriage_place}},
                            {{invoicedetails.country_of_destination}}.</strong>
                        </p>
                        <p *ngIf="url == cuscopy">
                          <strong>"WE INTEND TO CLAIM REWARDS UNDER MERCHANDISE EXPORTS FROM INDIA SCHEME
                            (MEIS)"</strong>
                        </p>
                        <p *ngIf="url == cuscopy">
                          <strong>"THIS EXPORT IS UNDER DRAWBACK SCHEME"</strong>
                        </p>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td colspan="2"></td>
                      <td class="tble-right cs">
                        <strong>Total</strong>
                      </td>
                      <td class="tble-center cs">
                        <strong>{{Totalqty}}</strong>
                      </td>
                      <td class="tble-right cs">
                        <strong>{{invoicedetails.currency}}</strong>
                      </td>
                      <td class="tble-right cs">
                        <strong>{{InvTotal  | number}} </strong>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3"></td>
                      <td class="tble-center">
                        <p>&nbsp;</p>IGST
                      </td>
                      <td class="tble-center" colspan="2">
                        <p>&nbsp;</p>NIL FOR EXPORT
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3"></td>
                      <td class="tble-center">
                        <strong>Grand Total</strong>
                      </td>
                      <td class="tble-right">
                        <strong>{{invoicedetails.currency}}</strong>
                      </td>
                      <td class="tble-right">
                        <strong> {{InvTotal  | number}} </strong>
                      </td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>