<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="col-md-12 overlay" *ngIf="show_loader">
        <div class="loader loaderpos">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12 no-b-m">
                    <div class="page-title-box">
                        <ol class="breadcrumb pull-right">
                            <li>
                                <a [routerLink]="['/dashboard']">Dashboard</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Purchase</a>
                            </li>
                            <li class="active">Pending Indents</li>
                        </ol>
                        <h4 class="page-title">Pending Indents</h4>
                    </div>
                </div>
            </div>

            <div class="portlet ocn-form">
                <div class="row">
                    <div class="col-md-12 col-sm-12 form-body">
                        <div class="portlet-heading">
                            <div class="oc-ftm-container">
                                <div class="row">

                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn ">
                                                <label for="exampleInputEmail1" class="lbl-wid">Po Type
                                                    <span class="red">*</span>
                                                </label>
                                                <div class="box-wid left">
                                                    <select class="form-control" class="form-control" [(ngModel)]="filter.type">
                                                        <option *ngFor="let stat of indenttype" [ngValue]="stat.name">{{stat.name}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <div class="ocn-status">
                                            <div class="form-group field-pad madeups ocn ">
                                                <label for="exampleInputEmail1" class="lbl-wid">Department
                                                </label>
                                                <input name="id" type="hidden" class="form-control" value=""
                                                    [(ngModel)]="filter.id">
                                                <div class="left box-wid">
                                                    <ng2-completer [openOnClick]="true" [(ngModel)]="filter.dpt" name="dpt"
                                                        [datasource]="alldpts" [minSearchLength]="0"></ng2-completer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-sm-4 col-md-4">
                                        <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
                                            (click)="getPendingindentlists()">
                                            <i class="md md-search"></i> Search </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body mar-btm">
                <div class="ocn-section col-sm-12">
                    <div class="table-responsive table-resp-pad grn-table after-div">
                        <table class="row-border hover table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2"></th>
                                    <th rowspan="2">Ind/enq No</th>
                                    <th rowspan="2">Dept</th>
                                    <th rowspan="2">Part No</th>
                                    <th rowspan="2">Part</th>
                                    <th rowspan="2">Part Desc</th>
                                    <th rowspan="2">UOM</th>
                                    <th rowspan="2">Qty</th>
                                    <th rowspan="2" width='10%'>Del Date</th>
                                    <th rowspan="2">Stock</th>
                                    <th rowspan="2" width='15%'>Supplier/Rate</th>
                                    <th rowspan="2">Pend Days</th>
                                    <th colspan="4" style="text-align:center;">Prev</th>
                                    <th rowspan="2">Enq Pend</th>
                                    <th rowspan="2">Regn</th>
                                    <th rowspan="2">Qtn</th>
                                    <th rowspan="2">Recd</th>
                                    <th rowspan="2">Comp</th>
                                </tr>
                                <tr>
                                    <th>Po</th>
                                    <th>Rate</th>
                                    <th>Validity</th>
                                    <th>Sup</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let person of pendingindents; let i = index">
                                    <td>
                                        <input type="checkbox" [(ngModel)]="person.check" name="check" (change)="checklist(person.check,person,i)"
                                            *ngIf="person.enquiry_no == null" />
                                    </td>
                                    <td class="text-left">{{ person.indent_no }}</td>
                                    <td class="text-left">{{ person.dept }}</td>
                                    <td class="text-left">{{ person.item_code }}</td>
                                    <td class="text-left">{{ person.part }}</td>
                                    <td class="text-left">{{ person.item_desc }}</td>
                                    <td class="text-left">{{ person.uom }}</td>
                                    <td class="text-right view-center">{{ person.req_qty }}</td>
                                    <td class="text-right view-center">{{ person.delivery_date }}</td>
                                    <td>{{ person.stock }}</td>
                                    <td class="text-right view-center">
                                        <input type="text" class="form-control" [(ngModel)]="person.rate" (focus)="showsuppop(person,i)" [attr.title]="person.rate"/>
                                    </td>
                                    <td style="text-align:center !important">{{person.pendingdays}}</td>
                                    <td class="text-right view-center">{{person.prev_po || "-"}}</td>
                                    <td style="text-align:right !important">{{person.prev_rate || "-"}}</td>
                                    <td class="text-right view-center">{{person.prev_validity || "-"}}</td>
                                    <td class="text-right view-center">{{person.prev_po_supplier || "-"}}</td>
                                    <!-- <td class="text-right view-center"></td> -->
                                    <td class="text-right view-center">
                                        <span *ngIf="person.enquiry_no != null">{{person.enquirypendingdays}}</span>
                                    </td>
                                    <td class="text-right view-center">
                                        <button class="btn btn-default btn-xs" *ngIf="person.enquiry_no != null && person.is_quotated == 0">
                                            <i class="fa fa-retweet" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td class="text-right view-center">
                                        <button class="btn btn-warning btn-xs" *ngIf="person.enquiry_no != null && person.is_quotated == 0"
                                            [routerLink]="['/quotation',person.enquiry_no,person.enquiry_id]">
                                            <i class="md-file-upload" aria-hidden="true"></i>
                                        </button>

                                        <button class="btn btn-success btn-xs" *ngIf="person.enquiry_no != null && person.is_quotated == 1"
                                            [routerLink]="['/quotation',person.enquiry_no,person.enquiry_id]">
                                            <i class="md-file-upload" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td class="text-right view-center">
                                        {{person.quotation}}/{{person.supplier}}
                                    </td>
                                    <td class="text-right view-center">
                                        <button class="btn btn-primary btn-xs" *ngIf="person.quotation != 0"
                                            [routerLink]="['/comparision',person.enquiry_id]">
                                            <i class="fa fa-balance-scale" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr *ngIf="!pendingindents ?.length">
                                    <td colspan="21">
                                        <span>No data</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-6 pull-right m-b-20">
                        <button (click)="repeatpo()" class="btn btn-primary btn-custom waves-effect waves-light pull-right"
                            data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                            <i class="fa fa-repeat"></i> Repeat PO</button>
                        <button (click)="showenqpop()" class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5"
                            data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                            <i class="fa fa-users"></i> Enquiry</button>
                        <button (click)="directPo()" class="btn btn-default btn-custom waves-effect waves-light pull-right m-r-5"
                            data-toggle="tooltip" data-placement="top" title="" data-original-title="Save">
                            <i class="fa fa-shopping-cart"></i> Direct PO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-slip-popup [(visible)]="showDialog">

    <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 ocn-section">
        <h4 class="text-center">Enquery Details</h4>
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="ocn-status">
                <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">Selected Items
                    </label>
                    <span>{{itemnos}}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="ocn-status">
                <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">Delivery at
                        <span class="red">*</span>
                    </label>
                    <input name="role_name" type="text" class="form-control" value="" [(ngModel)]="enq.delivery">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="ocn-status">
                <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">Suppliers
                        <span class="red">*</span>
                    </label>
                    <ng-select multiple="true" (selected)="checkselected($event)" (deselected)="checkdeselected($event)"
                        [options]="allsuppliers" name="unit" [(ngModel)]="enq.suppliers"></ng-select>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="ocn-status">
                <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">Cc
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="enq.cc" />
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="ocn-status">
                <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">Bcc
                    </label>
                    <input type="text" class="form-control" [(ngModel)]="enq.bcc" [readOnly]="true" />
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="ocn-status">
                <div class="form-group madeups ocn ">
                    <label for="exampleInputEmail1">Remarks
                    </label>
                    <textarea class="form-control" style="width : 54%" [(ngModel)]="enq.remarks"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
            <button class="btn btn-success btn-small waves-effect waves-light" (click)="sendenquery()">
                <i class="fa fa-paper-plane"></i> Send</button>
            <button class="btn btn-warning btn-small waves-effect waves-light" (click)="close()">
                <i class="fa fa-times"></i> cancel</button>
        </div>
    </div>
</app-slip-popup>

<app-slip-popup [(visible)]="showSuppDialog">

    <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
        <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 ocn-section">
        <div class="table-responsive">
            <table class="row-border hover table table-striped table-bordered" *ngIf="itemsuppliers">
                <thead>
                    <tr>
                        <th></th>
                        <th>S.NO</th>
                        <th>Supplier</th>
                        <th>Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of itemsuppliers; let i=index">
                        <td>
                            <label>
                                <input [value]='data.supplier_id' type="radio" name="data" [(ngModel)]="radioSelected">
                            </label>
                        </td>
                        <td>{{i+1}}</td>
                        <td>{{data.supplier_name}}</td>
                        <td>{{data.rate}}</td>
                    </tr>
                    <tr *ngIf="!itemsuppliers ?.length">
                        <td colspan="4">No Data</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 pull-right">
            <button class="btn btn-warning btn-custom waves-effect waves-light pull-right m-r-5" (click)="close()">
                <i class="md md-close"></i> Cancel </button>
            <button class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" (click)="addsupplier(radioSelected,index)">
                <i class="md md-check"></i> OK </button>
        </div>
    </div>
</app-slip-popup>