<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan trim-alloct trim-item">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a [routerLink]="['/item']">item</a>
              </li>
              <li class="active">Item View</li>
            </ol>
            <h4 class="page-title">Item View</h4>
          </div>
        </div>
      </div>

      <div class="col-sm-12 bg-white m-t-10" *ngIf="selecteditemdtl">
        <h4 class="text-left col-sm-6 col-md-6 col-lg-6">Item/Product Details</h4>
        <button class="btn btn-primary btn-custom waves-effect waves-light pull-right m-t-5" (click)="printpos()">
          <i class="fa fa-print m-r-5"></i>
        </button>
        <button class="btn btn-warning btn-custom waves-effect waves-light pull-right m-t-5 m-r-5" [routerLink]="['/item']">
          <i class="fa fa-chevron-left m-r-5"></i>Back</button>
        <hr class="clearfix">
        <div class="col-sm-12 m-b-10">
          <div class="col-sm-3">
            <span class="col-sm-12 bold">Part NO </span>
            <span class="col-sm-12">{{selecteditemdtl.part_no}}</span>
          </div>
          <div class="col-sm-3">
            <span class="col-sm-12 bold">Part Type </span>
            <span class="col-sm-12">{{selecteditemdtl.part_type}}</span>
          </div>
          <div class="col-sm-3">
            <span class="col-sm-12 bold">Component </span>
            <span class="col-sm-12">{{selecteditemdtl.component}}</span>
          </div>
          <div class="col-sm-3">
            <span class="col-sm-12 bold">Comp Desc </span>
            <span class="col-sm-12">{{selecteditemdtl.component_desc || '-'}}</span>
          </div>
        </div>

        <hr class="clearfix">
        <h4 class="text-left">BOM Details</h4>

        <p-treeTable [value]="prodassbom">
          <p-column field="part_no" header="Part No"></p-column>
          <p-column field="part_type" header="Part Type" styleClass="text-center"></p-column>
          <p-column field="stage" header="Stage" styleClass="text-center" [style]="{'width':'100px'}"></p-column>
          <p-column field="prod_desc" header="Prod Description" styleClass="text-center" [style]="{'width':'350px'}"></p-column>
          <p-column field="qty" header="Quantity" styleClass="text-center" [style]="{'width':'100px'}"></p-column>
          <p-column field="uom" header="UOM" styleClass="text-center" [style]="{'width':'100px'}"></p-column>
        </p-treeTable>
      </div>

      <div class="col-sm-12 ocn-section " style="display:none">
        <h4 class="text-center">ITEM VIEW</h4>
        <div class="ocn-section ocn-section-tbl page-height" id="printsection">
          <div class="table-responsive table-resp-pad" style="display:inline-block">
            <table class="table table-striped table-bordered" *ngIf="selecteditemdtl && prodassbom">
              <thead>
                <tr>
                  <td rowspan="3" style="text-align:center">
                    <img src="assets/images/favicon - Copy.png" />
                  </td>
                  <td colspan="13" style="text-align:center">
                    <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
                  </td>
                </tr>
                <tr>
                  <td colspan="13" style="text-align:center">
                    <strong>Coimbatore - 22</strong>
                  </td>
                </tr>
                <tr>
                  <td colspan="13" style="text-align:center">
                    <strong>DESIGN BILL OF MATERIAL</strong>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>VALVE SIZE</p>
                  </td>
                  <td colspan="9">
                    <p>
                      {{selecteditemdtl.valvesize.sizes}}
                    </p>
                  </td>
                  <td>
                    <p>PART NO</p>
                  </td>
                  <td colspan="2">
                    <p>{{selecteditemdtl.part_no}}</p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p>PART DESCRIPTION</p>
                  </td>
                  <td colspan="9">
                    <p>{{selecteditemdtl.component_desc || '-'}}</p>
                  </td>
                  <td>
                    <p>REV.NO/DATE</p>
                  </td>
                  <td colspan="2">
                    <p>
                      {{selecteditemdtl.rev || '-'}}
                    </p>
                  </td>
                </tr>
                <tr class="bold">
                  <td>Part NO</td>
                  <td>Rev No</td>
                  <td>Description</td>
                  <td>DWG NO</td>
                  <td>DWG REV NO</td>
                  <td>MATERIAL SPEC</td>
                  <td>MATERIAL SPEC REV</td>
                  <td>Qty</td>
                  <td>Raw.Dwg No</td>
                  <td>Rev No</td>
                  <td>Raw Part No</td>
                  <td>Rev No</td>
                  <td>Remarks</td>
                </tr>
                <tr *ngFor="let data of prodassbom; let i=index">
                  <td>
                    {{data.data.part_no}}
                  </td>
                  <td>
                    {{data.data.item.part_no_rev}}
                  </td>
                  <td>
                    {{data.data.prod_desc}}
                  </td>
                  <td>
                    {{data.data.item.dwg_no || '-'}}
                  </td>
                  <td>
                    {{data.data.item.rev}}
                  </td>
                  <td>
                    {{data.data.item.material_spec_no}}
                  </td>
                  <td>
                    {{data.data.item.material_spec_rev || '-'}}
                  </td>
                  <td>
                    {{data.data.qty}}
                  </td>
                  <td>
                    <span *ngIf="data.children[0]"> {{data.children[0].data.item.dwg_no || '-'}} </span>
                  </td>
                  <td>
                    <span *ngIf="data.children[0]"> {{data.children[0].data.item.rev || '-'}} </span>
                  </td>
                  <td>
                    <span *ngIf="data.children[0]"> {{data.children[0].data.part_no || '-'}} </span>
                  </td>
                  <td>
                    <span *ngIf="data.children[0]"> {{data.children[0].data.component_desc || '-'}} </span>
                  </td>
                  <td>
                    {{data.remarks || '-'}}
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p> Prepared By </p>
                  </td>
                  <td colspan="2">
                    <p> Checked By </p>
                  </td>
                  <td colspan="3">
                    <p>Approved By</p>
                  </td>
                  <td colspan="4" rowspan="3" style="vertical-align: text-top;">
                    <p>If Any :</p>
                  </td>
                  <td rowspan="3" style="vertical-align: text-top;">
                    <p>Date :</p>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" style="height:30px"></td>
                  <td colspan="2" style="height:30px"></td>
                  <td colspan="3" style="height:30px"></td>
                </tr>
                <tr>
                  <td colspan="3" style="height:30px"></td>
                  <td colspan="2" style="height:30px"></td>
                  <td colspan="3" style="height:30px"></td>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>


      <!-- ===================================================== PRINT POP ======================================================= -->

      <!-- <app-sc-detail-popup [(visible)]="showDialog">

        <div class="col-md-12 overlay" *ngIf="show_dialog_loader">
          <div class="loader" style="margin:25% 55%">
            <div class="loader-inner ball-scale-multiple">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 ocn-section ">
          <h4 class="text-center">ITEM VIEW</h4>
          <div class="ocn-section ocn-section-tbl page-height" id="printsection">
            <div class="table-responsive table-resp-pad" style="display:inline-block">
              <table class="table table-striped table-bordered" *ngIf="selecteditemdtl && prodassbom">
                <thead>
                  <tr>
                    <td rowspan="3" style="text-align:center">
                      <img src="assets/images/favicon - Copy.png" />
                    </td>
                    <td colspan="13" style="text-align:center">
                      <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="13" style="text-align:center">
                      <strong>Coimbatore - 22</strong>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="13" style="text-align:center">
                      <strong>DESIGN BILL OF MATERIAL</strong>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>VALVE SIZE</p>
                    </td>
                    <td colspan="9">
                      <p>
                        {{selecteditemdtl.valvesize.sizes}}
                      </p>
                    </td>
                    <td>
                      <p>PART NO</p>
                    </td>
                    <td colspan="2">
                      <p>{{selecteditemdtl.part_no}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>PART DESCRIPTION</p>
                    </td>
                    <td colspan="9">
                      <p>{{selecteditemdtl.component_desc || '-'}}</p>
                    </td>
                    <td>
                      <p>REV.NO/DATE</p>
                    </td>
                    <td colspan="2">
                      <p>

                      </p>
                    </td>
                  </tr>
                  <tr class="bold">
                    <td>Part NO</td>
                    <td>Rev No</td>
                    <td>Description</td>
                    <td>DWG NO</td>
                    <td>DWG REV NO</td>
                    <td>MATERIAL SPEC</td>
                    <td>MATERIAL SPEC REV</td>
                    <td>Qty</td>
                    <td>Raw.Dwg No</td>
                    <td>Rev No</td>
                    <td>Raw Part No</td>
                    <td>Rev No</td>
                    <td>Remarks</td>
                  </tr>
                  <tr *ngFor="let data of prodassbom; let i=index">
                    <td>
                      {{data.data.part_no}}
                    </td>
                    <td>
                      {{data.data.component_desc}}
                    </td>
                    <td>
                      {{data.data.prod_desc}}
                    </td>
                    <td>
                      {{data.data.part_no_rev || '-'}}
                    </td>
                    <td>
                      {{data.dwg_no}}
                    </td>
                    <td>
                      {{data.revesion}}
                    </td>
                    <td>
                      {{data.itemno || '-'}}
                    </td>
                    <td>
                      {{data.quantity}}
                    </td>
                    <td>
                      {{data.shipment_date}}
                    </td>
                    <td>
                      {{data.pconfirm_date}}
                    </td>
                    <td>
                      <span *ngIf="data.children[0]"> {{data.children[0].data.part_no || '-'}}</span>
                    </td>
                    <td>
                      <span *ngIf="data.children[0]">{{data.children[0].data.component_desc || '-'}}</span>
                    </td>
                    <td>
                      {{data.remarks || '-'}}
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <p> Prepared By </p>
                    </td>
                    <td colspan="2">
                      <p> Checked By </p>
                    </td>
                    <td colspan="3">
                      <p>Approved By</p>
                    </td>
                    <td colspan="4" rowspan="3" style="vertical-align: text-top;">
                      <p>If Any :</p>
                    </td>
                    <td rowspan="3" style="vertical-align: text-top;">
                      <p>Date :</p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" style="height:30px"></td>
                    <td colspan="2" style="height:30px"></td>
                    <td colspan="3" style="height:30px"></td>
                  </tr>
                  <tr>
                    <td colspan="3" style="height:30px"></td>
                    <td colspan="2" style="height:30px"></td>
                    <td colspan="3" style="height:30px"></td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <div class="col-lg-4 col-sm-4 col-md-4 form-buttons pull-right">
            <button class="btn btn-success btn-small waves-effect waves-light" (click)="printpos()">
              <i class="fa fa-check"></i> Ok</button>
          </div>
        </div>
      </app-sc-detail-popup> -->