<div class="col-md-12 overlay" *ngIf="show_loader">
  <div class="loader loaderpos">
    <div class="loader-inner ball-scale-multiple">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<div class="col-sm-12 p-b-20">
  <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="cancel()">
    <i class="fa fa-times"></i>
  </button>
  <button class="visible-md visible-lg btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5"
    (click)="printpos()">
    <i class="fa fa-print"></i>
  </button>
</div>

<div class="left page-height col-md-12 col-sm-12 col-xs-12 print-pg">
  <div class="col-sm-12 col-md-12 col-xs-12 padding-30">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 ocn-section" id="printsection">
          <div class="table-responsive table-resp-pad">
            <table class="table table-striped table-bordered report-container print-view" style="border:1px solid #333;"
              *ngIf="dcdetails">
              <thead class="report-header">
                <tr>
                  <td colspan="1" style="text-align:center">
                    <img src="assets/images/favicon - Copy.png" />
                  </td>
                  <td colspan="7" style="text-align:center">
                    <app-company-td></app-company-td>
                  </td>
                  <!-- <td colspan="7">
                    <div class="col-sm-12">
                      <div class="col-md-12 col-sm-12 col-xs-12 m-b-20">
                        <div class="col-md-4 col-sm-4 col-xs-4 text-left m-t-25">
                          <img src="assets/images/favicon - Copy.png" style="height: 50px" />
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8 text-left">
                          <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
                          <p class="caps-pad m-b-0" style="text-transform : capitalize">
                            <span>Idigarai Road, NGGO Colony</span>
                          </p>
                          <p class="caps-pad m-b-0" style="text-transform : capitalize">
                            <span>Coimbatore-641022, Tamil nadu, India</span>
                          </p>
                          <p class="caps-pad m-b-0" style="text-transform : capitalize">Telephone:
                            <span>91 422 2642224</span>, Email:
                            <span style="text-transform : lowercase !important">info@saapl.net</span>
                          </p>
                          <p class="caps-pad m-b-0" style="text-transform : capitalize">
                            <span>GSTIN Number:</span>
                            <span>33AABCB0064H1Z9</span> ,
                            <span>PAN Number:</span>
                            <span>AABCB0064H</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </td> -->
                </tr>
              </thead>
              <tfoot class="report-footer">
                <tr>
                  <td colspan="5">
                    <span class="text-center m-b-20 width-100" style="float:left">Received the above in good
                      condition</span>
                    <br>
                    <span class="text-center width-100 m-t-20" style="float:left">Signature of Receipient with Date &
                      Seal</span>
                  </td>
                  <td colspan="3">
                    <span class="text-center m-b-20 width-100" style="float:left">For
                      <b>Sakthi Auto Ancillary Private Limited</b>
                    </span>
                    <span class="text-center width-100 m-t-20" style="float:left">Authorized Signatory</span>
                  </td>
                </tr>
              </tfoot>
              <tbody class="report-content">
                <tr>
                  <td colspan="5">
                    <span class="col-sm-6 col-md-6 col-xs-6 text-left">Consignee : </span>
                    <span class="col-sm-6 col-md-6 col-xs-6 text-left">Code : </span>
                    <p class="col-sm-12 col-md-12 col-xs-12 text-left m-t-20">
                      {{dcdetails.supplier_id.display_cmpy_name}} ,
                      <br>{{dcdetails.supplier_id.address_line1}},
                      <br>{{dcdetails.supplier_id.address_city.city_name}},
                      {{dcdetails.supplier_id.address_state.state_name}},
                      {{dcdetails.supplier_id.address_country.country_name}}
                    </p>
                  </td>
                  <td colspan="3" style="vertical-align: text-top;padding: 0 !important">
                    <h4 class="cs" style="margin: 0;text-align: center;border-bottom: 1px solid #333">DELIVERY CHALLAN
                    </h4>
                    <div class="p-l-10" style="float:left">
                      <span class="text-left clearfix" style="float:left">DC NO : {{dcdetails.dc_no}}</span>
                      <span class="text-left clearfix" style="float:left">Date : {{dcdetails.dc_date}}</span>
                      <span class="text-left clearfix" style="float:left">Division : Valves</span>
                      <span class="text-left clearfix" style="float:left">Customer Code : </span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="8">
                    <span class="col-sm-12 col-md-12 col-xs-12 text-left m-b-20">Your Order No :</span>
                    <span class="col-sm-4 col-md-4 col-xs-4 text-left">Our Ref : </span>
                    <span class="col-sm-4 col-md-4 col-xs-4 text-left">Date : </span>
                    <span class="col-sm-4 col-md-4 col-xs-4 text-left">Vehicle No : {{dcdetails.vehicle_no}}</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="8">
                    <p class="text-left m-t-10">Dear Sir,</p>
                    <p class="text-left p-l-10">
                      We have despatched the following goods, kindly return the duplicate
                      copy duly signed acknowledging the receipt of goods </p>
                  </td>
                </tr>
                <tr class="cs">
                  <!-- <td width="5%" rowspan="2">S.NO</td> -->
                  <td width="5%" rowspan="2">Part No</td>
                  <td width="5%" rowspan="2">Part</td>
                  <td width="10%" rowspan="2">Description</td>
                  <td width="15%" colspan="2">Next Stage</td>
                  <td width="5%" rowspan="2">Quantity</td>
                  <td width="5%" rowspan="2">Unit/WT</td>
                  <td width="5%" rowspan="2">Total WT</td>
                </tr>
                <tr class="cs">
                  <td>Part No</td>
                  <td>Description</td>
                </tr>
                <ng-container *ngFor="let data of dclinedetails; let i=index">
                  <ng-template [ngIf]="data.part_type == 'Sub-Assembly'">
                    <tr *ngFor="let dcitems of data.dc_sub_items;let j=index">
                      <!-- <td>{{j+1}}</td> -->
                      <td>
                        {{dcitems.part_no}}
                      </td>
                      <td>
                        {{dcitems.part}}
                      </td>
                      <td>
                        {{dcitems.part_desc}} - {{dcitems.stage}}
                      </td>
                      <td [attr.rowspan]="data.dc_sub_items.length" *ngIf="j==0">
                        {{data.item_no}}
                      </td>
                      <td [attr.rowspan]="data.dc_sub_items.length" *ngIf="j==0">
                        {{data.next_stage_part_id.component}} - {{data.next_stage_part_id.component_desc}} -
                        {{data.next_stage_part_id.stage.stage}}
                      </td>
                      <td style="text-align:center">
                        {{dcitems.qty}}
                      </td>
                      <td style="text-align:center">
                        {{dcitems.weight || ''}}
                      </td>
                      <td style="text-align:center">
                        {{dcitems.total_weight || ''}}
                      </td>
                    </tr>
                  </ng-template>
                  <tr *ngIf="!data.dc_sub_items?.length">
                    <!-- <td>{{i+1}}</td> -->
                    <td>
                      {{data.item_id.part_no}}
                    </td>
                    <td>
                      {{data.item_id.component}}
                    </td>
                    <td>
                      {{data.item_id.component_desc}} - {{data.item_id.stage.stage}}
                    </td>
                    <td>{{data.next_stage_part_id.part_no}}</td>
                    <td>
                      {{data.next_stage_part_id.component}} - {{data.next_stage_part_id.component_desc}} -
                      {{data.next_stage_part_id.stage.stage}}
                    </td>
                    <td style="text-align:center">
                      {{data.qty}}
                    </td>
                    <td style="text-align:center">{{data.item_id.weight || ''}}</td>
                    <td style="text-align:center">{{calcweight(data.qty,data.item_id.weight,i) || ''}}</td>
                  </tr>
                </ng-container>
                <tr class="cs">
                  <td colspan="5" style="text-align:right">
                    <span>Total</span>
                  </td>
                  <td>
                    {{calcqty()}}
                  </td>
                  <td>
                  </td>
                  <td>
                    {{calctotweight() || ''}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>