.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}


.dialog {
    z-index: 1000;
    position: fixed;
    right: 0;
    left: 0;
    top: 150px;
    margin-right: auto;
    margin-left: auto;
    min-height: 200px;
    width: 25%;
    max-width: 75%;
    background-color: #fff;
    padding: 12px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 25px;
}

@media (min-width: 768px) {
    .dialog {
        top: 80px;
    }
}

.dialog__close-btn {
    border: 0;
    background: none;
    color: #2d2d2d;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2em;
}