/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~sweetalert2/dist/sweetalert2.min.css";
@import "assets/js/datatables.net-bs/css/dataTables.bootstrap.min.css";
/* @import "https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"; */
@import '~angular-tree-component/dist/angular-tree-component.css';
@import "assets/css/core.css";
@import "assets/css/icons.css";
@import "assets/css/components.css";
@import "assets/css/pages.css";
@import "assets/css/menu.css";
@import "assets/css/custom.css";
@import "assets/css/trims-pages.css";
@import "assets/css/variables.css";

select-dropdown>div .options ul li {
    color: #333
}

select-dropdown>div .options ul li:hover {
    color: #fff;
    background-color: #2196F3;
}

.form-group.madeups input {
    color: #333
}

select-dropdown>div .filter input {
    border: 1px solid #ccc !important;
    width: 100% !important
}

ng-select>div>div.single>div.value {
    background: none !important;
    font-size: 11px;
    color: #333 !important;
    display: inline-block;
    border-radius: 20px;
    height: 23px;
    text-align: left;
}

select-dropdown>div {
    z-index: 1000 !important
}

ng-select {
    /*width: 50% !important;*/
    height:auto !important;
    min-height: 28px !important;
}

ng-select>div>div.single>div.value {
    font-size: 14px !important
}

ng-select>div>div.single>div.toggle {
    height: 26px
}

.simple-notification .sn-content {
    width: 85% !important;
}

.simple-notification.warn {
    background: #ffaa00 !important;
}

.simple-notification.warn .sn-progress-loader span {
    background: #c48200 !important;
}

table.dataTable {
    width: 100% !important;
}

table.dataTable tr {
    cursor: pointer;
}

table.dataTable tr:focus {
    background-color: #333;
    color: #fff;
}

.portlet .portlet-heading {
    color: #333 !important;
}

.swal2-container {
    z-index: 99999 !important;
}

.swal2-popup {
    box-shadow: 1px 2px 9px 2px #525252;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important
}

.swal2-container.swal2-shown {
    background-color: rgba(0, 0, 0, .6)
}

.ocn-section tr td:last-child {
    text-align: righ !important;
}

.dataTables_wrapper {
    width: 99%;
    margin: 0 auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: #fff !important;
    border: 1px solid #ddd !important;
    margin-left: 0 !important;
    border-radius: 0 !important;
    padding: 6px 12px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0 !important;
    border: 1px solid #dddddd !important;
    border-radius: 0 !important;
}

.table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #3bafda !important;
    border: 1px solid #3bafda !important;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background: #e4e7ea !important;
}

.ui-autocomplete-panel .ui-autocomplete-list {
    background-color: #fff;
}

.ngui-auto-complete-wrapper ngui-auto-complete {
    position: absolute !important;
    left: 42% !important;
    z-index: 999999 !important
}

table td .ngui-auto-complete-wrapper ngui-auto-complete {
    position: absolute !important;
    left: 35% !important;
    z-index: 999999 !important
}

.full-width {
    width: 100% !important
}

.p-b-10 {
    padding-bottom: 10px
}

.bold {
    font-weight: bold;
}

/*.ocn-status ng2-completer input {
    width: 144px !important;
}*/

ng2-completer input {
    display: block;
    width: 85%;
    height: 28px;
    padding: 5px 5px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

td ng2-completer input {
    width: 100% !important;
}

.completer-dropdown {
    width: 160px !important;
    max-height: 150px !important;
    overflow-y: auto;
    z-index: 9999999 !important;
    text-align: left !important;
}

.completer-holder .completer-dropdown-holder .completer-row {
    width: 100% !important;
    padding: 3px !important;
    border-bottom: 1px solid #ddd
}

.completer-holder .completer-dropdown-holder .completer-row:hover {
    background-color: #1a71ae
}

.clear-btn {
    background-color: #fff;
    border: none;
    padding: 7px;
    font-size: 10px;
    border-radius: 4px;
}

.clearfix {
    clear: both;
}

.p-t-10 {
    padding-top: 10px
}

.p-t-70 {
    padding-top: 70px;
}

.address-pan {
    clear: both;
    text-align: left;
    padding-left: 10px !important;
    padding-top: 5px;
}

.padding-60-45 {
    padding-left: 60px !important;
    padding-right: 45px !important
}

.padding-30 {
    padding-left: 30px;
    padding-right: 30px
}

ul li {
    list-style: none
}

.padding-0 {
    padding: 0 !important
}

.order-table tr td {
    text-align: left !important
}

.page-height {
    max-height: 60vh;
    height: 60vh;
    overflow-y: auto;
}

.page-height-70 {
    max-height: 70vh;
    height: 70vh;
    overflow-y: auto;
}

.width-100 {
    width: 100%
}

.p-b-20 {
    padding-bottom: 20px
}

.p-b-70 {
    padding-bottom: 70px
}

.p-l-0 {
    padding-left: 0 !important
}

.m-r-5 {
    margin-right: 5px !important;
}

.overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(6, 6, 6, 0.63);
    z-index: 3;
    cursor: pointer;
}

.overlaylogin {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    z-index: 3;
    cursor: pointer;
}

.loading {
    opacity: 0;
    /* transition: opacity .8s ease-in-out; */
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

app-root:empty+.loading {
    opacity: 1;
    z-index: 100;
}

app-root:empty+.loading h2 {
    color: #333;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
}


/* 
#style-1::-moz-scrollbar {
    width: 5px;
    border: none;
    border-radius: 5px;
}

#style-1::-moz-scrollbar-track {
    background: #232d48;
}

#style-1::-moz-scrollbar-thumb {
    background: #2f98e2;
}

#style-1::-moz-scrollbar-thumb:hover {
    background: #126198;
} */

.gear {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    margin: 20px auto;
    border: none;
    position: relative;
}

.gear:after {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: block;
    border: 5px dashed #ed5565;
    position: absolute;
    top: -24px;
    left: -24px;
    box-shadow: inset 0px 0 0 20px #ed5565;
    transform: scale(.5) rotate(0deg);
    animation: gear 6s linear infinite;
}

.gear:before {
    content: "";
    width: 58px;
    height: 58px;
    border-radius: 100%;
    display: block;
    border: 5px dashed #ed5565;
    position: absolute;
    top: 26px;
    right: -14px;
    box-shadow: inset 0px 0 0 10px #ed5565;
    transform: scale(.5) rotate(0deg);
    animation: gear2 4s linear infinite;
}

@keyframes gear {
    0% {
        transform: scale(.5) rotate(0deg);
    }
    100% {
        transform: scale(.5) rotate(360deg);
    }
}

@keyframes gear2 {
    0% {
        transform: scale(.5) rotate(0deg);
    }
    100% {
        transform: scale(.5) rotate(-360deg);
    }
}

.mheight {
    max-height: 500px;
    overflow-y: auto;
}

.ui-treetable-tablewrapper table tr th {
    background: #4C5667;
    color: #fff;
    border: 1px solid #dddddd !important
}

.ui-treetable-row td span {
    font-weight: bold;
}

.ui-treetable-tablewrapper table tr td span {
    font-weight: bold;
}

.ui-treetable-row td {
    border: 1px solid #dddddd !important;
}

.ui-treetable-row td a {
    color: rgb(83, 83, 83) !important;
}

.ui-treetable-row td a:hover {
    color: #000 !important;
}

.ui-treetable-data:nth-child(odd) td {
    background: #fff;
}

.ui-treetable-data:nth-child(even) td {
    background: #f9f9f9;
}

.ui-treetable-row td.ui-treetable-child-table-container table .ui-treetable-row td span {
    font-weight: normal;
}

.ui-treetable-child-table-container table tbody .ui-treetable-row td {
    background: #fff;
}

.ui-treetable-child-table-container table .ui-treetable-row td {
    border: 0px !important;
}

.ocn-section .table-responsive.table-resp-pad .cs td {text-align: center !important}

.ocn-section .table-responsive.table-resp-pad td,
.table-responsive.table-resp-pad td {
    text-align: left;
    border-top: 1px solid #ccc;
}

.table-responsive.table-resp-pad td.tble-center,
.table-responsive.table-resp-pad td .tble-center {
    text-align: center;
}

.table-responsive.table-resp-pad td.tble-right {
    text-align: right;
}

.table-responsive.table-resp-pad td p {
    margin-bottom: 5px;
}

.caps-pad {
    text-transform: uppercase;
}

.caps-underline {
    text-decoration: underline;
}

.table-responsive.table-resp-pad td.bordr-non {
    border-right: none;
}

.table-responsive.table-resp-pad .table-bordered {
    border: 1px solid #ccc;
}

.ocn-section.ocn-section-tbl {
    padding: 0 15px;
}

.ui-chkbox .ui-chkbox-box {
    width: 1.125em;
    height: 1.125em;
    line-height: 1.125em;
    border-radius: 2px;
    text-align: center;
    border: 1px solid #6f6f6f
}

.ui-tree .ui-chkbox .ui-chkbox-icon {
    margin-left: 0 !important
}

.loaderpos {
    position: fixed;
    top: 50%;
    left: 50%
}

.inprogress {
    padding: 4px;
    background-color: #ffb100;
    border: 1px solid #ffb100;
    border-radius: 5px;
    color: #fff;
}

.completed {
    padding: 4px;
    background-color: #03915d;
    border: 1px solid #03915d;
    border-radius: 5px;
    color: #fff;
}

.bg-discuss {
    background-color: #fdd4d4 !important
}

.bg-pending {
    background-color: #ffecc7 !important
}

.bg-quoted {
    background-color: #dcffbc !important;
    font-weight : bold
}

.bgPro {
    background-color: #5db9f940 !important;
    /* font-weight : bold; */
}

.p-t-50 {
    padding-top: 50px
}

.p-l-10 {
    padding-left: 10px
}

.p-l-0 {
    padding-left: 0
}

.font-20 {
    font-size: 20px !important
}

.ocn-section.ocn-sec .table-responsive {
    overflow-x: auto;
}

.box-selected
{
    height : 20px;
    width : 20px;
    background-color: #dcffbc !important;
    float : left;
    border: 1px solid #a9a9a9;
}

.box-lowest
{
    height : 20px;
    width : 20px;
    background-color: #ffecc7 !important;
    float : left;
    border: 1px solid #a9a9a9;
}
.po-pending
{
    color:#185784;
    font-weight: bold
}
.po-approved
{
    color:#39a972;
    font-weight: bold
}
.po-cancelled
{
    color:#c9302c;
    font-weight: bold
}
.po-discussion
{
    color:#ffaa00;
    font-weight: bold
}
.animate_plus
{
    display: inline-block;
    transform: rotate(45deg);
}
.animate_cross
{
    display: inline-block;
    transform: rotate(90deg);
}

.grn-loc .dataTables_wrapper
{
    position : static !important
}

table tr td ng-select
{
    float: left !important;
    width: 100% !important;
    height: auto !important
}
.ui-treetable tbody td
{
    white-space: unset !important
}


select-dropdown > div .options  { max-height: 115px !important;}
.grey-small.nw-ddv .form-group.madeups input.form-control.ng-pristine, .trims-plan .gray-box .grey-small.nw-ddv select.form-control  { width: 56%}
.grey-small.nw-ddv .form-group.madeups .input-group.grey-lfts input { width: 85% !important;}
.grey-small1.padding-top.gry-ddm .form-group.madeups.ocn { min-height: 29px;}
.grey-small1.padding-top.gry-ddm .form-group.madeups label.extra-wid4 { width: 48%;}


.report thead{display: table-header-group;}
.report tfoot {display: table-row-group;}
.report tr {page-break-inside: avoid;}


/*=======================================================*/
.form-group.madeups.ocn .input-group.wid-52 { width:52%; }
.form-group.lbh.ocn label.wid-42 { width: 37%;}
input.form-control.left.wid-30 { width: 30%;}

.form-group.field-pad label.lbl-wid { width: 42%; margin-right: 2%; float: left;}
.form-group.field-pad input.box-wid { width: calc(100% - 44%); margin-right: 0%; float: left;}
.form-group.field-pad .input-group.box-wid { width: calc(100% - 44%); }
.form-group.field-pad .input-group.box-wid input { width: 100%;}
.form-group.field-pad .left.box-wid { width: calc(100% - 44%); }
.form-group.field-pad .left.box-wid input { width: 100%;} 
.form-group.field-pad select { width: 100% !important;}
.form-group.field-pad .left.box-wid.upload-box input { width: calc(100% - 33%);}
.fileupload.btn { width: 18%}
button.clear-btn.right.close-btn { float: right;}

.grey-small.tab-wid .form-group.field-pad .left.box-wid input { width: 100%;}
.grey-small.tab-wid .col-lg-4 {width: 25%;} 

.form-group.field-pad.tariff-l.madeups.ocn input.box-wid { width: calc(100% - 47%); }
.form-group.field-pad.tariff-l.madeups.ocn label.lbl-wid { width: 45%; }
.form-group.field-pad.tariff-l.madeups.ocn .left.box-wid { width: calc(100% - 47%); }

.form-group.madeups.ocn.field-pad.date-pad label.lbl-wid {width: 30%;}
.form-group.field-pad.date-pad .input-group.box-wid { width: calc(100% - 32%); }

.form-group.madeups.ocn.field-pad.sample label.lbl-wid { width: 58%; }
.form-group.field-pad .left.box-wid ng-select { width: 100% !important; }

.table-responsive.table-resp-pad.grn-table .table.table-bordered.dataTable tr.sub-head th:last-child { border-right-width: 1px;}
table.dataTable thead th, table.dataTable thead td { padding: 6px 10px !important;}
.table-responsive.table-resp-pad.grn-table.after-div { overflow-x: auto; }
.table-responsive.table-resp-pad.grn-table.after-div table.dataTable.no-footer { width: 1800px !important;}
.table-responsive.table-resp-pad.grn-table.after-div table.dataTable.no-footer tr th { text-align: left;}

/* .ocn-section .table.table-striped.table-bordered th { text-align: left;} */
.table-responsive.th-center .table.table-bordered tr th { text-align: center;}

.form-group.madeups.ocn.field-pad.addr label.lbl-wid { width: 20%; }
.form-group.madeups.ocn.field-pad.addr .box-wid { width: calc(100% - 22%);}

.clear-l { clear: left;}
.col-sm-12.left.welcome-txt { margin-top: 15%; text-align: center; width: 100%; }
.col-sm-12.left.welcome-txt h2 { font-size: 40px; line-height: 50px;}
.col-sm-12.left.welcome-txt h3 { color: #1a71ae;}
.footer { font-size: 13px;}

.table.table-striped.table-bordered.dataTable tr td, .table.table-striped.table-bordered.dataTable tr th { font-size: 14px;}
.table.table-striped.table-bordered tr td, .table.table-striped.table-bordered tr th { font-size: 14px;}

.form-group.madeups .xtra input
{
    width : 100% !important
}

.td-size{word-wrap: break-word;max-width: 200px !important;}
.td-size-lrg{word-wrap: break-word;max-width: 300px !important;}