<!-- <app-header></app-header>
<app-leftmenu></app-leftmenu> -->

<!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container">
            <!-- Page-Title -->
            <div class="row">
              <div class="col-sm-12 no-b-m">
                <div class="page-title-box">
                  <ol class="breadcrumb pull-right">
                    <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
                    <li><a href="javascript:void(0);">Master</a></li>
                    <li class="active">Supplier Authorization</li>
                  </ol>
                  <h4 class="page-title">Supplier Authorization</h4>
                </div>
              </div>
            </div>
            <!-- Start row -->

            <!-- end row -->
            <!--tab-->
            <section class="col-lg-12" style="padding:0" >
              <!-- Custom tabs (Charts with tabs)-->
              <div class="nav-tabs-custom">
              <div class="col-lg-12 col-sm-12 col-md-12 form-buttons authorize-btn">
                        <button class="btn btn-success btn-custom waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Authorize"><i class="fa fa-save"></i> Authorize</button>
                        </div>
                <!-- Tabs within a box -->
                <div class="box-body mar-btm">
                  <div class="ocn-section">
                    <div class="table-responsive">
                      <table id="datatabless" class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th width="4%">#</th>
                            <th width="10%">Supplier Code</th>
                            <th width="8%">Supplier</th>
                            <th width="12%">Address1</th>
                            <th width="5%">City</th>
                            <th width="7%">Pincode</th>
                            <th width="7%">Email</th>
                            <th width="9%">Contact No</th>
                            <th width="8%">Remarks</th>
                            <th width="8%">Create By</th>
                            <th width="5%">Att</th>
                            <th width="7%">App <input id="" name="" onClick="" type="checkbox"></th>
                            <th width="7%">Rej <input id="" name="" onClick="" type="checkbox"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>301001</td>
                            <td>A R S ENTERPRISES</td>
                            <td>P.O. BOX 3151,,</td>
                            <td>RUWI</td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td>301001</td>
                            <td>A R S ENTERPRISES</td>
                            <td>P.O. BOX 3151,,</td>
                            <td>RUWI</td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                          </tr>

                          <tr>
                            <td>1</td>
                            <td>301001</td>
                            <td>A R S ENTERPRISES</td>
                            <td>P.O. BOX 3151,,</td>
                            <td>RUWI</td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                          </tr>

                          <tr>
                            <td>1</td>
                            <td>301001</td>
                            <td>A R S ENTERPRISES</td>
                            <td>P.O. BOX 3151,,</td>
                            <td>RUWI</td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                          </tr>

                          <tr>
                            <td>1</td>
                            <td>301001</td>
                            <td>A R S ENTERPRISES</td>
                            <td>P.O. BOX 3151,,</td>
                            <td>RUWI</td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td>301001</td>
                            <td>A R S ENTERPRISES</td>
                            <td>P.O. BOX 3151,,</td>
                            <td>RUWI</td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>1</td>
                            <td>301001</td>
                            <td>A R S ENTERPRISES</td>
                            <td>P.O. BOX 3151,,</td>
                            <td>RUWI</td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                            <td>112</td>
                            <td></td>
                            <td>712349</td>
                            <td></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!--tab-->
          </div>
          <!-- end container -->
        </div>
        <!-- end content -->

      </div>
      <!-- ============================================================== -->
      <!-- End Right content here -->

