<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader" style="margin:25% 55%">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content" style="height:100% !important">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a href="javascript:void(0);">Sales</a>
              </li>
              <li class="active">View Work Order</li>
            </ol>
            <h4 class="page-title">View Work Order</h4>
          </div>
        </div>
      </div>
      <div class="portlet ocn-form">
        <div class="row">
          <div class="col-md-12 col-sm-12 form-body">

            <div class="col-sm-12 p-b-20">
              <button class="btn btn-small btn-danger btn-custom waves-effect waves-light pull-right " (click)="back()">
                <i class="fa fa-times"></i>
              </button>
              <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="printpos()">
                <i class="fa fa-print"></i>
              </button>
              <!-- <button class="btn btn-small btn-primary btn-custom waves-effect waves-light pull-right m-r-5" (click)="printPdf()">
                  <i class="fa fa-file-pdf-o"></i>
                </button> -->
            </div>

            <iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>

            <div class="ocn-section ocn-section-tbl" *ngIf="orderdetail && address">
              <div class="table-responsive table-resp-pad">
                <div id="printsections">
                  <table class="table table-striped table-bordered report-container print-view" style="border:1px solid #333;">
                    <thead class="report-header">
                      <tr>
                        <td rowspan="3" style="text-align:center">
                          <img src="assets/images/favicon - Copy.png" />
                        </td>
                        <td colspan="10" style="text-align:center">
                          <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
                        </td>
                        <td colspan="3" style="text-align:right">
                          <p>SLV/08/01/20.01.2017</p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="10" style="text-align:center">
                          <p>Coimbatore - 22</p>
                        </td>
                        <td colspan="3"></td>
                      </tr>
                      <tr>
                        <td colspan="10" class="cs" style="text-align:center">
                          <p>CONTRACT REVIEW CHECK LIST CUM WORK ORDER</p>
                        </td>
                        <td colspan="3"></td>
                      </tr>
                      <tr>
                        <td class="print-label">
                          <p>Customer Name</p>
                        </td>
                        <td colspan="6">
                          <p>{{supplierdetails.display_cmpy_name}}</p>
                        </td>
                        <td colspan="3">
                          <p>CUS : DAH</p>
                        </td>
                        <td>
                          <p>W.O.NO</p>
                        </td>
                        <td colspan="3">
                          <p>{{orderdetail.sc_no}}</p>
                        </td>
                      </tr>
                      <tr>
                        <td class="print-label">
                          <p>Address</p>
                        </td>
                        <td colspan="9">
                          <p>{{address[0]}} , {{pincode[0]}}, {{address[2]}}, {{address[3]}}, {{pincode[1]}}
                          </p>
                        </td>
                        <td class="print-label">
                          <p>Date</p>
                        </td>
                        <td colspan="3">
                          <p>{{orderdetail.sc_date}}</p>
                        </td>
                      </tr>
                      <tr>
                        <td></td>
                        <td> TELEPHONE NO : {{supplierdetails.mobile}}</td>
                        <td colspan="4"></td>
                        <td colspan="4">FAX NO : -</td>
                        <td class="print-label">Shipping Designation</td>
                        <td colspan="3">{{supplierdetails.ship_address}}</td>
                      </tr>
                      <tr>
                        <td class="print-label">
                          <p>Customer Order Reference No/Date</p>
                        </td>
                        <td colspan="5">
                          <p>{{orderdetail.po_no}} DATED {{orderdetail.sc_date}}</p>
                        </td>
                        <td class="print-label" colspan="2">
                          <p>Order Acceptance Reference No/Date</p>
                        </td>
                        <td colspan="2"></td>
                        <td class="print-label">Mode Of Shipment</td>
                        <td colspan="3">By {{orderdetail.shipment_mode}}</td>
                      </tr>
                    </thead>
                    <tfoot class="report-footer">
                      <tr>
                        <td rowspan="4" colspan="10" style="vertical-align:top">
                          <p>Special Instruction : </p>
                          <p>{{orderdetail.spl_instructions || '-'}}</p>
                        </td>
                        <td colspan="2">
                          <p> Prepared By </p>
                        </td>
                        <td colspan="2">
                          <p> Received By </p>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" style="height:30px"></td>
                        <td colspan="2" style="height:30px"></td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <p> Valves - Sales </p>
                        </td>
                        <td colspan="2">
                          <p> Planning - Valves </p>
                        </td>
                      </tr>
                      <tr>
                        <td class="cs" colspan="4">
                          <p>COPY TO: PLANNING/PRODUCTION/QUALITY CONTROL</p>
                        </td>
                      </tr>
                    </tfoot>
                    <tbody class="report-content">
                      <tr class="cs">
                        <td>ITEM NO</td>
                        <td>PART NO</td>
                        <td>PART</td>
                        <td>DESCRIPTION</td>
                        <td>PART REV NO</td>
                        <td>DRAWING NO</td>
                        <td>DRG REV NO</td>
                        <td>SIZE</td>
                        <td>QTY</td>
                        <td>MATERIAL SPEC</td>
                        <td>MATERIAL SPEC REV</td>
                        <td>REQ DELIVERY DATE</td>
                        <td>CONFIRM DELIVERY DATE</td>
                        <td>REMARKS</td>
                      </tr>
                      <tr *ngFor="let data of salesorderdetails; let i=index">
                        <td>
                          {{data.line_no}}
                        </td>
                        <td>
                          {{data.part_no}}
                        </td>
                        <td>
                          {{data.component}}
                        </td>
                        <td>
                          {{data.component_desc}}
                        </td>
                        <td>
                          {{data.part_no_rev || '-'}}
                        </td>
                        <td>
                          {{data.dwg_no}}
                        </td>
                        <td>
                          {{data.revesion}}
                        </td>
                        <td>
                          {{data.itemno || '-'}}
                        </td>
                        <td>
                          {{data.quantity}}
                        </td>
                        <td>
                          {{data.material_spec}}
                        </td>
                        <td>
                          {{data.material_spec_rev}}
                        </td>
                        <td>
                          {{data.shipment_date}}
                        </td>
                        <td>
                          {{data.pconfirm_date}}
                        </td>
                        <td>
                          {{data.remarks || '-'}}
                        </td>
                      </tr>
                      <tr>
                        <td colspan="6"></td>
                        <td class="cs" colspan="2">Total QTY</td>
                        <td class="cs">{{totalQty}}</td>
                        <td colspan="5"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- <div class="table-responsive table-resp-pad">
                <table class="table table-striped table-bordered print-view" style="border:1px solid #333;">
                  <thead>
                    <tr>
                      <td rowspan="3" style="text-align:center">
                        <img src="assets/images/favicon - Copy.png" />
                      </td>
                      <td colspan="9" style="text-align:center">
                        <strong>SAKTHI AUTO ANCILLARY PRIVATE LIMITED</strong>
                      </td>
                      <td colspan="3">
                        <p>SLV/08/01/20.01.2017</p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="9" style="text-align:center">
                        <p>Coimbatore - 22</p>
                      </td>
                      <td colspan="3"></td>
                    </tr>
                    <tr>
                      <td colspan="9" class="cs" style="text-align:center">
                        <p>CONTRACT REVIEW CHECK LIST CUM WORK ORDER</p>
                      </td>
                      <td colspan="3"></td>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <td rowspan="4" colspan="9" style="vertical-align:top">
                        <p>Special Instruction : </p>
                        <p>{{orderdetail.spl_instructions || '-'}}</p>
                      </td>
                      <td colspan="2">
                        <p> Prepared By </p>
                      </td>
                      <td colspan="2">
                        <p> Received By </p>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="height:30px"></td>
                      <td colspan="2" style="height:30px"></td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <p> Valves - Sales </p>
                      </td>
                      <td colspan="2">
                        <p> Planning - Valves </p>
                      </td>
                    </tr>
                    <tr>
                      <td class="cs" colspan="4">
                        <p>COPY TO: PLANNING/PRODUCTION/QUALITY CONTROL</p>
                      </td>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td class="print-label">
                        <p>Customer Name</p>
                      </td>
                      <td colspan="5">
                        <p>{{supplierdetails.supplier_name}}</p>
                      </td>
                      <td colspan="3">
                        <p>CUS : DAH</p>
                      </td>
                      <td>
                        <p>W.O.NO</p>
                      </td>
                      <td colspan="3">
                        <p>{{orderdetail.sc_no}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td class="print-label">
                        <p>Address</p>
                      </td>
                      <td colspan="8">
                        <p>{{address[0]}} , {{pincode[0]}}, {{address[2]}}, {{address[3]}}, {{pincode[1]}}
                        </p>
                      </td>
                      <td class="print-label">
                        <p>Date</p>
                      </td>
                      <td colspan="3">
                        <p>{{orderdetail.sc_date}}</p>
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                      <td> TELEPHONE NO : {{supplierdetails.mobile}}</td>
                      <td colspan="3"></td>
                      <td colspan="4">FAX NO : -</td>
                      <td class="print-label">Shipping Designation</td>
                      <td colspan="3">{{supplierdetails.ship_address}}</td>
                    </tr>
                    <tr>
                      <td class="print-label">
                        <p>Customer Order Reference No/Date</p>
                      </td>
                      <td colspan="4">
                        <p>{{orderdetail.po_no}} DATED {{orderdetail.sc_date}}</p>
                      </td>
                      <td class="print-label" colspan="2">
                        <p>Order Acceptance Reference No/Date</p>
                      </td>
                      <td colspan="2"></td>
                      <td class="print-label">Mode Of Shipment</td>
                      <td colspan="3">By {{orderdetail.shipment_mode}}</td>
                    </tr>
                    <tr class="cs">
                      <td>ITEM NO</td>
                      <td>DESCRIPTION</td>
                      <td>PART NO</td>
                      <td>PART REV NO</td>
                      <td>DRAWING NO</td>
                      <td>DRG REV NO</td>
                      <td>SIZE</td>
                      <td>QTY</td>
                      <td>MATERIAL SPEC</td>
                      <td>MATERIAL SPEC REV</td>
                      <td>REQ DELIVERY DATE</td>
                      <td>CONFIRM DELIVERY DATE</td>
                      <td>REMARKS</td>
                    </tr>
                    <tr *ngFor="let data of salesorderdetails; let i=index">
                      <td>
                        {{data.line_no}}
                      </td>
                      <td>
                        {{data.component_desc}}
                      </td>
                      <td>
                        {{data.part_no}}
                      </td>
                      <td>
                        {{data.part_no_rev || '-'}}
                      </td>
                      <td>
                        {{data.dwg_no}}
                      </td>
                      <td>
                        {{data.revesion}}
                      </td>
                      <td>
                        {{data.itemno || '-'}}
                      </td>
                      <td>
                        {{data.quantity}}
                      </td>
                      <td>
                        {{data.material_spec}}
                      </td>
                      <td>
                        {{data.material_spec_rev}}
                      </td>
                      <td>
                        {{data.shipment_date}}
                      </td>
                      <td>
                        {{data.pconfirm_date}}
                      </td>
                      <td>
                        {{data.remarks || '-'}}
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5"></td>
                      <td class="cs" colspan="2">Total QTY</td>
                      <td class="cs">{{totalQty}}</td>
                      <td colspan="5"></td>
                    </tr>
                  </tbody>

                </table>
              </div> -->


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>