<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <div class="col-md-12 overlay" *ngIf="show_loader">
    <div class="loader loaderpos">
      <div class="loader-inner ball-scale-multiple">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container trims-plan">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12 no-b-m">
          <div class="page-title-box">
            <ol class="breadcrumb pull-right">
              <li>
                <a [routerLink]="['/dashboard']">Dashboard</a>
              </li>
              <li>
                <a href="javascript:void(0);">Purchase</a>
              </li>
              <li class="active">MD PO Approval</li>
            </ol>
            <h4 class="page-title">MD PO Approval</h4>
          </div>
        </div>
      </div>
      <!--tab-->
      <!-- Start row -->
      <!-- end row -->
      <div class="portlet ocn-form left">
        <div class="col-lg-12 col-sm-12 col-md-12 padding-10">
          <button (click)="authorizelist()" class="btn btn-success btn-custom waves-effect waves-light pull-right m-r-5" data-toggle="tooltip"
            data-placement="top" title="" data-original-title="Authorise">
            <i class="fa fa-paper-plane"></i> Send</button>
        </div>
      </div>
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-left trims">
          <li class="active dis">
            <a href="#tplan" data-toggle="tab" aria-expanded="true" id="list">List</a>
          </li>
          <!-- *ngIf="showtab" -->
          <li class="dis" *ngIf="showtab">
            <a href="#trim-vs-articles" data-toggle="tab" aria-expanded="false" id="detail">Detail</a>
          </li>
          <!--<span class="trim-count"><strong>Trims Count:</strong> <span class="h-lit">40</span></span>-->
        </ul>
        <div class="tab-content no-padding padding-pad padding-0">
          <div class="chart tab-pane active" id="tplan">
            <div class="nav-tabs-custom">
              <div class="box-body mar-btm">
                <div class="col-sm-12 ocn-section">
                  <div class="table-responsive">
                    <table class="row-border hover table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th width="5%">S.NO</th>
                          <th width="5%">PO No</th>
                          <th width="10%">Type</th>
                          <th width="10%">Indent No</th>
                          <th width="5%">Supplier</th>
                          <th width="5%">No of Items</th>
                          <th width="5%">Item Desc</th>
                          <th width="5%">PO Value</th>
                          <th width="10%">PO Date</th>
                          <th width="10%">Remarks</th>
                          <th width="5%">
                            <span class="clearfix">App</span>
                            <input name="checkapp" type="checkbox" value="" [(ngModel)]="checkallapp" (change)="checkallapplist(checkallapp)" *ngIf="!nodata">

                          </th>
                          <th width="5%">
                            <span class="clearfix">Rej</span>
                            <input name="checkrej" type="checkbox" value="" [(ngModel)]="checkallrej" (change)="checkallrejlist(checkallrej)" *ngIf="!nodata">

                          </th>
                          <th width="5%">
                            <span class="clearfix">Disc</span>
                            <input name="checkdisc" type="checkbox" value="" [(ngModel)]="checkalldisc" (change)="checkalldisclist(checkalldisc)" *ngIf="!nodata">

                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let person of authlist; let i = index" [ngClass]="{'bg-discuss':person.is_md_authorized === 3}">
                          <td>
                            {{ i + 1 }}
                          </td>
                          <td class="text-left">
                            <a (click)="getpodetails(person)" style="cursor:pointer">{{ person.po_no}} </a>
                          </td>
                          <td class="text-left">
                            {{ person.po_type }}
                          </td>
                          <td class="text-left">
                            {{ person.indent_no }}
                          </td>
                          <td>{{ person.supplier }}</td>
                          <td>{{ person.req_qty }}</td>
                          <td>{{ person.item_desc }}</td>
                          <td>{{ person.po_value }}</td>
                          <td>
                            {{ person.po_date }}
                          </td>
                          <td>
                            <input type="text" class="form-control" [(ngModel)]="person.remarks" name="remarks" />
                          </td>
                          <td class="text-center">
                            <input type="checkbox" name="approve" [(ngModel)]="person.approve" (change)="checkapp(person.approve,person,i)">
                          </td>
                          <td class="text-center">
                            <input type="checkbox" name="reject" [(ngModel)]="person.reject" (change)="checkrej(person.reject,person,i)">
                          </td>
                          <td class="text-center">
                            <input type="checkbox" name="discussion" [(ngModel)]="person.discussion" (change)="checkdisc(person.discussion,person,i)">
                          </td>
                        </tr>
                        <tr>
                          <td colspan="13" *ngIf="nodata">
                            <span>No data found</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="chart tab-pane" id="trim-vs-articles" *ngIf="showtab">
            <!-- View-Indent Component-->
            <app-po-view [poid]="poid" (notifycancel)="notifycancel()"></app-po-view>
            <!-- View-Indent Component-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-sc-detail-popup [(visible)]="showDialog" *ngIf="files">
    <h3 class="text-center">Attachments</h3>
    <!-- <strong class="left">Indent No : </strong>
    <p class="col-sm-6">{{indentdtls.intent_no}}</p> -->
    <div class="col-sm-12 ocn-section">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th width="1%">S.No</th>
              <th width="4%">File name</th>
              <th width="2%">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of files; let i=index">
              <td>{{i+1}}</td>
              <td>
                {{data.filename}}
              </td>
              <td class="text-center">
                <i class="fa fa-download" aria-hidden="true" (click)="downloadfile(data)"></i>
              </td>
            </tr>
            <tr *ngIf="nofiles">
              <td colspan="3">No files found</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </app-sc-detail-popup>
</div>